<style>
  .custom-variants-options-{{ block.id }}{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .custom-variants-options-{{ block.id }} .custom-variants-options-name{
      display: flex;
      color: #000;
      font-size: 18px;
      font-weight: 800;

  }
  .custom-variants-options-{{ block.id }} .custom-variants-options-container{
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
    gap: 14px;
  }

  .custom-variants-options-{{ block.id }} .custom-variants-options-container-item{
    width: calc(50% - 7px);
    {% comment %} min-width: 125px; {% endcomment %}
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 0 1px var(--color-form-border) inset;
    cursor: pointer;
  }
  .custom-variants-options-{{ block.id }} .custom-variants-options-container-item:hover{
    box-shadow: 0 0 0 1px #ff8f1c inset;
  }
  .custom-variants-options-{{ block.id }} .custom-variants-options-container-item.active{
    box-shadow: 0 0 0 1px #ff8f1c inset;
  }
  @media screen and (max-width: 768px) {
    .custom-variants-options-{{ block.id }}{

      gap: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
    .custom-variants-options-{{ block.id }} .custom-variants-options-container{
      gap: 10px;
    }

    .custom-variants-options-{{ block.id }} .custom-variants-options-name{
      display: flex;
      color: #000;
      font-size: 16px;
      font-weight: 700;

  }
    .custom-variants-options-{{ block.id }} .custom-variants-options-container-item {
        width: calc(50% - 5px);
        padding: 14px 12px;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;

    }
  }
</style>
{%- assign active_index = block.settings.select_variant_active | plus: 0 -%}

<div class="custom-variants-options-{{ block.id }}">
  <div class="custom-variants-options-name">{{ block.settings.variant_option_title }}</div>
  <div class="custom-variants-options-container">
    {%- for index in (1..4) -%}
      {%- assign variant_url = 'variant_url_' | append: index -%}
      {%- assign variant_title = 'variant_title_' | append: index -%}
      {%- assign url = block.settings[variant_url] -%}
      {%- assign title = block.settings[variant_title] -%}
      {%- if title != blank -%}
        <div
          class="custom-variants-options-container-item {% if active_index == index %} active {% endif %}"
          {% if url %}
            onclick="window.location.href='{{ url }}'"
          {% endif %}
        >
          {{ title }}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
