<!doctype html>
{%- capture dir -%}
	{%- case request.locale.iso_code -%}
	  {%- when 'ae' or 'ar' or 'arc' or 'bcc' or 'bqi' or 'ckb' or 'dv' or 'fa' or 'glk' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'mzn' or 'nqo' or 'pnb' or 'ps' or 'sd' or 'ug' or 'ur' or 'yi' -%}
	    rtl
	  {%- else -%}
	    ltr
	{%- endcase -%}
{%- endcapture -%}
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ dir }}">
  <head>
    <script>
      async function getVisitorIP() {
        try {
          const response = await fetch('https://api.ipify.org/');
          const ipAddress = await response.text();
          return ipAddress;
        } catch (error) {
          console.error('Failed to get visitor IP:', error);
          return null;
        }
      }
      async function isFromEurope() {
        try {
          const IsEu = window.sessionStorage.getItem('is_eu');
          if (IsEu != undefined) {
            return IsEu !== 'false';
          }

          const ipAddress = await getVisitorIP();
          if (!ipAddress) {
            console.log('Could not determine the IP.');
            return false;
          }
          const url = `https://ipinfo.io/${ipAddress}/json`;
          const geoResponse = await fetch(url);
          const geoData = await geoResponse.json();
          console.log(geoData);
          const countryCode = geoData.country;
          const europeanCountries = [
            'AT',
            'BE',
            'BG',
            'CY',
            'CZ',
            'DK',
            'EE',
            'FI',
            'FR',
            'DE',
            'GR',
            'HU',
            'IE',
            'IT',
            'LV',
            'GE',
            'LT',
            'LU',
            'MT',
            'NL',
            'PL',
            'PT',
            'RO',
            'SK',
            'SI',
            'ES',
            'SE',
            'GB',
            'CH',
            'HR',
            'AL',
            'AD',
            'AM',
            'BY',
            'BA',
            'FO',
            'GI',
            'IS',
            'IM',
            'XK',
            'LI',
            'MK',
            'MD',
            'MC',
            'ME',
            'NO',
            'RU',
            'SM',
            'RS',
            'TR',
            'UA',
            'VA',
          ];
          const tmp = europeanCountries.includes(countryCode.toUpperCase());
          window.sessionStorage.setItem('is_eu', tmp);
          return tmp;
        } catch (error) {
          console.error('Failed to fetch geolocation data:', error);
          return false;
        }
      }
      // isFromEurope().then((isEuropean) => {
      //   if (isEuropean) {
      //     window.location.href = 'https://procolored.eu'
      //   }
      // })
    </script>
    <script>
      (function (w, d, t, r, u) {
        var f, n, i;
        (w[u] = w[u] || []),
          (f = function () {
            var o = { ti: '187027788' };
            (o.q = w[u]), (w[u] = new UET(o)), w[u].push('pageLoad');
          }),
          (n = d.createElement(t)),
          (n.src = r),
          (n.async = 1),
          (n.onload = n.onreadystatechange =
            function () {
              var s = this.readyState;
              (s && s !== 'loaded' && s !== 'complete') || (f(), (n.onload = n.onreadystatechange = null));
            }),
          (i = d.getElementsByTagName(t)[0]),
          i.parentNode.insertBefore(n, i);
      })(window, document, 'script', '//bat.bing.com/bat.js', 'uetq');
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-M95JQVW');
    </script>
    <!-- End Google Tag Manager -->
    <!-- A\B 测试 开始 目前使用crazzy egg 插件实现，此代码暂时保留 -->
    {% comment %}
      <script>
        let isABTest = false;
        let ABTestNum = 0;
        const shopifyTemplateType = '{{template.name}}';
        const shopifyTemplateName = '{{template.suffix}}';
        const shopifyCurrentTemplate = '{{template}}';
        console.log('当前模版==', shopifyCurrentTemplate);
        console.log('模版类型==', shopifyTemplateType);
        console.log('模版名称==', shopifyTemplateName);
        if(shopifyTemplateType =='page'){
          isABTest={{ page.metafields.custom.ab_test | default: false }}
          ABTestNum={{ page.metafields.custom.ab_test_template_nums | default: 0 }}
        }else if(shopifyTemplateType =='product'){
          isABTest={{ product.metafields.custom.ab_test | default: false }}
          ABTestNum={{ product.metafields.custom.ab_test_template_nums | default: 0 }}
        }
        console.log('当前模版是否开启A\B测试及个数==',isABTest,ABTestNum);
        if (!shopifyTemplateName) {
          console.log('当前模版为默认模版，请检查是否在模版设置中设置模版名称');
        }
      </script>
      <script type="text/javascript" src="{{ 'ab-test.js' | asset_url }}"></script>
    {% endcomment %}
    <!-- A\B 测试 结束 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">
    <meta name="theme-color" content="{{ settings.color_body_bg }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {% render 'head-preload' %}

    {% if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif %}

    <title>
      {{ page_title }}
      {% if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif %}
      {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    <link
      rel="preload"
      as="font"
      href="{{ 'ItalianPlateNo2Expanded-Bold.woff2' | file_url }}"
      type="font/woff2"
      crossorigin
    >

    <link
      rel="preload"
      as="font"
      href="{{ 'ItalianPlateNo2Expanded-Regular.woff2' | file_url }}"
      type="font/woff2"
      crossorigin
    >
    <link
      rel="preload"
      as="font"
      href="{{ 'DancingScript-VariableFont_wght.woff2' | file_url }}"
      type="font/woff2"
      crossorigin
    >
    <link rel="preload" as="font" href="{{ 'mulish.woff2' | file_url }}" type="font/woff2" crossorigin>
    <link
      rel="preload"
      href="{{'fonts_procolored.css' | asset_url }}"
      type="text/css"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'; "
    >
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- unless settings.heading_font.system? and settings.body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {% render 'social-meta-tags' %}

    {{ 'app.css' | asset_url | stylesheet_tag }}
    {{ 'product-grid.css' | asset_url | stylesheet_tag }}

    {%- liquid
      render 'vite-tag' with 'theme.css', preload_stylesheet: true
      render 'vite-tag' with 'theme.js'
      # if request.page_type contains 'customers/'
      #  render 'vite-tag' with 'customers.js'
      # endif
    -%}
    {% render 'head-variables' %}
    <script>
      window.Shopify = window.Shopify || {};
      {% if request.design_mode %}
        window.Shopify.designMode = true
      {%  else %}
        window.Shopify.designMode = false;
      {% endif %}

      window.theme = window.theme || {};
      theme = {
        settings: {
          money_with_currency_format: {{- shop.money_format | json -}},
          cart_drawer: {{- settings.cart_drawer -}}
        },
        routes: {
          root_url: '{{ routes.root_url }}',
          cart_url: '{{ routes.cart_url }}',
          cart_add_url: '{{ routes.cart_add_url }}',
          search_url: '{{ routes.search_url }}',
          cart_change_url: '{{ routes.cart_change_url }}',
          cart_update_url: '{{ routes.cart_update_url }}',
          predictive_search_url: '{{ routes.predictive_search_url }}',
        },
        variantStrings: {
          addToCart: `{{ 'products.product.add_to_cart' | t }}`,
          soldOut: `{{ 'products.product.sold_out' | t }}`,
          unavailable: `{{ 'products.product.unavailable' | t }}`,
        },
        strings: {
          requiresTerms: `{{ 'sections.cart.terms_confirm' | t }}`,
        }
      };
    </script>
    {{ content_for_header }}
    <!-- Header hook for plugins -->

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <link
      rel="preload"
      href="{{'swiper.min.css' | asset_url }}"
      type="text/css"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'; "
    >
    <link
      rel="preload"
      href="{{'animate.css' | asset_url }}"
      type="text/css"
      as="style"
      onload="this.onload=null; this.rel='stylesheet';"
    >
    <link
      rel="preload"
      href="{{'iconfont.css' | asset_url }}"
      type="text/css"
      as="style"
      onload="this.onload=null; this.rel='stylesheet';"
    >
    <link
      rel="preload"
      href="{{'fancybox.min.css' | asset_url }}"
      type="text/css"
      as="style"
      onload="this.onload=null; this.rel='stylesheet';"
    >
    <noscript><link rel="stylesheet" href="{{'swiper.min.css' | asset_url }}"></noscript>
    <noscript><link rel="stylesheet" href="{{'animate.css' | asset_url }}"></noscript>

    <!-- Gem_Page_Header_Script -->
    {% render 'gem-app-header-scripts' %}
    <!-- End_Gem_Page_Header_Script -->
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0122/6468.js" async="async"></script>
    {{ 'jquery-3.7.1.min.js' | asset_url | script_tag }}
    {{ 'fancybox.min.js' | asset_url | script_tag }}
    {{ 'swiper.min.js' | asset_url | script_tag }}
    <script>
      function isMobile() {
        const userAgent = navigator.userAgent || navigator.vendor || window.opera;

        // 检查是否为移动端设备
        const mobileKeywords = [
          'Android',
          'iPhone',
          'iPad',
          'iPod',
          'BlackBerry',
          'Windows Phone',
          'Opera Mini',
          'IEMobile',
        ];

        for (let keyword of mobileKeywords) {
          if (userAgent.indexOf(keyword) !== -1) {
            return true;
          }
        }

        return false;
      }
      console.log('是否移动端==', isMobile());
      console.log('当前模版==', '{{template}}');
    </script>

    <!-- 兼容会员页相关样式重置 -->
    {% unless template contains 'customers'
      or template contains 'member'
      or template contains 'maintenance'
      or template contains 'rent'
    %}
      <style>
        :root {
          /* Font sizes */
          --text-h0: 48px;
          --text-h1: 40px;
          --text-h2: 24px;
          --text-h3: 22px;
          --text-h4: 20px;
          --text-h5: 18px;
          --text-h6: 16px;
          --text-xs: 11px;
          --text-sm: 12px;
          --text-base: 14px;
          --text-lg: 18px;
        }
        .text-xxs {
          font-size: 10px;
          line-height: 1.7;
        }

        .text-xs {
          font-size: var(--text-xs);
          line-height: 1.2;
        }

        .text-sm {
          font-size: var(--text-sm);
          line-height: 1.2;
        }

        .text-base {
          font-size: var(--text-base);
          line-height: 1.2;
        }
        .text-md {
          font-size: var(--text-md);
          line-height: 1.2;
        }

        .text-lg {
          font-size: var(--text-lg);
          line-height: 1.4;
        }
        custom-automatic-discount-reminder {
          font-size: 12px;
          align-items: start !important;
        }
        @media screen and (max-width: 769px) {
          :root {
            /* Font sizes */
            --text-h0: 30px;
            --text-h1: 30px;
            --text-h2: 24px;
            --text-h3: 22px;
            --text-h4: 20px;
            --text-h5: 18px;
            --text-h6: 16px;
            --text-xs: 11px;
            --text-sm: 12px;
            --text-base: 14px;
            --text-lg: 18px;
          }
          custom-automatic-discount-reminder {
            font-size: 10px;
            align-items: start;
          }
        }
        #judgeme_product_reviews .jdgm-rev-widg {
          max-width: 1232px;
          margin: 0 auto;
          padding: 24px 16px;
        }
        .gPreorderPartialPaymentWrapper > div {
          font-family: ItalianPlateNo2Expanded-Bold;
          font-size: 20px;
          font-weight: bold;
        }
        .gPreorderPartialPaymentWrapper .gPreorderPartialPaymentChoices {
          display: flex;
          align-items: center;

          gap: 10px;
        }

        .gPreorderPartialPaymentChoices li label {
          font-family: ItalianPlateNo2Expanded-Regular !important;
          font-weight: 400 !important;
          font-size: 14px !important;
        }
        .gPreorderPartialPaymentWrapper .gPreorderPartialPaymentChoices .gPreorderPartialPaymentControl {
          margin-top: 0px !important;
        }
      </style>
    {% endunless %}
        <script type="text/javascript">
      document
        .getElementById('globo-formbuilder-80473')
        .querySelector('button[type="submit"]')
        .addEventListener(
          'click',
          function () {
        
            fbq('track', 'CompleteRegistration');
          },
          false
        );
    </script>
        <!-- <script type="text/javascript">
      const formElement = document.getElementById('early-bird-contact-form');
      if (formElement) {
        const formChild = formElement.querySelector('form');
        if (formChild) {
          formChild.querySelector('button[type="submit"]').addEventListener(
            'click',
            function () {
              fbq('track', 'CompleteRegistration');
            },
            false
          );
        }
      }
    </script> -->
  </head>
  <body class="animations-{{ settings.animations }} button-uppercase-{{ settings.button_uppercase }} navigation-uppercase-{{ settings.navigation_uppercase }} product-card-spacing-{{ settings.product_card_spacing }} article-card-spacing-{{ settings.article_card_spacing }} {% if customer %} customer-logged-in{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} template-{{ template | replace: '.', '-' | handle }}">
    <a class="screen-reader-shortcut" href="#main-content">{{ 'accessibility.skip_to_text' | t }}</a>
    <div id="wrapper">
      <div class="header--sticky"></div>
      {% sections 'header-group' %}
      <!-- 获取用户IP 指引用户重定向到本地商店购买 -->
      {% render 'redirect-bar' %}
      <!-- 国家切换弹窗 -->
      

      <div role="main" id="main-content">
        {{ content_for_layout }}
      </div>
      
      
      
      
      <div class="click-capture"></div>
      <div class="click-capture--product"></div>
    </div>

    {{ 'vendor.min.js' | asset_url | script_tag }}
    {% if settings.animations %}
      {{ 'animations.min.js' | asset_url | script_tag }}
      <script>
        gsap.defaults({
          ease: Power4.easeOut,
        });
        gsap.config({
          nullTargetWarn: false,
        });
        gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);
      </script>
    {% endif %}
    <!-- 初始化 lazySizes 懒加载 -->
    <script>
      window.lazySizesConfig = window.lazySizesConfig || {};
      lazySizesConfig.expand = 300;
      lazySizesConfig.loadHidden = false;
    </script>
    <link rel="preload" as="script" href="{{ 'wow.js' | asset_url }}">
    <script type="text/javascript" src="{{ 'wow.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'lazysizes.js' | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ 'jquery.countdown.min.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'bootstrap.min.js' | asset_url }}"></script>
    {{ 'product.js' | asset_url | script_tag }}
    {{ 'slideshow.js' | asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    <script type="module" src="{{ 'scroll-shadow.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- if settings.free_shipping -%}
      {{ 'free-shipping.js' | asset_url | script_tag }}
      {{ 'free-shipping.css' | asset_url | stylesheet_tag }}
    {%- endif -%}
    {%- if request.design_mode -%}
      {{ 'theme-editor.js' | asset_url | script_tag }}
    {%- endif -%}
    
    <!-- Gem_Page_Footer_Script -->
    {%- liquid
      assign gpTemplateSuffix = template.suffix
      assign arrSplitSuffix = gpTemplateSuffix | split: '-'
      if gpTemplateSuffix contains 'gem-' and gpTemplateSuffix contains '-template' and arrSplitSuffix.size == 3
        assign isV6GpTemplate = true
      endif
      assign gpShopMeta = shop.metafields.gempages
      if gpShopMeta
        if gpShopMeta['productV6-default'] == 'true' and request.page_type == 'product'
          assign isProductDefault = true
        endif
        if gpShopMeta['collectionV6-default'] == 'true' and request.page_type == 'collection'
          assign isCollectionDefault = true
        endif
        if gpShopMeta['indexV6-default'] == 'true' and request.page_type == 'index'
          assign isIndexDefault = true
        endif
        if isProductDefault or isCollectionDefault or isIndexDefault or isPreviewV6
          assign isV6GpTemplate = true
        endif
      endif
    %}
    {% if isV6GpTemplate %}
      
    {% endif %}
    <!-- End_Gem_Page_Footer_Script -->

    <style>
      .gryffeditor {
        width: 100%;
      }
    </style>

    {% if product %}
      <script>
        window.addEventListener('load', function () {
          var _learnq = window._learnq || [];
          function addedToCart() {
            fetch(`${window.location.origin}/cart.js`).then((res) =>
              res
                .clone()
                .json()
                .then((data) => {
                  var cart = {
                    total_price: data.total_price / 100,
                    $value: data.total_price / 100,
                    total_discount: data.total_discount,
                    original_total_price: data.original_total_price / 100,
                    items: data.items,
                  };
                  if (item !== 'undefined') {
                    cart = Object.assign(cart, item);
                  }
                  if (klAjax) {
                    _learnq.push(['track', 'Added to Cart', cart]);
                    klAjax = false;
                  }
                })
            );
          }
          (function (ns, fetch) {
            ns.fetch = function () {
              const response = fetch.apply(this, arguments);
              response.then((res) => {
                if (`${window.location.origin}/cart/add.js`.includes(res.url)) {
                  addedToCart();
                }
              });
              return response;
            };
          })(window, window.fetch);
          var klAjax = true;
          var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
          for (var i = 0; i < atcButtons.length; i++) {
            atcButtons[i].addEventListener('click', function () {
              if (klAjax) {
                _learnq.push(['track', 'Added to Cart', item]);
                klAjax = false;
              }
            });
          }
        });
      </script>
    {% endif %}

    
    <script>
      // 初始化 wow
      wow = new WOW({
        animateClass: 'animated',
        offset: 100,
        callback: function (box) {},
      });
      wow.init();
    </script>
    <script>
      // 按住 Ctrl 键并点击时都能在新标签页中打开
      document.addEventListener('DOMContentLoaded', function () {
        const allLinks = document.querySelectorAll('a');

        allLinks.forEach((link) => {
          link.addEventListener('click', function (event) {
            if (event.ctrlKey) {
              //console.log('Ctrl key pressed');

              event.preventDefault();
              const targetUrl = this.href;
              //console.log('event.target.href', this.href);
              const newWindow = window.open(targetUrl, '_blank');
              newWindow.location.href = targetUrl;
            }
          });
        });
      });
    </script>
    <script>
      // 产品卡片 活动提示
      $(document).ready(function () {
        // 自动化折扣定时显示
        function formatUtcTime(v) {
          let date = new Date(v);
          return (
            date.getFullYear() +
            '/' +
            (date.getMonth() + 1) +
            '/' +
            (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) +
            ' ' +
            (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) +
            ':' +
            (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) +
            ':' +
            (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
          );
        }
        // console.log('产品卡片数量==============：', $('product-card').length);
        if ($('product-card').length) {
          // 修正了选择器和条件判断
          $('product-card').each(function () {
            const product_id = $(this).data('product-id');
            const UTCDate = $(this).data('countdown');
            const UTCDate_end = $(this).data('countdown-end');
            const custom_discount = $(this).data('discount');
            const variants_display_custom_discounts = $(this).data('variants-display-custom-discounts');
            const variant_id = $(this).data('variant-id');
            const min_variant_id = $(this).data('min-variant-id');
            const variant_price = $(this).data('variant-price');
            const product_price = $(this).data('product-price');
            // console.log('产品卡片单独显示变体自定义折扣：', variants_display_custom_discounts, product_id);
            // console.log('UTC Date-活动开始倒计时：', UTCDate);
            // console.log('UTC Date_end-活动截止倒计时：', UTCDate_end);
            console.log('variant_id===', variant_id);
            console.log('min_variant_id===', min_variant_id);
            console.log('variant_price===', variant_price);
            console.log('product_price===', product_price);
            // if (variant_id && variant_id !== min_variant_id) {
            //   return;
            // }

            if (custom_discount !== ''  ) {
              const finalDate = formatUtcTime(UTCDate);
              const finalDate_end = formatUtcTime(UTCDate_end);
              const timestamp = new Date(finalDate).getTime();
              const timestamp_end = finalDate_end ? new Date(finalDate_end).getTime() : null;
              const currentTimestamp = new Date().getTime();
              //  console.log('产品卡片活动开始本地时间==', finalDate);
              //  console.log('产品卡片活动截止本地时间==', finalDate_end);
              //  console.log('产品卡片元素==', $(this).find('custom-automatic-discount-reminder'));

              if (UTCDate === '' && UTCDate_end === '') {
                $(this).find('custom-automatic-discount-reminder').css({ opacity: '1' });
              } else {
                if (UTCDate !== '' && UTCDate_end === '' && currentTimestamp >= timestamp) {
                  $(this).find('custom-automatic-discount-reminder').css({ opacity: '1' });
                } else if (
                  UTCDate !== '' &&
                  UTCDate_end !== '' &&
                  timestamp_end > currentTimestamp &&
                  currentTimestamp >= timestamp
                ) {
                  $(this).find('custom-automatic-discount-reminder').css({ opacity: '1' });
                } else if (UTCDate === '' && UTCDate_end !== '' && timestamp_end > currentTimestamp) {
                  $(this).find('custom-automatic-discount-reminder').css({ opacity: '1' });
                } else {
                  $(this).find('custom-automatic-discount-reminder').attr('style', 'display: none !important;');
                }
              }
            } else {
              if (variants_display_custom_discounts) {
                //  console.log('单独显示变体自定义折扣');
                $(this).find('custom-automatic-discount-reminder').css({ opacity: '1' });
              } else {
                //  console.log('单独不显示变体自定义折扣');
                $(this).find('custom-automatic-discount-reminder').attr('style', 'display: none !important;');
              }
            }
          });
        } else {
          console.log('产品卡片不存在');
        }
      });
    </script>
    
  </body>
</html>
