{%- liquid
  assign current_product = section.settings.product
  assign variant_index = section.settings.product_variant_location | default: '0' | plus: 0
  assign variant = current_product.variants[variant_index]
  assign product_image_pc = section.settings.product_image_pc
  assign product_scene_image_pc = section.settings.product_scene_image_pc | default: current_product.featured_image
  assign gift_image_pc = section.settings.gift_image_pc
  assign title = section.settings.title
  assign desc = section.settings.desc
  assign product_price = variant.metafields.custom.activity_sale_price.value | default: '0' | plus: 0
  assign product_origin_price = variant.metafields.custom.activity_original_price.value | default: '0' | plus: 0
  assign product_diff_price = product_origin_price | minus: product_price
  assign product_scene_image_location = section.settings.product_scene_image_location
-%}
<style>
  #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-wrapper {
          background: #FFFBF5;
          padding: {{section.settings.padding_top}}px 0 {{section.settings.padding_bottom}}px 0;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container {
          max-width: 1248px;
          margin: 0 auto;
          padding: 0 24px;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-title {
          color: #000;
          text-align: center;


          font-size: 40px;

          font-weight: 800;
          line-height: 1.22;
          /* 122% */
          margin-bottom: 50px;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content {
          display: flex;
          align-items: center;
          width: 100%;
          height: 500px;
          background:#fff;
          {%- if product_scene_image_location == 'row' -%}
            flex-direction: row;
          {%- else -%}
            flex-direction: row-reverse;
          {%- endif -%}

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-wrapper {
          width: 50%;
          min-width: 600px;
          position: relative;

          overflow: hidden;
          height: 100%;
          {%- if product_scene_image_location == 'row' -%}
            border-radius: 20px 0 0 20px;
          {%- else -%}
            border-radius: 0 20px 20px 0;
          {%- endif -%}


        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label {
          position: absolute;

          top: 0;
          {%- if product_scene_image_location == 'row' -%}
            left: -1px;
          {%- else -%}
            right: -1px;
          {%- endif -%}


        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-icon {
          width: 80px;
          height: 62px;
          position: relative;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-icon svg.left {
            {%- if product_scene_image_location == 'row' -%}
                display: block;
              {%- else -%}
                display: none;
              {%- endif -%}

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-icon svg.right {
            {%- if product_scene_image_location == 'row' -%}
                display: none;
              {%- else -%}
                display: block;
              {%- endif -%}



        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 48px;
          position: absolute;
          top: 6px;
          left: 16px;



        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text span:nth-child(1) {
          color: #FFF;

          font-size: 20px;

          font-weight: 700;
          line-height: 1.33;
          /* 133% */

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text span:nth-child(2) {
          color: #FFF;

          font-size: 16px;

          font-weight: 400;
          line-height: 1.25;
        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories {
          position: absolute;
          right: 10px;
          top: 10px;
          width: 108px;
          height: 108px;
          flex-shrink: 0;
          aspect-ratio: 1/1;
          border-radius: 10px;
          border: 1px solid #FF8F1C;
          background: #FFF;
          padding: 6px 12px;
          text-align: center;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories img {
          width: 60px;
          max-width: 100%;
          object-fit: cover;
        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-text {
          color: #000;
          text-align: center;

          font-size: 18px;

          font-weight: 700;
          line-height: 1;


        }
        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-text-bottom {
            width: 100%;
             height: 3px;
            flex-shrink: 0;
            background: linear-gradient(0deg, #FF8F1C 0%, rgba(255, 143, 28, 0.30) 83.33%);
            margin-top: -6px;

          }
        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-sub-text {
            color: #000;
            text-align: center;


            font-size: 12px;

            font-weight: 400;
            line-height: 1; /* 16.8px */

          }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img {
          width: 100%;
          max-width: 100%;
          height: 100%;
          object-fit: cover;


        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info {
          padding: 20px 42px;

          background: #FFF;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          height: 100%;
          width:100%;
          {%- if product_scene_image_location == 'row' -%}
            border-radius: 0 20px 20px 0;
          {%- else -%}
            border-radius: 20px 0 0 20px;
          {%- endif -%}

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-title {
          color: #000;

          font-size: 20px;

          font-weight: 600;
          line-height: 1.5;
          /* 150% */
          margin-bottom: 20px;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-description {
          position: relative;
          margin-bottom: 20px;
          width: 100%;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content {
          display: flex;
          flex-direction: column;
          gap: 4px;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item {
          display: flex;
          align-items: center;
          gap: 12px;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item svg {
          width: 4px;
          height: 5px;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item-text {
          color: #6D6D6D;


          font-size: 14px;

          font-weight: 400;
          line-height: 1.4;
          /* 140% */
        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-thumbnail {
          position: absolute;
          right: 47px;
          top: 50%;
          transform: translateY(-50%);
          width: 116px;
          height: 99px;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-thumbnail img {
          width: 100%;
          max-width: 100%;
          object-fit: cover;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-info-price {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 14px;


        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}       .bundle-up-and-enjoy-bigger-savings1-container-content-info-price-sale {
          color: #000;


          font-size: 26px;

          font-weight: 700;
          line-height: 1.3;
          {% comment %} opacity:0; {% endcomment %}
          /* 130% */

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-price-origin {
          color: #C2C2C2;

          font-size: 16px;

          font-weight: 400;
          line-height: 1.5;
          /* 150% */
          text-decoration-line: line-through;
          {% comment %} opacity:0; {% endcomment %}

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-klarna {
          color: var(---, #6D6D6D);
          font-family: Mulish;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 10px;
          /* 83.333% */
          margin-bottom: 30px;
          width:100%;

        }
        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-klarna klarna-placement::part(osm-container) {
            padding: 0;
            border: none;
            text-align: left;
        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-button {
          display: flex;
          gap: 20px;
          width: 100%;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-button-buy-now {
          display: flex;
          min-width: 160px;
          min-height: 46px;
          padding: 9px 32px;
          justify-content: center;
          align-items: center;
          gap: 9px;
          border-radius: 5px;
          background: #FF8F1C;
          color: #FFF;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.25;
          cursor: pointer;
          margin:0;

        }

        #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-info-button-learn-more {
          display: flex;
          min-width: 160px;
          min-height: 46px;
          padding: 9px 32px;
          justify-content: center;
          align-items: center;
          gap: 9px;
          color: #FF8F1C;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.25;
          border-radius: 5px;
          border: 1px solid #FF8F1C;
          cursor: pointer;
        }

        @media screen and (max-width: 768px) {
            #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-klarna klarna-placement::part(osm-container) {
                margin-left: 0;

            }
          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-wrapper {
            background: #FFFBF5;
            padding: {{section.settings.padding_top_mobile}}px 0 {{section.settings.padding_bottom_mobile}}px 0;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}   .bundle-up-and-enjoy-bigger-savings1-container {
            max-width: 100%;
            margin: 0 auto;
            padding: 0 24px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-title {
            text-align: left;
            font-size: 24px;
            font-weight: 800;
            line-height: 1.3;
            /* 122% */
            margin-bottom: 20px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content {
            display: flex;
            align-items: start;
            flex-direction: column;
            width: 100%;
            height: auto;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-wrapper {
            width: 100%;
            min-width: 100%;
            position: relative;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            height: 270px;


          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label {
            position: absolute;
            top: -1px;
            left: -1px;
            {%- if product_scene_image_location == 'row' -%}
                right: auto;
              {%- else -%}
                right: auto;
              {%- endif -%}




          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-icon {
            width: 50px;
            height: 40px;
            position: relative;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-icon svg.left {
            display: block;


          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-icon svg.right {

              display: none;



          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 34px;
            position: absolute;
            top: 6px;
            left: 7px;



          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text span:nth-child(1) {
            color: #FFF;

            font-size: 14px;

            font-weight: 700;
            line-height: 1;
            /* 133% */

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text span:nth-child(2) {
            color: #FFF;

            font-size: 10px;

            font-weight: 400;
            line-height: 1.25;
          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories {

            right: 6px;
            top: 6px;
            width: 76px;
            height: 76px;

            border-radius: 7px;

            padding: 6px 8px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories img {
            width: 42px;
            max-width: 100%;
            object-fit: cover;
          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-text {
            font-size: 12px;
            font-weight: 700;
            line-height: 1;


          }
          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-text-bottom {
            width: 100%;
             height: 3px;
            flex-shrink: 0;
            background: linear-gradient(0deg, #FF8F1C 0%, rgba(255, 143, 28, 0.30) 83.33%);
            margin-top: -4px;

          }
          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}      .bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-sub-text {
            color: #000;
            text-align: center;


            font-size: 10px;

            font-weight: 400;
            line-height: 1.2; /* 16.8px */

          }



          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info {
            padding: 20px 16px;
            border-radius: 0 0 10px 10px;


            height: auto;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            /* 150% */
            margin-bottom: 6px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}   .bundle-up-and-enjoy-bigger-savings1-container-content-info-description {
            position: relative;
            margin-bottom: 12px;
            width: 100%;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content {
            display: flex;
            flex-direction: column;
            gap: 7px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item {
            display: flex;
            align-items: center;
            gap: 4px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item svg {
            width: 4px;
            height: 4px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}   .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item-text {



            font-size: 12px;


            /* 140% */
          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-description-thumbnail {
            position: absolute;
            right: 20px;
            top: 0;
            transform: none;
            width: 75px;
            height: 64px;

          }



          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-price {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 9px;


          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-price-sale {


              {% comment %} opacity:0; {% endcomment %}
            font-size: 20px;

            line-height: 1.3;
            /* 130% */

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}   .bundle-up-and-enjoy-bigger-savings1-container-content-info-price-origin {

            font-size: 14px;

            line-height: 1.7;
            /* 150% */
            text-decoration-line: line-through;
            {% comment %} opacity:0; {% endcomment %}

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-klarna {
            color: #6D6D6D;

            font-size: 12px;

            font-weight: 500;
            line-height: 1.5;
            /* 83.333% */
            margin-bottom: 14px;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-button {
            display: flex;
            justify-content: space-between;
            gap: 0;
            width:100%;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-button-buy-now {
            display: flex;
            min-width: 142px;
            min-height: 40px;
            padding: 9px 24px;
            justify-content: center;
            align-items: center;
            gap: 9px;
            border-radius: 4px;
            background: #FF8F1C;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.25;
            margin:0;

          }

          #bundle-up-and-enjoy-bigger-savings1-{{ section.id }}    .bundle-up-and-enjoy-bigger-savings1-container-content-info-button-learn-more {
            display: flex;
            min-width: 142px;
            min-height: 40px;
            padding: 9px 24px;
            justify-content: center;
            align-items: center;
            gap: 9px;
            color: #FF8F1C;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.25;
            border-radius: 4px;
            border: 1px solid #FF8F1C;
          }
          klarna-placement::part(osm-message) {
            margin-left: 0;
        }
        }
</style>
<!-- Bundle up and enjoy bigger savings1 捆绑购买，享受更多优惠1 start -->
<section id="bundle-up-and-enjoy-bigger-savings1-{{ section.id }}">
  <div class="bundle-up-and-enjoy-bigger-savings1-wrapper">
    <div class="bundle-up-and-enjoy-bigger-savings1-container">
      {% if section.settings.heading != blank %}
        <div class="bundle-up-and-enjoy-bigger-savings1-container-title">{{ section.settings.heading }}</div>
      {% endif %}
      <div class="bundle-up-and-enjoy-bigger-savings1-container-content">
        <div class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-wrapper">
          {% if product_diff_price != blank and product_diff_price > 0 %}
            <div class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label">
              <div class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-icon">
                <svg
                  class="left"
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  viewBox="0 0 80 62"
                  fill="none"
                >
                  <path d="M0 20C0 8.9543 8.95431 0 20 0H80V51L39.5 62L0 51V20Z" fill="url(#paint0_linear_6223_134256-{{ section.id }})" />
                  <path d="M77.2227 2V2.5H77.5V2.78418H78V4.35352H77.5V5.92285H78V7.49219H77.5V9.06152H78V10.6309H77.5V12.2002H78V13.7695H77.5V15.3389H78V16.9072H77.5V18.4766H78V20.0459H77.5V21.6152H78V23.1846H77.5V24.7539H78V26.3232H77.5V27.8926H78V29.4619H77.5V31.0312H78V32.5996H77.5V34.1689H78V35.7383H77.5V37.3076H78V38.877H77.5V40.4463H78V42.0156H77.5V43.585H78V45.1543H77.5V46.7227H78V48.292H77.5V48.6982L77.123 48.8057L77.2598 49.2871L75.7793 49.707L75.6426 49.2266L74.1611 49.6465L74.2979 50.127L72.8174 50.5469L72.6807 50.0664L71.2002 50.4863L71.3359 50.9668L69.8555 51.3877L69.7197 50.9062L68.2383 51.3271L68.375 51.8076L66.8945 52.2275L66.7578 51.7471L65.2773 52.167L65.4131 52.6475L63.9316 53.0674L63.7959 52.5869L62.3154 53.0068L62.4512 53.4873L60.9707 53.9082L60.835 53.4277L59.3535 53.8477L59.4902 54.3281L58.0098 54.748L57.873 54.2676L56.3926 54.6875L56.5283 55.168L55.0479 55.5889L54.9111 55.1074L53.4307 55.5283L53.5674 56.0088L52.0869 56.4287L51.9502 55.9482L50.4697 56.3682L50.6055 56.8486L49.124 57.2686L48.9883 56.7881L47.5078 57.208L47.6436 57.6885L46.1631 58.1094L46.0273 57.6289L44.5459 58.0488L44.6826 58.5293L43.2021 58.9492L43.0654 58.4688L41.585 58.8887L41.7197 59.3691L40.2393 59.7891L40.1035 59.3086L39.501 59.4785L38.8584 59.292L38.7188 59.7715L37.1562 59.3164L37.2959 58.8369L35.7334 58.3818L35.5938 58.8613L34.0312 58.4062L34.1709 57.9268L32.6084 57.4717L32.4688 57.9512L30.9062 57.4961L31.0459 57.0166L29.4834 56.5615L29.3438 57.041L27.7812 56.5859L27.9209 56.1064L26.3584 55.6514L26.2188 56.1309L24.6562 55.6758L24.7959 55.1963L23.2334 54.7412L23.0938 55.2207H23.0928L21.5303 54.7656H21.5312L21.6709 54.2861L20.1084 53.8311L19.9688 54.3105H19.9678L18.4053 53.8555H18.4062L18.5459 53.376L16.9834 52.9209L16.8438 53.4004H16.8428L15.2803 52.9453H15.2812L15.4209 52.4658L13.8584 52.0107L13.7188 52.4902H13.7178L12.1553 52.0352H12.1562L12.2959 51.5557L10.7334 51.0996L10.5938 51.5801H10.5928L9.03027 51.125H9.03125L9.1709 50.6445L7.6084 50.1895L7.46875 50.6699H7.46777L5.90527 50.2148L6.0459 49.7344L4.4834 49.2793L4.34277 49.7598L2.78027 49.3047L2.9209 48.8242L2.5 48.7012V48.2305H2V46.5381H2.5V44.8457H2V43.1543H2.5V41.4619H2V39.7695H2.5V38.0771H2V36.3848H2.5V34.6924H2V33H2.5V31.3076H2V29.6152H2.5V27.9229H2V26.2305H2.5V24.5381H2V22.8457H2.5V22C2.5 21.7433 2.50482 21.4877 2.51465 21.2334L2.0166 21.2139C2.037 20.6862 2.07815 20.1639 2.13867 19.6475L2.63379 19.7061C2.69358 19.1957 2.77268 18.6908 2.87109 18.1934L2.38184 18.0967C2.48402 17.5802 2.60497 17.0707 2.74609 16.5693L3.22754 16.7041C3.3664 16.2109 3.52432 15.7256 3.7002 15.249L3.23145 15.0762C3.41348 14.5829 3.61505 14.0991 3.83398 13.625L4.28711 13.834C4.50165 13.3694 4.73422 12.9147 4.9834 12.4707L4.54785 12.2256C4.73946 11.8842 4.9397 11.5483 5.15039 11.2197L5.36914 10.8877L5.78418 11.166C6.0686 10.7412 6.36949 10.3281 6.68555 9.92773L6.29297 9.61816C6.61772 9.20676 6.95801 8.80819 7.31348 8.42383L7.68066 8.76367C8.02741 8.38874 8.38874 8.02741 8.76367 7.68066L8.42383 7.31348C8.70139 7.05678 8.98653 6.8082 9.27832 6.56738L9.61816 6.29297L9.92773 6.68555C10.3281 6.36949 10.7412 6.0686 11.166 5.78418L10.8877 5.36914C11.3219 5.07844 11.7682 4.80455 12.2256 4.54785L12.4707 4.9834C12.9147 4.73422 13.3694 4.50165 13.834 4.28711L13.625 3.83398C14.0991 3.61505 14.5829 3.41348 15.0762 3.23145L15.249 3.7002C15.7256 3.52432 16.2109 3.3664 16.7041 3.22754L16.5693 2.74609C17.0707 2.60497 17.5802 2.48402 18.0967 2.38184L18.1934 2.87109C18.6908 2.77268 19.1957 2.69358 19.7061 2.63379L19.6475 2.13867C20.1639 2.07816 20.6862 2.037 21.2139 2.0166L21.2334 2.51465C21.4877 2.50482 21.7433 2.5 22 2.5H22.7773V2H24.333V2.5H25.8887V2H27.4443V2.5H29V2H30.5557V2.5H32.1113V2H33.667V2.5H35.2227V2H36.7773V2.5H38.333V2H39.8887V2.5H41.4443V2H43V2.5H44.5557V2H46.1113V2.5H47.667V2H49.2227V2.5H50.7773V2H52.333V2.5H53.8887V2H55.4443V2.5H57V2H58.5557V2.5H60.1113V2H61.667V2.5H63.2227V2H64.7773V2.5H66.333V2H67.8887V2.5H69.4443V2H71V2.5H72.5557V2H74.1113V2.5H75.667V2H77.2227Z" stroke="white" stroke-dasharray="1.6 1.6" />
                  <defs>
                    <linearGradient id="paint0_linear_6223_134256-{{ section.id }}" x1="40" y1="1.74046e-06" x2="40" y2="74" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#7DE9FF" />
                      <stop offset="1" stop-color="#72A9F7" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg
                  class="right"
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  viewBox="0 0 80 62"
                  fill="none"
                >
                  <path d="M80 20C80 8.9543 71.0457 0 60 0H0V51L40.5 62L80 51V20Z" fill="url(#paint0_linear_5661_199341-{{ section.id }})" />
                  <defs>
                    <linearGradient id="paint0_linear_5661_199341-{{ section.id }}" x1="40" y1="1.74046e-06" x2="40" y2="74" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#7DE9FF" />
                      <stop offset="1" stop-color="#72A9F7" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text">
                <span class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text-text">
                  {{- product_diff_price | money_without_trailing_zeros -}}</span
                ><span>OFF</span>
              </div>
            </div>
          {% endif %}
          {% if gift_image_pc %}
            <div class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories">
              <img
                class="lazyload"
                data-sizes="100vw"
                data-srcset="
                  {%- if gift_image_pc.width >= 200 -%}{{ gift_image_pc | image_url: width: 200 }} 200w,{%- endif -%}
                  {%- if gift_image_pc.width >= 375 -%}{{ gift_image_pc | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if gift_image_pc.width >= 550 -%}{{ gift_image_pc | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if gift_image_pc.width >= 750 -%}{{ gift_image_pc | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if gift_image_pc.width >= 1100 -%}{{ gift_image_pc | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if gift_image_pc.width >= 1500 -%}{{ gift_image_pc | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if gift_image_pc.width >= 1780 -%}{{ gift_image_pc | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if gift_image_pc.width >= 2000 -%}{{ gift_image_pc | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if gift_image_pc.width >= 3000 -%}{{ gift_image_pc | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if gift_image_pc.width >= 3840 -%}{{ gift_image_pc | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ gift_image_pc | image_url }} {{ gift_image_pc.width }}w
                "
                data-src="{{ gift_image_pc | image_url:width:750 }}"
                alt=""
              >
              <div class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-sub-text">
                7*250ml
              </div>
              <div class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-text">
                Free Gift
                <div
                  class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-accessories-text-bottom"
                ></div>
              </div>
            </div>
          {% endif %}

          {% if product_scene_image_pc %}
            <img
              class="lazyload bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img"
              data-sizes="100vw"
              data-srcset="
                {%- if product_scene_image_pc.width >= 200 -%}{{ product_scene_image_pc | image_url: width: 200 }} 200w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 375 -%}{{ product_scene_image_pc | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 550 -%}{{ product_scene_image_pc | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 750 -%}{{ product_scene_image_pc | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 1100 -%}{{ product_scene_image_pc | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 1500 -%}{{ product_scene_image_pc | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 1780 -%}{{ product_scene_image_pc | image_url: width: 1780 }} 1780w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 2000 -%}{{ product_scene_image_pc | image_url: width: 2000 }} 2000w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 3000 -%}{{ product_scene_image_pc | image_url: width: 3000 }} 3000w,{%- endif -%}
                {%- if product_scene_image_pc.width >= 3840 -%}{{ product_scene_image_pc | image_url: width: 3840 }} 3840w,{%- endif -%}
                {{ product_scene_image_pc | image_url }} {{ product_scene_image_pc.width }}w
              "
              data-src="{{ product_scene_image_pc | image_url:width:750 }}"
              alt=""
            >
          {% endif %}
        </div>
        <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info">
          <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-title">
            {{ title | default: current_product.title }}
          </div>
          <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description">
            <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content">
              {{ desc }}
              {% comment %}
                <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 4 5" fill="none">
                    <circle cx="2" cy="2.75" r="2" fill="#6D6D6D" />
                  </svg>
                  <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item-text">
                    Printing&Laminating 2-in-1
                  </div>
                </div>
                <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5" fill="none">
                    <circle cx="2" cy="2.75" r="2" fill="#6D6D6D" />
                  </svg>
                  <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item-text">
                    Printhead Auto-Cleaning
                  </div>
                </div>
                <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5" fill="none">
                    <circle cx="2" cy="2.75" r="2" fill="#6D6D6D" />
                  </svg>
                  <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item-text">
                    Easy-to-use and User-friendly
                  </div>
                </div>
                <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5" fill="none">
                    <circle cx="2" cy="2.75" r="2" fill="#6D6D6D" />
                  </svg>
                  <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-content-item-text">
                    Compact Design, Superior Printing Experience
                  </div>
                </div>
              {% endcomment %}
            </div>
            <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-description-thumbnail">
              {% if product_image_pc %}
                <img
                  class="bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img lazyload"
                  data-sizes="100vw"
                  data-srcset="
                    {%- if product_image_pc.width >= 200 -%}{{ product_image_pc | image_url: width: 200 }} 200w,{%- endif -%}
                    {%- if product_image_pc.width >= 375 -%}{{ product_image_pc | image_url: width: 375 }} 375w,{%- endif -%}
                    {%- if product_image_pc.width >= 550 -%}{{ product_image_pc | image_url: width: 550 }} 550w,{%- endif -%}
                    {%- if product_image_pc.width >= 750 -%}{{ product_image_pc | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if product_image_pc.width >= 1100 -%}{{ product_image_pc | image_url: width: 1100 }} 1100w,{%- endif -%}
                    {%- if product_image_pc.width >= 1500 -%}{{ product_image_pc | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if product_image_pc.width >= 1780 -%}{{ product_image_pc | image_url: width: 1780 }} 1780w,{%- endif -%}
                    {%- if product_image_pc.width >= 2000 -%}{{ product_image_pc | image_url: width: 2000 }} 2000w,{%- endif -%}
                    {%- if product_image_pc.width >= 3000 -%}{{ product_image_pc | image_url: width: 3000 }} 3000w,{%- endif -%}
                    {%- if product_image_pc.width >= 3840 -%}{{ product_image_pc | image_url: width: 3840 }} 3840w,{%- endif -%}
                    {{ product_image_pc | image_url }} {{ product_image_pc.width }}w
                  "
                  data-src="{{ product_image_pc | image_url:width:750 }}"
                  alt="{{ product_image_pc.alt }}"
                >
              {% endif %}
            </div>
          </div>
          <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-price">
            {% if product_price != blank and product_price > 0 %}
              <div
                class="bundle-up-and-enjoy-bigger-savings1-container-content-info-price-sale"
                data-price="{{product_price }}"
              >
                {{ product_price | money_without_trailing_zeros }}
              </div>
            {% endif %}
            {% if product_origin_price != blank and product_origin_price > 0 %}
              <div
                class="bundle-up-and-enjoy-bigger-savings1-container-content-info-price-origin"
                data-orign-price="{{ product_origin_price }}"
              >
                {{ product_origin_price | money_without_trailing_zeros }}
              </div>
            {% endif %}
          </div>
          <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-klarna">
            {% assign klarna_id = 'shopify-block-AbFBFd0QvcXlzYkYva__klarna_on_site_messaging_app_block_gcU6LY' %}
            <!-- DO NOT DELETE -->
            {% comment %} <klarna-placement id="{{ klarna_id }}"></klarna-placement> {% endcomment %}
            <div class="klarna-osm-wrapper">
              <klarna-placement
                id="{{ klarna_id }}"
                data-key="credit-promotion-auto-size"
                data-theme="light"
                data-message-prefix=""
                data-integration-style="app-blocks"
                data-locale="en-US"
                {% if variant %}
                  data-purchase-amount="{{ variant.price }}"
                {% endif %}
                data-preloaded="true"
              >
              </klarna-placement>
            </div>
          </div>
          <div class="bundle-up-and-enjoy-bigger-savings1-container-content-info-button">
            <product-card>
              <div
                class="bundle-up-and-enjoy-bigger-savings1-container-content-info-button-buy-now product-btn external-add-to-cart-button product-card--add-to-cart-button product-card--add-to-cart-button-simple button accent"
                data-product-id="{{ variant.id }}"
                tabindex="-1"
                {% if variant.available == false %}
                  disabled
                {% endif %}
              >
                {% render 'svg-icons' with 'thb-loading' %}
                <span class="product-card--add-to-cart-text">
                  {%- if variant.available -%}
                    Buy Now
                  {%- else -%}
                    {{- 'products.product.sold_out' | t -}}
                  {%- endif -%}
                </span>
              </div>
            </product-card>
            <div
              class="bundle-up-and-enjoy-bigger-savings1-container-content-info-button-learn-more"
              onclick="window.open('{{ variant.url }}', '_blank')"
            >
              Learn More
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bundle up and enjoy bigger savings1 捆绑购买，享受更多优惠1 end -->
{% comment %}
  <script>
      const $price_container = $('#bundle-up-and-enjoy-bigger-savings1-{{ section.id }}').find('.bundle-up-and-enjoy-bigger-savings1-container-content-info-price');
      // 在 custom-automatic-discount-reminder 下查找 data-final-price 属性的元素
      const $price = $price_container.find('.bundle-up-and-enjoy-bigger-savings1-container-content-info-price-sale');
      const $origin_price = $price_container.find('.bundle-up-and-enjoy-bigger-savings1-container-content-info-price-origin');
      const $product_diff_price = $('#bundle-up-and-enjoy-bigger-savings1-{{ section.id }}').find('.bundle-up-and-enjoy-bigger-savings1-container-content-scene-graph-img-label-text-text');
      let product_price = {{ product_price  }};
      let product_origin_price = {{ product_origin_price }};
      let product_diff_price = {{ product_diff_price  }};
      console.log('product_price',product_price)
      console.log('product_origin_price',product_origin_price)
      console.log('product_diff_price',product_diff_price)

        // 格式化货币代码
        let format = theme.settings.money_with_currency_format;
        // 如果 this.format 包含 <span class="money"></span>，则提取 > 和 < 之间的内容作为格式
        const moneySpanMatch = format.match(
          /<span\s+class=["']money["']>(.*?)<\/span>/i
        );
        if (moneySpanMatch) {
          format = moneySpanMatch[1];
        }

           // 格式化金额为货币字符串
           function formatMoney(cents, format) {
              // 如果 cents 是字符串类型，去除小数点
              if (typeof cents === 'string') {
                cents = cents.replace('.', '');
              }
              let value = '';
              // 占位符正则，用于匹配格式字符串中的 {{ amount }} 等
              const placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
              // 如果未传入 format，则使用 moneyFormat 变量
              const formatString = format || moneyFormat;

              // 内部函数：根据分隔符和精度格式化数字
              function formatWithDelimiters(
                number,
                precision = 2,
                thousands = ',',
                decimal = '.'
              ) {
                // 非数字或空值时返回0
                if (isNaN(number) || number == null) {
                  return 0;
                }
                // 将分单位转换为元单位，并保留指定小数位
                number = (number / 100.0).toFixed(precision);

                const parts = number.split('.');
                // 千分位分隔
                const dollarsAmount = parts[0].replace(
                  /(\d)(?=(\d\d\d)+(?!\d))/g,
                  `$1${thousands}`
                );
                // 小数部分
                const centsAmount = parts[1] ? decimal + parts[1] : '';

                return dollarsAmount + centsAmount;
              }

              // 根据格式字符串中的占位符类型选择不同的格式化方式
              switch (formatString.match(placeholderRegex)[1]) {
                case 'amount':
                  // 2位小数，千分位逗号
                  value = formatWithDelimiters(cents, 0);
                  break;
                case 'amount_no_decimals':
                  // 无小数，千分位逗号
                  value = formatWithDelimiters(cents, 0);
                  break;
                case 'amount_with_comma_separator':
                  // 2位小数，千分位点，小数逗号
                  value = formatWithDelimiters(cents, 2, '.', ',');
                  break;
                case 'amount_no_decimals_with_comma_separator':
                  // 无小数，千分位点
                  value = formatWithDelimiters(cents, 0, '.', ',');
                  break;
                case "amount_with_apostrophe_separator":
                  // 2位小数，千分位撇号
                  value = formatWithDelimiters(cents, 0, "'", ".");
                  break;
              }

              // 用格式化后的金额替换格式字符串中的占位符
              return formatString.replace(placeholderRegex, value);
            }

            let product_price_value = window.formatMoney(product_price, format);
            let product_origin_price_value = window.formatMoney(product_origin_price, format);
            let product_diff_price_value = window.formatMoney(product_diff_price, format);
            console.log('格式化后的售价',product_price_value)
            console.log('格式化后的原价',product_origin_price_value)
            console.log('格式化后的差价',product_diff_price_value)
            if ($price.length > 0 && product_price>0) {
                 $price.text(product_price_value);
                 $price.css({'opacity': '1'});
              }
              if ($origin_price.length > 0 && product_origin_price>0) {
                  $origin_price.text(product_origin_price_value);
                  $origin_price.css({'opacity': '1'});
              }
              if ($product_diff_price.length > 0 && product_diff_price>0) {
                  $product_diff_price.text(product_diff_price_value);
                  $product_diff_price.css({'opacity': '1'});
              }
  </script>
{% endcomment %}
{% schema %}
{
  "name": "back to school product 1",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "大标题",
      "default": "Bundle up and enjoy bigger savings"
    },
    {
      "type": "product",
      "id": "product",
      "label": "选择产品"
    },
    {
      "type": "radio",
      "id": "product_variant_location",
      "label": "产品变体",
      "options": [
        {
          "value": "0",
          "label": "第一个变体"
        },
        {
          "value": "1",
          "label": "第二个变体"
        },
        {
          "value": "2",
          "label": "第三个变体"
        },
        {
          "value": "3",
          "label": "第四个变体"
        },
        {
          "value": "4",
          "label": "第五个变体"
        }
      ],
      "default": "0",
      "info": "查看对应产品后台，选择对应的变体所在位置，从上到下依次排序"
    },
    {
      "type": "image_picker",
      "id": "product_image_pc",
      "label": "产品主图"
    },
    {
      "type": "image_picker",
      "id": "product_scene_image_pc",
      "label": "产品场景图"
    },
    {
      "type": "image_picker",
      "id": "gift_image_pc",
      "label": "赠品图"
    },
    {
      "type": "text",
      "id": "title",
      "label": "产品标题",
      "info": "默认产品标题"
    },
    {
      "type": "html",
      "id": "desc",
      "label": "产品描述"
    },

    {
      "type": "radio",
      "id": "product_scene_image_location",
      "label": "场景图位置",
      "options": [
        {
          "value": "row",
          "label": "左图右文"
        },
        {
          "value": "row-reverse",
          "label": "左文右图"
        }
      ],
      "default": "row"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "顶部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "底部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "顶部填充(移动端)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "底部填充(移动端)",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "back to school product 1"
    }
  ]
}
{% endschema %}
