<style>
      /* black friday Official Promotion product1  start  */
    .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-wrapper {
        background-color: {{ section.settings.bg_color }};
        padding: {{ section.settings.padding_top }}px 0px {{ section.settings.padding_bottom }}px 0px;
        overflow: hidden;
      }

    .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-container {
        max-width: 1200px;
        margin: 0 auto;

      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-title-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-title {
        color: #fece67;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-subtitle {
        color: #fff;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.24;
        margin-bottom: 20px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-desc {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 25px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-desc span {
        color: #fece67;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        overflow-x: auto;
        touch-action: pan-x;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-tab {
        cursor: pointer;
        text-align: center;
        color: #fece67;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        padding: 10px 13px;
        border-radius: 100px;
        border: 1px solid #fece67;
        -webkit-tap-highlight-color: transparent;
        /* 消除移动端点击背景 */
        -webkit-touch-callout: none;
        outline: none;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-tab.active {
        color: #000;
        background: #fece67;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner {
        width: 100%;
        margin-bottom: 40px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner-box {

        position: relative;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner-box.active {
        display: flex;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner img {
        width: 100%;
        max-width: 100%;
        border-radius: 16px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner .pc {
        display: flex;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner .mb {
        display: none;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner-box-content {
        position: absolute;
        bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner-box-content-title {
        color: #fff;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.27;
        margin-bottom: 5px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-banner-box-content-desc {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.16;
      }
  .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-grid{
      display: block;
  }
  .black-friday-official-promotion-products-swiper-container-{{- section.id -}} {
      display: none;
    }
      .black-friday-official-promotion-product1-{{ section.id }} .black-friday-official-promotion-products-grid .black-friday-official-promotion-products {
        display: grid;
        grid-template-columns: repeat({{- section.settings.product_num | minus: 0 -}}, 1fr);
        grid-gap: {{ section.settings.card_gap }}px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-card {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        padding-bottom: 20px;
        background-color: {{ section.settings.card_bg_color }};
        background: {{ section.settings.card_background_gradient_color }};
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 193px;
        height: 38px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='193' height='38' viewBox='0 0 193 38' fill='none'><path d='M0 16C0 7.16344 7.16344 0 16 0H189.664C192.018 0 193.63 2.37468 192.762 4.56276L180.967 34.2673C180.127 36.3831 178.081 37.7721 175.804 37.7721H0V16Z' fill='url(%23paint0_linear_4170_7589)'/><defs><linearGradient id='paint0_linear_4170_7589' x1='195.83' y1='19.4408' x2='0.0455662' y2='15.8474' gradientUnits='userSpaceOnUse'><stop stop-color='%2308DEFF'/><stop offset='0.865' stop-color='%23FF2ACE'/></linearGradient></defs></svg>");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-label-discount {
        position: absolute;
        top: 0;
        right: 16px;
        width: 56px;
        height: 43px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='43' viewBox='0 0 56 43' fill='none'><path d='M0 0V26.7877C0 28.768 1.13069 30.5774 2.9178 31.453L25.4354 42.4664C26.8891 43.1779 28.5903 43.1779 30.0406 42.4664L52.5582 31.453C54.3453 30.5808 55.476 28.7715 55.476 26.7877V0H0Z' fill='url(%23paint0_linear_3210_381)'/><defs><linearGradient id='paint0_linear_3210_381' x1='55.476' y1='48.8688' x2='5.47437' y2='1.18798' gradientUnits='userSpaceOnUse'><stop offset='0.14626' stop-color='%23FFEFC8'/><stop offset='0.752721' stop-color='%23FECE67'/></linearGradient></defs></svg>");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-label-discount-text {
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        color: #3c2a04;
        font-size: 10px;
        font-weight: 800;
        line-height: 1;
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-label-discount-text-value {
        font-size: 14px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-label-text {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 14px;
        font-weight: 800;
        line-height: 1;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-image {
        width: 100%;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-image img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        aspect-ratio: 1;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-image .pc {
        display: block;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-image .mb {
        display: none;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-content {
        padding: 0px 23px 0 23px;
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-features-label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 94px;
          height: 28px;
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 94 28" fill="none"><path d="M6.64596 1.51431L0.421954 12.1089C-0.132488 13.0532 -0.141161 14.2209 0.399652 15.1733L6.4694 25.857C7.01084 26.8093 8.01936 27.4015 9.11586 27.4096L90.7551 27.9999C92.45 28.0123 93.8333 26.6497 93.8457 24.9566L93.9999 3.67828C94.0123 1.98522 92.6482 0.602802 90.9533 0.591045L9.31472 8.28948e-05C8.21822 -0.00796161 7.20102 0.570005 6.64596 1.51431ZM8.70204 13.7011C8.69275 14.9876 7.64148 16.0223 6.35356 16.013C5.06564 16.0037 4.02924 14.9536 4.03915 13.6671C4.04844 12.3806 5.09971 11.3459 6.38763 11.3552C7.67555 11.3645 8.71195 12.4146 8.70204 13.7011Z" fill="url(%23paint0_linear_4170_7057)"/><defs><linearGradient id="paint0_linear_4170_7057" x1="2.04348" y1="5.95389e-07" x2="11.0559" y2="39.12" gradientUnits="userSpaceOnUse"><stop stop-color="%23FFECC1"/><stop offset="1" stop-color="%23FFE18B"/></linearGradient></defs></svg>');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          color: #000;
          font-size: 16px;
          font-weight: 800;
          line-height: 1;
          margin-bottom: 10px;
          margin-left: 10px;


        }
      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-name {
        color: {{ section.settings.product_title_color }};
        text-align: left;
        font-size: {{ section.settings.product_title_font_size }}px;
        font-weight: 800;
        line-height: 1.25;
        margin-bottom: 10px;
        padding:0 10px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-tips {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
        padding:0 10px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-content-bottom {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding-top: 24px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-price {
        display: flex;
        align-items: flex-end;
        gap: 6px;
        margin-bottom: 20px;
        padding: 0 10px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-sale-price {
        color: #ff9500;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-original-price {
        color: #848484;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        text-decoration-line: line-through;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-button-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-button-add-to-cart,
      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-button-view-more {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #000;
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
        padding: 10px 10px;
        border-radius: 40px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-button-add-to-cart {
        background: #fece67;
      }
      @media screen and (hover: hover) {
          .black-friday-official-promotion-product1-{{ section.id }} .button.accent:hover,.black-friday-official-promotion-product1-{{ section.id }} input[type=submit].accent:hover {
              background: #fece67;
          }
      }
      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product-button-view-more {
        font-weight: 500;
        color: #fece67;
        border: 1px solid #fece67;
        padding: 9px 10px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-swiper-container-{{ section.id }} {
        padding-bottom: 40px;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-navigation-buttons {
        display: flex;
        width: 100%;
        position: absolute;
        top: calc(50% - 40px);
        transform: translateY(calc(-50% + 40px));
        z-index: 1;
        justify-content: space-between;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-nav-button {
        cursor: pointer;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-nav-button.swiper-button-disabled svg {
        opacity: 0;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-swiper-container-{{ section.id }} .swiper-scrollbar-drag {
        height: 100%;
        width: 100%;
        position: relative;
        background: #fece67;
        border-radius: 10px;
        left: 0;
        top: 0;
      }

      .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-swiper-container-{{ section.id }}>.swiper-scrollbar {
        height: 2px;
        background: #303030;
      }


      .black-friday-official-promotion-product1-{{ section.id }}  .product-flash-sale-countdown {
        max-width: max-content;
        background: #DA291C;
        margin-bottom: 10px;
        color: #fff;
        padding: 0px 12px;
        border-radius: 17px;
        margin-left: 10px
      }
      .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .countdown-box>div{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          font-size: 14px;
      }
      .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 52px;
        min-height: 56px;

        position: relative;
        {% comment %} border-radius: 6px;
        border: 1px dashed #FFF; {% endcomment %}
      }
      .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-block:not(:last-child)::after {
        content: ":";
        position: absolute;
        right: -2px;
        top: 0px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
      }
      .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-value {
        /* background-color: #000; */
        color: #fff;
        border-radius: 0;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 8px;

      }
      .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-label {
        font-size: 12px;
        color: #fff;
        line-height: 1;
      }
      @media screen and (max-width: 768px) {
        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-wrapper {
            padding: {{ section.settings.padding_top_mobile }}px 0 {{ section.settings.padding_bottom_mobile }}px 0;
        }
        .black-friday-official-promotion-product1-{{ section.id }} .black-friday-official-promotion-product1-content{
            padding: 0 16px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-container {
          max-width: 100%;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-title-wrapper {
          margin-bottom: 20px;
          padding: 0 16px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-title {
          font-size: 30px;
          line-height: 1.13;
          margin-bottom: 10px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-subtitle {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-desc {
          font-size: 16px;
          line-height: 1.4;
          margin-bottom: 20px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-tabs {
          gap: 16px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-tab {
          font-size: 12px;
          font-weight: 500;
          line-height: 1;
          padding: 8px 10px;
          border-radius: 87px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-tab.active {
          background: #fece67;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-banner {
          margin-bottom: 10px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-banner img {
          width: 100%;
          max-width: 100%;
          border-radius: 0;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-banner .pc {
          display: none;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-banner .mb {
          display: flex;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-banner-box-content {
          bottom: 8px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-banner-box-content-title {
          font-size: 10px;
          line-height: 1;
          margin-bottom: 4px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product1-banner-box-content-desc {
          font-size: 10px;
          line-height: 1.2;
        }


        {%- if section.settings.show_swiper_mb -%}
            .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-grid{
                display: none;
            }
            .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-swiper-container-{{ section.id }} {
                display: flex;
                padding-bottom: 20px;
              }

        {%- else -%}
            .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-products-grid  .black-friday-official-promotion-products {
                display: grid;
                grid-template-columns: repeat({{- section.settings.product_num_mobile | minus: 0 -}}, 1fr);
                grid-gap: {{ section.settings.card_gap_mobile }}px;
              }
        {%- endif -%}

        .black-friday-official-promotion-products-swiper-container-{{ section.id }} .black-friday-official-promotion-products {
            height: 100%;
          }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-products-card {
          border-radius: 8px;
          padding-bottom: 20px;
          height: 100%;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-label {
          width: 86px;
          height: 39px;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='86' height='39' viewBox='0 0 86 39' fill='none'><path d='M0 8C0 3.58172 3.58172 0 8 0H82.6167C84.4242 0 85.6619 1.82319 84.9949 3.50311L68.9396 36.3091C68.2946 37.9336 66.7237 39 64.9759 39H0V8Z' fill='url(%23paint0_linear_4184_5007)'/><defs><linearGradient id='paint0_linear_4184_5007' x1='86.4268' y1='20.0728' x2='-0.00367863' y2='19.3947' gradientUnits='userSpaceOnUse'><stop stop-color='%2308DEFF'/><stop offset='0.865' stop-color='%23FF2ACE'/></linearGradient></defs></svg>");
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-label-discount {
          position: absolute;
          top: 0;
          right: 10px;
          width: 44px;
          height: 34px;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 44 34' fill='none'><path d='M0 0V21.181C0 22.7468 0.894034 24.1775 2.3071 24.8698L20.1117 33.5781C21.2612 34.1406 22.6063 34.1406 23.7531 33.5781L41.5577 24.8698C42.9707 24.1802 43.8648 22.7495 43.8648 21.181V0H0Z' fill='url(%23paint0_linear_3210_937)'/><defs><linearGradient id='paint0_linear_3210_937' x1='43.8648' y1='38.6404' x2='4.32858' y2='0.939331' gradientUnits='userSpaceOnUse'><stop offset='0.14626' stop-color='%23FFEFC8'/><stop offset='0.752721' stop-color='%23FECE67'/></linearGradient></defs></svg>");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-label-discount-text {
          position: absolute;
          top: 5px;
          left: 50%;
          transform: translateX(-50%);
          color: #3c2a04;
          font-size: 6px;
          font-weight: 800;
          line-height: 1;
          display: flex;
          flex-direction: column;
          gap: 2px;
          align-items: center;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-label-discount-text-value {
          font-size: 12px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-label-text {
          left: 8px;
          font-size: 10px;
          font-weight: 800;
          line-height: 1.4;
          text-align: left;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-label-text span {
          display: block;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-image .pc {
          display: none;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-image .mb {
          display: block;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-content {
          padding: 0px 10px 0 10px;
        }
        .black-friday-official-promotion-product1-{{ section.id }}  .black-friday-official-promotion-product1-features-label {
            width: 56px;
            height: 15px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="56" height="15" viewBox="0 0 56 15" fill="none"><path d="M3.53508 0.805482L0.224444 6.44092C-0.0704726 6.9432 -0.0750858 7.56432 0.212581 8.07088L3.44117 13.7537C3.72917 14.2603 4.26562 14.5753 4.84886 14.5796L54.274 14.8936C55.1755 14.9002 55.9113 14.1754 55.9179 13.2748L56 1.95653C56.0066 1.05597 55.281 0.320639 54.3794 0.314385L4.95464 4.4093e-05C4.37139 -0.0042349 3.83033 0.303194 3.53508 0.805482ZM4.62875 7.28783C4.6238 7.97214 4.06462 8.52248 3.37955 8.51754C2.69449 8.51261 2.14321 7.95403 2.14848 7.26972C2.15343 6.58541 2.71261 6.03507 3.39768 6.04001C4.08274 6.04494 4.63402 6.60352 4.62875 7.28783Z" fill="url(%23paint0_linear_4184_4930)"/><defs><linearGradient id="paint0_linear_4184_4930" x1="1.21739" y1="3.16696e-07" x2="5.5418" y2="21.0234" gradientUnits="userSpaceOnUse"><stop stop-color="%23FFECC1"/><stop offset="1" stop-color="%23FFE18B"/></linearGradient></defs></svg>');
            font-size: 10px;
            margin-bottom: 10px;
            margin-left: 0;
          }
        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-name {
          font-size: {{ section.settings.product_title_font_size_mb }}px;;
          font-weight: 800;
          line-height: 1.3;
          margin-bottom: 10px;
          padding: 0;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-tips {
          color: #fff;
          font-size: 10px;
          font-weight: 400;
          line-height: 1.4;
          padding: 0;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-content-bottom {
          padding-top: 20px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-price {
          display: flex;
          align-items: flex-end;
          gap: 6px;
          margin-bottom: 10px;
          padding: 0;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-sale-price {
          font-size: 18px;
          font-weight: 800;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-original-price {
          font-size: 12px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-button-wrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-button-add-to-cart,
        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-button-view-more {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: #000;
          font-size: 16px;
          font-weight: 800;
          line-height: 1;
          /* 0% */
          padding: 8px 10px;
          border-radius: 40px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-button-add-to-cart {
          background: #fece67;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-product-button-view-more {
          font-weight: 500;
          color: #fece67;
          border: 1px solid #fece67;
          padding: 7px 10px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-products-swiper-container {
          padding-bottom: 20px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-navigation-buttons {
          display: none;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-products-swiper-container .swiper-scrollbar-drag {
          height: 100%;
          width: 100%;
          position: relative;
          background: #fece67;
          border-radius: 10px;
          left: 0;
          top: 0;
          height: 2px;
        }

        .black-friday-official-promotion-product1-{{ section.id }}    .black-friday-official-promotion-products-swiper-container > .swiper-scrollbar {
          height: 2px;
          background: #303030;
        }
        .black-friday-official-promotion-product1-{{ section.id }}  .product-flash-sale-countdown {
          max-width: max-content;
          background: #DA291C;
          margin-bottom: 10px;
          color: #fff;
          padding: 0px 12px;
          border-radius: 17px;
          margin-left: 0;
        }
        .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .countdown-box>div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
           font-size: 12px;
        }
        .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-width: 52px;
          min-height: 56px;

          position: relative;
          {% comment %} border-radius: 6px;
          border: 1px dashed #FFF; {% endcomment %}
        }
        .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-block:not(:last-child)::after {
          content: ":";
          position: absolute;
          right: -2px;
          top: 4px;
          font-size: 12px;
          font-weight: bold;
          color: #fff;
          line-height: 1;
        }
        .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-value {
          /* background-color: #000; */
          color: #fff;
          border-radius: 0;
          font-size: 12px;
          line-height: 1;
          margin-bottom: 8px;

        }
        .black-friday-official-promotion-product1-{{ section.id }} .product-flash-sale-countdown .time-label {
          font-size: 12px;
          color: #fff;
          line-height: 1;
        }


      }

      /* black friday Official Promotion product1  end  */
</style>
<!-- black friday Official Promotion product1  start -->
{% assign blocks_count = section.blocks.size %}
<section
  id="{%- if section.settings.nav_id != empty %}custom-nav-{{- section.settings.nav_id -}}{% endif -%}"
  class="black-friday-official-promotion-product1-{{ section.id }}"
>
  <div class="black-friday-official-promotion-product1-wrapper">
    <div class="black-friday-official-promotion-product1-container">
      <div class="black-friday-official-promotion-product1-title-wrapper">
        {%- if section.settings.title != empty -%}
          <div class="black-friday-official-promotion-product1-title">
            {{ section.settings.title }}
          </div>
        {%- endif -%}
        {%- if section.settings.title != empty -%}
          <div class="black-friday-official-promotion-product1-subtitle">
            {{ section.settings.subtitle }}
          </div>
        {%- endif -%}
        {%- if section.settings.desc != empty -%}
          <div class="black-friday-official-promotion-product1-desc">
            {{ section.settings.desc }}
          </div>
        {%- endif -%}
      </div>
      <div class="black-friday-official-promotion-product1-banner">
        {% assign product_banner_image_pc = section.settings.product_banner_image_pc %}
        {% assign product_banner_image_mb = section.settings.product_banner_image_mb %}
        <div
          class="black-friday-official-promotion-product1-banner-box "
        >
          {% if product_banner_image_pc %}
            <img
              style="aspect-ratio: {{ product_banner_image_pc.aspect_ratio }}"
              class="pc lazyload"
              data-sizes="100vw"
              data-srcset="
                {%- if product_banner_image_pc.width >= 200 -%}{{ product_banner_image_pc | image_url: width: 200 }} 200w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 375 -%}{{ product_banner_image_pc | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 550 -%}{{ product_banner_image_pc | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 750 -%}{{ product_banner_image_pc | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 1100 -%}{{ product_banner_image_pc | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 1500 -%}{{ product_banner_image_pc | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 1780 -%}{{ product_banner_image_pc | image_url: width: 1780 }} 1780w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 2000 -%}{{ product_banner_image_pc | image_url: width: 2000 }} 2000w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 3000 -%}{{ product_banner_image_pc | image_url: width: 3000 }} 3000w,{%- endif -%}
                {%- if product_banner_image_pc.width >= 3840 -%}{{ product_banner_image_pc | image_url: width: 3840 }} 3840w,{%- endif -%}
                {{ product_banner_image_pc | image_url }} {{ product_banner_image_pc.width }}w
              "
              data-src="{{ product_banner_image_pc | image_url:width:750 }}"
              alt="{{ product_banner_image_pc.alt }}"
            >
          {% endif %}
          {% if product_banner_image_mb %}
            <img
              style="aspect-ratio: {{ product_banner_image_mb.aspect_ratio }}"
              class="mb lazyload"
              data-sizes="100vw"
              data-srcset="
                {%- if product_banner_image_mb.width >= 200 -%}{{ product_banner_image_mb | image_url: width: 200 }} 200w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 375 -%}{{ product_banner_image_mb | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 550 -%}{{ product_banner_image_mb | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 750 -%}{{ product_banner_image_mb | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 1100 -%}{{ product_banner_image_mb | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 1500 -%}{{ product_banner_image_mb | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 1780 -%}{{ product_banner_image_mb | image_url: width: 1780 }} 1780w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 2000 -%}{{ product_banner_image_mb | image_url: width: 2000 }} 2000w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 3000 -%}{{ product_banner_image_mb | image_url: width: 3000 }} 3000w,{%- endif -%}
                {%- if product_banner_image_mb.width >= 3840 -%}{{ product_banner_image_mb | image_url: width: 3840 }} 3840w,{%- endif -%}
                {{ product_banner_image_mb | image_url }} {{ product_banner_image_mb.width }}w
              "
              data-src="{{ product_banner_image_mb | image_url:width:750 }}"
              alt="{{ product_banner_image_mb.alt }}"
            >
          {% endif %}
        </div>
      </div>

      <div class="black-friday-official-promotion-product1-content">
        <div class="black-friday-official-promotion-products-grid">
          <div class="black-friday-official-promotion-products">
            {% for block in section.blocks %}
              {%- liquid
                assign current_product = block.settings.product
                assign variant_index = block.settings.product_variant_location | default: '0' | plus: 0
                assign variant = current_product.variants[variant_index]
                assign product_image_pc = block.settings.product_image_pc | default: current_product.featured_image
                assign product_image_mb = block.settings.product_image_mb | default: current_product.featured_image
                assign title = block.settings.title | default: current_product.title
                assign features = block.settings.features
                assign product_features_label = block.settings.product_features_label
                assign product_price = variant.metafields.custom.activity_sale_price.value | default: variant.price
                assign product_origin_price = variant.metafields.custom.activity_original_price.value | default: variant.compare_at_price
                assign product_diff_price = product_origin_price | minus: product_price
                assign product_tagline = block.settings.tagline
              -%}
              {%- if current_product != blank -%}
                <div class="black-friday-official-promotion-products-card">
                  {% if product_tagline != blank %}
                    <div class="black-friday-official-promotion-product-label">
                      <div class="black-friday-official-promotion-product-label-text">
                        {{- product_tagline -}}
                      </div>
                    </div>
                  {% endif %}
                  {% if product_diff_price != blank
                    and product_diff_price > 0
                    and product_price > 0
                    and product_origin_price > 0
                  %}
                    <div class="black-friday-official-promotion-product-label-discount">
                      <div class="black-friday-official-promotion-product-label-discount-text">
                        <span
                          class="black-friday-official-promotion-product-label-discount-text-value"
                        >
                          {{- product_diff_price | money_without_trailing_zeros -}}
                        </span>
                        <span
                          class="black-friday-official-promotion-product-label-discount-text-unit"
                          >SAVE</span
                        >
                      </div>
                    </div>
                  {% endif %}
                  <a
                    class="black-friday-official-promotion-product-image"
                    href="{{variant.url }}"
                    target="_blank"
                  >
                    {% if product_image_pc %}
                      <img
                        style="aspect-ratio: {{ product_image_pc.aspect_ratio }}"
                        class="pc lazyload"
                        data-sizes="{{100 | divided_by: section.settings.prduct_num}}vw"
                        data-srcset="
                          {%- if product_image_pc.width >= 200 -%}{{ product_image_pc | image_url: width: 200 }} 200w,{%- endif -%}
                          {%- if product_image_pc.width >= 375 -%}{{ product_image_pc | image_url: width: 375 }} 375w,{%- endif -%}
                          {%- if product_image_pc.width >= 550 -%}{{ product_image_pc | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if product_image_pc.width >= 750 -%}{{ product_image_pc | image_url: width: 750 }} 750w,{%- endif -%}
                          {%- if product_image_pc.width >= 1100 -%}{{ product_image_pc | image_url: width: 1100 }} 1100w,{%- endif -%}
                          {%- if product_image_pc.width >= 1500 -%}{{ product_image_pc | image_url: width: 1500 }} 1500w,{%- endif -%}
                          {%- if product_image_pc.width >= 1780 -%}{{ product_image_pc | image_url: width: 1780 }} 1780w,{%- endif -%}
                          {%- if product_image_pc.width >= 2000 -%}{{ product_image_pc | image_url: width: 2000 }} 2000w,{%- endif -%}
                          {%- if product_image_pc.width >= 3000 -%}{{ product_image_pc | image_url: width: 3000 }} 3000w,{%- endif -%}
                          {%- if product_image_pc.width >= 3840 -%}{{ product_image_pc | image_url: width: 3840 }} 3840w,{%- endif -%}
                          {{ product_image_pc | image_url }} {{ product_image_pc.width }}w
                        "
                        data-src="{{ product_image_pc | image_url:width:750 }}"
                        alt="{{ product_image_pc.alt }}"
                      >
                    {% endif %}
                    {% if product_image_mb %}
                      <img
                        style="aspect-ratio: {{ product_image_mb.aspect_ratio }}"
                        class="mb lazyload"
                        data-sizes="{{100 | divided_by: section.settings.prduct_num_mobile}}vw"
                        data-srcset="
                          {%- if product_image_mb.width >= 200 -%}{{ product_image_mb | image_url: width: 200 }} 200w,{%- endif -%}
                          {%- if product_image_mb.width >= 375 -%}{{ product_image_mb | image_url: width: 375 }} 375w,{%- endif -%}
                          {%- if product_image_mb.width >= 550 -%}{{ product_image_mb | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if product_image_mb.width >= 750 -%}{{ product_image_mb | image_url: width: 750 }} 750w,{%- endif -%}
                          {%- if product_image_mb.width >= 1100 -%}{{ product_image_mb | image_url: width: 1100 }} 1100w,{%- endif -%}
                          {%- if product_image_mb.width >= 1500 -%}{{ product_image_mb | image_url: width: 1500 }} 1500w,{%- endif -%}
                          {%- if product_image_mb.width >= 1780 -%}{{ product_image_mb | image_url: width: 1780 }} 1780w,{%- endif -%}
                          {%- if product_image_mb.width >= 2000 -%}{{ product_image_mb | image_url: width: 2000 }} 2000w,{%- endif -%}
                          {%- if product_image_mb.width >= 3000 -%}{{ product_image_mb | image_url: width: 3000 }} 3000w,{%- endif -%}
                          {%- if product_image_mb.width >= 3840 -%}{{ product_image_mb | image_url: width: 3840 }} 3840w,{%- endif -%}
                          {{ product_image_mb | image_url }} {{ product_image_mb.width }}w
                        "
                        data-src="{{ product_image_mb | image_url:width:750 }}"
                        alt="{{ product_image_mb.alt }}"
                      >
                    {% endif %}
                  </a>
                  <div class="black-friday-official-promotion-product-content">
                    {%- if product_features_label != empty -%}
                      <div class="black-friday-official-promotion-product1-features-label">
                        {{ product_features_label }}
                      </div>
                    {%- endif -%}
                    <div class="black-friday-official-promotion-product-name">{{- title -}}</div>
                    {%- if features != empty -%}
                      <div class="black-friday-official-promotion-product-tips">{{- features -}}</div>
                    {% endif %}
                    <div class="black-friday-official-promotion-product-content-bottom">
                      <!-- 秒杀倒计时 模块 -->
                      {%- if section.settings.show_flash_sale_countdown -%}
                        {%- if section.settings.flash_sale_countdown != empty
                          or section.settings.flash_sale_countdown_end != empty
                        -%}
                          <div class="product-flash-sale-countdown">
                            {%- render 'flash-sale-countdown',
                              countdown_style: 1,
                              flash_sale_countdown_date: section.settings.flash_sale_countdown,
                              flash_sale_countdown_end_date: section.settings.flash_sale_countdown_end
                            -%}
                          </div>
                        {%- endif -%}
                      {%- endif -%}
                      <div class="black-friday-official-promotion-product-price">
                        {% if product_price != blank and product_price > 0 %}
                          <div class="black-friday-official-promotion-product-sale-price">
                            {{ product_price | money_without_trailing_zeros }}
                          </div>
                        {% endif %}
                        {% if product_origin_price != blank
                          and product_origin_price > 0
                          and product_origin_price > product_price
                        %}
                          <div class="black-friday-official-promotion-product-original-price">
                            {{ product_origin_price | money_without_trailing_zeros }}
                          </div>
                        {% endif %}
                      </div>
                      {%- if section.settings.show_klarna -%}
                        <div class="mascot-activities-product-info-klarna">
                          {% assign klarna_id = 'shopify-block-AbFBFd0QvcXlzYkYva__klarna_on_site_messaging_app_block_gcU6LY' %}
                          <!-- DO NOT DELETE -->
                          <div class="klarna-osm-wrapper">
                            <klarna-placement
                              id="{{ klarna_id }}"
                              data-key="credit-promotion-auto-size"
                              data-theme="light"
                              data-message-prefix=""
                              data-integration-style="app-blocks"
                              data-locale="en-US"
                              {% if variant %}
                                data-purchase-amount="{{ variant.price }}"
                              {% endif %}
                              data-preloaded="true"
                            >
                            </klarna-placement>
                          </div>
                        </div>
                      {% endif %}
                      <div class="black-friday-official-promotion-product-button-wrapper">
                        <product-card>
                          <div
                            class="black-friday-official-promotion-product-button-add-to-cart product-btn external-add-to-cart-button product-card--add-to-cart-button product-card--add-to-cart-button-simple button accent"
                            data-product-id="{{ variant.id }}"
                            tabindex="-1"
                            {% if variant.available == false %}
                              disabled
                            {% endif %}
                          >
                            {% render 'svg-icons' with 'thb-loading' %}
                            <span class="product-card--add-to-cart-text">
                              {%- if variant.available -%}
                                {%- if section.settings.buy_now_button_text != empty -%}
                                  {{ section.settings.buy_now_button_text }}
                                {%- else -%}
                                  {%- if product_diff_price > 0 -%}
                                    Save
                                    {{ product_diff_price | money_without_trailing_zeros -}}
                                  {%- else -%}
                                    Buy Now
                                  {%- endif -%}
                                {%- endif -%}
                              {%- else -%}
                                {{- 'products.product.sold_out' | t -}}
                              {%- endif -%}
                            </span>
                          </div>
                        </product-card>
                        <div
                          class="black-friday-official-promotion-product-button-view-more"
                          onclick="window.open('{{variant.url }}','_blank');"
                        >
                          {{ section.settings.learn_more_button_text }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
        <div
          class="swiper-container  black-friday-official-promotion-products-swiper-container-{{ section.id }}"
        >
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {%- liquid
                assign current_product = block.settings.product
                assign variant_index = block.settings.product_variant_location | default: '0' | plus: 0
                assign variant = current_product.variants[variant_index]
                assign product_image_pc = block.settings.product_image_pc | default: current_product.featured_image
                assign product_image_mb = block.settings.product_image_mb | default: current_product.featured_image
                assign title = block.settings.title | default: current_product.title
                assign features = block.settings.features
                assign product_features_label = block.settings.product_features_label
                assign product_price = variant.metafields.custom.activity_sale_price.value | default: variant.price
                assign product_origin_price = variant.metafields.custom.activity_original_price.value | default: variant.compare_at_price
                assign product_diff_price = product_origin_price | minus: product_price
                assign product_tagline = block.settings.tagline
              -%}
              {%- if current_product != blank -%}
                <div
                  class="swiper-slide"
                >
                  <div class="black-friday-official-promotion-products">
                    <div class="black-friday-official-promotion-products-card">
                      {% if product_tagline != blank %}
                        <div class="black-friday-official-promotion-product-label">
                          <div class="black-friday-official-promotion-product-label-text">
                            {{- product_tagline -}}
                          </div>
                        </div>
                      {% endif %}
                      {% if product_diff_price != blank
                        and product_diff_price > 0
                        and product_price > 0
                        and product_origin_price > 0
                      %}
                        <div class="black-friday-official-promotion-product-label-discount">
                          <div class="black-friday-official-promotion-product-label-discount-text">
                            <span
                              class="black-friday-official-promotion-product-label-discount-text-value"
                            >
                              {{- product_diff_price | money_without_trailing_zeros -}}
                            </span>
                            <span
                              class="black-friday-official-promotion-product-label-discount-text-unit"
                              >SAVE</span
                            >
                          </div>
                        </div>
                      {% endif %}
                      <a
                        class="black-friday-official-promotion-product-image"
                        href="{{variant.url }}"
                        target="_blank"
                      >
                        {% if product_image_pc %}
                          <img
                            style="aspect-ratio: {{ product_image_pc.aspect_ratio }}"
                            class="pc lazyload"
                            data-sizes="{{100 | divided_by: section.settings.prduct_num}}vw"
                            data-srcset="
                              {%- if product_image_pc.width >= 200 -%}{{ product_image_pc | image_url: width: 200 }} 200w,{%- endif -%}
                              {%- if product_image_pc.width >= 375 -%}{{ product_image_pc | image_url: width: 375 }} 375w,{%- endif -%}
                              {%- if product_image_pc.width >= 550 -%}{{ product_image_pc | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if product_image_pc.width >= 750 -%}{{ product_image_pc | image_url: width: 750 }} 750w,{%- endif -%}
                              {%- if product_image_pc.width >= 1100 -%}{{ product_image_pc | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if product_image_pc.width >= 1500 -%}{{ product_image_pc | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if product_image_pc.width >= 1780 -%}{{ product_image_pc | image_url: width: 1780 }} 1780w,{%- endif -%}
                              {%- if product_image_pc.width >= 2000 -%}{{ product_image_pc | image_url: width: 2000 }} 2000w,{%- endif -%}
                              {%- if product_image_pc.width >= 3000 -%}{{ product_image_pc | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {%- if product_image_pc.width >= 3840 -%}{{ product_image_pc | image_url: width: 3840 }} 3840w,{%- endif -%}
                              {{ product_image_pc | image_url }} {{ product_image_pc.width }}w
                            "
                            data-src="{{ product_image_pc | image_url:width:750 }}"
                            alt="{{ product_image_pc.alt }}"
                          >
                        {% endif %}
                        {% if product_image_mb %}
                          <img
                            style="aspect-ratio: {{ product_image_mb.aspect_ratio }}"
                            class="mb lazyload"
                            data-sizes="{{100 | divided_by: section.settings.prduct_num_mobile}}vw"
                            data-srcset="
                              {%- if product_image_mb.width >= 200 -%}{{ product_image_mb | image_url: width: 200 }} 200w,{%- endif -%}
                              {%- if product_image_mb.width >= 375 -%}{{ product_image_mb | image_url: width: 375 }} 375w,{%- endif -%}
                              {%- if product_image_mb.width >= 550 -%}{{ product_image_mb | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if product_image_mb.width >= 750 -%}{{ product_image_mb | image_url: width: 750 }} 750w,{%- endif -%}
                              {%- if product_image_mb.width >= 1100 -%}{{ product_image_mb | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if product_image_mb.width >= 1500 -%}{{ product_image_mb | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if product_image_mb.width >= 1780 -%}{{ product_image_mb | image_url: width: 1780 }} 1780w,{%- endif -%}
                              {%- if product_image_mb.width >= 2000 -%}{{ product_image_mb | image_url: width: 2000 }} 2000w,{%- endif -%}
                              {%- if product_image_mb.width >= 3000 -%}{{ product_image_mb | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {%- if product_image_mb.width >= 3840 -%}{{ product_image_mb | image_url: width: 3840 }} 3840w,{%- endif -%}
                              {{ product_image_mb | image_url }} {{ product_image_mb.width }}w
                            "
                            data-src="{{ product_image_mb | image_url:width:750 }}"
                            alt="{{ product_image_mb.alt }}"
                          >
                        {% endif %}
                      </a>
                      <div class="black-friday-official-promotion-product-content">
                        {%- if product_features_label != empty -%}
                          <div class="black-friday-official-promotion-product1-features-label">
                            {{ product_features_label }}
                          </div>
                        {%- endif -%}
                        <div class="black-friday-official-promotion-product-name">{{- title -}}</div>
                        {%- if features != empty -%}
                          <div class="black-friday-official-promotion-product-tips">{{- features -}}</div>
                        {% endif %}
                        <div class="black-friday-official-promotion-product-content-bottom">
                          <!-- 秒杀倒计时 模块 -->
                          {%- if section.settings.show_flash_sale_countdown -%}
                            {%- if section.settings.flash_sale_countdown != empty
                              or section.settings.flash_sale_countdown_end != empty
                            -%}
                              <div class="product-flash-sale-countdown">
                                {%- render 'flash-sale-countdown',
                                  countdown_style: 1,
                                  flash_sale_countdown_date: section.settings.flash_sale_countdown,
                                  flash_sale_countdown_end_date: section.settings.flash_sale_countdown_end
                                -%}
                              </div>
                            {%- endif -%}
                          {%- endif -%}
                          <div class="black-friday-official-promotion-product-price">
                            {% if product_price != blank and product_price > 0 %}
                              <div class="black-friday-official-promotion-product-sale-price">
                                {{ product_price | money_without_trailing_zeros }}
                              </div>
                            {% endif %}
                            {% if product_origin_price != blank
                              and product_origin_price > 0
                              and product_origin_price > product_price
                            %}
                              <div class="black-friday-official-promotion-product-original-price">
                                {{ product_origin_price | money_without_trailing_zeros }}
                              </div>
                            {% endif %}
                          </div>
                          {%- if section.settings.show_klarna -%}
                            <div class="mascot-activities-product-info-klarna">
                              {% assign klarna_id = 'shopify-block-AbFBFd0QvcXlzYkYva__klarna_on_site_messaging_app_block_gcU6LY' %}
                              <!-- DO NOT DELETE -->
                              <div class="klarna-osm-wrapper">
                                <klarna-placement
                                  id="{{ klarna_id }}"
                                  data-key="credit-promotion-auto-size"
                                  data-theme="light"
                                  data-message-prefix=""
                                  data-integration-style="app-blocks"
                                  data-locale="en-US"
                                  {% if variant %}
                                    data-purchase-amount="{{ variant.price }}"
                                  {% endif %}
                                  data-preloaded="true"
                                >
                                </klarna-placement>
                              </div>
                            </div>
                          {% endif %}
                          <div class="black-friday-official-promotion-product-button-wrapper">
                            <product-card>
                              <div
                                class="black-friday-official-promotion-product-button-add-to-cart product-btn external-add-to-cart-button product-card--add-to-cart-button product-card--add-to-cart-button-simple button accent"
                                data-product-id="{{ variant.id }}"
                                tabindex="-1"
                                {% if variant.available == false %}
                                  disabled
                                {% endif %}
                              >
                                {% render 'svg-icons' with 'thb-loading' %}
                                <span class="product-card--add-to-cart-text">
                                  {%- if variant.available -%}
                                    {%- if section.settings.buy_now_button_text != empty -%}
                                      {{ section.settings.buy_now_button_text }}
                                    {%- else -%}
                                      {%- if product_diff_price > 0 -%}
                                        Save
                                        {{ product_diff_price | money_without_trailing_zeros -}}
                                      {%- else -%}
                                        Buy Now
                                      {%- endif -%}
                                    {%- endif -%}
                                  {%- else -%}
                                    {{- 'products.product.sold_out' | t -}}
                                  {%- endif -%}
                                </span>
                              </div>
                            </product-card>
                            <div
                              class="black-friday-official-promotion-product-button-view-more"
                              onclick="window.open('{{variant.url }}','_blank');"
                            >
                              {{ section.settings.learn_more_button_text }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>

          <div class="swiper-scrollbar swiper-scrollbar-{{ section.id }}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- black friday Official Promotion product1  end -->
<script>
  // 修复每个slide高度保持一致
  new Swiper('.black-friday-official-promotion-products-swiper-container-{{ section.id }}', {
    slidesPerView: {{ section.settings.product_num_mobile_swiper }},
    loopedSlides: 10,
    spaceBetween: 20,
    observer: true,
    observeParents: true,
    scrollbar: {
      el: `.swiper-scrollbar-{{ section.id }}`,
      hide: false,
    },
    breakpoints: {
      1024: {
        slidesPerView: {{ section.settings.product_num_mobile_swiper }},
        spaceBetween: 10,
      },
      768: {
        slidesPerView:{{ section.settings.product_num_mobile_swiper }},
        spaceBetween: 10,
      },
    },
    on: {
      imagesReady: function () {
        setEqualSlideHeights();
      },
      resize: function () {
        setEqualSlideHeights();
      },
    },
  });

  function setEqualSlideHeights() {
    const container = document.querySelector(
      '.black-friday-official-promotion-products-swiper-container-{{ section.id }}'
    );
    if (!container) return;
    const slides = container.querySelectorAll('.swiper-slide');
    let maxHeight = 0;
    slides.forEach((slide) => {
      slide.style.height = 'auto'; // reset
      const rect = slide.getBoundingClientRect();
      if (rect.height > maxHeight) maxHeight = rect.height;
    });
    slides.forEach((slide) => {
      slide.style.height = maxHeight + 'px';
    });
  }

  // 若图片懒加载，确保图片加载完后高度再调整
  document.addEventListener('DOMContentLoaded', function () {
    setTimeout(setEqualSlideHeights, 600);
    window.addEventListener('load', setEqualSlideHeights);
  });
</script>

<script>
  function formatUtcTime(v) {
    let date = new Date(v);
    return (
      date.getFullYear() +
      '/' +
      (date.getMonth() + 1) +
      '/' +
      (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) +
      ' ' +
      (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) +
      ':' +
      (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) +
      ':' +
      (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
    );
  }
  $(function () {
    if ($('.black-friday-official-promotion-product1-{{ section.id }}  [data-countdown]')) {
      $('.black-friday-official-promotion-product1-{{ section.id }}  [data-countdown]').each(function () {
        const UTCDate = $(this).data('countdown'); // 活动开始倒计时
        const UTCDate_end = $(this).data('countdown-end'); // 活动截止倒计时
        console.log('UTCDate-活动开始倒计时：', UTCDate);
        console.log('UTCDate_end-活动截止倒计时：', UTCDate_end);
        const finalDate = formatUtcTime(UTCDate);
        const finalDate_end = formatUtcTime(UTCDate_end);
        const finalDate1 = finalDate;
        const finalDate2 = finalDate_end ? finalDate_end : null;
        const timestamp = new Date(finalDate1).getTime();
        const timestamp_end = finalDate2 ? new Date(finalDate2).getTime() : null;
        const currentTimestamp = new Date().getTime();
        console.log('活动开始本地时间==', finalDate);
          console.log('活动截止本地时间==', finalDate_end);
        let format;
        const style = $(this).data('countdown-style');
        console.log('活动截止本地时间==', finalDate_end);
        if (timestamp > currentTimestamp){
            $(this)
            .parents('.product-flash-sale-countdown')
            .siblings('.mascot-activities-product-info-button')
            .children('product-card')
            .find('.product-card--add-to-cart-text')
            .text('Coming Soon');
            $(this)
            .parents('.product-flash-sale-countdown')
            .siblings('.mascot-activities-product-info-button')
            .children('product-card')
            .find('.mascot-activities-product-info-button-buy-now')
            .css({'visibility':'visible','background':'#FECF67','cursor':'not-allowed','pointer-events':'none','color':'#000'});
            return;
        }
        $(this)
            .parents('.product-flash-sale-countdown')
            .siblings('.mascot-activities-product-info-button')
            .children('product-card')
            .find('.mascot-activities-product-info-button-buy-now')
            .css({'visibility':'visible'});
        $(this)
          .countdown(finalDate2)
          .on('update.countdown', function (event) {
            if (style == 1) {
              format = '<span>%D</span>:<span>%H</span>:<span>%M</span>:<span>%S</span>';
            } else if (style == 2) {
              {% comment %} format = '<span>%D<span>Days</span></span>:<span>%H<span>Hrs</span></span>:<span>%M<span>Mins</span></span>:<span>%S<span>Secs</span></span>'; {% endcomment %}
              format = '<div class="time-block">' +
                        '<div class="time-value">%D</div>' +
                        '<div class="time-label">Days</div>' +
                      '</div>' +
                      '<div class="time-block">' +
                        '<div class="time-value">%H</div>' +
                        '<div class="time-label">Hrs</div>' +
                      '</div>' +
                      '<div class="time-block">' +
                        '<div class="time-value">%M</div>' +
                        '<div class="time-label">Mins</div>' +
                      '</div>' +
                      '<div class="time-block">' +
                        '<div class="time-value">%S</div>' +
                        '<div class="time-label">Secs</div>' +
                      '</div>';
            }
            $(this).html(event.strftime(format));
          })
          .on('finish.countdown', function (event) {
            {% comment %} $(this)
            .parents('.super-early-bird-countdown-date').css('display', 'none') {% endcomment %}
          });
      });
    }
  });
</script>

{% schema %}
{
  "name": "black friday products 4",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "nav_id",
      "label": "模块锚点ID",
      "default": "star-products",
      "info": "模块锚点ID，用于在页面中定位，例如：锚点定位，锚点跳转，锚点高亮等，方便用户快速定位到该模块。(锚点ID必须为英文字母,全局唯一)"
    },
    {
      "type": "html",
      "id": "title",
      "label": "大标题",
      "default": "<div>Black Friday Mega Deals!</div>"
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "小标题",
      "default": "<div>November 24th - November 30th</div>"
    },
    {
      "type": "html",
      "id": "desc",
      "label": "描述",
      "default": "<div>The Sale You've Waited For! <span>Save Up To $500.</span><br>Shop Now Before It's Gone!</div>"
    },
    {
      "type": "image_picker",
      "id": "product_banner_image_pc",
      "label": "横幅主图（PC端）"
    },
    {
      "type": "image_picker",
      "id": "product_banner_image_mb",
      "label": "横幅主图(移动端)"
    },
    {
      "type": "checkbox",
      "id": "show_swiper_mb",
      "label": "开启移动端轮播",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_klarna",
      "label": "显示klarna横幅",
      "default": false
    },
    {
      "type": "text",
      "id": "learn_more_button_text",
      "label": "查看更多按钮文案配置",
      "default": "View More"
    },
    {
      "type": "text",
      "id": "buy_now_button_text",
      "label": "购买按钮文案配置",
      "default": "Buy Now"
    },
    {
      "type": "checkbox",
      "id": "show_flash_sale_countdown",
      "label": "显示秒杀倒计时",
      "default": true
    },
    {
      "type": "text",
      "id": "flash_sale_countdown",
      "label": "活动开始时间",
      "info": "活动开始时间，格式为：2024-10-10T15:00:00+08:00",
      "default": "2025-11-01T15:00:00+08:00"
    },
    {
      "type": "text",
      "id": "flash_sale_countdown_end",
      "label": "活动截止时间",
      "info": "活动截止时间，格式为：2024-10-24T15:00:00+08:00",
      "default": "2025-12-01T15:00:00+08:00"
    },

    {
      "type": "radio",
      "id": "product_num",
      "label": "每行展示产品个数(PC端默认4个)",
      "options": [
        {
          "value": "1",
          "label": "1个"
        },
        {
          "value": "2",
          "label": "2个"
        },
        {
          "value": "3",
          "label": "3个"
        },
        {
          "value": "4",
          "label": "4个"
        },
        {
          "value": "5",
          "label": "5个"
        },
        {
          "value": "6",
          "label": "6个"
        }
      ],
      "default": "3"
    },
    {
      "type": "radio",
      "id": "product_num_mobile",
      "label": "每行展示产品个数(移动端默认2个)",
      "options": [
        {
          "value": "1",
          "label": "1个"
        },
        {
          "value": "2",
          "label": "2个"
        },
        {
          "value": "3",
          "label": "3个"
        },
        {
          "value": "4",
          "label": "4个"
        }
      ],
      "default": "2"
    },
    {
      "type": "radio",
      "id": "product_num_mobile_swiper",
      "label": "每行展示产品个数(移动端轮播)",
      "info": "移动端轮播时每行展示产品个数,需开启移动端轮播功能",
      "options": [
        {
          "value": "1",
          "label": "1个"
        },
        {
          "value": "1.1",
          "label": "1.1个"
        },
        {
          "value": "1.2",
          "label": "1.2个"
        },
        {
          "value": "2",
          "label": "2个"
        },
        {
          "value": "2.1",
          "label": "2.1个"
        },
        {
          "value": "2.2",
          "label": "2.2个"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "product_title_font_size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "产品标题字体大小",
      "default": 24
    },
    {
      "type": "range",
      "id": "product_title_font_size_mb",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "产品标题字体大小(移动端)",
      "default": 12
    },
    {
      "type": "color",
      "id": "product_title_color",
      "label": "产品标题字体颜色",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景色",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "card_bg_color",
      "label": "卡片容器背景色",
      "default": "#171717"
    },
    {
      "type": "color_background",
      "id": "card_background_gradient_color",
      "label": "卡片容器渐变背景色"
    },
    {
      "type": "range",
      "id": "card_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片间隔",
      "default": 20
    },
    {
      "type": "range",
      "id": "card_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片间隔（移动端）",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "顶部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "底部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "顶部填充(移动端)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "底部填充(移动端)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "产品",
          "info": "备注： 产品原价字段配置：当前产品对应的变体元字段activity original price；产品售价字段配置：当前产品对应的变体元字段activity sale price；"
        },
        {
          "type": "radio",
          "id": "product_variant_location",
          "label": "产品变体",
          "options": [
            {
              "value": "0",
              "label": "第一个变体"
            },
            {
              "value": "1",
              "label": "第二个变体"
            },
            {
              "value": "2",
              "label": "第三个变体"
            },
            {
              "value": "3",
              "label": "第四个变体"
            },
            {
              "value": "4",
              "label": "第五个变体"
            }
          ],
          "default": "0",
          "info": "查看对应产品后台，选择对应的变体所在位置，从上到下依次排序"
        },
        {
          "type": "text",
          "id": "title",
          "label": "产品标题",
          "info": "默认产品标题"
        },
        {
          "type": "html",
          "id": "features",
          "label": "产品特色文案"
        },
        {
          "type": "html",
          "id": "tagline",
          "label": "自定义标签",
          "default": "<div>Black Friday <span>Exclusive</span></div>"
        },
        {
          "type": "html",
          "id": "product_features_label",
          "label": "产品特色标签",
          "default": "Free Jigs"
        },
        {
          "type": "image_picker",
          "id": "product_image_pc",
          "label": "产品主图（PC端）"
        },
        {
          "type": "image_picker",
          "id": "product_image_mb",
          "label": "产品主图(移动端)"
        }
      ]
    }
  ],
  "max_blocks": 50,
  "presets": [
    {
      "name": "black friday products 4",
      "blocks": []
    }
  ]
}
{% endschema %}
