<style>
    .custom-support-resources-tech{
      background: #fff;
    }
    .online-container-{{ section.id }} {
      max-width: 1248px;
      margin: 100px auto 100px;
      text-align: center;
      padding: 0 24px;
    }
    .online-container-{{ section.id }} .online-title{
      max-width: 960px;
      margin: 0 auto;
    }
    .online-container-{{ section.id }} .online-title h3.title {
      color: #000;
      font-size: 40px;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 14px;
    }

    .online-container-{{ section.id }} .info-spec-item {
      display: flex;
      align-items: center;
    }

    .online-container-{{ section.id }} .info-spec-item svg {
      width: 30px;
      height: 30px;
    }

    .online-container-{{ section.id }} .online-title div.spec p {
      color: #000;
      font-size: 18px;
      line-height: 1.38;
      margin: 0;
    }

    .online-container-{{ section.id }} .online-title div.spec p span {
      font-weight: bold;
      color: #000;
    }

    .online-container-{{ section.id }} .s-time-table {
      margin: 40px 0;
    }

    .online-container-{{ section.id }} .time-table {
      width: 100%;
      font-size: 18px;
      color: #000;
      border: none;
      background-color: #F9F9F9;
      text-align: center;
      margin: 0;
      border-radius: 20px;
      border-collapse: collapse;
    }

  /* 移除最外层边框 */
  .online-container-{{ section.id }} .time-table tr:first-child th,
  .online-container-{{ section.id }} .time-table tr:first-child td {
    border-top: none;
  }

  .online-container-{{ section.id }} .time-table tr:last-child td {
    border-bottom: none;
  }

  .online-container-{{ section.id }} .time-table td:first-child,
  .online-container-{{ section.id }} .time-table th:first-child {
    border-left: none;
  }

  .online-container-{{ section.id }} .time-table td:last-child,
  .online-container-{{ section.id }} .time-table th:last-child {
    border-right: none;
  }
    .online-container-{{ section.id }} .time-table tr td {
      padding: 26px 0;
      line-height: 1.33;
      border-color: rgba(153, 153, 153, 0.10);
    }

    .online-container-{{ section.id }} .time-table .bg0 {
      background-color: #000;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
    }

    .online-container-{{ section.id }} .time-table .fw {
      font-weight: 700;
      font-size: 20px;
    }

    .online-container-{{ section.id }} .time-table tr:first-child td {
      padding: 26px 0;
      border: none;
    }

    .online-container-{{ section.id }} .time-table tr:first-child td:last-child {
      border-top-right-radius: 20px;
    }

    .online-container-{{ section.id }} .time-table.t-pc tr td:first-child,
    .online-container-{{ section.id }} .time-table.t-mb tr:first-child {
      background-color: #000;
      color: #fff;
    }

    .online-container-{{ section.id }} .s-info {
      display: flex;
      gap: 20px;
    }

    .online-container-{{ section.id }} .s-info .info-item {
      border-radius: 20px;
      background-color: #F9F9F9;
      width: 50%;
      text-align: left;
      margin: 0;
      padding: 40px 50px;
    }

    .online-container-{{ section.id }} .info-spec-item {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 8px;
    }

    .online-container-{{ section.id }} .s-info .info-item p {
      margin: 0;
      line-height: 1.38;
      color: #000;
      font-size: 18px;
    }

    .online-container-{{ section.id }} .s-info .info-item p.info-t {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.33;
      margin-bottom: 20px;
    }

    .online-container-{{ section.id }} .info-spec p span {
      color: #000;

    }

    @media only screen and (max-width: 768px) {
      .online-container-{{ section.id }}  {
        margin: 50px auto 60px;
        padding: 0 24px;
      }

      .online-container-{{ section.id }} .online-title h3.title {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 700;
        line-height: 1.33;
        text-align: left;
      }

      .online-container-{{ section.id }} .online-title div.spec p {
        font-size: 14px;
        text-align: left;
      }

      .online-container-{{ section.id }} .s-info {
        flex-direction: column;
      }

      .online-container-{{ section.id }} .s-info .info-item {
        width: 100%;
        margin: 0;
        padding: 20px;
        font-size: 14px;
        border-radius: 10px;
      }

      .online-container-{{ section.id }} .time-table {
        font-size: 14px;
        border-radius: 10px;
      }

      .online-container-{{ section.id }} .s-time-table {
        margin: 20px 0;
      }

      .online-container-{{ section.id }} .time-table tr td:first-child {
        text-align: left;
      }

      .online-container-{{ section.id }} .time-table tr td {
        padding: 13px 21px;
        text-align: center;
        border: 1px solid #fff;
      }

      .online-container-{{ section.id }} .time-table tr:first-child td {
        padding: 6px 17px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #fff;
      }
      .online-container-{{ section.id }} .time-table .fw {
        font-weight: 700;
        font-size: 14px;
    }
    .online-container-{{ section.id }} .time-table tr:first-child td:last-child {
      border-top-right-radius: 10px;
  }
      .online-container-{{ section.id }} .s-info .info-item p.info-t {
        font-size: 18px;
        margin-bottom: 18px;
      }

      .online-container-{{ section.id }} .s-info .info-item p {
        font-size: 14px;
      }


      .online-container-{{ section.id }} .info-spec-item {
        gap: 7px;
      }
      .online-container-{{ section.id }} .info-spec-item:last-child {
        margin-bottom: 0;
      }
      .online-container-{{ section.id }} .info-spec-item svg {
        width: 22px;
        height: 22px;
      }
    }
</style>
<div class="s-online online-container-{{ section.id }}">
  <div class="online-title">
    <h3 class="title">Procolored Online Tech Support</h3>
    <div class="spec">
      <p>Procolored tech staff usually use <a target="_blank" rel="noopener noreferrer" href="https://procolored.udeskglobal.com/im_client/?web_plugin_id=4450&amp;language=en-us"><u>UdeskTalk</u></a> to communicate with customers and troubleshoot printer issues.</p>
      <p>
        If you need our tech staff to remotely connect to your computer, please
        <span>install Team Viewer and share the ID and Password to our tech staff.</span>
      </p>
    </div>
  </div>
  <div class="s-time-table">
    <table class="time-table">
      <tbody>
        <tr>
          <td></td>
          <td class="bg0">US Tech Support</td>
          <td class="bg0">China Tech Support</td>
        </tr>
        <tr>
          <td class="fw">Timezone</td>
          <td>Pacific Standard Time(PST)</td>
          <td>Pacific Standard Time(PST)</td>
        </tr>
        <tr>
          <td class="fw">Working Hours</td>
          <td>9:00 AM-5:00 PM</td>
          <td>6:00 PM-4:00 AM</td>
        </tr>
        <tr>
          <td class="fw">Working Days</td>
          <td>Monday to Friday</td>
          <td>Monday to Friday</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="s-info">
    <div class="info-item">
      <p class="info-t">US support contact information</p>
      <div class="info-spec">
        <div class="info-spec-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" stroke="#CCCCCC" stroke-width="0.4" stroke-miterlimit="10"/>
            <path d="M18 12.3516C18.5616 12.4097 19.6963 12.8279 19.7427 14.0362" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/>
            <path d="M18.293 10C19.6407 10.1362 22.0659 11.309 22.1775 14.1422" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/>
            <path d="M14.1097 14.1223L14.64 14.6527L14.1097 14.1223L14.1089 14.1231C14.1089 14.1232 14.1088 14.1232 14.1088 14.1232C13.8155 14.4165 13.7374 14.8001 13.7354 15.1068C13.7334 15.4222 13.8087 15.7529 13.9264 16.0702C14.1633 16.7085 14.617 17.4132 15.2563 18.0525C15.8957 18.692 16.6006 19.1456 17.239 19.3823C17.5563 19.5 17.8869 19.5752 18.2022 19.5732C18.5086 19.5713 18.8924 19.4934 19.1857 19.2001L19.9022 18.4835C19.9023 18.4834 19.9024 18.4833 19.9025 18.4833C19.9522 18.4338 20.0196 18.406 20.0898 18.406C20.1599 18.406 20.2273 18.4338 20.277 18.4833C20.2771 18.4833 20.2772 18.4834 20.2773 18.4835L23.4316 21.6379C23.4317 21.638 23.4318 21.6381 23.4319 21.6382C23.4813 21.6879 23.5091 21.7552 23.5091 21.8254C23.5091 21.8957 23.4812 21.9631 23.4316 22.0128L22.715 22.7294C22.3187 23.1257 21.7832 23.3861 21.0801 23.4752C20.9019 23.4974 20.7226 23.5084 20.5431 23.5081H20.5419C20.0106 23.5081 19.4189 23.4182 18.7729 23.2282L18.7728 23.2282C17.0122 22.7108 15.113 21.525 13.4481 19.8606C11.7834 18.1965 10.5982 16.2969 10.0807 14.5357L10.0806 14.5354C9.82332 13.6611 9.75025 12.8882 9.83358 12.2296L9.83359 12.2295C9.92258 11.5261 10.183 10.9903 10.5795 10.5939L11.296 9.87732C11.2961 9.87725 11.2962 9.87719 11.2962 9.87712C11.346 9.82761 11.4133 9.7998 11.4835 9.7998C11.5536 9.7998 11.621 9.82759 11.6707 9.87709C11.6708 9.87716 11.6708 9.87724 11.6709 9.87731L14.8254 13.0316C14.8254 13.0317 14.8255 13.0318 14.8256 13.0318C14.8751 13.0816 14.9029 13.1489 14.9029 13.2191C14.9029 13.2894 14.8751 13.3568 14.8255 13.4065C14.8255 13.4066 14.8254 13.4066 14.8254 13.4067L14.1097 14.1223ZM9.08957 12.1354L9.08969 12.1354L9.08957 12.1354Z" stroke="black" stroke-width="1.5"/>
          </svg>
          <p>Tel: <span>+1 6463622251</span></p>
        </div>
        <div class="info-spec-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" stroke="#CCCCCC" stroke-width="0.4" stroke-miterlimit="10"/>
            <rect x="9.75" y="10.75" width="13.8883" height="11.8365" rx="1.25" stroke="black" stroke-width="1.5"/>
            <path d="M9.51172 12.5657L15.8375 16.6322C16.354 16.9643 17.0208 16.948 17.5205 16.5911L23.8741 12.0527" stroke="black" stroke-width="1.5"/>
          </svg>
          <p>Email: <span>afterservice.us1@procolored.com</span></p>
        </div>
        <div class="info-spec-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M16.5 7.75C20.7802 7.75 24.25 11.2198 24.25 15.5C24.25 19.7802 20.7802 23.25 16.5 23.25C15.108 23.25 13.8036 22.8834 12.6758 22.2422L12.4531 22.1104L12.3018 22.0312C11.9413 21.8721 11.5395 21.8859 11.2695 21.9092C10.9239 21.939 10.5353 22.0157 10.2168 22.0742C9.87007 22.1379 9.59535 22.1826 9.38379 22.1865C9.38223 22.1866 9.38044 22.1855 9.37891 22.1855L9.37988 22.1836C9.401 21.9676 9.46417 21.6901 9.54883 21.3486C9.62711 21.0329 9.72558 20.6544 9.77734 20.3193C9.80369 20.1488 9.82276 19.9613 9.81641 19.7773C9.81177 19.6441 9.79317 19.4813 9.73438 19.3154L9.66113 19.1494C9.07988 18.0627 8.75 16.821 8.75 15.5C8.75 11.2198 12.2198 7.75 16.5 7.75Z" stroke="black" stroke-width="1.5"/>
            <path d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" stroke="#CCCCCC" stroke-width="0.4" stroke-miterlimit="10"/>
            <path d="M14 17C14.7692 17.7546 16.8462 18.8111 19 17" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
          <p>WhatsApp: <span>+15625660518</span></p>
        </div>
        <div class="info-spec-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
            <g clip-path="url(#clip0_55_160)">
              <path d="M14.9312 29.7258C23.102 29.7258 29.7258 23.102 29.7258 14.9312C29.7258 6.76045 23.102 0.136719 14.9312 0.136719C6.76045 0.136719 0.136719 6.76045 0.136719 14.9312C0.136719 23.102 6.76045 29.7258 14.9312 29.7258Z" stroke="#CCCCCC" stroke-width="0.4" stroke-miterlimit="10"/>
              <path d="M21.8125 13.8C21.8125 17.5238 15.475 24 14.9875 24C14.5 24 8 17.5238 8 13.8C8 10.0762 11.0875 7 14.9875 7C18.8875 7 21.8125 9.91429 21.8125 13.8Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10"/>
              <path d="M14.9062 15.5C15.7865 15.5 16.5 14.7865 16.5 13.9062C16.5 13.026 15.7865 12.3125 14.9062 12.3125C14.026 12.3125 13.3125 13.026 13.3125 13.9062C13.3125 14.7865 14.026 15.5 14.9062 15.5Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0_55_160">
                <rect width="30" height="30" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <p>Address: <span>Diamond Bar,CA,USA</span></p>
        </div>
      </div>
    </div>
    <div class="info-item">
      <p class="info-t">China support contact information</p>
      <div class="info-spec">
        <div class="info-spec-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" stroke="#CCCCCC" stroke-width="0.4" stroke-miterlimit="10"/>
            <path d="M18 12.3516C18.5616 12.4097 19.6963 12.8279 19.7427 14.0362" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/>
            <path d="M18.293 10C19.6407 10.1362 22.0659 11.309 22.1775 14.1422" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/>
            <path d="M14.1097 14.1223L14.64 14.6527L14.1097 14.1223L14.1089 14.1231C14.1089 14.1232 14.1088 14.1232 14.1088 14.1232C13.8155 14.4165 13.7374 14.8001 13.7354 15.1068C13.7334 15.4222 13.8087 15.7529 13.9264 16.0702C14.1633 16.7085 14.617 17.4132 15.2563 18.0525C15.8957 18.692 16.6006 19.1456 17.239 19.3823C17.5563 19.5 17.8869 19.5752 18.2022 19.5732C18.5086 19.5713 18.8924 19.4934 19.1857 19.2001L19.9022 18.4835C19.9023 18.4834 19.9024 18.4833 19.9025 18.4833C19.9522 18.4338 20.0196 18.406 20.0898 18.406C20.1599 18.406 20.2273 18.4338 20.277 18.4833C20.2771 18.4833 20.2772 18.4834 20.2773 18.4835L23.4316 21.6379C23.4317 21.638 23.4318 21.6381 23.4319 21.6382C23.4813 21.6879 23.5091 21.7552 23.5091 21.8254C23.5091 21.8957 23.4812 21.9631 23.4316 22.0128L22.715 22.7294C22.3187 23.1257 21.7832 23.3861 21.0801 23.4752C20.9019 23.4974 20.7226 23.5084 20.5431 23.5081H20.5419C20.0106 23.5081 19.4189 23.4182 18.7729 23.2282L18.7728 23.2282C17.0122 22.7108 15.113 21.525 13.4481 19.8606C11.7834 18.1965 10.5982 16.2969 10.0807 14.5357L10.0806 14.5354C9.82332 13.6611 9.75025 12.8882 9.83358 12.2296L9.83359 12.2295C9.92258 11.5261 10.183 10.9903 10.5795 10.5939L11.296 9.87732C11.2961 9.87725 11.2962 9.87719 11.2962 9.87712C11.346 9.82761 11.4133 9.7998 11.4835 9.7998C11.5536 9.7998 11.621 9.82759 11.6707 9.87709C11.6708 9.87716 11.6708 9.87724 11.6709 9.87731L14.8254 13.0316C14.8254 13.0317 14.8255 13.0318 14.8256 13.0318C14.8751 13.0816 14.9029 13.1489 14.9029 13.2191C14.9029 13.2894 14.8751 13.3568 14.8255 13.4065C14.8255 13.4066 14.8254 13.4066 14.8254 13.4067L14.1097 14.1223ZM9.08957 12.1354L9.08969 12.1354L9.08957 12.1354Z" stroke="black" stroke-width="1.5"/>
          </svg>
          <p>Tel: <span>+1 562 566 0518</span></p>
        </div>
        <div class="info-spec-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" stroke="#CCCCCC" stroke-width="0.4" stroke-miterlimit="10"/>
            <rect x="8.75" y="10.75" width="13.8883" height="11.8365" rx="1.25" stroke="black" stroke-width="1.5"/>
            <path d="M8.51172 12.5657L14.8375 16.6322C15.354 16.9643 16.0208 16.948 16.5205 16.5911L22.8741 12.0527" stroke="black" stroke-width="1.5"/>
          </svg>
          <p>Email: <span>support@procolored.com</span></p>
        </div>
        <div class="info-spec-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M16.5 7.75C20.7802 7.75 24.25 11.2198 24.25 15.5C24.25 19.7802 20.7802 23.25 16.5 23.25C15.108 23.25 13.8036 22.8834 12.6758 22.2422L12.4531 22.1104L12.3018 22.0312C11.9413 21.8721 11.5395 21.8859 11.2695 21.9092C10.9239 21.939 10.5353 22.0157 10.2168 22.0742C9.87007 22.1379 9.59535 22.1826 9.38379 22.1865C9.38223 22.1866 9.38044 22.1855 9.37891 22.1855L9.37988 22.1836C9.401 21.9676 9.46417 21.6901 9.54883 21.3486C9.62711 21.0329 9.72558 20.6544 9.77734 20.3193C9.80369 20.1488 9.82276 19.9613 9.81641 19.7773C9.81177 19.6441 9.79317 19.4813 9.73438 19.3154L9.66113 19.1494C9.07988 18.0627 8.75 16.821 8.75 15.5C8.75 11.2198 12.2198 7.75 16.5 7.75Z" stroke="black" stroke-width="1.5"/>
            <path d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" stroke="#CCCCCC" stroke-width="0.4" stroke-miterlimit="10"/>
            <path d="M14 17C14.7692 17.7546 16.8462 18.8111 19 17" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
          <p>WhatsApp: <span>+15625660518</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Support Resources Tech",
  "class": "custom-support-resources-tech",
  "blocks": [],
  "presets": [
    {
      "name": "Support Resources Tech"
    }
  ]
}
{% endschema %}
