<style>
    :root {
      /* Font sizes */
      --text-h0-n: 56px;
      --text-h1-n: 40px;
      --text-h2-n: 30px;
      --text-h3-n: 26px;
      --text-h4-n: 24px;
      --text-h5-n: 20px;
      --text-h6-n: 16px;
      --text-xs-n: 12px;
      --text-sm-n: 14px;
      --text-base-n: 18px;
      --text-lg-n: 19px;
    }
    .text-xxs {
      font-size: 10px;
      line-height: 1.3;
    }

    .text-xs {
      font-size: var(--text-xs-n);
      line-height: 1.3;
    }

    .text-sm {
      font-size: var(--text-sm-n);
      line-height: 1.3;
    }

    .text-base {
      font-size: var(--text-base-n);
      line-height: 1.3;
    }
    .text-md {
      font-size: var(--text-md-n);
      line-height: 1.2;
    }

    .text-lg {
      font-size: var(--text-lg-n);
      line-height: 1.2;
    }
     /* 重置样式 start*/
       /* 重置样式 start*/
       #swiper-container-{{ section.id }}  .h0 {
        font-size: var(--text-h0-n) ;
        line-height: 1;
        font-family: ItalianPlateNo2Expanded-Bold, sans-serif !important;
      }

      #swiper-container-{{ section.id }}  h1,
      #swiper-container-{{ section.id }}  .h1,
      #swiper-container-{{ section.id }}  .prose h1:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
        font-size: var(--text-h1-n) ;
        line-height: 1.1;
        font-family: ItalianPlateNo2Expanded-Bold, sans-serif !important;
      }

      #swiper-container-{{ section.id }}  h2,
      #swiper-container-{{ section.id }}  .h2,
      #swiper-container-{{ section.id }}  .prose h2:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
        font-size: var(--text-h2-n);
        line-height: 1.1;
        font-family: ItalianPlateNo2Expanded-Bold, sans-serif !important;
      }

      #swiper-container-{{ section.id }}  h3,
      #swiper-container-{{ section.id }}  .h3,
      #swiper-container-{{ section.id }}  .prose h3:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
        font-size: var(--text-h3-n) ;
        line-height: 1.2;
      }

      #swiper-container-{{ section.id }}  h4,
      #swiper-container-{{ section.id }}  .h4,
      #swiper-container-{{ section.id }}  .prose h4:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
        font-size: var(--text-h4-n) ;
        line-height: 1.3;
      }

      #swiper-container-{{ section.id }}  h5,
      #swiper-container-{{ section.id }}  .h5,
      #swiper-container-{{ section.id }}  .prose h5:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
        font-size: var(--text-h5-n) ;
        line-height: 1.3;
      }

      #swiper-container-{{ section.id }}  h6,
      #swiper-container-{{ section.id }}  .h6,
      #swiper-container-{{ section.id }}  .prose h6:not(.h0, .h1, .h2, .h3, .h4, .h5, .h6) {
        font-size: var(--text-h6-n) ;
        line-height: 1.3;
      }
      /* 重置样式 end*/
    #swiper-container-{{ section.id }} {
      padding: {{ section.settings.padding_top }}px 0 {{ section.settings.padding_bottom }}px 0;
      background-color: {{ section.settings.background_color }};
      overflow: hidden;
    }
    #swiper-container-{{ section.id }} .swiper-container {
      position: relative;
      overflow: hidden;
      margin-left: 20%;
    }
    #swiper-container-{{ section.id }}  .swiper-container-title {
      display: flex;
      width: 100%;
      line-height: 1;
      align-items: center;
      justify-content: {{ section.settings.title_alignment }};
      text-align: {{ section.settings.title_alignment }};
      margin-top: {{ section.settings.title_margin_top }}px;
      margin-bottom: {{ section.settings.title_margin_bottom }}px;
    }
  #swiper-container-{{ section.id }}  .swiper-container-subtitle {

      margin-top: {{ section.settings.subtitle_margin_top }}px;
      margin-bottom: {{ section.settings.subtitle_margin_bottom }}px;
      width: 100%;
      text-align: {{ section.settings.title_alignment }};
    }
    #swiper-container-{{ section.id }} .swiper-pagination_and_button_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin-top: 25px;
    }
    #swiper-container-{{ section.id }} .swiper-pagination-wrap {
      position: relative;
      width: 100%;
    }
    #swiper-container-{{ section.id }} .swiper-pagination-wrap .swiper-pagination {
      width: auto !important;
      position: relative;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      text-align: left;
      display: flex;
      gap: 10px;
    }
    #swiper-container-{{ section.id }} .slide-content {
      display: flex;
      border-radius: 20px;
      overflow: hidden;
      min-height: 560px;
      max-height: 560px;
    }
    #swiper-container-{{ section.id }} .slide-image {
      object-fit: cover;
    object-position: center;
      width: 50%;
    }
    #swiper-container-{{ section.id }} .text-content {
      width: 50%;
      padding: 40px;
      background: #fff;
      box-sizing: border-box;
    }
    #swiper-container-{{ section.id }} .author-info {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      margin-bottom: 25px;
    }
    #swiper-container-{{ section.id }} .author-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
      object-fit:cover;
    }
    #swiper-container-{{ section.id }} .author-details {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
    }
    #swiper-container-{{ section.id }} .author-name {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;
    }
    #swiper-container-{{ section.id }} .author-description {
      font-size: 16px;
      color: #646464;
      line-height: 1.2;
    }
    #swiper-container-{{ section.id }} .content-text {
      font-size: 20px;
      color: #000;
      line-height: 1.2;
    }
    #swiper-container-{{ section.id }} .swiper-button-wrap {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
    #swiper-container-{{ section.id }} .swiper-button-next,
    #swiper-container-{{ section.id }} .swiper-button-prev {
      position: relative;
      width: 40px;
      height: 40px;
      display: flex ;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.8);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      border: 2px solid #cccccc;
      background: transparent;
      box-sizing: border-box;
    }
    #swiper-container-{{ section.id }} .swiper-button-next {
      border: none;
      box-sizing: border-box;
      overflow: hidden; /* 确保伪元素不溢出 */
      background: conic-gradient(
        #da291c 0%,
        #da291c 0%,
        #cccccc 0%,
        #cccccc 100%
      );
    }
    #swiper-container-{{ section.id }} .swiper-button-next::before {
      /* content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      border: 2px solid transparent; */
      /* border-top-color: gray;
      animation: loadAnimation 5s linear infinite;  */
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      background-color: #fffaf6;
      z-index: -1;
    }
    {% comment %} #swiper-container-{{ section.id }} .swiper-button-next::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      border: 2px solid transparent;
      border-top-color: gray;
      animation: loadAnimation 5s linear infinite;
    }
    @keyframes loadAnimation {
      0% {
        transform: rotate(0deg);
        border-top-color: gray;
      }
      99% {
        transform: rotate(360deg);
        border-top-color: gray;
      }
      100% {
        transform: rotate(360deg);
        border-top-color: red;
      }
    } {% endcomment %}
    #swiper-container-{{ section.id }} .swiper-button-next:after,
    #swiper-container-{{ section.id }} .swiper-button-prev:after {
      font-size: 16px;
      color: #000;
    }

    #swiper-container-{{ section.id }}  .swiper-button-next svg,
    #swiper-container-{{ section.id }}  .swiper-button-prev svg {
        fill: #000;
        width: 16px;
        height: 16px;

    }
    #swiper-container-{{ section.id }} .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }
    #swiper-container-{{ section.id }} .swiper-pagination-bullet-active {
      background: #000;
    }
    #swiper-container-{{ section.id }} .swiper-slide {
      position: relative;
    }
    #swiper-container-{{ section.id }} .swiper-slide::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      opacity: 1;
      z-index: 1;
      transition: opacity 0.5s;
    }
    #swiper-container-{{ section.id }} .swiper-slide-active::before {
      opacity: 0;
    }
     #swiper-container-{{ section.id }}  .desktopShow {
      display: block;
    }
     #swiper-container-{{ section.id }}  .mobileShow {
      display: none;
    }
    @media screen and (max-width: 768px) {
      #swiper-container-{{ section.id }} {
        padding: {{ section.settings.padding_top_mobile }}px 24px {{ section.settings.padding_bottom_mobile }}px 24px;
      }
      #swiper-container-{{ section.id }} .swiper-container {
        margin-left: 0;
        overflow: visible;

      }
      #swiper-container-{{ section.id }}    .swiper-container-title {
        font-size: {{ section.settings.title_size_mobile }}px;
        gap: 7px;
        margin-top: {{ section.settings.title_margin_top_mobile }}px;
        margin-bottom: {{ section.settings.title_margin_bottom_mobile }}px;
      }

      #swiper-container-{{ section.id }}    .swiper-container-subtitle {
        line-height: 1.2;
        font-size: {{ section.settings.subtitle_size_mobile }}px;
        margin-top: {{ section.settings.subtitle_margin_top_mobile }}px;
        margin-bottom: {{ section.settings.subtitle_margin_bottom_mobile }}px;
      }
      #swiper-container-{{ section.id }} .slide-content {
        flex-direction: column;
        min-height: 300px;
      }
      #swiper-container-{{ section.id }} .slide-image {
        width: 100%;
        max-height: 190px;
      }
      #swiper-container-{{ section.id }} .text-content {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
      }
      #swiper-container-{{ section.id }} .author-info {
        margin-bottom: 10px;
      }
      #swiper-container-{{ section.id }} .author-avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      #swiper-container-{{ section.id }} .author-name {
        font-size: 18px;
      }
      #swiper-container-{{ section.id }} .author-description {
        font-size: 14px;
      }
      #swiper-container-{{ section.id }} .content-text {
        font-size: 14px;
      }
      #swiper-container-{{ section.id }} .swiper-button-wrap {
        opacity:0;
      }
      #swiper-container-{{ section.id }} .swiper-pagination_and_button_wrap {
        margin-top: 20px;
      }
      #swiper-container-{{ section.id }}  .desktopShow {
        display: none;
      }
       #swiper-container-{{ section.id }}  .mobileShow {
        display: block;
      }
    }
</style>

<div id="swiper-container-{{ section.id }}" class="swiper-container-wrap">
  <div class="swiper-container-title {{ section.settings.title_size }} {{ section.settings.title_font_family }}">
    {{ section.settings.title }}
  </div>
  <div class="swiper-container-subtitle {{ section.settings.subtitle_size }} {{ section.settings.subtitle_font_family }}">
    {{ section.settings.subtitle }}
  </div>
  <div class="swiper-container swiper-container-{{ section.id }}">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="slide-content">
            {% if block.settings.slide_image %}
              {% assign image = block.settings.slide_image %}
              {% assign size = 100 | divided_by: block.settings.size | round %}

              <img
                data-sizes="{{ size }}vw"
                data-srcset="
                  {%- if image.width >= 200 -%}{{ image | image_url: width: 200 }} 200w,{%- endif -%}
                  {%- if image.width >= 375 -%}{{ image | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if image.width >= 550 -%}{{ image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if image.width >= 750 -%}{{ image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if image.width >= 1100 -%}{{ image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if image.width >= 1780 -%}{{ image | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if image.width >= 2000 -%}{{ image | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if image.width >= 3000 -%}{{ image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if image.width >= 3840 -%}{{ image | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ image | image_url }} {{ image.width }}w
                "
                data-src="{{ image | image_url:width:750 }}"
                class="swiper-lazy  lazyload slide-image desktopShow"
              >
            {% endif %}
            {% if block.settings.slide_image_mobile %}
              {% assign image = block.settings.slide_image_mobile %}
              {% assign size = 100 | divided_by: 1 | round %}

              <img
                data-sizes="{{ size }}vw"
                data-srcset="
                  {%- if image.width >= 200 -%}{{ image | image_url: width: 200 }} 200w,{%- endif -%}
                  {%- if image.width >= 375 -%}{{ image | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if image.width >= 550 -%}{{ image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if image.width >= 750 -%}{{ image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if image.width >= 1100 -%}{{ image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if image.width >= 1780 -%}{{ image | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if image.width >= 2000 -%}{{ image | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if image.width >= 3000 -%}{{ image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if image.width >= 3840 -%}{{ image | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ image | image_url }} {{ image.width }}w
                "
                data-src="{{ image | image_url:width:750 }}"
                class="swiper-lazy  lazyload slide-image mobileShow"
              >
            {% endif %}
            <div class="text-content">
              <div class="author-info">
                <img
                  src="{{ block.settings.author_avatar | img_url: 'master' }}"
                  alt="Author Avatar"
                  class="author-avatar"
                >
                <div class="author-details">
                  <div class="author-name">{{ block.settings.author_name }}</div>
                  <div class="author-description">{{ block.settings.author_description }}</div>
                </div>
              </div>
              <div class="content-text">
                {{ block.settings.content_text }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="swiper-pagination_and_button_wrap">
      <div class="swiper-pagination-wrap">
        <div class="swiper-pagination swiper-pagination-{{section.id}}"></div>
      </div>
      <div class="swiper-button-wrap">
        <div class="swiper-button-prev swiper-button-prev-{{section.id}}">
          <svg
            class="bi"
            width="40"
            height="70"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z">
            </path>
          </svg>
        </div>
        <div id="progressCircle-{{section.id}}" class="swiper-button-next swiper-button-next-{{section.id}}">
          <svg
            class="bi"
            width="40"
            height="70"
            fill="currentColor"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z">
            </path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const delayTime = 15000;
    const progressCircle_delayTime = delayTime / 100
    const progressCircle = document.getElementById('progressCircle-{{section.id}}');
    let progress = 0;
  
    function updateProgress() {
      progress = (progress + 1) % 101; // 0 to 100
      progressCircle.style.background = `conic-gradient(
              #DA291C 0%,
              #DA291C ${progress}%,
              #cccccc ${progress}%,
              #cccccc 100%
          )`;
          if (progress === 0) {
            swiper4.slideNext(); // 切换到下一张幻灯片
          }
      // progressCircle.textContent = `${progress}%`;
    }
  
    setInterval(updateProgress, progressCircle_delayTime); // 5000ms / 100 steps = 50ms per step
    const swiper4 = new Swiper('.swiper-container-{{ section.id }}', {
     loop: true,
      slidesPerView: 1.1,
      loopedSlides: 2, // slidesPerView设置为非整数（如1.2）时，可能会出现循环问题添加此行，指定循环所需的额外幻灯片数量
      spaceBetween: 20,
      pagination: {
        el: '.swiper-pagination-{{section.id}}',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next-{{section.id}}',
        prevEl: '.swiper-button-prev-{{section.id}}',
      },
      {% comment %} autoplay: {
        delay: delayTime,
        disableOnInteraction: false,
      },  {% endcomment %}
      on: {
   
      },
      breakpoints: {
        //当宽度小于等于1024时显示
        1024: {
          slidesPerView: 1,
          spaceBetween: 15,
        },
          //当宽度小于等于768时显示
          768: {
           
            slidesPerView: 1.1,
            spaceBetween: 8,
          },
      },
    });
  });
</script>
{% schema %}
{
  "name": "grow-up program swiper",
  "settings": [
    {
      "type": "select",
      "id": "title_alignment",
      "label": "大标题对齐方式",
      "options": [
        {
          "value": "start",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中对齐"
        },

        {
          "value": "end",
          "label": "右对齐"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "内容对齐方式",
      "options": [
        {
          "value": "start",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中对齐"
        },

        {
          "value": "end",
          "label": "右对齐"
        }
      ],
      "default": "center"
    },

    {
      "type": "range",
      "id": "card_container_min_height",
      "min": 200,
      "max": 600,
      "step": 4,
      "unit": "px",
      "label": "卡片容器的最小高度",
      "default": 420
    },
    {
      "type": "range",
      "id": "card_container_min_height_mobile",
      "min": 100,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "卡片容器的最小高度（移动端）",
      "default": 120
    },
    {
      "type": "text",
      "id": "title",
      "label": "大标题",
      "default": "大标题"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "大标题字体大小",
      "options": [
        {
          "value": "h0",
          "label": "H0"
        },
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "text-lg",
          "label": "大文本"
        },
        {
          "value": "text-base",
          "label": "标准文本"
        },
        {
          "value": "text-sm",
          "label": "小文本"
        },
        {
          "value": "text-xs",
          "label": "超小文本"
        }
      ],
      "default": "h1"
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "大标题字体大小（移动端）",
      "default": 30
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "小标题",
      "default": "小标题"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "小标题字体大小",
      "options": [
        {
          "value": "h0",
          "label": "H0"
        },
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "text-lg",
          "label": "大文本"
        },
        {
          "value": "text-base",
          "label": "标准文本"
        },
        {
          "value": "text-sm",
          "label": "小文本"
        },
        {
          "value": "text-xs",
          "label": "超小文本"
        }
      ],
      "default": "h2"
    },
    {
      "type": "range",
      "id": "subtitle_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "小标题字体大小（移动端）",
      "default": 14
    },
    {
      "type": "header",
      "content": "颜色"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "大标题字体颜色",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "小标题字体颜色",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "背景色",
      "default": "#fffaf6"
    },
    {
      "type": "select",
      "id": "title_font_family",
      "label": "大标题字体系列",
      "options": [
        {
          "value": "custom-font-extraBold",
          "label": "ExtraBold"
        },
        {
          "value": "custom-font-bold",
          "label": "Bold"
        },
        {
          "value": "custom-font-semiBold",
          "label": "semiBold"
        },
        {
          "value": "custom-font-medium",
          "label": "Medium"
        },
        {
          "value": "custom-font-regular",
          "label": "Regular"
        },
        {
          "value": "custom-font-light",
          "label": "Light"
        }
      ],
      "default": "custom-font-bold"
    },
    {
      "type": "select",
      "id": "subtitle_font_family",
      "label": "小标题字体系列",
      "options": [
        {
          "value": "custom-font-extraBold",
          "label": "ExtraBold"
        },
        {
          "value": "custom-font-bold",
          "label": "Bold"
        },
        {
          "value": "custom-font-semiBold",
          "label": "semiBold"
        },
        {
          "value": "custom-font-medium",
          "label": "Medium"
        },
        {
          "value": "custom-font-regular",
          "label": "Regular"
        },
        {
          "value": "custom-font-light",
          "label": "Light"
        }
      ],
      "default": "custom-font-regular"
    },
    {
      "type": "header",
      "content": "分区填充"
    },
    {
      "type": "range",
      "id": "title_margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "大标题顶部填充",
      "default": 0
    },

    {
      "type": "range",
      "id": "title_margin_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "大标题顶部填充(移动端)",
      "default": 0
    },
    {
      "type": "range",
      "id": "title_margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "大标题底部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "title_margin_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "大标题底部填充(移动端)",
      "default": 0
    },

    {
      "type": "range",
      "id": "subtitle_margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "小标题顶部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "subtitle_margin_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "小标题顶部填充(移动端)",
      "default": 0
    },

    {
      "type": "range",
      "id": "subtitle_margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "小标题底部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "subtitle_margin_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "小标题底部填充(移动端)",
      "default": 0
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充(移动端)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充(移动端)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "image_picker",
          "id": "slide_image_mobile",
          "label": "Slide Image Mobile"
        },
        {
          "type": "image_picker",
          "id": "author_avatar",
          "label": "Author Avatar"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name"
        },
        {
          "type": "text",
          "id": "author_description",
          "label": "Author Description"
        },
        {
          "type": "textarea",
          "id": "content_text",
          "label": "Content Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "grow-up program swiper"
    }
  ]
}
{% endschema %}
