<style>
  /* 礼品盒 */
  .wrap-{{ section.id }}  .gift-box-wrap {
    background-color: #f6fff2;
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
    box-sizing: border-box;
  }
  .wrap-{{ section.id }}  .gift-box-wrap .gift-box-content {
    background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/pc_Big_Gift__Box.png?v=1731895873);
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 490px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 100px;
    box-sizing: border-box;
    gap: 20px;
  }
  .wrap-{{ section.id }}  .gift-box-wrap-title {
    font-family: ItalianPlateNo2Expanded-Bold;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 175px;
    z-index: 2;
  }
  .wrap-{{ section.id }}  .gift-box-wrap .gift-box-content .item {
    display: flex;
    flex-direction: column;
    margin-top: 182px;
    background: #fff;
    border-radius: 12px 12px 12px 12px;
    width: 50%;
    text-decoration: none;
    color: #000;
  }
  .wrap-{{ section.id }}  .gift-box-wrap .gift-box-content .item .content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 35px 50px 60px;
    gap: 17px;
  }
  .wrap-{{ section.id }}  .gift-box-wrap .gift-box-content .item .content-wrap img {
    width: 100%;
    height: 100%;
  }
  .wrap-{{ section.id }}  .product-img {
    width: 188px;
  }
  .wrap-{{ section.id }}  .product-info {
    display: flex;
    flex-direction: column;
    min-height: 110px;
  }
  .wrap-{{ section.id }}  .product-info .title {
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 1;
  }
  .wrap-{{ section.id }}  .product-info .price {
    font-size: 32px;
    font-family: ItalianPlateNo2Expanded-Bold;
    margin-bottom: 5px;
    line-height: 1;
  }
  .wrap-{{ section.id }}  .product-info .desc {
    color: #848484;
    font-size: 14px;
  }
  .wrap-{{ section.id }}  .lable {
    background-size: cover;
    background-position: center;
    font-family: ItalianPlateNo2Expanded-Regular;
    height: 60px;
    width: 60px;
    margin-left: 20px;
  }
  .wrap-{{ section.id }}  .first-lable {
    background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/pc_FREE_2x_c56da3fe-6e9a-4504-b86a-46e5b24c298f.png?v=1731895907);
  }
  .wrap-{{ section.id }}  .second-lable {
    background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/pc_FREE_2x_c56da3fe-6e9a-4504-b86a-46e5b24c298f.png?v=1731895907);
  }
  .wrap-{{ section.id }}  .desktopShow {
    display: block;
  }
  .wrap-{{ section.id }}  .mobileShow {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .wrap-{{ section.id }}  .gift-box-wrap {
      padding: 40px 13px;
    }
    .wrap-{{ section.id }}  .gift-box-wrap .gift-box-content .item .content-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -8px 20px 18px 30px;
      gap: 12px;
    }
    .wrap-{{ section.id }}  .gift-box-wrap-title {
      font-family: ItalianPlateNo2Expanded-Bold;
      font-size: 24px;

      top: 79px;
    }
    .wrap-{{ section.id }}  .product-img {
      width: 115px;
    }
    .wrap-{{ section.id }}  .product-info {
      min-height: 60px;
    }
    .wrap-{{ section.id }}  .product-info .title {
      font-size: 15px;
      margin-bottom: 8px;
      line-height: 1;
    }
    .wrap-{{ section.id }}  .product-info .price {
      font-size: 20px;
      font-family: ItalianPlateNo2Expanded-Bold;
      margin-bottom: 13px;
      line-height: 1;
    }
    .wrap-{{ section.id }}  .product-info .desc {
      color: #848484;
      font-size: 8px;
    }
    .wrap-{{ section.id }}  .gift-box-wrap .gift-box-content {
      background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/ios_Big_Gift__Box.png?v=1731895872);
      background-size: cover;
      background-position: center;
      height: auto;
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0 25px;
      gap: 14px;
      height: 368px;
      padding-top: 92px;
    }
    .wrap-{{ section.id }}  .gift-box-wrap .gift-box-content .item {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      background: #fff;
      border-radius: 12px 12px 12px 12px;
      width: 100%;
    }
    .wrap-{{ section.id }}  .lable {
      height: 36px;
      width: 33px;
      margin-left: 12px;
    }
    .wrap-{{ section.id }}  .first-lable {
      background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/ios_FREE_2x_0d3663ec-02ca-4ef2-9935-5cbfcd396155.png?v=1731895907);
    }
    .wrap-{{ section.id }}  .second-lable {
      background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/ios_FREE_2x_0d3663ec-02ca-4ef2-9935-5cbfcd396155.png?v=1731895907);
    }
    .wrap-{{ section.id }}  .desktopShow {
      display: none;
    }
    .wrap-{{ section.id }}  .mobileShow {
      display: block;
    }
  }
</style>
<div class="wrap-{{ section.id }}">
  <!-- 礼品盒 -->
  <div class="gift-box-wrap">
    <div class="gift-box-wrap-title">Free Gifts Giveaway</div>
    <div class="gift-box-content">
      <a class="item" href="#">
        <div class="lable first-lable"></div>
        <div class="content-wrap">
          <div class="product-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/pc_gift_Glasses.png?v=1731895907"
              alt="gift_Glasses"
            >
          </div>
          <div class="product-info">
            <div class="title">Safety Glasses</div>
            <div class="price">$99.00</div>
            <div class="desc"></div>
          </div>
        </div>
      </a>
      <a class="item" href="#">
        <div class="lable second-lable"></div>
        <div class="content-wrap">
          <div class="product-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/pc_gift_Cylindrical_fixture.png?v=1731895907"
              alt="gift_Cylindrical_fixture"
            >
          </div>
          <div class="product-info">
            <div class="title">Cylindrical Fixture</div>
            <div class="price">$219.00</div>
            <div class="desc"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "christmas-free-gift",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "christmas-free-gift"
    }
  ]
}
{% endschema %}
