<style>
  #shopify-section-{{ section.id }}{
    background-color: {{ section.settings.bgColor }};
    background: {{ section.settings.background_gradient_color }};
  }
    .faq-container-{{ section.id }} {
      {% if section.settings.section_max_width != 'none' %}
        max-width: {{ section.settings.section_max_width }}px;
        margin: 0 auto;
      {% endif %}
      padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;

    }
    .faq-container-{{ section.id }} .faq-container {
      padding: 0 {{ section.settings.container_padding_left_and_right }}px;
      background: {{ section.settings.container_bgColor }};
      border-radius: {{ section.settings.container_border_radius }}px;
    }
    .faq-container-{{ section.id }} .faqs-title {
      text-align: {{ section.settings.title_align }};



    }
    .faq-container-{{ section.id }} .faqs-title h3.title {
      color: {{ section.settings.title_color }};
      font-size: {{ section.settings.title_size }}px;
      line-height: 1;
      font-weight: 700;
      margin-bottom: {{ section.settings.title_padding_bottom }}px;
    }
    .faq-container-{{ section.id }} .faqs-title .spec {
      font-size: {{ section.settings.subtitle_size }}px;
      line-height: 1.2;
      margin-bottom: {{ section.settings.subtitle_padding_bottom }}px;
    }
    .faq-container-{{ section.id }} .faqs-title div.spec p {
      color: #000;
      margin: 0;
      line-height: 1.25;
    }
    .faq-container-{{ section.id }} .faq-section {
      background: {{ section.settings.container_bgColor }};

    }

    .faq-container-{{ section.id }} .faq-header {
      padding: {{ section.settings.question_padding_top_and_bottom }}px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
      position: relative;
      border-top: 1px solid rgba(204, 204, 204, 0.4);
      transition: background-color 0.3s ease;
    }
    .faq-container-{{ section.id }} .faq-question {
      width:95%;
      letter-spacing: 1px;
      line-height: 1.3;
      color: {{ section.settings.question_color }};

    }
    .faq-container-{{ section.id }} .faq-section:first-child .faq-header {
      border-top: none;
    }
    .faq-container-{{ section.id }} .faq-question .faq-header{

    }
    .faq-container-{{ section.id }} .faq-section.active .faq-header{
      padding-bottom: 0;

  }
  .faq-container-{{ section.id }} .faq-section.active .faq-question{
    color: {{section.settings.question_active_color}};
  }
    .faq-container-{{ section.id }} .faq-content {
      max-height: 0;
      overflow: hidden;

      {% comment %} padding: 0 48px; {% endcomment %}
    }

    .faq-container-{{ section.id }} .faq-section.active .faq-content {
      max-height: 1000px;
    }

    .faq-container-{{ section.id }} .faq-item {
      padding: 20px 0 0;
      display: flex;
      gap: 20px;
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.3s ease;
    }

    .faq-container-{{ section.id }} .faq-section.active .faq-item {
      opacity: 1;
      transform: translateY(0);
    }

    .faq-container-{{ section.id }} .faq-section.active .faq-item:nth-child(1) {
      transition-delay: 0.1s;
      padding-top: 14px;
      padding-bottom: {{section.settings.question_padding_top_and_bottom | minus: 4 }}px;
    }

    .faq-container-{{ section.id }} .faq-section.active .faq-item:nth-child(2) {
      transition-delay: 0.2s;
    }
    .faq-container-{{ section.id }} .faq-section.active .faq-item:nth-child(3) {
      transition-delay: 0.3s;
    }

    .faq-container-{{ section.id }} .faq-section.active .faq-item:last-child .faq-item-content {
      border-bottom: none;
    }


    .faq-container-{{ section.id }} .faq-item-content,.faq-container-{{ section.id }} .faq-item-content p {
      color: {{ section.settings.answer_color }};
      flex: 1;
      font-size: 16px;
      line-height: 1.4;
      {% comment %} padding-bottom: 20px; {% endcomment %}
      border-bottom: 1px solid #ccc;
    }
    .faq-container-{{ section.id }} .faq-item-content p{
      margin: 0;
      border: none;
    }
    .faq-container-{{ section.id }} .faq-item-content > div:first-child {
      margin-bottom: 15px;
      color: #000;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      opacity: 1;
    }

    .faq-container-{{ section.id }} .toggle-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
    }

    .faq-container-{{ section.id }} .icon-plus,
    .faq-container-{{ section.id }} .icon-minus {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
    }

    .faq-container-{{ section.id }} .icon-minus {
      display: none;
      top:50%;
    }

    .faq-container-{{ section.id }} .faq-section.active .icon-plus {
      display: none;
    }

    .faq-container-{{ section.id }} .faq-section.active .icon-minus {
      display: block;
    }

    .faq-container-{{ section.id }} .icon-question {
      width: 36px;
      height: 36px;
      transition: transform 0.3s ease;
      margin-top: -22%;
    }

    .faq-container-{{ section.id }} .faq-item:hover .icon-question {
      transform: scale(1.1);
    }

    @media only screen and (max-width: 768px) {
      .faq-container-{{ section.id }} {
        padding: 0 24px;
        padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
      }
      .faq-container-{{ section.id }} .faq-container {
        padding: 0 {{ section.settings.container_padding_left_and_right_mobile }}px;
        border-radius: {{ section.settings.container_border_radius_mobile }}px;
        }
      .faq-container-{{ section.id }} .faqs-title {
          text-align: {{ section.settings.title_align_mobile }};

        }
        .faq-container-{{ section.id }} .faqs-title h3.title {
          font-size: {{ section.settings.title_size_mobile }}px;
          line-height: 1.2;
          margin-bottom: {{ section.settings.title_padding_bottom_mobile }}px;

        }
        .faq-container-{{ section.id }} .faqs-title .spec {
          font-size: 14px;
          line-height: 1.25;
          margin-bottom: {{ section.settings.subtitle_padding_bottom_mobile }}px;
        }
        .faq-container-{{ section.id }} .faqs-title div.spec p {
          color: #000;
          margin: 0;
          line-height: 1.25;
        }

      .faq-container-{{ section.id }} .faq-header {
        padding: {{ section.settings.question_padding_top_and_bottom_mobile }}px 0;
        font-size: 14px;
      }
      .faq-container-{{ section.id }} .faq-question {
        width:90%;
        letter-spacing: 0;
        line-height: 1.3;
      }
      .faq-container-{{ section.id }} .toggle-icon {
        right: 0;
        width: 14px;
        height: 14px;
      }
      .faq-container-{{ section.id }} .icon-plus,
      .faq-container-{{ section.id }} .icon-minus {
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
      }
      .faq-container-{{ section.id }} .icon-minus {
        display: none;
        top:50%;
      }
      .faq-container-{{ section.id }} .faq-content {
        {% comment %} padding: 0 20px; {% endcomment %}
      }
      .faq-container-{{ section.id }} .faq-section.active .faq-item:nth-child(1) {
        padding-bottom: {{section.settings.question_padding_top_and_bottom_mobile}}px;
      }
      .faq-container-{{ section.id }} .faq-item-icon {
        display: none;
      }
      .faq-container-{{ section.id }} .faq-item-content,.faq-container-{{ section.id }} .faq-item-content p {

        font-size: 14px;
        line-height: 1.28;
        width: 90%;

      }
      .faq-container-{{ section.id }} .faq-item-content > div:first-child {
        margin-bottom: 10px;

        font-size: 18px;

      }




    }
</style>

<div id="{{section.settings.anchor_jump }}" class="faq-container-{{ section.id }}">
  <div class="faqs-title">
    <h3 class="title">{{ section.settings.title }}</h3>
    <div class="spec">
      {{ section.settings.subtitle }}
    </div>
  </div>
  <div class="faq-container">
    {% for block in section.blocks %}
      <div class="faq-section {% if forloop.first %} active{% endif %}">
        <div class="faq-header">
          <div class="faq-question">
            {{ block.settings.question }}
          </div>
          <div class="toggle-icon">
            <svg
              class="icon-plus"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
            >
              <path d="M0.900391 9L17.1004 8.85586" stroke="{{section.settings.question_color}}" stroke-width="2"/>
              <path d="M9 17.1006L9.14414 0.900585" stroke="{{section.settings.question_color}}" stroke-width="2"/>
            </svg>

            <svg
              class="icon-minus"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
            >
              <path d="M0.900391 9L17.1004 8.85586" stroke="{{section.settings.question_active_color}}" stroke-width="2"/>
            </svg>
          </div>
        </div>
        <div class="faq-content">
          <div class="faq-item">
            <div class="faq-item-content">
              {{ block.settings.answer }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  // 为所有FAQ标题添加点击事件监听器
  document.querySelectorAll('.faq-header').forEach((header) => {
    header.addEventListener('click', () => {
      // 获取当前点击的FAQ部分
      const currentSection = header.parentElement;
      // 检查当前部分是否已经展开
      const isActive = currentSection.classList.contains('active');

      // 关闭所有已展开的section
      document.querySelectorAll('.faq-section.active').forEach((section) => {
        // 如果不是当前点击的section则关闭它
        if (section !== currentSection) {
          toggleSection(section, false);
        }
      });

      // 切换当前section的展开/收起状态
      toggleSection(currentSection, !isActive);
    });
  });

  /**
   * 处理section的开关状态
   * @param {HTMLElement} section - 要切换状态的FAQ部分
   * @param {boolean} isOpen - 是否展开,true表示展开,false表示收起
   */
  function toggleSection(section, isOpen) {
    // 根据开关状态设置动画类名
    const animationClass = isOpen ? 'opening' : 'closing';
    // 设置动画持续时间,展开较慢,收起较快
    const duration = isOpen ? 500 : 300;

    // 添加动画类
    section.classList.add(animationClass);

    // 根据开关状态添加或移除active类
    if (isOpen) {
      section.classList.add('active');
    } else {
      section.classList.remove('active');
    }

    // 动画结束后移除动画类
    setTimeout(() => {
      section.classList.remove(animationClass);
    }, duration);
  }
</script>
{% schema %}
{
  "name": "Product FAQs",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "锚点跳转配置",
      "id": "anchor_jump",
      "default": "FAQs",
      "info": "模块锚点跳转的锚点名称，默认为FAQs，此值在当前页面中唯一，请勿重复。"
    },
    {
      "type": "select",
      "id": "section_max_width",
      "label": "模块最大宽度",
      "options": [
        {
          "value": "none",
          "label": "全屏"
        },
        {
          "value": "1600",
          "label": "1600px"
        },
        {
          "value": "1400",
          "label": "1400px"
        },
        {
          "value": "1280",
          "label": "1280px"
        },
        {
          "value": "1200",
          "label": "1200px"
        },
        {
          "value": "1020",
          "label": "1020px"
        },
        {
          "value": "1000",
          "label": "1000px"
        },
        {
          "value": "980",
          "label": "980px"
        }
      ],
      "default": "1200"
    },
    {
      "type": "range",
      "id": "container_border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "内容边框圆角大小",
      "default": 20
    },
    {
      "type": "range",
      "id": "container_border_radius_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "内容边框圆角大小（移动端）",
      "default": 10
    },
    {
      "type": "html",
      "label": "大标题",
      "id": "title",
      "default": "FAQs"
    },
    {
      "type": "html",
      "label": "小标题",
      "id": "subtitle"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "大标题字体大小",
      "default": 40
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "大标题字体大小（移动端）",
      "default": 32
    },
    {
      "type": "range",
      "id": "subtitle_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "小标题字体大小",
      "default": 24
    },
    {
      "type": "range",
      "id": "subtitle_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "小标题字体大小（移动端）",
      "default": 16
    },
    {
      "type": "range",
      "id": "question_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "问题字体大小",
      "default": 18
    },
    {
      "type": "range",
      "id": "question_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "问题字体大小（移动端）",
      "default": 14
    },
    {
      "type": "range",
      "id": "answer_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "答案字体大小",
      "default": 16
    },
    {
      "type": "range",
      "id": "answer_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "答案字体大小（移动端）",
      "default": 14
    },
    {
      "type": "radio",
      "id": "title_align",
      "label": "大标题位置(PC端)",
      "options": [
        {
          "value": "left",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中"
        },
        {
          "value": "right",
          "label": "右对齐"
        }
      ],
      "default": "center"
    },
    {
      "type": "radio",
      "id": "title_align_mobile",
      "label": "大标题位置(移动端)",
      "options": [
        {
          "value": "left",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中"
        },
        {
          "value": "right",
          "label": "右对齐"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "颜色填充"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "大标题字体颜色",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "小标题字体颜色",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "question_color",
      "label": "问题字体颜色",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "answer_color",
      "label": "回答字体颜色",
      "default": "#2C2D2E"
    },
    {
      "type": "color",
      "id": "question_active_color",
      "label": "问题展开后字体颜色",
      "default": "#FF8F1C"
    },
    {
      "type": "color",
      "id": "container_bgColor",
      "label": "内容框背景色",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "背景色",
      "default": "#f8f9fd"
    },
    {
      "type": "color_background",
      "id": "background_gradient_color",
      "label": "渐变背景色"
    },
    {
      "type": "header",
      "content": "分区填充"
    },
    {
      "type": "range",
      "id": "container_padding_left_and_right",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "内容框左右边距填充",
      "default": 58
    },
    {
      "type": "range",
      "id": "title_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "大标题底部填充",
      "default": 60
    },
    {
      "type": "range",
      "id": "subtitle_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "小标题底部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "question_padding_top_and_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "问题文字上下边距填充",
      "default": 32
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "container_padding_left_and_right_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "内容框左右边距填充(移动端)",
      "default": 16
    },
    {
      "type": "range",
      "id": "title_padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "大标题底部填充(移动端)",
      "default": 20
    },
    {
      "type": "range",
      "id": "subtitle_padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "小标题底部填充(移动端)",
      "default": 0
    },
    {
      "type": "range",
      "id": "question_padding_top_and_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "问题文字上下边距填充(移动端)",
      "default": 20
    },

    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充(移动端)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充(移动端)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq_tab",
      "settings": [
        {
          "type": "textarea",
          "label": "问题",
          "id": "question"
        },
        {
          "type": "richtext",
          "label": "回答",
          "id": "answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product FAQs",
      "blocks": [
        {
          "type": "faq_tab",
          "settings": {
            "question": "1.When is the delivery time of the P13 DTF printer?",
            "answer": "<p>We will start shipping out the printer on 2025.06.01.</p>"
          }
        },
        {
          "type": "faq_tab",
          "settings": {
            "question": "2.What is the print speed of the P13?",
            "answer": "<p>No, all the RIP softwares are not compatible with Mac OS, you need to install Parallels Software on Mac to use RIP.</p>"
          }
        },
        {
          "type": "faq_tab",
          "settings": {
            "question": "3.How do I clean and maintain the P13?",
            "answer": "<p>It is 12 months.</p>"
          }
        },
        {
          "type": "faq_tab",
          "settings": {
            "question": "4.How do I get customer support for the F13?",
            "answer": "<p>No, all the RIP softwares are not compatible with Mac OS, you need to install Parallels Software on Mac to use RIP.</p>"
          }
        },
        {
          "type": "faq_tab",
          "settings": {
            "question": "5.What is the maximum print size for the P13?",
            "answer": "<p>No, all the RIP softwares are not compatible with Mac OS, you need to install Parallels Software on Mac to use RIP.</p>"
          }
        },
        {
          "type": "faq_tab",
          "settings": {
            "question": "6.How do I set up the P13?",
            "answer": "<p>No, all the RIP softwares are not compatible with Mac OS, you need to install Parallels Software on Mac to use RIP.</p>"
          }
        },
        {
          "type": "faq_tab",
          "settings": {
            "question": "7.What is the printhead of the P13?",
            "answer": "<p>No, all the RIP softwares are not compatible with Mac OS, you need to install Parallels Software on Mac to use RIP.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
