<style>
  .wrap-{{ section.id }} {
    background-color: #000;
    padding: 45px 0 160px 0;
  }
  .wrap-{{ section.id }} .cj-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }

  .wrap-{{ section.id }} .cj-item {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    height: 160px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    padding: 32px;
    background: #171717;
    flex: 1 1 calc(25% - 40px);
  }


  .wrap-{{ section.id }} .cj-content {
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
    line-height: 1;
    text-align: center;
  }

  /* 移动端媒体查询 */
  @media (max-width: 768px) {
    .wrap-{{ section.id }} {
      background-color: #000;
      padding: 28px 13px 80px 13px;
    }
    .wrap-{{ section.id }} .cj-container {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      gap: 10px;
    }

    .wrap-{{ section.id }} .cj-item {
      position: relative;
      box-sizing: border-box;
      text-align: center;
      height: 80px;
      width: 100%;
      border-radius: 10px 10px 10px 10px;
      padding: 12px 20px;
      background: #171717;
      flex-direction: row;
      display: flex;
      align-items: center;
      column-gap: 10px;
      flex: 1 1 calc(50% - 20px);
    }
    .wrap-{{ section.id }}  .cj-item:nth-child(1) .bg-container svg {
      width: 48px;
      height: 54px;
    }
    .wrap-{{ section.id }} .cj-item:nth-child(2) .bg-container svg {
      width: 53px;
      height: 49px;
    }
    .wrap-{{ section.id }} .cj-item:nth-child(3) .bg-container svg {
      width: 53px;
      height: 49px;
    }
    .wrap-{{ section.id }}  .cj-item:nth-child(4) .bg-container svg {
      width: 53px;
      height: 49px;
    }

    .wrap-{{ section.id }} .cj-content {
      font-size: 12px;
      margin-top: 0;
      line-height: 1.7;
      text-align: left;
    }
  }
</style>
<div class="wrap-{{ section.id }}">
  <div class="cj-container">
    <div class="cj-item">
      <div class="bg-container">
        <svg
          width="61"
          height="67"
          viewBox="0 0 61 67"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M45.158 49.499C44.5042 49.499 43.8858 49.7972 43.4766 50.3091L32.2137 64.4514C31.3374 65.553 29.6648 65.553 28.7863 64.4514L17.5234 50.3091C17.1164 49.7972 16.4981 49.499 15.842 49.499C7.3703 49.499 0.5 56.3732 0.5 64.852C0.5 66.0247 1.4497 66.9727 2.61958 66.9727H58.3804C59.5503 66.9727 60.5 66.0225 60.5 64.852C60.5 56.3732 53.6297 49.499 45.158 49.499Z"
            fill="#FECE67"
          />
          <path
            d="M7.7016 24.9663C8.72247 13.2853 18.5531 4.09219 30.4877 4.09219C42.4223 4.09219 52.2529 13.2853 53.2738 24.9663C51.51 24.9663 50.0777 26.3972 50.0777 28.1642V36.3425C50.0777 38.1072 51.5078 39.5403 53.2738 39.5403H54.0789C55.8426 39.5403 57.2749 38.1094 57.2749 36.3425V26.9803C57.2749 26.3038 57.2505 25.6317 57.1993 24.9663C56.1696 11.1244 44.5819 0.177734 30.4899 0.177734C16.3979 0.177734 4.80802 11.1244 3.77826 24.9663C3.7271 25.6295 3.70264 26.3015 3.70264 26.9803V36.3425C3.70264 38.1094 5.13274 39.5403 6.89869 39.5403H7.7016C9.46755 39.5403 10.8977 38.1094 10.8977 36.3425V28.1664C10.8977 26.3994 9.46755 24.9685 7.7016 24.9685V24.9663Z"
            fill="white"
          />
          <path
            d="M30.49 10.7434C21.4801 10.7434 14.1738 18.0516 14.1738 27.0689V29.3966C19.058 29.2764 23.7019 28.0369 28.0101 25.698C31.7733 23.6551 33.855 21.4898 33.8751 21.4698L34.8626 20.4328C35.1851 20.0945 35.7322 20.1279 36.0102 20.5018L36.8643 21.6501C36.8999 21.699 40.5051 26.4057 46.8016 27.8611V27.0666C46.8016 18.0516 39.4976 10.7412 30.4855 10.7412L30.49 10.7434Z"
            fill="white"
          />
          <path
            d="M36.0195 55.0999L31.7558 60.828C31.1086 61.6982 29.8053 61.6915 29.167 60.8169L24.9745 55.0888C24.1961 54.025 24.9545 52.5273 26.2734 52.5273H34.7295C36.0528 52.5273 36.8113 54.0384 36.0195 55.0999Z"
            fill="white"
          />
          <path
            d="M46.817 31.8629C41.5214 30.8926 37.7293 28.0508 35.6342 26.0591C35.3606 25.7987 34.9402 25.7787 34.6444 26.0124C33.5324 26.8936 31.9866 27.9885 30.0405 29.0589C26.5553 30.9727 21.1107 33.1469 14.187 33.3116V34.4955C14.187 43.5106 21.491 50.8209 30.5031 50.8209C35.6564 50.8209 40.2514 48.4287 43.2407 44.6967H37.1577C36.0568 44.6967 35.1649 43.8043 35.1649 42.7027C35.1649 41.6012 36.0568 40.7088 37.1577 40.7088H45.5938C46.3811 38.7927 46.817 36.6964 46.817 34.4977V31.8651V31.8629Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="cj-content">Hassle-free Warranty</div>
    </div>
    <div class="cj-item">
      <div class="bg-container">
        <svg
          width="73"
          height="67"
          viewBox="0 0 73 67"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M34.7751 24.2383H29.8233C28.9999 24.2383 28.3333 24.9049 28.3333 25.7284V43.4329C28.3333 44.2564 28.9999 44.923 29.8233 44.923H34.7751C35.5985 44.923 36.2651 44.2564 36.2651 43.4329V25.7284C36.2651 24.9049 35.5985 24.2383 34.7751 24.2383Z"
            fill="#FECE67"
          />
          <path
            d="M38.7663 12.069H43.2017C43.5089 12.069 44.0535 11.7836 44.0535 11.7836L48.4845 7.32862C48.929 6.82757 48.9072 6.0651 48.4323 5.59237L43.4675 0.549168C42.9708 0.0524731 42.1669 0.0546516 41.6724 0.551347L35.662 6.59883C35.3766 6.88421 35.2481 7.30248 35.3613 7.69025C35.3984 7.8166 35.4594 7.92771 35.5574 7.99306C37.1455 9.05181 37.8753 10.8033 38.1433 11.6202C38.2304 11.8882 38.4831 12.0668 38.7641 12.0668L38.7663 12.069Z"
            fill="#FECE67"
          />
          <path
            d="M21.2118 52.2362L9.49149 48.0361C8.89894 47.8248 8.50464 47.2627 8.50464 46.6331V25.7284C8.50464 24.9049 9.17125 24.2383 9.99472 24.2383H24.6037C25.4271 24.2383 26.0938 24.9049 26.0938 25.7284V44.1497C26.0938 44.7182 25.7735 45.2454 25.2572 45.4872C24.5013 45.8423 23.8194 46.3521 23.2661 46.9969C21.9524 48.474 21.8893 50.4847 21.9873 51.6393C22.0243 52.0619 21.6104 52.3778 21.2118 52.234V52.2362Z"
            fill="white"
          />
          <path
            d="M36.1084 12.0681H28.5033C28.9847 10.4298 30.5119 9.22949 32.3048 9.22949C34.0977 9.22949 35.6139 10.4189 36.1062 12.0681H36.1084Z"
            fill="white"
          />
          <path
            d="M25.7108 12.069H21.2754C20.9682 12.069 20.4236 11.7836 20.4236 11.7836L15.9926 7.32862C15.5481 6.82757 15.5699 6.0651 16.0448 5.59237L21.0096 0.549168C21.5063 0.0524731 22.3102 0.0546516 22.8047 0.551347L28.8151 6.59883C29.1005 6.88421 29.2291 7.30248 29.1158 7.69025C29.0787 7.8166 29.0177 7.92771 28.9197 7.99306C27.3316 9.05181 26.6018 10.8033 26.3338 11.6202C26.2467 11.8882 25.994 12.0668 25.713 12.0668L25.7108 12.069Z"
            fill="#FECE67"
          />
          <path
            d="M2.58178 49.2744C3.54685 48.7581 4.64481 48.6796 5.63384 49.0282L24.9483 55.9493C25.8676 56.4547 26.922 56.7466 28.0439 56.7466H39.017C39.603 56.7466 40.1258 56.3218 40.1847 55.7401C40.2522 55.0713 39.7228 54.5027 39.0693 54.5027H28.0439C27.325 54.5027 26.6541 54.3241 26.0702 54.0082C26.0136 53.9625 25.9461 53.9298 25.8785 53.908C24.981 53.359 24.3296 52.4833 24.1619 51.4507C23.9832 50.3505 24.273 49.2853 24.981 48.4444C25.6868 47.6253 26.7085 47.1438 27.7847 47.1438H36.4769C36.747 47.1438 37.015 47.1329 37.2851 47.1111C37.3178 47.1111 37.3526 47.1329 37.3853 47.1329C37.5095 47.1329 37.6206 47.1002 37.7339 47.0654C39.786 46.8192 41.7837 45.9892 43.4655 44.6429C46.7354 42.0287 53.3209 38.5845 62.0087 43.1332C62.9825 43.643 63.5903 44.6538 63.5903 45.7539V60.4587C63.5903 60.9554 63.2113 61.3693 62.7168 61.4151C60.5492 61.6112 54.6977 62.3126 49.1426 64.4889C42.6028 67.0465 35.6382 67.6412 28.9981 66.1947C22.2121 64.7242 12.0952 61.707 2.36828 55.7641C1.53828 55.2587 0.932659 54.4069 0.697384 53.42C0.327042 51.7709 1.08952 50.0782 2.58178 49.2809V49.2744Z"
            fill="white"
          />
          <path
            d="M59.013 21.9963H5.58776C4.98214 21.9963 4.47673 21.4908 4.47673 20.8852V15.4107C4.47673 14.8051 4.98214 14.3105 5.58776 14.3105H59.013C59.6295 14.3105 60.124 14.8051 60.124 15.4107V20.8852C60.124 21.4908 59.6295 21.9963 59.013 21.9963Z"
            fill="#FECE67"
          />
          <path
            d="M42.0644 42.8927C41.6243 43.2412 41.1647 43.5484 40.6898 43.8076C39.7073 44.3479 38.5069 43.6094 38.5069 42.4875V25.7284C38.5069 24.9049 39.1735 24.2383 39.997 24.2383H54.6168C55.4403 24.2383 56.1069 24.9049 56.1069 25.7284V37.1916C56.1069 38.0434 55.3946 38.723 54.5428 38.6773C48.9245 38.3767 44.6132 40.8558 42.0622 42.8905L42.0644 42.8927Z"
            fill="white"
          />
          <path
            d="M66.9471 41.5703H71.2823C71.8945 41.5703 72.3955 42.0714 72.3955 42.6835V63.0306C72.3955 63.6428 71.8945 64.1438 71.2823 64.1438H66.9493C66.3371 64.1438 65.8361 63.6428 65.8361 63.0306V42.6835C65.8361 42.0714 66.3371 41.5703 66.9493 41.5703H66.9471Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="cj-content">Free Starter Kit</div>
    </div>
    <div class="cj-item">
      <div class="bg-container">
        <svg
          width="79"
          height="67"
          viewBox="0 0 79 67"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_2319_1253)">
            <path
              d="M78.1894 30.7714L70.4031 3.86774C69.6228 1.20679 66.8537 -0.354558 64.1538 0.347726L13.5126 13.7727C11.0267 14.4385 9.42062 16.8267 9.75352 19.3631L10.2874 23.4393H61.7284C65.5502 23.4436 68.6457 26.5212 68.65 30.3161V39.2504L75.014 36.9653C77.5474 36.0504 78.9352 33.3422 78.1894 30.7693V30.7714ZM56.1967 8.42721C56.1967 8.42721 56.2097 8.42292 56.2162 8.42292L63.5572 6.36546C64.2316 6.17862 64.9298 6.57164 65.1179 7.24171C65.3038 7.90963 64.9147 8.59903 64.2446 8.79017L56.9036 10.8476C56.2443 11.0431 55.5504 10.6715 55.3537 10.0165C55.3494 10.0036 55.345 9.99071 55.3429 9.97568C55.1505 9.3142 55.5331 8.6205 56.1989 8.42936L56.1967 8.42721ZM65.654 14.2023L54.1432 17.4409C53.4687 17.6256 52.7705 17.2305 52.5868 16.5604C52.403 15.8968 52.7921 15.2074 53.4579 15.0162L64.9687 11.7776C65.6453 11.5993 66.3392 11.9988 66.5186 12.671C66.6959 13.3303 66.3111 14.0068 65.654 14.2001V14.2023Z"
              fill="#FECE67"
            />
            <path
              d="M66.1835 30.558C66.1792 27.9379 64.0413 25.8139 61.4041 25.8096H5.38904C2.75182 25.8139 0.613942 27.9379 0.609619 30.558V62.2167C0.613942 64.8368 2.75182 66.9608 5.38904 66.9651H61.4019C64.0391 66.9608 66.177 64.8368 66.1813 62.2167C66.1813 54.9404 66.1813 37.5916 66.1813 30.558H66.1835ZM8.74826 35.2249C8.74826 34.4432 9.38811 33.8096 10.175 33.8074H25.2093C25.9961 33.8074 26.6338 34.4432 26.636 35.2249V38.5044H8.74826V35.2249ZM8.74826 41.5648H26.636V44.971C26.636 45.7527 25.9961 46.3863 25.2093 46.3884H10.175C9.38811 46.3884 8.75042 45.7527 8.74826 44.971V41.5648ZM18.2747 58.5291H9.8226C9.05738 58.5291 8.43698 57.9128 8.43698 57.1525C8.43698 56.3922 9.05738 55.7758 9.8226 55.7758H18.2747C19.0399 55.8016 19.6387 56.4395 19.6106 57.1997C19.5847 57.9235 19.001 58.5034 18.2747 58.5291ZM27.5158 58.5291H23.5816C22.8163 58.5098 22.2111 57.8784 22.2305 57.1181C22.2478 56.3836 22.8423 55.793 23.5816 55.7758H27.5158C28.281 55.7844 28.8927 56.4094 28.8841 57.1697C28.8755 57.917 28.268 58.5205 27.5158 58.5291ZM41.2726 58.5291H32.8205C32.0553 58.5098 31.45 57.8784 31.4694 57.1181C31.4867 56.3836 32.0812 55.793 32.8205 55.7758H41.2726C42.0378 55.7758 42.6582 56.3922 42.6582 57.1525C42.6582 57.9128 42.0378 58.5291 41.2726 58.5291ZM58.8663 46.0706C58.0946 46.7621 57.0678 47.2045 55.7838 47.3957C55.5849 47.4257 55.4401 47.5976 55.4401 47.7951V48.0529C55.4401 48.5919 54.9991 49.03 54.4565 49.03C53.9139 49.03 53.473 48.5919 53.473 48.0529V47.8402C53.473 47.6384 53.3238 47.4665 53.1249 47.4386C51.8668 47.2668 50.8487 46.8308 50.0683 46.1286C49.6295 45.7334 49.2923 45.2738 49.0524 44.7476C48.7 43.968 49.2945 43.0875 50.1548 43.0875H50.3515C50.8011 43.0875 51.227 43.3259 51.4259 43.7253C51.6226 44.1184 51.9166 44.4512 52.31 44.7197C52.898 45.1235 53.6243 45.3232 54.4889 45.3232C55.3536 45.3232 56.0864 45.1514 56.6484 44.8099C57.2083 44.4663 57.4893 44.0131 57.4893 43.4504C57.4893 42.8877 57.245 42.4324 56.7587 42.1318C56.2723 41.8289 55.2304 41.5712 53.6372 41.3565C51.8668 41.1138 50.6088 40.7057 49.8651 40.128C49.1215 39.5503 48.7497 38.7385 48.7497 37.6904C48.7497 36.535 49.1929 35.5814 50.077 34.8297C50.8898 34.1403 51.9555 33.7215 53.2762 33.5734C53.4816 33.5497 53.6351 33.3758 53.6351 33.1717V32.9677C53.6351 32.4286 54.0761 31.9905 54.6186 31.9905C55.1612 31.9905 55.6022 32.4286 55.6022 32.9677V33.2856C55.6022 33.4767 55.7362 33.6421 55.9243 33.6807C57.0202 33.9084 57.9216 34.3658 58.6242 35.0509C58.9636 35.3817 59.2424 35.7511 59.4607 36.157C59.8823 36.943 59.29 37.8901 58.3951 37.8901H58.2934C57.8417 37.8901 57.4396 37.6303 57.2256 37.2351C57.0094 36.8356 56.7111 36.5092 56.3328 36.2601C55.7643 35.8842 55.0423 35.6952 54.1625 35.6952C53.2827 35.6952 52.6494 35.8434 52.1349 36.1377C51.6204 36.434 51.3653 36.8228 51.3653 37.306C51.3653 37.7892 51.6118 38.1887 52.1046 38.4636C52.5975 38.7385 53.5205 38.9769 54.8715 39.1787C56.75 39.4343 58.0946 39.8767 58.9052 40.5081C59.7158 41.1395 60.1222 42.0265 60.1222 43.1669C60.1222 44.3073 59.7029 45.3167 58.8663 46.0684V46.0706Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_2319_1253">
              <rect
                width="77.7808"
                height="66.79"
                fill="white"
                transform="translate(0.609619 0.177734)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="cj-content">Buy Now Pay Later</div>
    </div>
    <div class="cj-item">
      <div class="bg-container">
        <svg
          width="75"
          height="59"
          viewBox="0 0 75 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_2320_1281)">
            <path
              d="M49.9917 11.0918C48.4736 11.0918 47.0566 11.848 46.2233 13.1062L45.7237 13.8603C44.3434 15.8213 42.0866 16.9898 39.677 16.992H0.444336V51.5536C0.455103 55.2129 3.44832 58.1758 7.13708 58.1801H67.8627C71.5515 58.1779 74.5447 55.215 74.5555 51.5536V11.1046L49.9917 11.0918ZM46.0919 38.4629C45.7215 39.0974 45.1918 39.625 44.5522 39.9903L34.4658 45.7602C32.4308 46.9031 29.8467 46.1939 28.6947 44.173C28.3394 43.5514 28.1499 42.8507 28.1456 42.1372V30.5846C28.1714 28.2604 30.0901 26.3977 32.433 26.4212C33.1457 26.4297 33.8456 26.6134 34.4679 26.9616L44.5544 32.7443C46.5721 33.9022 47.2612 36.4613 46.0941 38.4629H46.0919Z"
              fill="white"
            />
            <path
              d="M70.1625 0.177736H7.13708C3.44616 0.175599 0.450796 3.14065 0.444336 6.80423V14.2083H39.6748C41.1607 14.2126 42.5539 13.4948 43.4066 12.2879L44.2723 10.9848C45.1078 9.72869 46.5204 8.97461 48.0364 8.97461H74.5555V4.53559C74.5555 2.12809 72.5894 0.177736 70.1625 0.177736ZM33.262 8.58369H10.3219C9.54672 8.57301 8.92654 7.94069 8.93731 7.17379C8.94808 6.41972 9.56179 5.8109 10.3219 5.80022H33.262C34.0372 5.81304 34.6553 6.44535 34.6423 7.21438C34.6316 7.96633 34.02 8.57301 33.262 8.58369Z"
              fill="#FECE67"
            />
          </g>
          <defs>
            <clipPath id="clip0_2320_1281">
              <rect
                width="74.1111"
                height="58"
                fill="white"
                transform="translate(0.444336 0.177734)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="cj-content">Beginner Tutorial</div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "black-5-discount-2",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "black-5-discount-2"
    }
  ]
}
{% endschema %}
