<style>
    #shopify-section-{{ section.id }} {
        background: #FFFAF4;
    }

    #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app {
        border-radius: 16px;
        max-width: 1200px;
        margin: 48px 0 0 0;
    }

    #shopify-section-{{ section.id }} .globo-form-app [data-steps-quantity="1"] .panels {
        padding: 32px 36px 0 36px;
        z-index: 1;
    }

    #shopify-section-{{ section.id }} .globo-form-control .flat-input {
        background: transparent;
        border-radius: 4px;
        border: 1px solid #E5E7EB;
        height: 50px;
    }

    #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app .globo-form-control label.globo-label span.label-content {
        color: #121212;
        font-size: 24px;
        font-weight: 700;
    }

    #shopify-section-{{ section.id }} .globo-form-control label {
        margin-bottom: 12px;
    }

    #shopify-section-{{ section.id }} .globo-form-control .checkbox-wrapper label {
        color: #939393;
        font-size: 16px;
        font-weight: 700;
    }

    #shopify-section-{{ section.id }} .flat-input::placeholder {
        color: #5D5D5D !important;
        font-size: 18px !important;
        line-height: 24px !important; /* 133.333% */
        font-weight: 400 !important;
    }

    #shopify-section-{{ section.id }} .has-error .flat-input::placeholder {
        color: #DA291C !important;
    }

    #shopify-section-{{ section.id }} .globo-form-control label .text-danger {
        color: #DA291C;
        font-size: 24px;
        font-weight: 700;
    }

    #shopify-section-{{ section.id }} .globo-form-control.layout-2-column {
        padding: 0;
        width: calc(calc(100% - 32px) / 2);
    }

    #shopify-section-{{ section.id }} .globo-form-app .panel {
        gap: 32px;
    }

    #shopify-section-{{ section.id }} .globo-form-control .gfb__dropzone {
        background: #fff;
        border-radius: 4px;
        border: 1px solid #E5E7EB;
        height: 376px;
    }

    #shopify-section-{{ section.id }} .has-error.globo-form-control .flat-input {
        border: 1px solid #DA291C;
    }

    #shopify-section-{{ section.id }} .gfb__dropzone--placeholder--title {
        color: #121212;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px; /* 150% */
        position: relative;
    }

    #shopify-section-{{ section.id }} .gfb__dropzone--placeholder--title::before {
        content: "";
        position: absolute;
        top: -80px;
        width: 68px;
        height: 68px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='68' viewBox='0 0 68 68' fill='none'%3E%3Cpath d='M34 59.5C33.575 59.5 33.15 59.075 32.725 58.65C32.3 58.225 32.3 57.7999 32.3 56.9499V32.3C32.3 31.45 32.7251 30.6 33.1501 30.175C33.575 29.75 34.425 29.75 34.85 30.175C35.275 30.6 35.7 31.45 35.7 32.3V57.375C35.7 58.65 34.85 59.5 34 59.5Z' fill='%23121212'/%3E%3Cpath d='M42.0749 39.9499C41.65 39.9499 41.225 39.95 40.8 39.525L34 32.725L27.2 39.525C26.775 40.375 25.5 39.95 24.65 39.525C23.8 38.675 23.8 37.4 24.65 36.975L31.45 29.75C32.725 28.475 34.85 28.475 36.125 29.75L42.925 36.55C43.35 36.975 43.775 37.825 43.35 38.675C43.35 39.525 42.9249 39.9499 42.0749 39.9499Z' fill='%23121212'/%3E%3Cpath d='M53.55 21.675C50.575 14.025 42.925 8.5 34 8.5C25.075 8.5 17.425 14.025 14.45 21.675C6.375 22.95 0 29.75 0 38.25C0 47.6 7.65 55.25 17 55.25C18.275 55.25 19.125 54.4 19.125 53.125C19.125 51.85 18.275 51 17 51C9.775 51 4.25 45.475 4.25 38.25C4.25 32.725 8.075 27.625 13.175 26.35C14.45 25.925 15.725 25.5 17 25.5H17.425C17.85 23.8 18.275 22.525 19.125 21.25C22.1 16.15 27.625 12.75 33.575 12.75C39.525 12.75 45.05 16.15 48.025 21.25C48.875 22.525 49.3 23.8 49.725 25.5H51C52.275 25.5 53.55 25.925 54.825 26.35C59.925 27.625 63.75 32.725 63.75 38.25C63.75 45.475 58.225 51 51 51C49.725 51 48.875 51.85 48.875 53.125C48.875 54.4 49.725 55.25 51 55.25C60.35 55.25 68 47.6 68 38.25C68 29.75 61.625 22.95 53.55 21.675Z' fill='%23121212'/%3E%3C/svg%3E");
        left: 50%;
        transform: translate(-50%);
    }

    #shopify-section-{{ section.id }} .gfb__dropzone--preview--area {
        z-index: 4;
    }

    #shopify-section-{{ section.id }} .globo-form-control:has(.gfb__dropzone) {
        position: relative;
    }

    #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app .globo-form-control:has(.gfb__dropzone) .help-text.globo-description::before {
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M0 0H14V14H0V0Z' fill='white' fill-opacity='0.01'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.00029 0.15918C3.22201 0.15918 0.15918 3.22201 0.15918 7.00029C0.15918 10.7783 3.22201 13.8408 7.00029 13.8408C10.7783 13.8408 13.8411 10.778 13.8411 6.99998C13.8411 3.22201 10.7786 0.15918 7.00029 0.15918ZM7.00029 10.7951C6.58111 10.7951 6.2413 10.4553 6.2413 10.0361C6.2413 9.61694 6.58111 9.27713 7.00029 9.27713C7.41948 9.27713 7.75929 9.61694 7.75929 10.0361C7.75929 10.4553 7.41948 10.7951 7.00029 10.7951ZM7.37956 7.71824C7.37956 8.13871 7.20538 8.47708 7.00029 8.47708C6.79521 8.47708 6.62072 8.13871 6.62072 7.71824L6.24114 4.34388C6.24114 3.9247 6.58096 3.58489 7.00014 3.58489C7.41932 3.58489 7.75913 3.9247 7.75913 4.34388L7.37956 7.71824Z' fill='url(%23paint0_linear_4114_183)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_4114_183' x1='-5.80086' y1='7.80716' x2='7.88078' y2='19.7273' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235E8DFF'/%3E%3Cstop offset='1' stop-color='%234B80FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        display: inline-flex;
        width: 14px;
        height: 15px;
        background-repeat: no-repeat;
    }

    #shopify-section-{{ section.id }} .globo-form-control .gfb__dropzone .gfb__dropzone--content {
        padding-top: 45px;
    }

    #shopify-section-{{ section.id }} .globo-form-control .gfb__dropzone--placeholder--button {
        background: transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 2;
        border: none;
        color: #fff;
    }

    #shopify-section-{{ section.id }} .globo-form-app .gfb__footer {
        text-align: center;
        padding: 0 36px 32px 36px;
        width: 100%;
    }

    #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app .gfb__footer button {
        width: 100%;
        color: #121212;
        font-size: 20px;
        font-weight: 700;
        padding: 14px 0;
    }

    #shopify-section-{{ section.id }} .globo-form-control .gfb__dropzone--placeholder--description {
        color: #121212;
        font-size: 16px;
        line-height: 24px; /* 150% */
        opacity: 0.7;
        font-weight: 400;
    }

    #shopify-section-{{ section.id }} .globo-form-control {
        margin-bottom: 0;
    }

    #shopify-section-{{ section.id }} .globo-form-control .checkbox-wrapper .checkbox-input~.checkbox-label:before {
        border-radius: 4px;
        border: 2px solid #165DFF;
        box-shadow: none;
    }

    #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app .globo-form-control .checkbox-wrapper .checkbox-input:checked ~ .checkbox-label:before {
        border-color: #165DFF;
        background: #165DFF;
    }

    #shopify-section-{{ section.id }} .how-it-work-section {
        display: flex;
        justify-content: center;
        color: #121212;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        line-height: 60px; /* 150% */
        margin: 80px 0;
    }

    #shopify-section-{{ section.id }} .how-it-work-title {
        padding-bottom: 48px;
    }

    #shopify-section-{{ section.id }} .how-it-work-timeline-line {
        background: {{ section.settings.time_line_background }};
        width: 100%;
        height: 4px;
        position: absolute;
        top: 12px;
    }

    #shopify-section-{{ section.id }} .how-it-work-timeline-item-wrapper {
        display: flex;
        justify-items: center;
        width: 100%;
        justify-content: space-around;
        z-index: 1;
    }

    #shopify-section-{{ section.id }} [data-element-id="file2-1"] .help-block.error {
        display: block;
    }

    #shopify-section-{{ section.id }} .how-it-work-timeline-title {
        color: #121212;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px; /* 150% */
    }

    #shopify-section-{{ section.id }} .how-it-work-timeline-item {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        flex: 1;
    }

    #shopify-section-{{ section.id }} .how-it-work-timeline-wrapper {
        display: flex;
        position: relative;
    }

    #shopify-section-{{ section.id }} .how-it-work-timeline-icon {
        display: flex;
        height: 36px;
        margin-top: 20px;
        margin-bottom: 12px;
    }

    {% for block in section.blocks %}
        #timeline-item-{{ block.id }} .how-it-work-timeline-dot {
            border-radius: 99px;
            background: {{ block.settings.dot_color }};
            width: 24px;
            height: 24px;
            padding-bottom: 20px;
        }
    {% endfor %}

    @media screen and (max-width: 768px) {
        #shopify-section-{{ section.id }} .how-it-work-title {
            font-size: 24px;
            line-height: 1.2;
            padding-bottom: 24px;
        }

        #shopify-section-{{ section.id }} .how-it-work-section {
            margin: 32px 20px;
        }

        #shopify-section-{{ section.id }} .how-it-work-timeline-icon {
            margin-top: 12px;
            margin-bottom: 12px;
            height: 16px;
        }

        #shopify-section-{{ section.id }} .how-it-work-timeline-icon svg {
            width: 16px;
            height: 16px;
        }

        #shopify-section-{{ section.id }} .how-it-work-timeline-dot {
            width: 12px;
            height: 12px;
            padding-bottom: 0;
        }

        #shopify-section-{{ section.id }} .how-it-work-timeline-line {
            height: 2px;
            top: 6px;
        }

        #shopify-section-{{ section.id }} .how-it-work-timeline-title {
            font-size: 12px;
            line-height: 1.2;
        }

        #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app {
            margin-top: 12px;
        }

        #shopify-section-{{ section.id }} .globo-form-control.layout-2-column {
            width: 100%;
        }

        #shopify-section-{{ section.id }} .globo-form-app [data-steps-quantity="1"] .panels {
            padding: 12px;
            padding-bottom: 0;
        }

        #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app .globo-form-control label.globo-label span.label-content {
            font-size: 16px;
        }

        #shopify-section-{{ section.id }} .globo-form-control .flat-input {
            height: 32px;
            padding: 4px 12px;
        }

        #shopify-section-{{ section.id }} .flat-input::placeholder {
            font-size: 12px !important;
            line-height: 1.3 !important; /* 133.333% */
        }

        #shopify-section-{{ section.id }} .globo-form-control label .text-danger {
            font-size: 16px;
        }

        #shopify-section-{{ section.id }} .globo-form-app .panel {
            gap: 12px;
        }

        #shopify-section-{{ section.id }} .gfb__dropzone--placeholder--title {
            font-size: 14px;
            line-height: 30px;
        }

        #shopify-section-{{ section.id }} .globo-form-control .gfb__dropzone--placeholder--description {
            font-size: 12px;
            line-height: 2;
        }

        #shopify-section-{{ section.id }} .globo-form-control .checkbox-wrapper label {
            font-size: 10px;
            margin-bottom: 0;
        }

        #shopify-section-{{ section.id }} .globo-form-control .checkbox-wrapper .checkbox-input~.checkbox-label:before {
            width: 12px;
            height: 12px;
            top: 10px;
        }

        #shopify-section-{{ section.id }} .globo-form-app .gfb__footer {
            padding: 0 12px 12px 12px;
        }

        #shopify-section-{{ section.id }} .globo-form-control .checkbox-wrapper .checkbox-input~.checkbox-label:before {
            top: 6px;
            left: -23px;
        }

        #shopify-section-{{ section.id }} .globo-form-control .checkbox-wrapper {
            padding-left: 20px;
        }

        #shopify-section-{{ section.id }} .globo-form-id-126387 .globo-form-app .gfb__footer button {
            font-size: 14px;
        }

        #shopify-section-{{ section.id }} .gfb__footer .globo-description {
            margin: 0;
        }

        #shopify-section-{{ section.id }} [data-type="checkbox"] .flat-label {
            margin-bottom: 0;
        }
    }
</style>

<div class="how-it-work-section">
    <div class="how-it-work-section-wrapper">
        <div class="how-it-work-title">{{ section.settings.title }}</div>
        <div class="how-it-work-timeline-wrapper">
            <div class="how-it-work-timeline-line"></div>
            <div class="how-it-work-timeline-item-wrapper">
                {%- for block in section.blocks -%}
                    <div class="how-it-work-timeline-item" id="timeline-item-{{ block.id }}">
                        <div class="how-it-work-timeline-dot"></div>
                        <div class="how-it-work-timeline-icon">
                            {{ block.settings.icon }}
                        </div>
                        <div class="how-it-work-timeline-title">
                            {{ block.settings.timeline_title }}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
        <div class="globo-formbuilder" data-id="MTI2Mzg3"></div>
    </div>
</div>

{% schema %}
  {
    "name": "Education form",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "color_background",
            "id": "time_line_background",
            "label": "Timeline background"
        }
    ],
    "blocks": [
        {
            "type": "TimeLineItem",
            "name": "TimeLine Item",
            "settings": [
                {
                    "type": "liquid",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "text",
                    "id": "timeline_title",
                    "label": "Timeline title"
                },
                {
                    "type": "color",
                    "id": "dot_color",
                    "label": "Dot color"
                }
            ],
        }
    ],
    "presets": [
      {
        "name": "Education form"
      }
    ]
  }
{% endschema %}