

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-537986473635349290.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-537986473635349290.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-537986473635349290.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-537986473635349290.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-537986473635349290.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-537986473635349290.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-537986473635349290.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-537986473635349290.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-537986473635349290.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-537986473635349290.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-537986473635349290.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-537986473635349290.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-537986473635349290.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-537986473635349290.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-537986473635349290.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-537986473635349290.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-537986473635349290.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-537986473635349290.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-537986473635349290.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-537986473635349290.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-537986473635349290.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-537986473635349290.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-537986473635349290.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-537986473635349290.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-537986473635349290.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-537986473635349290.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-537986473635349290.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-537986473635349290.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-537986473635349290.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-537986473635349290.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-537986473635349290.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-537986473635349290.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-537986473635349290.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-537986473635349290.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-537986473635349290.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-537986473635349290.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-537986473635349290.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-537986473635349290.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-537986473635349290.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-537986473635349290.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-537986473635349290.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-537986473635349290.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-537986473635349290.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-537986473635349290.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-537986473635349290.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-537986473635349290.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-537986473635349290.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-537986473635349290.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-537986473635349290.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-537986473635349290.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-537986473635349290.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-537986473635349290.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-537986473635349290.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-537986473635349290.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-537986473635349290.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-537986473635349290.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-537986473635349290.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-537986473635349290.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-537986473635349290.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-537986473635349290.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-537986473635349290.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-537986473635349290.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-537986473635349290.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-537986473635349290 .gp-relative{position:relative}.gps-537986473635349290 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-537986473635349290 .gp-mb-0{margin-bottom:0}.gps-537986473635349290 .gp-flex{display:flex}.gps-537986473635349290 .gp-grid{display:grid}.gps-537986473635349290 .gp-contents{display:contents}.gps-537986473635349290 .\!gp-hidden{display:none!important}.gps-537986473635349290 .gp-hidden{display:none}.gps-537986473635349290 .gp-h-full{height:100%}.gps-537986473635349290 .gp-w-full{width:100%}.gps-537986473635349290 .gp-max-w-full{max-width:100%}.gps-537986473635349290 .gp-flex-col{flex-direction:column}.gps-537986473635349290 .gp-gap-y-0{row-gap:0}.gps-537986473635349290 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-537986473635349290 .gp-duration-200{transition-duration:.2s}.gps-537986473635349290 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-537986473635349290 .tablet\:\!gp-hidden{display:none!important}.gps-537986473635349290 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-537986473635349290 .mobile\:\!gp-hidden{display:none!important}.gps-537986473635349290 .mobile\:gp-hidden{display:none}}.gps-537986473635349290 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-537986473635349290 .\[\&_p\]\:gp-inline p{display:inline}.gps-537986473635349290 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-537986473635349290 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="ge0TNXQU4i" data-id="ge0TNXQU4i"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--pt:0px;--pb:0px;--cg:40px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge0TNXQU4i gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwMFvYa_hK gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gxGvmziJVO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gxGvmziJVO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:30px;--size-tablet:22px;--size-mobile:20px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxGvmziJVO_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gxGvmziJVO">
        .gxGvmziJVO {

}
.gxGvmziJVO p {

}
      </style>
    
  <gp-text data-id="gd2ld_nl_H">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gd2ld_nl_H "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:75px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggd2ld_nl_H_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gd2ld_nl_H">
        .gd2ld_nl_H {

}
.gd2ld_nl_H p {

}
      </style>
    
  <gp-text data-id="gWPxhWRgSF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWPxhWRgSF "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:22px;--size-tablet:22px;--size-mobile:20px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWPxhWRgSF_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gWPxhWRgSF">
        .gWPxhWRgSF {

}
.gWPxhWRgSF p {

}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gs8i_Bvl8P" data-id="gs8i_Bvl8P"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gs8i_Bvl8P gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzzjgjPqIw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gt0OYfzA8Z">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gt0OYfzA8Z "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:35px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggt0OYfzA8Z_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gt0OYfzA8Z">
        .gt0OYfzA8Z {

}
.gt0OYfzA8Z p {

}
      </style>
    
  <gp-text data-id="gXYL6W22CY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXYL6W22CY "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXYL6W22CY_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gXYL6W22CY">
        .gXYL6W22CY {

}
.gXYL6W22CY p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gM7KENog9m" data-id="gM7KENog9m"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM7KENog9m gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjPUtjZ1bs gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g4g00sPUBH"
    role="presentation"
    class="gp-group/image g4g00sPUBH"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:35px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-a9d65f55-a2ad-4531-8a79-5ec763197537_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODM4IiBoZWlnaHQ9IjgzOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODM4LTgzOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODM4IiBoZWlnaHQ9IjgzOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODM4IiBoZWlnaHQ9IjgzOCIgZmlsbD0idXJsKCNnLTgzOC04MzgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MzgiIHRvPSI4MzgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-a9d65f55-a2ad-4531-8a79-5ec763197537_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODM4IiBoZWlnaHQ9IjgzOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODM4LTgzOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODM4IiBoZWlnaHQ9IjgzOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODM4IiBoZWlnaHQ9IjgzOCIgZmlsbD0idXJsKCNnLTgzOC04MzgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MzgiIHRvPSI4MzgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODM4IiBoZWlnaHQ9IjY1MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODM4LTY1MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODM4IiBoZWlnaHQ9IjY1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODM4IiBoZWlnaHQ9IjY1MyIgZmlsbD0idXJsKCNnLTgzOC02NTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MzgiIHRvPSI4MzgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_491413794182923290-a9d65f55-a2ad-4531-8a79-5ec763197537.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="ghFBYDHQ2G">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghFBYDHQ2G "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:5px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghFBYDHQ2G_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ghFBYDHQ2G">
        .ghFBYDHQ2G {

}
.ghFBYDHQ2G p {

}
      </style>
    <div
    
     data-id="g2h1KO1OOc"
    role="presentation"
    class="gp-group/image g2h1KO1OOc"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:75px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-78a626d9-0dad-4c39-9ca9-cc78d8d5a718_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODA5IiBoZWlnaHQ9IjgwOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODA5LTgwOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODA5IiBoZWlnaHQ9IjgwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODA5IiBoZWlnaHQ9IjgwOSIgZmlsbD0idXJsKCNnLTgwOS04MDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDkiIHRvPSI4MDkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-78a626d9-0dad-4c39-9ca9-cc78d8d5a718_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODA5IiBoZWlnaHQ9IjgwOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODA5LTgwOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODA5IiBoZWlnaHQ9IjgwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODA5IiBoZWlnaHQ9IjgwOSIgZmlsbD0idXJsKCNnLTgwOS04MDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDkiIHRvPSI4MDkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODA5IiBoZWlnaHQ9IjQyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODA5LTQyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODA5IiBoZWlnaHQ9IjQyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODA5IiBoZWlnaHQ9IjQyOCIgZmlsbD0idXJsKCNnLTgwOS00MjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDkiIHRvPSI4MDkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_491413794182923290-78a626d9-0dad-4c39-9ca9-cc78d8d5a718.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:700px;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gg4Ai4hI3Q">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gg4Ai4hI3Q "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:22px;--size-tablet:22px;--size-mobile:20px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggg4Ai4hI3Q_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gg4Ai4hI3Q">
        .gg4Ai4hI3Q {

}
.gg4Ai4hI3Q p {

}
      </style>
    
  <gp-text data-id="glkFNmNo6X">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="glkFNmNo6X "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:35px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglkFNmNo6X_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-glkFNmNo6X">
        .glkFNmNo6X {

}
.glkFNmNo6X p {

}
      </style>
    
  <gp-text data-id="gGFrWcVXBE">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gGFrWcVXBE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGFrWcVXBE_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gGFrWcVXBE">
        .gGFrWcVXBE {

}
.gGFrWcVXBE p {

}
      </style>
    <div
    
     data-id="giypbIHSNB"
    role="presentation"
    class="gp-group/image giypbIHSNB"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:35px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-3cd53804-de92-4b4e-a40a-7b1348815f60_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc2NCIgaGVpZ2h0PSIxNzY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzY0LTE3NjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NjQiIGhlaWdodD0iMTc2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc2NCIgaGVpZ2h0PSIxNzY0IiBmaWxsPSJ1cmwoI2ctMTc2NC0xNzY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc2NCIgdG89IjE3NjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-3cd53804-de92-4b4e-a40a-7b1348815f60_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc2NCIgaGVpZ2h0PSIxNzY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzY0LTE3NjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NjQiIGhlaWdodD0iMTc2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc2NCIgaGVpZ2h0PSIxNzY0IiBmaWxsPSJ1cmwoI2ctMTc2NC0xNzY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc2NCIgdG89IjE3NjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc2NCIgaGVpZ2h0PSI1MjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE3NjQtNTIyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNzY0IiBoZWlnaHQ9IjUyMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc2NCIgaGVpZ2h0PSI1MjIiIGZpbGw9InVybCgjZy0xNzY0LTUyMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE3NjQiIHRvPSIxNzY0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_491413794182923290-3cd53804-de92-4b4e-a40a-7b1348815f60.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="g3Uev9PNP7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3Uev9PNP7 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:5px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3Uev9PNP7_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g3Uev9PNP7">
        .g3Uev9PNP7 {

}
.g3Uev9PNP7 p {

}
      </style>
    <div
    
     data-id="gtNr20H4b1"
    role="presentation"
    class="gp-group/image gtNr20H4b1"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:75px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-056f13e2-256e-4729-930b-d11b746557c3_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU0MyIgaGVpZ2h0PSIxNTQzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTQzLTE1NDMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1NDMiIGhlaWdodD0iMTU0MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU0MyIgaGVpZ2h0PSIxNTQzIiBmaWxsPSJ1cmwoI2ctMTU0My0xNTQzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTU0MyIgdG89IjE1NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-056f13e2-256e-4729-930b-d11b746557c3_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU0MyIgaGVpZ2h0PSIxNTQzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTQzLTE1NDMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1NDMiIGhlaWdodD0iMTU0MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU0MyIgaGVpZ2h0PSIxNTQzIiBmaWxsPSJ1cmwoI2ctMTU0My0xNTQzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTU0MyIgdG89IjE1NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU0MyIgaGVpZ2h0PSIxMDc0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTQzLTEwNzQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1NDMiIGhlaWdodD0iMTA3NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU0MyIgaGVpZ2h0PSIxMDc0IiBmaWxsPSJ1cmwoI2ctMTU0My0xMDc0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTU0MyIgdG89IjE1NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_491413794182923290-056f13e2-256e-4729-930b-d11b746557c3.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:solid;--bc:#000000;--bw:1px 1px 1px 1px"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gWRVZce0Wl">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWRVZce0Wl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:22px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWRVZce0Wl_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gWRVZce0Wl">
        .gWRVZce0Wl {

}
.gWRVZce0Wl p {

}
      </style>
    
  <gp-text data-id="gU-tDTfCjh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gU-tDTfCjh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:35px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggU-tDTfCjh_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gU-tDTfCjh">
        .gU-tDTfCjh {

}
.gU-tDTfCjh p {

}
      </style>
    
  <gp-text data-id="g2_D89VAbs">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g2_D89VAbs "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2_D89VAbs_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g2_D89VAbs">
        .g2_D89VAbs {

}
.g2_D89VAbs p {

}
      </style>
    <div
    
     data-id="g5Ej8D0fjv"
    role="presentation"
    class="gp-group/image g5Ej8D0fjv"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:35px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-64ecf6e2-3d77-4564-b1c6-b4255914d6d0_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-64ecf6e2-3d77-4564-b1c6-b4255914d6d0_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNDA1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjQwNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDUiIGZpbGw9InVybCgjZy0xMjAwLTQwNSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_491413794182923290-64ecf6e2-3d77-4564-b1c6-b4255914d6d0.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="g5ZC79pN61">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5ZC79pN61 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5ZC79pN61_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g5ZC79pN61">
        .g5ZC79pN61 {

}
.g5ZC79pN61 p {

}
      </style>
    
  <gp-text data-id="g89X8MLeRV">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g89X8MLeRV "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:60px;--mb:5px;--mr:60px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg89X8MLeRV_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g89X8MLeRV">
        .g89X8MLeRV {

}
.g89X8MLeRV p {

}
      </style>
    <div
    
     data-id="g6Oyr016kI"
    role="presentation"
    class="gp-group/image g6Oyr016kI"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:75px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-47521085-3063-4dd6-a098-a1c404833aff_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzk4IiBoZWlnaHQ9IjM5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzk4LTM5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzk4IiBoZWlnaHQ9IjM5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzk4IiBoZWlnaHQ9IjM5OCIgZmlsbD0idXJsKCNnLTM5OC0zOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTgiIHRvPSIzOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-47521085-3063-4dd6-a098-a1c404833aff_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzk4IiBoZWlnaHQ9IjM5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzk4LTM5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzk4IiBoZWlnaHQ9IjM5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzk4IiBoZWlnaHQ9IjM5OCIgZmlsbD0idXJsKCNnLTM5OC0zOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTgiIHRvPSIzOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzk4IiBoZWlnaHQ9IjQyOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzk4LTQyOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzk4IiBoZWlnaHQ9IjQyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzk4IiBoZWlnaHQ9IjQyOCIgZmlsbD0idXJsKCNnLTM5OC00MjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTgiIHRvPSIzOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_491413794182923290-47521085-3063-4dd6-a098-a1c404833aff.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gd1n7KiS9G" data-id="gd1n7KiS9G"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:160px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd1n7KiS9G gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gG9JD36o_X gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gpsrq_8ODJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpsrq_8ODJ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:22px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpsrq_8ODJ_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpsrq_8ODJ">
        .gpsrq_8ODJ {

}
.gpsrq_8ODJ p {

}
      </style>
    
  <gp-text data-id="gYsic2S4Uv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gYsic2S4Uv "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:35px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYsic2S4Uv_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYsic2S4Uv">
        .gYsic2S4Uv {

}
.gYsic2S4Uv p {

}
      </style>
    
  <gp-text data-id="gZa1TUTn4J">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gZa1TUTn4J "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZa1TUTn4J_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZa1TUTn4J">
        .gZa1TUTn4J {

}
.gZa1TUTn4J p {

}
      </style>
    <div
    
     data-id="gJhbVPsg_V"
    role="presentation"
    class="gp-group/image gJhbVPsg_V"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:35px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-06bdbbd4-8218-4d46-aee3-e8b7c641d37e_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyNiIgaGVpZ2h0PSIxMzI2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzI2LTEzMjYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMjYiIGhlaWdodD0iMTMyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyNiIgaGVpZ2h0PSIxMzI2IiBmaWxsPSJ1cmwoI2ctMTMyNi0xMzI2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMyNiIgdG89IjEzMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-06bdbbd4-8218-4d46-aee3-e8b7c641d37e_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyNiIgaGVpZ2h0PSIxMzI2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzI2LTEzMjYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMjYiIGhlaWdodD0iMTMyNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyNiIgaGVpZ2h0PSIxMzI2IiBmaWxsPSJ1cmwoI2ctMTMyNi0xMzI2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMyNiIgdG89IjEzMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyNiIgaGVpZ2h0PSI4ODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEzMjYtODg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMzI2IiBoZWlnaHQ9Ijg4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyNiIgaGVpZ2h0PSI4ODciIGZpbGw9InVybCgjZy0xMzI2LTg4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEzMjYiIHRvPSIxMzI2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_491413794182923290-06bdbbd4-8218-4d46-aee3-e8b7c641d37e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gpW9ViQjTp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpW9ViQjTp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:5px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpW9ViQjTp_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpW9ViQjTp">
        .gpW9ViQjTp {

}
.gpW9ViQjTp p {

}
      </style>
    <div
    
     data-id="g2_hJIre42"
    role="presentation"
    class="gp-group/image g2_hJIre42"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:35px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-91a28ef1-9c5b-468c-bf43-7ef480b3b538_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MSIgaGVpZ2h0PSIxMTUxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTUxLTExNTEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNTEiIGhlaWdodD0iMTE1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MSIgaGVpZ2h0PSIxMTUxIiBmaWxsPSJ1cmwoI2ctMTE1MS0xMTUxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE1MSIgdG89IjExNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-91a28ef1-9c5b-468c-bf43-7ef480b3b538_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MSIgaGVpZ2h0PSIxMTUxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTUxLTExNTEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNTEiIGhlaWdodD0iMTE1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MSIgaGVpZ2h0PSIxMTUxIiBmaWxsPSJ1cmwoI2ctMTE1MS0xMTUxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE1MSIgdG89IjExNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MSIgaGVpZ2h0PSI0MjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNTEtNDI4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTUxIiBoZWlnaHQ9IjQyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MSIgaGVpZ2h0PSI0MjgiIGZpbGw9InVybCgjZy0xMTUxLTQyOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNTEiIHRvPSIxMTUxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_491413794182923290-91a28ef1-9c5b-468c-bf43-7ef480b3b538.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gZozcel15J gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-537986473635349290 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=525190303422874655&sectionId=537986473635349290)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxGvmziJVO_text","label":"ggxGvmziJVO_text","default":"<p><strong>How to Integrate Procolored into POD Business</strong></p>"},{"type":"html","id":"ggd2ld_nl_H_text","label":"ggd2ld_nl_H_text","default":"<p>Procolored provides lightweight and user-friendly DTF, UV DTF, UV and DTG printers to help achieve printing on fabric, acrylic, glass and so on materials. With the upgraded compact size and developing configuration, Procolored products are sold in more than 58 countries and regions, empowering over 30,000 home-based entrepreneurs to launch and expand their POD printing businesses.&nbsp;<br>Wondering what printers are on sale and how to pick your suitable one? Lets take a closer look into Procolored products.</p>"},{"type":"html","id":"ggWPxhWRgSF_text","label":"ggWPxhWRgSF_text","default":"<p><strong>1. DTF (Direct-to-Film) Printer</strong></p>"},{"type":"html","id":"ggt0OYfzA8Z_text","label":"ggt0OYfzA8Z_text","default":"<p>DTF printer, also known as Direct-to-film printer, applies DTF ink and PET film to achieve printings transferable from film to a wide range of fabric, including cotton, polyester, cotton-polyester blends, spandex, nylon, denim, canvas and so forth. &nbsp;<br>Configured with patented Procolored Siphon Circulation System and diversed printable sizes (we recommend A4 DTF printer for new beginners, A3 DTF printer for small studios), Procolored provides the best DTF printer collection with stable and impressive performance to meet your different needs!&nbsp;</p>"},{"type":"html","id":"ggXYL6W22CY_text","label":"ggXYL6W22CY_text","default":"<p>How DTF printers work:</p>"},{"type":"html","id":"gghFBYDHQ2G_text","label":"gghFBYDHQ2G_text","default":"<p>Procolored DTF Printers Comparison:</p>"},{"type":"html","id":"ggg4Ai4hI3Q_text","label":"ggg4Ai4hI3Q_text","default":"<p><span style=\"font-size:22px;\">2.UV (Ultra-Violet) Printer</span></p>"},{"type":"html","id":"gglkFNmNo6X_text","label":"gglkFNmNo6X_text","default":"<p>UV printer, also known as Ultra-Violet printer, applies UV ink and built-in UV lights to achieve printings directly on surfaces of wood, metal, acrylic, crystal, glass and so on materials.<br>Procolored provides UV printers of diverse sizes for different needs - A4 &amp; A3 UV printer for decor printing including wood plate or phone case; A1 UV printer for lawn sign or advertising board printing.</p>"},{"type":"html","id":"ggGFrWcVXBE_text","label":"ggGFrWcVXBE_text","default":"<p>How UV printers work:</p>"},{"type":"html","id":"gg3Uev9PNP7_text","label":"gg3Uev9PNP7_text","default":"<p>Procolored UV Printers Comparison:</p>"},{"type":"html","id":"ggWRVZce0Wl_text","label":"ggWRVZce0Wl_text","default":"<p><span style=\"font-size:22px;\">3. UV DTF Printer&nbsp;</span></p>"},{"type":"html","id":"ggU-tDTfCjh_text","label":"ggU-tDTfCjh_text","default":"<p>Unlike UV printing machines, UV DTF printer (also known as UV DTF transfers) doesnt directly print on object surfaces, it prints on film first and get the inks dried by UV lights. Then the printing will be needed to laminated and transferred make a final crystal sticker.<br>Like UV printer, UV DTF printer can be a printer on wood, metal, acrylic and so forth materials, and even with a wider application - UV DTF printing can also be patched on beveled or irregular surfaces.</p>"},{"type":"html","id":"gg2_D89VAbs_text","label":"gg2_D89VAbs_text","default":"<p>How UV DTF printings work:</p>"},{"type":"html","id":"gg5ZC79pN61_text","label":"gg5ZC79pN61_text","default":"<p>Procolored UV DTF Printer</p>"},{"type":"html","id":"gg89X8MLeRV_text","label":"gg89X8MLeRV_text","default":"<p>So far Procolored only provides one UV DTF printer on sale. This printer combines printing and laminating together, efficiently improving the workflow of creating crystal stickers.</p>"},{"type":"html","id":"ggpsrq_8ODJ_text","label":"ggpsrq_8ODJ_text","default":"<p><span style=\"font-size:22px;\">4. DTG (Direct-to-Garment) Printer</span></p>"},{"type":"html","id":"ggYsic2S4Uv_text","label":"ggYsic2S4Uv_text","default":"<p>DTG printer, also known as Direct-to-Garment printer, can achieve printing directly onto fabrics (better of over 80% cotton) with amazing color accuracy and vibrancy. Besides using as a Tshirt printer, DTG printer can also be applied to produce other custom apparels or decors, including hoodies, socks and even curtains.&nbsp;<br>Procolored provides DTG printers of innovative technologies and diverse sizes, presenting you garment printing with smooth workflows and striking printing outputs.</p>"},{"type":"html","id":"ggZa1TUTn4J_text","label":"ggZa1TUTn4J_text","default":"<p>How DTG printers work:</p>"},{"type":"html","id":"ggpW9ViQjTp_text","label":"ggpW9ViQjTp_text","default":"<p>Procolored DTG Printers Comparison:</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
