

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-522027494757368587.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-522027494757368587.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-522027494757368587.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-522027494757368587.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-522027494757368587.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-522027494757368587.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-522027494757368587.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-522027494757368587.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-522027494757368587.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-522027494757368587.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-522027494757368587.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-522027494757368587.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-522027494757368587.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-522027494757368587.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-522027494757368587.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-522027494757368587.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-522027494757368587.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-522027494757368587.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-522027494757368587.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-522027494757368587.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-522027494757368587.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-522027494757368587.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-522027494757368587.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-522027494757368587.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-522027494757368587.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-522027494757368587.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-522027494757368587.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-522027494757368587.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-522027494757368587.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-522027494757368587.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-522027494757368587.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-522027494757368587.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-522027494757368587.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-522027494757368587.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-522027494757368587.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-522027494757368587.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-522027494757368587.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-522027494757368587.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-522027494757368587.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-522027494757368587.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-522027494757368587.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-522027494757368587.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-522027494757368587.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-522027494757368587.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-522027494757368587.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-522027494757368587.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-522027494757368587.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-522027494757368587.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-522027494757368587.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-522027494757368587.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-522027494757368587.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-522027494757368587.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-522027494757368587.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-522027494757368587.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-522027494757368587.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-522027494757368587.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-522027494757368587.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-522027494757368587.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-522027494757368587.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-522027494757368587.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-522027494757368587.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-522027494757368587.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-522027494757368587.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-522027494757368587.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-522027494757368587.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-522027494757368587.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-522027494757368587.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-522027494757368587.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-522027494757368587.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-522027494757368587.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-522027494757368587.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-522027494757368587.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-522027494757368587.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-522027494757368587.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-522027494757368587.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-522027494757368587.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-522027494757368587.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-522027494757368587.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-522027494757368587.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-522027494757368587.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-522027494757368587.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-522027494757368587.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-522027494757368587.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-522027494757368587.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-522027494757368587.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-522027494757368587.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-522027494757368587.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-522027494757368587.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-522027494757368587 .focus\:\!gp-shadow-none,.gps-522027494757368587 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-522027494757368587 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-522027494757368587 .\!gp-g-s-medium{padding:8px 24px!important}.gps-522027494757368587 .gp-fixed{position:fixed}.gps-522027494757368587 .gp-relative{position:relative}.gps-522027494757368587 .gp-top-\[27px\]{top:27px}.gps-522027494757368587 .gp-z-1{z-index:1}.gps-522027494757368587 .gp-z-100{z-index:100}.gps-522027494757368587 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-522027494757368587 .gp-mb-0{margin-bottom:0}.gps-522027494757368587 .gp-block{display:block}.gps-522027494757368587 .\!gp-inline{display:inline!important}.gps-522027494757368587 .gp-flex{display:flex}.gps-522027494757368587 .gp-inline-flex{display:inline-flex}.gps-522027494757368587 .gp-grid{display:grid}.gps-522027494757368587 .\!gp-hidden{display:none!important}.gps-522027494757368587 .gp-hidden{display:none}.gps-522027494757368587 .\!gp-h-auto{height:auto!important}.gps-522027494757368587 .gp-h-full{height:100%}.gps-522027494757368587 .gp-w-full{width:100%}.gps-522027494757368587 .gp-max-w-full{max-width:100%}.gps-522027494757368587 .gp-flex-none{flex:none}.gps-522027494757368587 .gp-flex-col{flex-direction:column}.gps-522027494757368587 .gp-items-center{align-items:center}.gps-522027494757368587 .gp-justify-center{justify-content:center}.gps-522027494757368587 .gp-gap-y-0{row-gap:0}.gps-522027494757368587 .gp-overflow-hidden{overflow:hidden}.gps-522027494757368587 .gp-break-words{overflow-wrap:break-word}.gps-522027494757368587 .gp-rounded{border-radius:4px}.gps-522027494757368587 .gp-rounded-none{border-radius:0}.gps-522027494757368587 .\!gp-bg-none{background-image:none!important}.gps-522027494757368587 .gp-p-\[16px\]{padding:16px}.gps-522027494757368587 .gp-text-\[14px\]{font-size:14px}.gps-522027494757368587 .gp-leading-normal{line-height:1.5}.gps-522027494757368587 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-522027494757368587 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-522027494757368587 .gp-no-underline{text-decoration-line:none}.gps-522027494757368587 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-522027494757368587 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-522027494757368587 .gp-duration-200{transition-duration:.2s}.gps-522027494757368587 .gp-duration-300{transition-duration:.3s}.gps-522027494757368587 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-522027494757368587 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-522027494757368587 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-522027494757368587 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-522027494757368587 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-522027494757368587 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-522027494757368587 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-522027494757368587 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-522027494757368587 .tablet\:gp-block{display:block}.gps-522027494757368587 .tablet\:\!gp-hidden{display:none!important}.gps-522027494757368587 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-522027494757368587 .mobile\:gp-block{display:block}.gps-522027494757368587 .mobile\:\!gp-hidden{display:none!important}.gps-522027494757368587 .mobile\:gp-hidden{display:none}}.gps-522027494757368587 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-522027494757368587 .\[\&_p\]\:gp-inline p{display:inline}.gps-522027494757368587 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-522027494757368587 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-522027494757368587 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gMgX0DLu8z" data-id="gMgX0DLu8z"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMgX0DLu8z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glT2Gr9hWR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gdtjcGGiv4" data-id="gdtjcGGiv4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--ml:auto;--mb:var(--g-s-l);--cg:55px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdtjcGGiv4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g41GbT_KgO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gPsFkhtUG8" data-id="gPsFkhtUG8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:11px;--pl:20px;--mb-mobile:11px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:11px;--pl-tablet:40px;--pr-tablet:40px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPsFkhtUG8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV4OUi2WkD gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gxWO0mL0cn">
    <div
      parentTag="Col"
        class="gxWO0mL0cn "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:20px;--pb:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxWO0mL0cn_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gxWO0mL0cn">
        .gxWO0mL0cn {

}
.gxWO0mL0cn p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gHoWh2RQvR" data-id="gHoWh2RQvR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHoWh2RQvR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnT5TCQEze gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gpldUh1S69">
    <div
      parentTag="Col"
        class="gpldUh1S69 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:20px;--pb:5px;--pt-mobile:20px;--pb-mobile:5px;--mb-tablet:5px;--pt-tablet:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpldUh1S69_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpldUh1S69">
        .gpldUh1S69 {

}
.gpldUh1S69 p {

}
      </style>
    <div
    
     data-id="gH8-W5IBY5"
    role="presentation"
    class="gp-group/image gH8-W5IBY5"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pl:50px;--pr:60px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:70px;--pr-tablet:70px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-46014ffd-7c69-4bc0-825b-c4d88ed9170d_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-46014ffd-7c69-4bc0-825b-c4d88ed9170d_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-46014ffd-7c69-4bc0-825b-c4d88ed9170d.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:4032/2268;--aspect-tablet:4032/2268;--aspect-mobile:4032/2268;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-46014ffd-7c69-4bc0-825b-c4d88ed9170d_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-46014ffd-7c69-4bc0-825b-c4d88ed9170d_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-46014ffd-7c69-4bc0-825b-c4d88ed9170d.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:4032/2268;--aspect-tablet:4032/2268;--aspect-mobile:4032/2268;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gH8-W5IBY5">
        .gH8-W5IBY5 {

}
.gH8-W5IBY5 > figure > img {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gN-Js9fm1L">
    <div
      parentTag="Col"
        class="gN-Js9fm1L "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mr:0px;--pb:40px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggN-Js9fm1L_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gN-Js9fm1L">
        .gN-Js9fm1L {

}
.gN-Js9fm1L p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gY_fe5hxNi" data-id="gY_fe5hxNi"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gY_fe5hxNi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUEBAoVuW4 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g9i8u_rKJl">
    <div
      parentTag="Col"
        class="g9i8u_rKJl "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:20px;--pb:5px;--mb-mobile:5px;--pt-mobile:20px;--mb-tablet:5px;--pt-tablet:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9i8u_rKJl_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g9i8u_rKJl">
        .g9i8u_rKJl {

}
.g9i8u_rKJl p {

}
      </style>
    <div
    
     data-id="gT67fdslTL"
    role="presentation"
    class="gp-group/image gT67fdslTL"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pl:50px;--pr:50px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:70px;--pr-tablet:70px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-83143346-d957-450e-bf3f-508e064ad34c_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-83143346-d957-450e-bf3f-508e064ad34c_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-83143346-d957-450e-bf3f-508e064ad34c.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:4032/2268;--aspect-tablet:4032/2268;--aspect-mobile:4032/2268;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-83143346-d957-450e-bf3f-508e064ad34c_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-83143346-d957-450e-bf3f-508e064ad34c_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-83143346-d957-450e-bf3f-508e064ad34c.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:4032/2268;--aspect-tablet:4032/2268;--aspect-mobile:4032/2268;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gT67fdslTL">
        .gT67fdslTL {

}
.gT67fdslTL > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gJFw3t3p-C">
    <div
      parentTag="Col"
        class="gJFw3t3p-C "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mr:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJFw3t3p-C_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gJFw3t3p-C">
        .gJFw3t3p-C {

}
.gJFw3t3p-C p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gCgW2dVnw8">
    <div
      parentTag="Col"
        class="gCgW2dVnw8 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCgW2dVnw8_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gCgW2dVnw8">
        .gCgW2dVnw8 {

}
.gCgW2dVnw8 p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gVLsmwjnmC" data-id="gVLsmwjnmC"
        style="--b:solid;--bc:#777777;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mt:80px;--pr:0px;--mb-mobile:80px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:80px;--mb-tablet:50px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:70%;--w-mobile:80%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVLsmwjnmC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHxxSberob gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gss1rm_GkF" data-id="gss1rm_GkF"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gss1rm_GkF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOsHAcVf9a gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g_jYWSaceP"
    role="presentation"
    class="gp-group/image g_jYWSaceP"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:-50px;--pl:30px;--mt-mobile:-50px;--pl-mobile:0px;--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1024/1024;--aspect-tablet:1024/1024;--aspect-mobile:1024/1024;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1024/1024;--aspect-tablet:1024/1024;--aspect-mobile:1024/1024;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g_jYWSaceP">
        .g_jYWSaceP {

}
.g_jYWSaceP > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQCIiHuEjJ gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="giuV86I2fm">
    <div
      parentTag="Col"
        class="giuV86I2fm "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:10px;--pl:25px;--pr:25px;--pt-mobile:10px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--fs:italic;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggiuV86I2fm_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-giuV86I2fm">
        .giuV86I2fm {

}
.giuV86I2fm p {

}
      </style>
    
    </div>
    </div>
   
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gPEZCT124O">
    <div
      parentTag="Col"
        class="gPEZCT124O "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:25px;--pb:5px;--pr:25px;--pl-mobile:15px;--pb-mobile:5px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--fs:italic;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPEZCT124O_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gPEZCT124O">
        .gPEZCT124O {

}
.gPEZCT124O p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6G2iJcVfy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g9n8eQGsmZ" data-id="g9n8eQGsmZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:var(--g-s-4xl);--mr:auto;--pt:15px;--pr:20px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9n8eQGsmZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV00qmIbCh gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gPTw-8kR6P">
    <div
      parentTag="Col"
        class="gPTw-8kR6P "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:20px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPTw-8kR6P_text }}</h2>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g6WFTxs0id">
    <div
      parentTag="Col"
        class="g6WFTxs0id "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:12px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6WFTxs0id_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l)" class="g4QOLDAk3J ">
      
    <gp-form
      id="g4QOLDAk3J"
      data-id="g4QOLDAk3J"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g4QOLDAk3J"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-g4QOLDAk3J ', id: 'contact_form_g4QOLDAk3J' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g4QOLDAk3J"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.gg4QOLDAk3J_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-g4QOLDAk3J">
        <style>
            #my-popover-g4QOLDAk3J::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-g4QOLDAk3J"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.gg4QOLDAk3J_successMessage }}
        </div></div>
        
       
      
    <div
      parentTag="Newsletter" id="gwDHF43FIN" data-id="gwDHF43FIN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwDHF43FIN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8pzbEuNk_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="g6GCPi-sBS"
      class="g6GCPi-sBS"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:7px;--ta:left;--ta-mobile:center"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--w:400px;--w-tablet:100%;--w-mobile:300px;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.gg6GCPi-sBS_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:6px;--op:100%;--radius:var(--g-radius-none);--ta:center"
    
  >
    <style>
    .gyj0kAp_Id.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gyj0kAp_Id:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gyj0kAp_Id:hover .gp-button-icon {
      color: undefined;
    }

     .gyj0kAp_Id .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gyj0kAp_Id:hover .gp-button-price {
      color: undefined;
    }

    .gyj0kAp_Id .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gyj0kAp_Id .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gyj0kAp_Id:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gyj0kAp_Id" aria-label="Subscribe Now"
      
      data-state="idle"
      class="gyj0kAp_Id gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:#D9291C;--shadow:none;--w:400px;--w-tablet:400px;--w-mobile:300px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        
      >
        {{ section.settings.ggyj0kAp_Id_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
       
      
    <div
      parentTag="Col" id="gNzC2jKbuc" data-id="gNzC2jKbuc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNzC2jKbuc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsmv3oaelO gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:16px;--pt:12px;--pl:0px;--pb:12px" class="goeOc0srPT ">
      
    <div
    data-id="goeOc0srPT"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#B7B3B3"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
      </div>
    </div>
  
      </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gaehXH1rk_">
    <div
      parentTag="Col"
        class="gaehXH1rk_ "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:20px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaehXH1rk__text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g6BBuSe5_t" data-id="g6BBuSe5_t"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb-tablet:19px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6BBuSe5_t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gozZvqPO8W gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gykinVrGF4" data-id="gykinVrGF4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:80%;--w-mobile:80%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gykinVrGF4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7B9vi-fWq gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gBoo5LpWO6"
    role="presentation"
    class="gp-group/image gBoo5LpWO6"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.procolored.com/blogs/news/procolored-unveils-new-trend-of-sports-apparel-customization-with-dtf-printing" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/628;--aspect-tablet:1200/628;--aspect-mobile:1200/628;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/628;--aspect-tablet:1200/628;--aspect-mobile:1200/628;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gBoo5LpWO6">
        .gBoo5LpWO6 {

}
.gBoo5LpWO6 > figure > img {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gI6bdiBQ7Z">
    <div
      parentTag="Col"
        class="gI6bdiBQ7Z "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:12px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggI6bdiBQ7Z_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_elMSekYx gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g0j31XvqD3" data-id="g0j31XvqD3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:80%;--w-mobile:80%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0j31XvqD3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg_6VrGCmS gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gcTS_Wr19O"
    role="presentation"
    class="gp-group/image gcTS_Wr19O"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.procolored.com/blogs/news/print-on-demand-solution-provider-procolored-showcases-latest-innovations-at-graphics-pro-expo-2024" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1642/923;--aspect-tablet:1642/923;--aspect-mobile:1642/923;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1642/923;--aspect-tablet:1642/923;--aspect-mobile:1642/923;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gcTS_Wr19O">
        .gcTS_Wr19O {

}
.gcTS_Wr19O > figure > img {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g7DTrKmh93">
    <div
      parentTag="Col"
        class="g7DTrKmh93 "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7DTrKmh93_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gL-mn02mkf" data-id="gL-mn02mkf"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL-mn02mkf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbOkm41N8f gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--pt:12px;--pl:0px;--pb:12px" class="g2UE2um-fi ">
      
    <div
    data-id="g2UE2um-fi"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#B7B3B3"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
      </div>
    </div>
  
      </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gYqaT7ZCvv">
    <div
      parentTag="Col"
        class="gYqaT7ZCvv "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:20px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYqaT7ZCvv_text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gtePXalbGL" data-id="gtePXalbGL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtePXalbGL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="godNZRlkhY gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g4ArXC_cDd"
    role="presentation"
    class="gp-group/image g4ArXC_cDd"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.procolored.com/blogs/news/procolored-unveils-new-trend-of-sports-apparel-customization-with-dtf-printing" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/628;--aspect-tablet:1200/628;--aspect-mobile:1200/628;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-a15353ec-e10e-466b-a21e-346970da2bc4.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/628;--aspect-tablet:1200/628;--aspect-mobile:1200/628;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-g4ArXC_cDd">
        .g4ArXC_cDd {

}
.g4ArXC_cDd > figure > img {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gZ327KBaxq">
    <div
      parentTag="Col"
        class="gZ327KBaxq "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:12px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZ327KBaxq_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gJJMNVY64j" data-id="gJJMNVY64j"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJJMNVY64j gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggbrWPMpxO gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g2D9_40tGj"
    role="presentation"
    class="gp-group/image g2D9_40tGj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.procolored.com/blogs/news/print-on-demand-solution-provider-procolored-showcases-latest-innovations-at-graphics-pro-expo-2024" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1642/923;--aspect-tablet:1642/923;--aspect-mobile:1642/923;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-9636c4cc-c95e-4ad9-9475-ada05e804cf8.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1642/923;--aspect-tablet:1642/923;--aspect-mobile:1642/923;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-g2D9_40tGj">
        .g2D9_40tGj {

}
.g2D9_40tGj > figure > img {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gV2XBxt5Sf">
    <div
      parentTag="Col"
        class="gV2XBxt5Sf "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggV2XBxt5Sf_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g2h0WISClb" data-id="g2h0WISClb"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2h0WISClb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP0E37429P gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--pt:12px;--pl:0px;--pb:12px" class="ggbrqIDF4b ">
      
    <div
    data-id="ggbrqIDF4b"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#B7B3B3"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:#B7B3B3;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
      </div>
    </div>
  
      </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gs77qsrc_w">
    <div
      parentTag="Col"
        class="gs77qsrc_w "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:20px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggs77qsrc_w_text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g71OUNX3Bc" data-id="g71OUNX3Bc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g71OUNX3Bc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJQQPO8XyJ gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gR8o79k13F">
    <div
      parentTag="Col"
        class="gR8o79k13F "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggR8o79k13F_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-522027494757368587 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=522027494556041995&sectionId=522027494757368587)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxWO0mL0cn_text","label":"ggxWO0mL0cn_text","default":"<p><strong>Greater PhiladelphiaPennsylvania</strong> - July 11, 2024 - Right after the successful &nbsp;wrapping up at Graphics Pro Expo (GPX) 2024 in Long Beach, California, Procolored - a leading printing solution provider, again announced its participation in expo in Greater Philadelphia from July 10 to 12 and has drawn great attention.<br>The Graphic Pro Expo (GPX) is an all-in-one powerhouse industry source that creates a platform for businesses in printing, engraving and embroidery, providing access to unlimited training and business expansion. This June, GPX held an expo in Long Beach and has attracted 758 exhibitors and 2,396 attendees. According to certified statement of Long Beach expo from GPX, Direct-to-Film (DTF) printing booths have been the most popular exhibition area among all the digital printings displayed, and the buzz is expected to remain high at the Greater Philadelphia expo this July.</p>"},{"type":"html","id":"ggpldUh1S69_text","label":"ggpldUh1S69_text","default":"<p>America is a land of high-tech and innovative creation, said Fiona Fu, the Sales Manager of Procolored, Over 50% of our customers are doing full-time digital printing business, and DTF printing is always their first preference. So we brought our top DTF products here, ready to partner with the buoyant printing market in America.<br>At the Greater Philadelphia expo, Procolored exclusively showcases its top-edging DTF products, including DTF printers, powder shaker and heat press. Notably among them, <a href=\"https://www.procolored.com/products/procolored-panda-heat-press-machine\" target=\"_blank\"><i><u>the Panda Heat Press</u></i></a> is the latest released product of Procolored. Compared to the previous heat press machines, this upgraded one has been equipped with an automatic closing and lifting up heating cover that greatly streamlines DTF workflow and lowers possibility of potential scald; as well as a rotary knob switch for easier control of heating temperature and time.</p>"},{"type":"html","id":"ggN-Js9fm1L_text","label":"ggN-Js9fm1L_text","default":"<p>Attendees Inquiring about Products at Procolored Booth#309 at the GPX</p>"},{"type":"html","id":"gg9i8u_rKJl_text","label":"gg9i8u_rKJl_text","default":"<p>Besides on-booth live demonstrations, GPX and Procolored have co-hosted an training course on July 10 at the expo, offering printing techniques tutoring and business practices sharing to empower small business holders. The class is informative and easily understood. Im glad to experience this with Procolored and cant wait to practise their elevation advice, said Mohammed S., one participant in the course.</p>"},{"type":"html","id":"ggJFw3t3p-C_text","label":"ggJFw3t3p-C_text","default":"<p>Participants Recording Tutorials on Procolored Course</p>"},{"type":"html","id":"ggCgW2dVnw8_text","label":"ggCgW2dVnw8_text","default":"<p>Procolored will be at booth#309 at the 3-day-expo from July 10 to 12. As always, all visit and inquiry are welcome and Procolored is ready to achieve mutual-prosperity with all the entrepreneurs.</p><p>&nbsp;</p><p><strong>About Procolored&nbsp;</strong><br>Founded in 2018, Procolored is a global leading manufaturer of lightweight inkjet printers, dedicated to developing powerful and user-friendly DTF, UV DTF, UV and DTG printers suitable for various materials, including fabrics, acrylic, and glass. To date, Procolored products are sold in more than 31 countries and regions, empowering over 30,000 home-based entrepreneurs to launch and expand their digital printing businesses.</p><p>&nbsp;</p><p>For more information, follow <a href=\"https://www.facebook.com/Procolored\" target=\"_blank\"><span style=\"color:#2F69AF;\"><u>@Procolored</u></span></a> on Facebook, <a href=\"https://x.com/Procoloredprint\" target=\"_blank\"><span style=\"color:#2F69AF;\"><u>@ProcoloredPrinter</u></span><u> </u></a>on Twitter, or visit <a href=\"www.procolored.com\" target=\"_blank\"><span style=\"color:#2F69AF;\"><u>www.procolored.com</u></span></a>.<br>For media inquiries, please contact us at<br>Email: pr@procolored.com.</p>"},{"type":"html","id":"ggiuV86I2fm_text","label":"ggiuV86I2fm_text","default":"<p>About the Author - Simon</p>"},{"type":"html","id":"ggPEZCT124O_text","label":"ggPEZCT124O_text","default":"<p>Simon has worked in inkjet printing industry for years. &nbsp;He has the rare ability to see print related issues from many perspectives. Witnessing the gradual development of digital printing especially inkjet printing, Simon knows better about what the users are looking for and how the new technologies will truly help big or small businesses.</p>"},{"type":"html","id":"ggPTw-8kR6P_text","label":"ggPTw-8kR6P_text","default":"Subscribe"},{"type":"html","id":"gg6WFTxs0id_text","label":"gg6WFTxs0id_text","default":"<p>To join our mailing list</p><p>and never miss our updates !</p>"},{"type":"html","id":"gg4QOLDAk3J_successMessage","label":"gg4QOLDAk3J_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"gg4QOLDAk3J_errorMessage","label":"gg4QOLDAk3J_errorMessage","default":"Cant send email. Please try again later."},{"type":"html","id":"gg6GCPi-sBS_placeholder","label":"gg6GCPi-sBS_placeholder","default":"Enter your email address"},{"type":"html","id":"ggyj0kAp_Id_label","label":"ggyj0kAp_Id_label","default":"Subscribe Now"},{"type":"html","id":"ggaehXH1rk__text","label":"ggaehXH1rk__text","default":"Most Popular Blogs"},{"type":"html","id":"ggI6bdiBQ7Z_text","label":"ggI6bdiBQ7Z_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/procolored-unveils-new-trend-of-sports-apparel-customization-with-dtf-printing\" target=\"_blank\">Procolored Unveils New Trend of Sports Apparel : Customization with DTF Printing</a></p>"},{"type":"html","id":"gg7DTrKmh93_text","label":"gg7DTrKmh93_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/print-on-demand-solution-provider-procolored-showcases-latest-innovations-at-graphics-pro-expo-2024\" target=\"_blank\">Print-on-demand Solution Provider Procolored Showcases Latest Innovations at Graphics Pro Expo 2024</a></p>"},{"type":"html","id":"ggYqaT7ZCvv_text","label":"ggYqaT7ZCvv_text","default":"Most Popular Blogs"},{"type":"html","id":"ggZ327KBaxq_text","label":"ggZ327KBaxq_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/procolored-unveils-new-trend-of-sports-apparel-customization-with-dtf-printing\" target=\"_blank\">Procolored Unveils New Trend of Sports Apparel : Customization with DTF Printing</a></p>"},{"type":"html","id":"ggV2XBxt5Sf_text","label":"ggV2XBxt5Sf_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/print-on-demand-solution-provider-procolored-showcases-latest-innovations-at-graphics-pro-expo-2024\" target=\"_blank\">Print-on-demand Solution Provider Procolored Showcases Latest Innovations at Graphics Pro Expo 2024</a></p>"},{"type":"html","id":"ggs77qsrc_w_text","label":"ggs77qsrc_w_text","default":"More Blogs About"},{"type":"html","id":"ggR8o79k13F_text","label":"ggR8o79k13F_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/tagged/industry-trends\" target=\"_blank\">industry trends</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/maintenance\" target=\"_blank\">maintenance</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/newsroom\" target=\"_blank\">newsroom</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/product-showroom\" target=\"_blank\">product showroom</a></p><p><a href=\"https://www.procolored.com/blogs/review\" target=\"_blank\">printer review</a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
