

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-535368368425796628.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-535368368425796628.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-535368368425796628.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-535368368425796628.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-535368368425796628.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-535368368425796628.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-535368368425796628.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-535368368425796628.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-535368368425796628.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-535368368425796628.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-535368368425796628.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-535368368425796628.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-535368368425796628.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-535368368425796628.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-535368368425796628.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-535368368425796628.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-535368368425796628.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-535368368425796628.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-535368368425796628.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-535368368425796628.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-535368368425796628.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-535368368425796628.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-535368368425796628.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-535368368425796628.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-535368368425796628.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-535368368425796628.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-535368368425796628.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-535368368425796628.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-535368368425796628.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-535368368425796628.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-535368368425796628.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-535368368425796628.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-535368368425796628.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-535368368425796628.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-535368368425796628.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-535368368425796628.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-535368368425796628.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-535368368425796628.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-535368368425796628.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-535368368425796628.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-535368368425796628.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-535368368425796628.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-535368368425796628.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-535368368425796628.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-535368368425796628.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-535368368425796628.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-535368368425796628.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-535368368425796628.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-535368368425796628.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-535368368425796628.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-535368368425796628.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-535368368425796628.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-535368368425796628.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-535368368425796628.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-535368368425796628.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-535368368425796628.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-535368368425796628.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-535368368425796628.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-535368368425796628.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-535368368425796628.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-535368368425796628.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-535368368425796628.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-535368368425796628.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-535368368425796628.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-535368368425796628.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-535368368425796628.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-535368368425796628.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-535368368425796628.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-535368368425796628.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-535368368425796628.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-535368368425796628.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-535368368425796628.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-535368368425796628.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-535368368425796628.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-535368368425796628 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-535368368425796628 .gp-relative{position:relative}.gps-535368368425796628 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535368368425796628 .gp-mb-0{margin-bottom:0}.gps-535368368425796628 .\!gp-inline{display:inline!important}.gps-535368368425796628 .gp-flex{display:flex}.gps-535368368425796628 .gp-inline-flex{display:inline-flex}.gps-535368368425796628 .gp-grid{display:grid}.gps-535368368425796628 .\!gp-hidden{display:none!important}.gps-535368368425796628 .gp-hidden{display:none}.gps-535368368425796628 .gp-h-full{height:100%}.gps-535368368425796628 .gp-w-full{width:100%}.gps-535368368425796628 .gp-max-w-full{max-width:100%}.gps-535368368425796628 .gp-shrink-0{flex-shrink:0}.gps-535368368425796628 .gp-flex-col{flex-direction:column}.gps-535368368425796628 .gp-items-center{align-items:center}.gps-535368368425796628 .gp-justify-center{justify-content:center}.gps-535368368425796628 .gp-gap-y-0{row-gap:0}.gps-535368368425796628 .gp-overflow-hidden{overflow:hidden}.gps-535368368425796628 .gp-text-left{text-align:left}.gps-535368368425796628 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535368368425796628 .gp-duration-200{transition-duration:.2s}.gps-535368368425796628 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535368368425796628 .tablet\:\!gp-hidden{display:none!important}.gps-535368368425796628 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535368368425796628 .mobile\:\!gp-hidden{display:none!important}.gps-535368368425796628 .mobile\:gp-hidden{display:none}}.gps-535368368425796628 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-535368368425796628 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-535368368425796628 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-535368368425796628 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-535368368425796628 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-535368368425796628 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-535368368425796628 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535368368425796628 .\[\&_p\]\:gp-inline p{display:inline}.gps-535368368425796628 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535368368425796628 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g49oE1elNP" data-id="g49oE1elNP"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:2px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:5px;--pb-mobile:2px;--pr-mobile:5px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g49oE1elNP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvS6vDuUd3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gr24gSbyPt" data-id="gr24gSbyPt"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--cg:80px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1100px;--w-tablet:97%;--w-mobile:97%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gr24gSbyPt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqa2IvRPoF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gpGeZD8SaD" data-id="gpGeZD8SaD"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--ml:auto;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--pr-tablet:200px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:97%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpGeZD8SaD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMoqkh27p1 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1Gc-QXGBk" data-id="g1Gc-QXGBk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:10px;--mb-mobile:20px;--pl-mobile:0px;--mb-tablet:20px;--pl-tablet:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1Gc-QXGBk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXtJSdOo_2 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gfkzee2JaE">
    <div
      parentTag="Col"
        class="gfkzee2JaE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfkzee2JaE_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gfkzee2JaE">
        .gfkzee2JaE {

}
.gfkzee2JaE p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gzCShEmQD6">
    <div
      parentTag="Col"
        class="gzCShEmQD6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzCShEmQD6_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gzCShEmQD6">
        .gzCShEmQD6 {

}
.gzCShEmQD6 p {

}
      </style>
    <div
    
     data-id="gd_vaaE7Vx"
    role="presentation"
    class="gp-group/image gd_vaaE7Vx"
    style="--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-0e8165f9-fb73-4164-b613-dacdb2c25371_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-0e8165f9-fb73-4164-b613-dacdb2c25371_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-0e8165f9-fb73-4164-b613-dacdb2c25371.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:794/314;--aspect-tablet:794/314;--aspect-mobile:794/314;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-0e8165f9-fb73-4164-b613-dacdb2c25371_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-0e8165f9-fb73-4164-b613-dacdb2c25371_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-0e8165f9-fb73-4164-b613-dacdb2c25371.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:794/314;--aspect-tablet:794/314;--aspect-mobile:794/314;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gwWk1z21CM">
    <div
      parentTag="Col"
        class="gwWk1z21CM "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#CECECE;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwWk1z21CM_text }}</div>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gPJ_i0E1XX">
    <div
      parentTag="Col"
        class="gPJ_i0E1XX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPJ_i0E1XX_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gPJ_i0E1XX">
        .gPJ_i0E1XX {

}
.gPJ_i0E1XX p {

}
      </style>
    <div gp-el-wrapper  class="gFBVGERbtx ">
      
    <gp-icon-list
      uid="gFBVGERbtx"
      data-id="gFBVGERbtx"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":22,"mobile":18,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:45px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gFBVGERbtx"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggFBVGERbtx_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gFBVGERbtx"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggFBVGERbtx_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gFBVGERbtx"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggFBVGERbtx_childItem_2 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g1ukQ05GwD">
    <div
      parentTag="Col"
        class="g1ukQ05GwD "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1ukQ05GwD_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g1ukQ05GwD">
        .g1ukQ05GwD {

}
.g1ukQ05GwD p {

}
      </style>
    <div
    
     data-id="gyySTwVLZe"
    role="presentation"
    class="gp-group/image gyySTwVLZe"
    style="--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-b0b90cfa-c6b2-4c90-a036-07f12a4a6385_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-b0b90cfa-c6b2-4c90-a036-07f12a4a6385_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-b0b90cfa-c6b2-4c90-a036-07f12a4a6385.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1600/754;--aspect-tablet:1600/754;--aspect-mobile:1600/754;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-b0b90cfa-c6b2-4c90-a036-07f12a4a6385_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-b0b90cfa-c6b2-4c90-a036-07f12a4a6385_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-b0b90cfa-c6b2-4c90-a036-07f12a4a6385.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1600/754;--aspect-tablet:1600/754;--aspect-mobile:1600/754;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g_ahVLbRul">
    <div
      parentTag="Col"
        class="g_ahVLbRul "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#CECECE;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_ahVLbRul_text }}</div>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="geJECqtaB7">
    <div
      parentTag="Col"
        class="geJECqtaB7 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggeJECqtaB7_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-geJECqtaB7">
        .geJECqtaB7 {

}
.geJECqtaB7 p {

}
      </style>
    <div gp-el-wrapper  class="gb4Gnnv_gs ">
      
    <gp-icon-list
      uid="gb4Gnnv_gs"
      data-id="gb4Gnnv_gs"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":22,"mobile":18,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:145px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gb4Gnnv_gs"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggb4Gnnv_gs_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gb4Gnnv_gs"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggb4Gnnv_gs_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gb4Gnnv_gs"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggb4Gnnv_gs_childItem_2 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gTSf-504L5 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-535368368425796628 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=535358800765388004&sectionId=535368368425796628)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfkzee2JaE_text","label":"ggfkzee2JaE_text","default":"<p><strong>3. Upgrades in Other Equipment</strong></p>"},{"type":"html","id":"ggzCShEmQD6_text","label":"ggzCShEmQD6_text","default":"<p>3.1 Procolored Panda Heat Press&nbsp;</p>"},{"type":"html","id":"ggwWk1z21CM_text","label":"ggwWk1z21CM_text","default":"<p>Procolored Panda Heat Press</p>"},{"type":"html","id":"ggPJ_i0E1XX_text","label":"ggPJ_i0E1XX_text","default":"<p>Traditional heat press requires manual effort to press and lift the heavy heating cover, inevitably increasing risk of getting burnt and pressed.&nbsp;<br>To provide a safer workflow, Procolored launched this Panda Heat Press with redefined product appearance and functions:</p>"},{"type":"html","id":"ggFBVGERbtx_childItem_0","label":"ggFBVGERbtx_childItem_0","default":"<p><strong>Auto-lifting and auto-closing heating cover: </strong>New-designed lightweight cover that automatically closes up to begin a task and opens when the task is over, requiring less manual effort.</p>"},{"type":"html","id":"ggFBVGERbtx_childItem_1","label":"ggFBVGERbtx_childItem_1","default":"<p><strong>Knob switch: </strong>Control switch with LED display, providing instant feedback of temperature and time countdown; rotary knob shape for easier parameter adjustment.</p>"},{"type":"html","id":"ggFBVGERbtx_childItem_2","label":"ggFBVGERbtx_childItem_2","default":"<p><strong>Insulation structures: </strong>Designed with insulation pad and shell, creating a safer working environment.</p>"},{"type":"html","id":"gg1ukQ05GwD_text","label":"gg1ukQ05GwD_text","default":"<p>3.2 Procolored UV Laminator</p>"},{"type":"html","id":"gg_ahVLbRul_text","label":"gg_ahVLbRul_text","default":"<p>UV laminator main structure</p>"},{"type":"html","id":"ggeJECqtaB7_text","label":"ggeJECqtaB7_text","default":"<p>Laminator is an auxiliary equipment for UV printings on A film (film with viscosity). Compared to traditional UV laminator, this new one features as below:</p>"},{"type":"html","id":"ggb4Gnnv_gs_childItem_0","label":"ggb4Gnnv_gs_childItem_0","default":"<p><strong>Supporting two laminating methods: </strong>Singled sided lamination for UV printings designated to be crystal stickers, and double sided lamination for other needs.</p>"},{"type":"html","id":"ggb4Gnnv_gs_childItem_1","label":"ggb4Gnnv_gs_childItem_1","default":"<p><strong>Auto lamination mode: </strong>This new laminator is designed with two built-in sensors set separately at film feeder and film exit. It starts to laminate when the feeder sensor detects incoming material, and halts when the laminated material comes out completely throuth film exit.</p>"},{"type":"html","id":"ggb4Gnnv_gs_childItem_2","label":"ggb4Gnnv_gs_childItem_2","default":"<p><strong>New-added film fixing clips: </strong>Two designated clips set at the upper film roller. With them fastened, the film roller will stay fixed during the lamination process, effectively heightening lamination accuracy and reducing unexpected deviation.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
