

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538385143589569668.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538385143589569668.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538385143589569668.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-538385143589569668.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538385143589569668.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538385143589569668.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538385143589569668.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538385143589569668.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538385143589569668.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538385143589569668.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538385143589569668.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-538385143589569668.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-538385143589569668.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-538385143589569668.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538385143589569668.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-538385143589569668.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-538385143589569668.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-538385143589569668.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538385143589569668.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-538385143589569668.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-538385143589569668.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-538385143589569668.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538385143589569668.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538385143589569668.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538385143589569668.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538385143589569668.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538385143589569668.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538385143589569668.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538385143589569668.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538385143589569668.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538385143589569668.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538385143589569668.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538385143589569668.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538385143589569668.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538385143589569668.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538385143589569668.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-538385143589569668.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-538385143589569668.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-538385143589569668.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538385143589569668.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538385143589569668.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538385143589569668.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538385143589569668.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538385143589569668.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538385143589569668.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538385143589569668.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538385143589569668.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538385143589569668.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538385143589569668.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-538385143589569668.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-538385143589569668.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538385143589569668.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538385143589569668.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538385143589569668.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538385143589569668.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-538385143589569668.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-538385143589569668.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538385143589569668.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-538385143589569668.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538385143589569668.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538385143589569668.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-538385143589569668.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-538385143589569668.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-538385143589569668.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538385143589569668.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538385143589569668.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538385143589569668.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538385143589569668.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538385143589569668.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538385143589569668.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538385143589569668.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-538385143589569668.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-538385143589569668.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538385143589569668.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538385143589569668.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538385143589569668.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538385143589569668.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538385143589569668.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-538385143589569668.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-538385143589569668.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538385143589569668.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538385143589569668.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538385143589569668.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538385143589569668.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-538385143589569668.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538385143589569668.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538385143589569668 .focus\:\!gp-shadow-none,.gps-538385143589569668 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-538385143589569668 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538385143589569668 .\!gp-g-s-medium{padding:8px 24px!important}.gps-538385143589569668 .gp-fixed{position:fixed}.gps-538385143589569668 .gp-relative{position:relative}.gps-538385143589569668 .gp-top-\[27px\]{top:27px}.gps-538385143589569668 .gp-z-1{z-index:1}.gps-538385143589569668 .gp-z-100{z-index:100}.gps-538385143589569668 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538385143589569668 .gp-mb-0{margin-bottom:0}.gps-538385143589569668 .gp-block{display:block}.gps-538385143589569668 .\!gp-inline{display:inline!important}.gps-538385143589569668 .gp-flex{display:flex}.gps-538385143589569668 .gp-inline-flex{display:inline-flex}.gps-538385143589569668 .gp-grid{display:grid}.gps-538385143589569668 .\!gp-hidden{display:none!important}.gps-538385143589569668 .gp-hidden{display:none}.gps-538385143589569668 .\!gp-h-auto{height:auto!important}.gps-538385143589569668 .gp-h-full{height:100%}.gps-538385143589569668 .gp-w-full{width:100%}.gps-538385143589569668 .gp-max-w-full{max-width:100%}.gps-538385143589569668 .gp-flex-none{flex:none}.gps-538385143589569668 .gp-flex-col{flex-direction:column}.gps-538385143589569668 .gp-items-center{align-items:center}.gps-538385143589569668 .gp-justify-center{justify-content:center}.gps-538385143589569668 .gp-gap-y-0{row-gap:0}.gps-538385143589569668 .gp-overflow-hidden{overflow:hidden}.gps-538385143589569668 .gp-break-words{overflow-wrap:break-word}.gps-538385143589569668 .gp-rounded{border-radius:4px}.gps-538385143589569668 .gp-rounded-none{border-radius:0}.gps-538385143589569668 .\!gp-bg-none{background-image:none!important}.gps-538385143589569668 .gp-p-\[16px\]{padding:16px}.gps-538385143589569668 .gp-text-\[14px\]{font-size:14px}.gps-538385143589569668 .gp-leading-normal{line-height:1.5}.gps-538385143589569668 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-538385143589569668 .gp-no-underline{text-decoration-line:none}.gps-538385143589569668 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-538385143589569668 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538385143589569668 .gp-duration-200{transition-duration:.2s}.gps-538385143589569668 .gp-duration-300{transition-duration:.3s}.gps-538385143589569668 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538385143589569668 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-538385143589569668 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-538385143589569668 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-538385143589569668 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-538385143589569668 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-538385143589569668 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-538385143589569668 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-538385143589569668 .tablet\:gp-block{display:block}.gps-538385143589569668 .tablet\:\!gp-hidden{display:none!important}.gps-538385143589569668 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538385143589569668 .mobile\:gp-block{display:block}.gps-538385143589569668 .mobile\:\!gp-hidden{display:none!important}.gps-538385143589569668 .mobile\:gp-hidden{display:none}}.gps-538385143589569668 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538385143589569668 .\[\&_p\]\:gp-inline p{display:inline}.gps-538385143589569668 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-538385143589569668 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538385143589569668 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gMDGuNjpDj" data-id="gMDGuNjpDj"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMDGuNjpDj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMiep2Ig-u gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gNOONCKUle" data-id="gNOONCKUle"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--mt:95px;--cg:40px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNOONCKUle gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0DiaPLEr7 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gWeQpz3w1a" data-id="gWeQpz3w1a"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#777777;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:80px;--pb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:80%;--w-mobile:80%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWeQpz3w1a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2EsPUcGgf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g0fTPoV4tl" data-id="g0fTPoV4tl"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0fTPoV4tl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIzypdFuQa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g5QCZP3uwu"
    role="presentation"
    class="gp-group/image g5QCZP3uwu"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:-50px;--pt:0px;--pl:30px;--mt-mobile:-50px;--pt-mobile:0px;--pl-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:999999px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--radiusType:custom"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-99fd9fec-dfec-4d97-863c-21e443c150d5.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:999999px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--radiusType:custom"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g5QCZP3uwu">
        .g5QCZP3uwu {

}
.g5QCZP3uwu > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFbnINqlkO gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gi68tUXRMO">
    <div
      parentTag="Col"
        class="gi68tUXRMO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggi68tUXRMO_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gi68tUXRMO">
        .gi68tUXRMO {

}
.gi68tUXRMO p {

}
      </style>
    
    </div>
    </div>
   
    
  <gp-text data-id="giDoV2N05R">
    <div
      parentTag="Col"
        class="giDoV2N05R "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:25px;--pb:10px;--pr:25px;--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px;--pl-tablet:25px;--pb-tablet:10px;--pr-tablet:25px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--fs:italic;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggiDoV2N05R_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-giDoV2N05R">
        .giDoV2N05R {

}
.giDoV2N05R p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggmVTZPIoT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gWtPRWPlJl" data-id="gWtPRWPlJl"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--mb:0px;--pt:15px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWtPRWPlJl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFDHdus6j_ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gZBXOQOdmF">
    <div
      parentTag="Col"
        class="gZBXOQOdmF "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZBXOQOdmF_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gBuWHMT9qc">
    <div
      parentTag="Col"
        class="gBuWHMT9qc "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBuWHMT9qc_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gBuWHMT9qc">
        .gBuWHMT9qc {

}
.gBuWHMT9qc p {

}
      </style>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l)" class="gPt8vS-z12 ">
      
    <gp-form
      id="gPt8vS-z12"
      data-id="gPt8vS-z12"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gPt8vS-z12"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-gPt8vS-z12 ', id: 'contact_form_gPt8vS-z12' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gPt8vS-z12"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggPt8vS-z12_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-gPt8vS-z12">
        <style>
            #my-popover-gPt8vS-z12::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gPt8vS-z12"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggPt8vS-z12_successMessage }}
        </div></div>
        
       
      
    <div
      parentTag="Newsletter" id="gWxzX0TcqU" data-id="gWxzX0TcqU"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWxzX0TcqU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0DMEwjkA_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="g5mhPiV12g"
      class="g5mhPiV12g"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:7px;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--w:400px;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.gg5mhPiV12g_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gL59LwAl2d.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gL59LwAl2d:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gL59LwAl2d:hover .gp-button-icon {
      color: undefined;
    }

     .gL59LwAl2d .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gL59LwAl2d:hover .gp-button-price {
      color: undefined;
    }

    .gL59LwAl2d .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gL59LwAl2d .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gL59LwAl2d:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gL59LwAl2d" aria-label="Subscribe Now"
      
      data-state="idle"
      class="gL59LwAl2d gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:#D9291C;--shadow:none;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        
      >
        {{ section.settings.ggL59LwAl2d_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g4BKM6jMV9" data-id="g4BKM6jMV9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4BKM6jMV9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkO2Lk-H9a gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--mb:16px;--pt:12px;--pb:12px;--mb-tablet:0px;--pt-tablet:12px;--pb-tablet:12px" class="g11QGSBp22 ">
      
    <div
    data-id="g11QGSBp22"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
      </div>
    </div>
  
      </div>
  <gp-text data-id="gI7BzptYD3">
    <div
      parentTag="Col"
        class="gI7BzptYD3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--mb:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggI7BzptYD3_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gI7BzptYD3">
        .gI7BzptYD3 {

}
.gI7BzptYD3 p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g3KmmKeREk" data-id="g3KmmKeREk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--mb-tablet:17px;--cg:8px;--cg-tablet:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:90%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3KmmKeREk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9cWXGzhTP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="grsFPXNx6Y" data-id="grsFPXNx6Y"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:12px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:80%;--w-mobile:80%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grsFPXNx6Y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPOAHC0qNV gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gCFLYNJknk"
    role="presentation"
    class="gp-group/image gCFLYNJknk"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.procolored.com/blogs/news/procolored-f8-gen-2-your-most-intuitive-dtf-solution" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-d1d61c66-93a5-4835-b6e8-c2ecf8ac49d1_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-d1d61c66-93a5-4835-b6e8-c2ecf8ac49d1_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-ed9a731b-ebd9-4b3d-9bf9-df76b001e6e3.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1942/1092;--aspect-tablet:3072/1536;--aspect-mobile:3072/1536;--objf:cover;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-d1d61c66-93a5-4835-b6e8-c2ecf8ac49d1_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-d1d61c66-93a5-4835-b6e8-c2ecf8ac49d1_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-ed9a731b-ebd9-4b3d-9bf9-df76b001e6e3.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1942/1092;--aspect-tablet:3072/1536;--aspect-mobile:3072/1536;--objf:cover;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gCFLYNJknk">
        .gCFLYNJknk {

}
.gCFLYNJknk > figure > img {

}
      </style>
    
  <gp-text data-id="g57vNW3Zbn">
    <div
      parentTag="Col"
        class="g57vNW3Zbn "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pt-tablet:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:157%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg57vNW3Zbn_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g57vNW3Zbn">
        .g57vNW3Zbn {

}
.g57vNW3Zbn p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g69s0iuhpG gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ghOaziSO2O" data-id="ghOaziSO2O"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:12px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:80%;--w-mobile:80%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghOaziSO2O gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdxi0-tjmW gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guqF1zp4j4"
    role="presentation"
    class="gp-group/image guqF1zp4j4"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.procolored.com/blogs/news/one-more-uv-dtf-game-changer-procolored-vf13-pro-panda-printer" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-9c11b13b-af0a-4519-9c0e-c253fec8c992_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-9c11b13b-af0a-4519-9c0e-c253fec8c992_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-ed9a731b-ebd9-4b3d-9bf9-df76b001e6e3.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1942/1092;--aspect-tablet:2311/1300;--aspect-mobile:2311/1300;--objf:cover;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-9c11b13b-af0a-4519-9c0e-c253fec8c992_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-9c11b13b-af0a-4519-9c0e-c253fec8c992_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-ed9a731b-ebd9-4b3d-9bf9-df76b001e6e3.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1942/1092;--aspect-tablet:2311/1300;--aspect-mobile:2311/1300;--objf:cover;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-guqF1zp4j4">
        .guqF1zp4j4 {

}
.guqF1zp4j4 > figure > img {

}
      </style>
    
  <gp-text data-id="grHb1W6cdz">
    <div
      parentTag="Col"
        class="grHb1W6cdz "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--mt-tablet:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:157%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrHb1W6cdz_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-grHb1W6cdz">
        .grHb1W6cdz {

}
.grHb1W6cdz p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gMRpzNRhav" data-id="gMRpzNRhav"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMRpzNRhav gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0lLDuNK36 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--mb:16px;--pt:12px;--pb:12px;--mb-tablet:0px;--pt-tablet:12px;--pb-tablet:12px" class="g72r9fzGWf ">
      
    <div
    data-id="g72r9fzGWf"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:220px;--w-tablet:220px;--w-mobile:220px;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:220px"
    ></div>
  
      </div>
    </div>
  
      </div>
  <gp-text data-id="g8hxiLeFdV">
    <div
      parentTag="Col"
        class="g8hxiLeFdV "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8hxiLeFdV_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8hxiLeFdV">
        .g8hxiLeFdV {

}
.g8hxiLeFdV p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g2iT7sSEiF" data-id="g2iT7sSEiF"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:12px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2iT7sSEiF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9TrAuGEgy gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gfBBXFXBLs">
    <div
      parentTag="Col"
        class="gfBBXFXBLs "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfBBXFXBLs_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gfBBXFXBLs">
        .gfBBXFXBLs {

}
.gfBBXFXBLs p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-538385143589569668 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=538385143522395268&sectionId=538385143589569668)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggi68tUXRMO_text","label":"ggi68tUXRMO_text","default":"<p><i>About the Author - Simon</i></p>"},{"type":"html","id":"ggiDoV2N05R_text","label":"ggiDoV2N05R_text","default":"<p>Simon has worked in inkjet printing industry for years. &nbsp;He has the rare ability to see print related issues from many perspectives. Witnessing the gradual development of digital printing especially inkjet printing, Simon knows better about what the users are looking for and how the new technologies will truly help big or small businesses.</p>"},{"type":"html","id":"ggZBXOQOdmF_text","label":"ggZBXOQOdmF_text","default":"Subscribe"},{"type":"html","id":"ggBuWHMT9qc_text","label":"ggBuWHMT9qc_text","default":"<p>To join our mailing list</p><p>and never miss our updates !</p>"},{"type":"html","id":"ggPt8vS-z12_successMessage","label":"ggPt8vS-z12_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggPt8vS-z12_errorMessage","label":"ggPt8vS-z12_errorMessage","default":"Cant send email. Please try again later."},{"type":"html","id":"gg5mhPiV12g_placeholder","label":"gg5mhPiV12g_placeholder","default":"Email"},{"type":"html","id":"ggL59LwAl2d_label","label":"ggL59LwAl2d_label","default":"Subscribe Now"},{"type":"html","id":"ggI7BzptYD3_text","label":"ggI7BzptYD3_text","default":"<p>Most Popular Blogs</p>"},{"type":"html","id":"gg57vNW3Zbn_text","label":"gg57vNW3Zbn_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/procolored-f8-gen-2-your-most-intuitive-dtf-solution\">Procolored F8 Gen-2:&nbsp;</a></p><p><a href=\"https://www.procolored.com/blogs/news/procolored-f8-gen-2-your-most-intuitive-dtf-solution\">Your Most Intuitive DTF Solution</a></p>"},{"type":"html","id":"ggrHb1W6cdz_text","label":"ggrHb1W6cdz_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/one-more-uv-dtf-game-changer-procolored-vf13-pro-panda-printer\" target=\"_blank\">One More UV DTF Game-changer:&nbsp;</a></p><p><a href=\"https://www.procolored.com/blogs/news/one-more-uv-dtf-game-changer-procolored-vf13-pro-panda-printer\" target=\"_blank\">Procolored VF13 Pro Panda Printer</a></p>"},{"type":"html","id":"gg8hxiLeFdV_text","label":"gg8hxiLeFdV_text","default":"<p>More Blogs About</p>"},{"type":"html","id":"ggfBBXFXBLs_text","label":"ggfBBXFXBLs_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/tagged/industry-trends\" target=\"_blank\">industry trends</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/maintenance\" target=\"_blank\">maintenance</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/newsroom\" target=\"_blank\">newsroom</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/product-showroom\" target=\"_blank\">product showroom</a></p><p><a href=\"https://www.procolored.com/blogs/review\" target=\"_blank\">printer review</a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
