

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-522027494723814155.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-522027494723814155.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-522027494723814155.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-522027494723814155.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-522027494723814155.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-522027494723814155.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-522027494723814155.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-522027494723814155.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-522027494723814155.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-522027494723814155.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-522027494723814155.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-522027494723814155.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-522027494723814155.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-522027494723814155.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-522027494723814155.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-522027494723814155.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-522027494723814155.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-522027494723814155.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-522027494723814155.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-522027494723814155.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-522027494723814155.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-522027494723814155.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-522027494723814155.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-522027494723814155.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-522027494723814155.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-522027494723814155.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-522027494723814155.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-522027494723814155.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-522027494723814155.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-522027494723814155.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-522027494723814155.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-522027494723814155.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-522027494723814155.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-522027494723814155.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-522027494723814155.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-522027494723814155.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-522027494723814155.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-522027494723814155.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-522027494723814155.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-522027494723814155.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-522027494723814155.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-522027494723814155.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-522027494723814155.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-522027494723814155.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-522027494723814155.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-522027494723814155.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-522027494723814155.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-522027494723814155.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-522027494723814155.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-522027494723814155.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-522027494723814155.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-522027494723814155.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-522027494723814155.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-522027494723814155.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-522027494723814155.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-522027494723814155.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-522027494723814155.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-522027494723814155.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-522027494723814155.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-522027494723814155.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-522027494723814155 .gp-relative{position:relative}.gps-522027494723814155 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-522027494723814155 .gp-mb-0{margin-bottom:0}.gps-522027494723814155 .\!gp-inline{display:inline!important}.gps-522027494723814155 .gp-flex{display:flex}.gps-522027494723814155 .gp-grid{display:grid}.gps-522027494723814155 .\!gp-hidden{display:none!important}.gps-522027494723814155 .gp-hidden{display:none}.gps-522027494723814155 .gp-h-full{height:100%}.gps-522027494723814155 .gp-w-full{width:100%}.gps-522027494723814155 .gp-max-w-full{max-width:100%}.gps-522027494723814155 .gp-flex-col{flex-direction:column}.gps-522027494723814155 .gp-gap-y-0{row-gap:0}.gps-522027494723814155 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-522027494723814155 .gp-duration-200{transition-duration:.2s}.gps-522027494723814155 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-522027494723814155 .tablet\:\!gp-hidden{display:none!important}.gps-522027494723814155 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-522027494723814155 .mobile\:\!gp-hidden{display:none!important}.gps-522027494723814155 .mobile\:gp-hidden{display:none}}.gps-522027494723814155 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-522027494723814155 .\[\&_p\]\:gp-inline p{display:inline}.gps-522027494723814155 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-522027494723814155 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPxp2SEhuK" data-id="gPxp2SEhuK"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPxp2SEhuK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjO4u9A9jf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLFkbMpYLz" data-id="gLFkbMpYLz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:0px;--cg:8px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLFkbMpYLz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWP2wbTVOR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gYIvyVT9e5" data-id="gYIvyVT9e5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYIvyVT9e5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gitSHpUWv_ gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g8-OQI4mTI">
    <div
      parentTag="Col"
        class="g8-OQI4mTI "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pl:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8-OQI4mTI_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8-OQI4mTI">
        .g8-OQI4mTI {

}
.g8-OQI4mTI p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKV0MdVAHg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g3aUTGA7N7" data-id="g3aUTGA7N7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3aUTGA7N7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g34CwnX7Ht gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gyw8dUvMI3">
    <div
      parentTag="Col"
        class="gyw8dUvMI3 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyw8dUvMI3_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gyw8dUvMI3">
        .gyw8dUvMI3 {

}
.gyw8dUvMI3 p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guvSXhSS0H gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gorD90pNWO" data-id="gorD90pNWO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gorD90pNWO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0Kdp5zNhv gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gZWU-p-4BU"
    role="presentation"
    class="gp-group/image gZWU-p-4BU"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.procolored.com%252Fa%252Fgempages%253Fpreview%253D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=zh_CN" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:76/76;--aspect-tablet:76/76;--aspect-mobile:76/76;--objf:cover;--w:18px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:76/76;--aspect-tablet:76/76;--aspect-mobile:76/76;--objf:cover;--w:18px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ4HB0Mj0z gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gvq89i4lBd"
    role="presentation"
    class="gp-group/image gvq89i4lBd"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://x.com/intent/post?url=https%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28&text=ProcoloredAmerican+ExpressApple+PayGoogle+PayMastercardPayPalShop+PayUnion+PayVisav17.7+-+Gp.Logo" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:82/82;--aspect-tablet:82/82;--aspect-mobile:82/82;--objf:cover;--w:19px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:82/82;--aspect-tablet:82/82;--aspect-mobile:82/82;--objf:cover;--w:19px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUewXJP0O2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ggAXRBmcbU"
    role="presentation"
    class="gp-group/image ggAXRBmcbU"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.pinterest.com/pin/create/bookmarklet/?media=https://ucarecdn.com/a93fb8cc-83ae-436c-aa48-76c93a51ea30/-/format/auto/-/preview/3000x3000/-/quality/lighter/5510fb8eaee549d29cf4be4600975cbc_3.png&url=https://www.procolored.com/a/gempages?preview=559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28#&description=ProcoloredAmerican%20ExpressApple%20PayGoogle%20PayMastercardPayPalShop%20PayUnion%20PayVisav17.7%20-%20Gp.Logo" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:66/66;--aspect-tablet:66/66;--aspect-mobile:66/66;--objf:cover;--w:18px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:66/66;--aspect-tablet:66/66;--aspect-mobile:66/66;--objf:cover;--w:18px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-EiZi2PWg gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g61t_6mxfY"
    role="presentation"
    class="gp-group/image g61t_6mxfY"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2FshareArticle%3Fmini%3Dtrue%26url%3Dhttps%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:19px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:19px;--w-tablet:19px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYXr4NTkqR gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gemKjsO09u">
    <div
      parentTag="Col"
        class="gemKjsO09u "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pr:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggemKjsO09u_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gemKjsO09u">
        .gemKjsO09u {

}
.gemKjsO09u p {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-522027494723814155 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=522027494556041995&sectionId=522027494723814155)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8-OQI4mTI_text","label":"gg8-OQI4mTI_text","default":"<p>7 minutes read</p>"},{"type":"html","id":"ggyw8dUvMI3_text","label":"ggyw8dUvMI3_text","default":"<p>Share :</p>"},{"type":"html","id":"ggemKjsO09u_text","label":"ggemKjsO09u_text","default":"<p>Written by <span style=\"color:#000000;\">Procolored</span> - Published on <span style=\"color:#0C0C0C;\">July 11, 2024</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
