

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-532476486246990741.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-532476486246990741.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-532476486246990741.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-532476486246990741.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-532476486246990741.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-532476486246990741.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-532476486246990741.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-532476486246990741.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-532476486246990741.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-532476486246990741.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-532476486246990741.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-532476486246990741.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-532476486246990741.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-532476486246990741.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-532476486246990741.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-532476486246990741.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-532476486246990741.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-532476486246990741.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-532476486246990741.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-532476486246990741.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-532476486246990741.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-532476486246990741.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-532476486246990741.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-532476486246990741.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-532476486246990741.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-532476486246990741.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-532476486246990741.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-532476486246990741.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-532476486246990741.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-532476486246990741.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-532476486246990741.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-532476486246990741.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-532476486246990741.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-532476486246990741.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-532476486246990741.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-532476486246990741.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-532476486246990741.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-532476486246990741.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-532476486246990741.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-532476486246990741.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-532476486246990741.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-532476486246990741.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-532476486246990741.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-532476486246990741.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-532476486246990741.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-532476486246990741.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-532476486246990741.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-532476486246990741.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-532476486246990741.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-532476486246990741.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-532476486246990741.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-532476486246990741.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-532476486246990741.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-532476486246990741.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-532476486246990741.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-532476486246990741.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-532476486246990741.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-532476486246990741.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-532476486246990741.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-532476486246990741.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-532476486246990741.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-532476486246990741.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-532476486246990741.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-532476486246990741.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-532476486246990741.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-532476486246990741.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-532476486246990741.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-532476486246990741.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-532476486246990741.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-532476486246990741.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-532476486246990741.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-532476486246990741.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-532476486246990741.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-532476486246990741.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-532476486246990741.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-532476486246990741.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-532476486246990741.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-532476486246990741 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-532476486246990741 .gp-relative{position:relative}.gps-532476486246990741 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-532476486246990741 .gp-mb-0{margin-bottom:0}.gps-532476486246990741 .\!gp-inline{display:inline!important}.gps-532476486246990741 .gp-flex{display:flex}.gps-532476486246990741 .gp-inline-flex{display:inline-flex}.gps-532476486246990741 .gp-grid{display:grid}.gps-532476486246990741 .\!gp-hidden{display:none!important}.gps-532476486246990741 .gp-hidden{display:none}.gps-532476486246990741 .gp-h-full{height:100%}.gps-532476486246990741 .gp-w-full{width:100%}.gps-532476486246990741 .gp-max-w-full{max-width:100%}.gps-532476486246990741 .gp-shrink-0{flex-shrink:0}.gps-532476486246990741 .gp-flex-col{flex-direction:column}.gps-532476486246990741 .gp-items-center{align-items:center}.gps-532476486246990741 .gp-justify-center{justify-content:center}.gps-532476486246990741 .gp-gap-y-0{row-gap:0}.gps-532476486246990741 .gp-overflow-hidden{overflow:hidden}.gps-532476486246990741 .gp-text-left{text-align:left}.gps-532476486246990741 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532476486246990741 .gp-duration-200{transition-duration:.2s}.gps-532476486246990741 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-532476486246990741 .tablet\:\!gp-hidden{display:none!important}.gps-532476486246990741 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-532476486246990741 .mobile\:\!gp-hidden{display:none!important}.gps-532476486246990741 .mobile\:gp-hidden{display:none}}.gps-532476486246990741 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-532476486246990741 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-532476486246990741 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-532476486246990741 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-532476486246990741 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-532476486246990741 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-532476486246990741 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-532476486246990741 .\[\&_p\]\:gp-inline p{display:inline}.gps-532476486246990741 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-532476486246990741 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="glM66lv9OQ" data-id="glM66lv9OQ"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glM66lv9OQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gmFOpoHdbP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gOuABJxGT7" data-id="gOuABJxGT7"
        style="--mb-tablet:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:80px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1100px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOuABJxGT7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gaLm8S94Zq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="guf1CnI5aS" data-id="guf1CnI5aS"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:0px;--mb-mobile:20px;--pl-mobile:0px;--mb-tablet:20px;--pl-tablet:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guf1CnI5aS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpVLru6WWM gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gH8Ie18_GH">
    <div
      parentTag="Col"
        class="gH8Ie18_GH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggH8Ie18_GH_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gH8Ie18_GH">
        .gH8Ie18_GH {

}
.gH8Ie18_GH p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gUJpmdrqrE">
    <div
      parentTag="Col"
        class="gUJpmdrqrE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:35px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUJpmdrqrE_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gUJpmdrqrE">
        .gUJpmdrqrE {

}
.gUJpmdrqrE p {

}
      </style>
    <div
    
     data-id="gM9_QfVZUh"
    role="presentation"
    class="gp-group/image gM9_QfVZUh"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-tablet:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-tablet:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-b3d340cb-df73-4c04-b269-aa1fcec22cb8_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-b3d340cb-df73-4c04-b269-aa1fcec22cb8_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-b3d340cb-df73-4c04-b269-aa1fcec22cb8.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-b3d340cb-df73-4c04-b269-aa1fcec22cb8_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-b3d340cb-df73-4c04-b269-aa1fcec22cb8_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-b3d340cb-df73-4c04-b269-aa1fcec22cb8.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g84UxvjDfX">
    <div
      parentTag="Col"
        class="g84UxvjDfX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg84UxvjDfX_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g84UxvjDfX">
        .g84UxvjDfX {

}
.g84UxvjDfX p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gQXI1nd1Il">
    <div
      parentTag="Col"
        class="gQXI1nd1Il "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQXI1nd1Il_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gQXI1nd1Il">
        .gQXI1nd1Il {

}
.gQXI1nd1Il p {

}
      </style>
    <div gp-el-wrapper  class="g8Bd1KFxa0 ">
      
    <gp-icon-list
      uid="g8Bd1KFxa0"
      data-id="g8Bd1KFxa0"
      gp-data='{"position":{"desktop":"baseline","tablet":"center","mobile":"baseline"},"iconWidth":{"desktop":19,"tablet":19,"mobile":19}}'
       style="--mb:60px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g8Bd1KFxa0"
            style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4D903F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045907304">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M152.41,88.56l-89.6,88a12,12,0,0,1-16.82,0L7.59,138.85a12,12,0,0,1,16.82-17.13l30,29.46,81.19-79.74a12,12,0,0,1,16.82,17.12Zm96.15-17a12,12,0,0,0-17-.15L150.4,151.18l-7.88-7.74a12,12,0,0,0-16.82,17.12l16.29,16a12,12,0,0,0,16.82,0l89.6-88A12,12,0,0,0,248.56,71.59Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.gg8Bd1KFxa0_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g8Bd1KFxa0"
            style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4D903F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045907304">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M152.41,88.56l-89.6,88a12,12,0,0,1-16.82,0L7.59,138.85a12,12,0,0,1,16.82-17.13l30,29.46,81.19-79.74a12,12,0,0,1,16.82,17.12Zm96.15-17a12,12,0,0,0-17-.15L150.4,151.18l-7.88-7.74a12,12,0,0,0-16.82,17.12l16.29,16a12,12,0,0,0,16.82,0l89.6-88A12,12,0,0,0,248.56,71.59Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.gg8Bd1KFxa0_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g8Bd1KFxa0"
            style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4D903F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045907304">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M152.41,88.56l-89.6,88a12,12,0,0,1-16.82,0L7.59,138.85a12,12,0,0,1,16.82-17.13l30,29.46,81.19-79.74a12,12,0,0,1,16.82,17.12Zm96.15-17a12,12,0,0,0-17-.15L150.4,151.18l-7.88-7.74a12,12,0,0,0-16.82,17.12l16.29,16a12,12,0,0,0,16.82,0l89.6-88A12,12,0,0,0,248.56,71.59Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.gg8Bd1KFxa0_childItem_2 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div
    
     data-id="gYLpZejqeD"
    role="presentation"
    class="gp-group/image gYLpZejqeD"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-tablet:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-tablet:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-4d9adbcb-8693-40d0-98f7-daf916e46f3b_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-4d9adbcb-8693-40d0-98f7-daf916e46f3b_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-4d9adbcb-8693-40d0-98f7-daf916e46f3b.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-4d9adbcb-8693-40d0-98f7-daf916e46f3b_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-4d9adbcb-8693-40d0-98f7-daf916e46f3b_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-4d9adbcb-8693-40d0-98f7-daf916e46f3b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gW6px_lref">
    <div
      parentTag="Col"
        class="gW6px_lref "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggW6px_lref_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gW6px_lref">
        .gW6px_lref {

}
.gW6px_lref p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g0AKRwLVzh">
    <div
      parentTag="Col"
        class="g0AKRwLVzh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0AKRwLVzh_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0AKRwLVzh">
        .g0AKRwLVzh {

}
.g0AKRwLVzh p {

}
      </style>
    <div gp-el-wrapper  class="gKBLsx91dj ">
      
    <gp-icon-list
      uid="gKBLsx91dj"
      data-id="gKBLsx91dj"
      gp-data='{"position":{"desktop":"baseline","tablet":"center","mobile":"baseline"},"iconWidth":{"desktop":19,"tablet":19,"mobile":19}}'
       style="--mb:60px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gKBLsx91dj"
            style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4D903F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045907304">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M152.41,88.56l-89.6,88a12,12,0,0,1-16.82,0L7.59,138.85a12,12,0,0,1,16.82-17.13l30,29.46,81.19-79.74a12,12,0,0,1,16.82,17.12Zm96.15-17a12,12,0,0,0-17-.15L150.4,151.18l-7.88-7.74a12,12,0,0,0-16.82,17.12l16.29,16a12,12,0,0,0,16.82,0l89.6-88A12,12,0,0,0,248.56,71.59Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggKBLsx91dj_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gKBLsx91dj"
            style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4D903F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045907304">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M152.41,88.56l-89.6,88a12,12,0,0,1-16.82,0L7.59,138.85a12,12,0,0,1,16.82-17.13l30,29.46,81.19-79.74a12,12,0,0,1,16.82,17.12Zm96.15-17a12,12,0,0,0-17-.15L150.4,151.18l-7.88-7.74a12,12,0,0,0-16.82,17.12l16.29,16a12,12,0,0,0,16.82,0l89.6-88A12,12,0,0,0,248.56,71.59Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggKBLsx91dj_childItem_1 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div
    
     data-id="guwWXFRMzC"
    role="presentation"
    class="gp-group/image guwWXFRMzC"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-tablet:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-tablet:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-803b02ee-62f9-4047-a671-2948707afd84_768x768.gif" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-803b02ee-62f9-4047-a671-2948707afd84_1024x1024.gif" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-803b02ee-62f9-4047-a671-2948707afd84.gif" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-803b02ee-62f9-4047-a671-2948707afd84_768x768.gif" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-803b02ee-62f9-4047-a671-2948707afd84_1024x1024.gif" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-803b02ee-62f9-4047-a671-2948707afd84.gif" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gmU--yF65I">
    <div
      parentTag="Col"
        class="gmU--yF65I "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmU--yF65I_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gmU--yF65I">
        .gmU--yF65I {

}
.gmU--yF65I p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g6DjcfJV_Z">
    <div
      parentTag="Col"
        class="g6DjcfJV_Z "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--pb:0px;--mb-mobile:8px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6DjcfJV_Z_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g6DjcfJV_Z">
        .g6DjcfJV_Z {

}
.g6DjcfJV_Z p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gdAAW4ex88" data-id="gdAAW4ex88"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:2px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdAAW4ex88 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gF29C0xVB- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gZ5GmEw5dq"
    role="presentation"
    class="gp-group/image gZ5GmEw5dq"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-1eb74940-5988-4b45-8439-f7813abae437_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-1eb74940-5988-4b45-8439-f7813abae437_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-1eb74940-5988-4b45-8439-f7813abae437.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3905/2196;--aspect-tablet:3905/2196;--aspect-mobile:3905/2196;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-1eb74940-5988-4b45-8439-f7813abae437_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-1eb74940-5988-4b45-8439-f7813abae437_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-1eb74940-5988-4b45-8439-f7813abae437.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3905/2196;--aspect-tablet:3905/2196;--aspect-mobile:3905/2196;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g1C-e8C3Il">
    <div
      parentTag="Col"
        class="g1C-e8C3Il "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--c:#BFBDBD;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1C-e8C3Il_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8Anb_VreD gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g-GIlC9Z3f"
    role="presentation"
    class="gp-group/image g-GIlC9Z3f"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-d65802b3-01ed-4a67-a4f7-25864ab07a9d_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-d65802b3-01ed-4a67-a4f7-25864ab07a9d_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-d65802b3-01ed-4a67-a4f7-25864ab07a9d.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1152/648;--aspect-tablet:1152/648;--aspect-mobile:1152/648;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-d65802b3-01ed-4a67-a4f7-25864ab07a9d_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-d65802b3-01ed-4a67-a4f7-25864ab07a9d_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-d65802b3-01ed-4a67-a4f7-25864ab07a9d.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1152/648;--aspect-tablet:1152/648;--aspect-mobile:1152/648;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gtyA32-rzu">
    <div
      parentTag="Col"
        class="gtyA32-rzu "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--c:#BFBDBD;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtyA32-rzu_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gH04Yn1lLn">
    <div
      parentTag="Col"
        class="gH04Yn1lLn "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:5px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggH04Yn1lLn_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gH04Yn1lLn">
        .gH04Yn1lLn {

}
.gH04Yn1lLn p {

}
      </style>
    <div
    
     data-id="gYnZj_9TeT"
    role="presentation"
    class="gp-group/image gYnZj_9TeT"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-tablet:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-tablet:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-251845cc-22a5-4959-af3b-a6c4ecdb2cbf_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-251845cc-22a5-4959-af3b-a6c4ecdb2cbf_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-251845cc-22a5-4959-af3b-a6c4ecdb2cbf.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:953/695;--aspect-tablet:953/695;--aspect-mobile:953/695;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-251845cc-22a5-4959-af3b-a6c4ecdb2cbf_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-251845cc-22a5-4959-af3b-a6c4ecdb2cbf_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-251845cc-22a5-4959-af3b-a6c4ecdb2cbf.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:953/695;--aspect-tablet:953/695;--aspect-mobile:953/695;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gXauWT2-Mn">
    <div
      parentTag="Col"
        class="gXauWT2-Mn "
        style="--ta:left;--mb:70px;--mr:300px;--mr-mobile:0px;--mr-tablet:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:500%;--w-tablet:500%;--w-mobile:500%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--c:#BFBDBD;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXauWT2-Mn_text }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="g_E8Bk3iSw"
    role="presentation"
    class="gp-group/image g_E8Bk3iSw"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-tablet:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-tablet:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-b7f45215-7d2d-4bc9-b2e8-71e00b0a65d8_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-b7f45215-7d2d-4bc9-b2e8-71e00b0a65d8_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-b7f45215-7d2d-4bc9-b2e8-71e00b0a65d8.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-b7f45215-7d2d-4bc9-b2e8-71e00b0a65d8_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-b7f45215-7d2d-4bc9-b2e8-71e00b0a65d8_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-b7f45215-7d2d-4bc9-b2e8-71e00b0a65d8.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:536/245;--aspect-tablet:536/245;--aspect-mobile:536/245;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="ge3R64VS3I">
    <div
      parentTag="Col"
        class="ge3R64VS3I "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gge3R64VS3I_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ge3R64VS3I">
        .ge3R64VS3I {

}
.ge3R64VS3I p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gMFjSFM-JL">
    <div
      parentTag="Col"
        class="gMFjSFM-JL "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMFjSFM-JL_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gMFjSFM-JL">
        .gMFjSFM-JL {

}
.gMFjSFM-JL p {

}
      </style>
    <div gp-el-wrapper  class="g1V-IH4tDu ">
      
    <gp-icon-list
      uid="g1V-IH4tDu"
      data-id="g1V-IH4tDu"
      gp-data='{"position":{"desktop":"baseline","tablet":"baseline","mobile":"baseline"},"iconWidth":{"desktop":19,"tablet":19,"mobile":17}}'
       style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g1V-IH4tDu"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#D63837;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:17px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602429714792">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.gg1V-IH4tDu_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g1V-IH4tDu"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#D63837;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:17px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602429714792">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.gg1V-IH4tDu_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g1V-IH4tDu"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#D63837;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:17px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602429714792">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.gg1V-IH4tDu_childItem_2 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gIOgu_Lmne">
    <div
      parentTag="Col"
        class="gIOgu_Lmne "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIOgu_Lmne_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gIOgu_Lmne">
        .gIOgu_Lmne {

}
.gIOgu_Lmne p {

}
      </style>
    <div gp-el-wrapper  class="gHGdkVrtpD ">
      
    <gp-icon-list
      uid="gHGdkVrtpD"
      data-id="gHGdkVrtpD"
      gp-data='{"position":{"desktop":"baseline","tablet":"baseline","mobile":"baseline"},"iconWidth":{"desktop":19,"tablet":19,"mobile":19}}'
       style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHGdkVrtpD"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4D903F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045907304">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M152.41,88.56l-89.6,88a12,12,0,0,1-16.82,0L7.59,138.85a12,12,0,0,1,16.82-17.13l30,29.46,81.19-79.74a12,12,0,0,1,16.82,17.12Zm96.15-17a12,12,0,0,0-17-.15L150.4,151.18l-7.88-7.74a12,12,0,0,0-16.82,17.12l16.29,16a12,12,0,0,0,16.82,0l89.6-88A12,12,0,0,0,248.56,71.59Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggHGdkVrtpD_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHGdkVrtpD"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4D903F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045907304">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M152.41,88.56l-89.6,88a12,12,0,0,1-16.82,0L7.59,138.85a12,12,0,0,1,16.82-17.13l30,29.46,81.19-79.74a12,12,0,0,1,16.82,17.12Zm96.15-17a12,12,0,0,0-17-.15L150.4,151.18l-7.88-7.74a12,12,0,0,0-16.82,17.12l16.29,16a12,12,0,0,0,16.82,0l89.6-88A12,12,0,0,0,248.56,71.59Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggHGdkVrtpD_childItem_1 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div
    
     data-id="gl2CgZcyj9"
    role="presentation"
    class="gp-group/image gl2CgZcyj9"
    style="--ml:32px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-tablet:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-tablet:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-bb9e2a68-d392-4b62-b84b-9f8d218b94b7_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-bb9e2a68-d392-4b62-b84b-9f8d218b94b7_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-bb9e2a68-d392-4b62-b84b-9f8d218b94b7.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1150/768;--aspect-tablet:1150/768;--aspect-mobile:1150/768;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-bb9e2a68-d392-4b62-b84b-9f8d218b94b7_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-bb9e2a68-d392-4b62-b84b-9f8d218b94b7_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-bb9e2a68-d392-4b62-b84b-9f8d218b94b7.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1150/768;--aspect-tablet:1150/768;--aspect-mobile:1150/768;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gtKu9y8Pc8">
    <div
      parentTag="Col"
        class="gtKu9y8Pc8 "
        style="--ta:left;--mb:120px;--mr:300px;--mr-mobile:0px;--mr-tablet:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:500%;--w-tablet:500%;--w-mobile:500%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--c:#BFBDBD;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtKu9y8Pc8_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="g9Jn9NFplQ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-532476486246990741 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=532335050524459934&sectionId=532476486246990741)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggH8Ie18_GH_text","label":"ggH8Ie18_GH_text","default":"<p><strong>2. Blinking Light Troubleshooting</strong></p>"},{"type":"html","id":"ggUJpmdrqrE_text","label":"ggUJpmdrqrE_text","default":"<p>Now lets combine the outer and inner printer structure to learn more about why there are blinking light issues and how to solve them.&nbsp;<br>In this passage, we only discuss the four most frequently seen issues. If there are other unexpected situations, please feel free to contact our customer service for more accurate help.</p>"},{"type":"html","id":"gg84UxvjDfX_text","label":"gg84UxvjDfX_text","default":"<p>2.1 Blinking paper button</p>"},{"type":"html","id":"ggQXI1nd1Il_text","label":"ggQXI1nd1Il_text","default":"<p>If the paper button on your F13 Panda DTF keeps blinking and theres no film or print coming out from the exit, there might be a film jam or printing task jam. Here we advise three feasible solutions:</p>"},{"type":"html","id":"gg8Bd1KFxa0_childItem_0","label":"gg8Bd1KFxa0_childItem_0","default":"<p>Check if the film has been delivered smoothly: is there any film curvature, or any unexpected foreign objects at the film feeder? Make sure the film can successfully pass the feeder and reach the printing platform. Then restart the printer.</p>"},{"type":"html","id":"gg8Bd1KFxa0_childItem_1","label":"gg8Bd1KFxa0_childItem_1","default":"<p>Open the front lid and check if theres any foreign objects on the printing platform. Make sure theres no obstacles stopping the film to load forward. Then restart the printer.</p>"},{"type":"html","id":"gg8Bd1KFxa0_childItem_2","label":"gg8Bd1KFxa0_childItem_2","default":"<p>Cancel all the printing tasks on your computer. Then restart the printer.</p>"},{"type":"html","id":"ggW6px_lref_text","label":"ggW6px_lref_text","default":"<p>2.2 &nbsp;Blinking ink button</p>"},{"type":"html","id":"gg0AKRwLVzh_text","label":"gg0AKRwLVzh_text","default":"<p>A blinking ink button indicates the ink supply is not smooth enough to support a complete print. This can be easily solved by checking if the inks in ink warehouse are enough or not.&nbsp;</p>"},{"type":"html","id":"ggKBLsx91dj_childItem_0","label":"ggKBLsx91dj_childItem_0","default":"<p>If yes, press ink button several times, normally the issue will be solved.</p>"},{"type":"html","id":"ggKBLsx91dj_childItem_1","label":"ggKBLsx91dj_childItem_1","default":"<p>If no, add appropriate amount of inks correspondingly.&nbsp;</p>"},{"type":"html","id":"ggmU--yF65I_text","label":"ggmU--yF65I_text","default":"<p>2.3 &nbsp;Alternating blinking lights</p>"},{"type":"html","id":"gg6DjcfJV_Z_text","label":"gg6DjcfJV_Z_text","default":"<p>Generally speaking, if the paper button and ink button alternatively blink, that means your waste ink pad is calling for a reset. So what and where is the waste ink pad?<br>First lets zoom in on the inner part of F13 Panda DTF. If we move the printhead assembly to the left, we'll see a moisturizing device right beneath, which is called capping station. Waste ink pad is exactly under this capping station.</p>"},{"type":"html","id":"gg1C-e8C3Il_text","label":"gg1C-e8C3Il_text","default":"<p>printhead stopping on capping station</p>"},{"type":"html","id":"ggtyA32-rzu_text","label":"ggtyA32-rzu_text","default":"<p>capping station is right beneath assembly</p>"},{"type":"html","id":"ggH04Yn1lLn_text","label":"ggH04Yn1lLn_text","default":"<p>Heres how they work: when the printhead assembly goes back to the capping station, the nozzles will be sealed onto the station to proceed with cleaning and moisturizing. Waste ink generated during this process will be absorbed by the waste ink pad below and then flow back to the waste ink bottle at the rear of the printer.<br>Every waste ink pad has its pre-set maximum number of usage. For most printers on the current market, the waste ink pad must be replaced when it reaches that maximum number. Procolored simplifies this for all DTF printer users: to solve the alternatively blinking light issue, all you need to do is execute a waste ink pad reset in the software. <a href=\"https://www.facebook.com/groups/procolored/permalink/794701595860764/\" target=\"_blank\"><span style=\"color:#D8631A;\"><strong><u>Click here for online tutorial from Procolored user.&nbsp;</u></strong></span></a>&nbsp;</p>"},{"type":"html","id":"ggXauWT2-Mn_text","label":"ggXauWT2-Mn_text","default":"<p>waste ink pad reset page on the software</p>"},{"type":"html","id":"gge3R64VS3I_text","label":"gge3R64VS3I_text","default":"<p>2.4 &nbsp;Both blinking lights</p>"},{"type":"html","id":"ggMFjSFM-JL_text","label":"ggMFjSFM-JL_text","default":"<p>Simultaneous blinking of paper button and ink button might be caused by, but not limited to, the following issues:</p>"},{"type":"html","id":"gg1V-IH4tDu_childItem_0","label":"gg1V-IH4tDu_childItem_0","default":"<p><strong>Malfunctioning encoder strip:</strong> As previously mentioned, encoder strip helps translate the printing task and position the printhead movement. Any foreign object on encoder strip may cause a malfunction and halt a printing task.</p>"},{"type":"html","id":"gg1V-IH4tDu_childItem_1","label":"gg1V-IH4tDu_childItem_1","default":"<p><strong>Unsuccessful film feeding:</strong> The blinking issue can be caused by unsuccessful film feeding on the printing platform, due to ink buildups or film curvature.</p>"},{"type":"html","id":"gg1V-IH4tDu_childItem_2","label":"gg1V-IH4tDu_childItem_2","default":"<p><strong>Stuck printhead assembly:</strong> Possibly caused by the frictional guide rail.</p>"},{"type":"html","id":"ggIOgu_Lmne_text","label":"ggIOgu_Lmne_text","default":"<p>How to solve them by yourself? Actually we do not recommend our users to handle the simultaneous blinking situation without professional assistance. Instead we suggest as below:</p>"},{"type":"html","id":"ggHGdkVrtpD_childItem_0","label":"ggHGdkVrtpD_childItem_0","default":"<p>Use the Wicreset software to diagnose the exact issue (we&#039;ve included the software installation package in the USB device in your printer parcel) and see if theres any TINY improvement you can perform. For example, add &nbsp;lubricating oil on the guide rail, or clean the encoder strip following our maintenance tutorial video. Then restart the printer.&nbsp;</p>"},{"type":"html","id":"ggHGdkVrtpD_childItem_1","label":"ggHGdkVrtpD_childItem_1","default":"<p>If unfortunately the two lights still dazzlingly blink, please feel free to contact our customer service and let our tech team step in.</p>"},{"type":"html","id":"ggtKu9y8Pc8_text","label":"ggtKu9y8Pc8_text","default":"<p>diagnose page on Wicreset software</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
