

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-545040696633984061.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-545040696633984061.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-545040696633984061.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-545040696633984061.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-545040696633984061.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-545040696633984061.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-545040696633984061.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-545040696633984061.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-545040696633984061.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-545040696633984061.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-545040696633984061.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-545040696633984061.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-545040696633984061.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-545040696633984061.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-545040696633984061.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-545040696633984061.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-545040696633984061.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-545040696633984061.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-545040696633984061.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-545040696633984061.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-545040696633984061.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-545040696633984061.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-545040696633984061.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-545040696633984061.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-545040696633984061.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-545040696633984061.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-545040696633984061.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-545040696633984061.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-545040696633984061.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-545040696633984061.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-545040696633984061.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-545040696633984061.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-545040696633984061.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-545040696633984061.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-545040696633984061.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-545040696633984061.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-545040696633984061.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-545040696633984061.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-545040696633984061.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-545040696633984061.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-545040696633984061.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-545040696633984061.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-545040696633984061.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-545040696633984061.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-545040696633984061.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-545040696633984061.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-545040696633984061.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-545040696633984061.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-545040696633984061.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-545040696633984061.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-545040696633984061.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-545040696633984061.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-545040696633984061.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-545040696633984061.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-545040696633984061.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-545040696633984061.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-545040696633984061.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-545040696633984061.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-545040696633984061.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-545040696633984061.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-545040696633984061 .gp-invisible{visibility:hidden}.gps-545040696633984061 .gp-absolute{position:absolute}.gps-545040696633984061 .gp-relative{position:relative}.gps-545040696633984061 .gp-top-0{top:0}.gps-545040696633984061 .gp-z-1{z-index:1}.gps-545040696633984061 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545040696633984061 .gp-mb-0{margin-bottom:0}.gps-545040696633984061 .gp-flex{display:flex}.gps-545040696633984061 .gp-grid{display:grid}.gps-545040696633984061 .\!gp-hidden{display:none!important}.gps-545040696633984061 .gp-hidden{display:none}.gps-545040696633984061 .gp-h-full{height:100%}.gps-545040696633984061 .gp-w-full{width:100%}.gps-545040696633984061 .gp-max-w-full{max-width:100%}.gps-545040696633984061 .gp-flex-col{flex-direction:column}.gps-545040696633984061 .gp-items-center{align-items:center}.gps-545040696633984061 .\!gp-justify-center{justify-content:center!important}.gps-545040696633984061 .gp-gap-y-0{row-gap:0}.gps-545040696633984061 .gp-overflow-hidden{overflow:hidden}.gps-545040696633984061 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545040696633984061 .gp-duration-200{transition-duration:.2s}.gps-545040696633984061 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-545040696633984061 .tablet\:gp-relative{position:relative}.gps-545040696633984061 .tablet\:\!gp-hidden{display:none!important}.gps-545040696633984061 .tablet\:gp-hidden{display:none}.gps-545040696633984061 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-545040696633984061 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-545040696633984061 .mobile\:gp-relative{position:relative}.gps-545040696633984061 .mobile\:\!gp-hidden{display:none!important}.gps-545040696633984061 .mobile\:gp-hidden{display:none}.gps-545040696633984061 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-545040696633984061 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-545040696633984061 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-545040696633984061 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-545040696633984061 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gdnL6N4Z0n" data-id="gdnL6N4Z0n"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdnL6N4Z0n gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRUucpXcCM gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:420px;--h-tablet:300px;--h-mobile:300px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:0px;--mb-mobile:0px;--mb-tablet:0px">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg","width":1600,"height":584,"backupFileKey":"gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg","width":1600,"height":584,"backupFileKey":"gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-81225fd9-a2c7-4c8c-8986-c06c35a0576c.jpg","width":800,"height":600,"backupFileKey":"gempages_491413794182923290-81225fd9-a2c7-4c8c-8986-c06c35a0576c.jpg","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gdK_Hu-PfY","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"auto"}}'
        gp-href=""
        
        class="gdK_Hu-PfY gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:420px;--h-tablet:300px;--h-mobile:300px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gdK_Hu-PfY"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:420px;--h-tablet:300px;--h-mobile:300px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-81225fd9-a2c7-4c8c-8986-c06c35a0576c_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTgwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE2MDAtNTg0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNjAwIiBoZWlnaHQ9IjU4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIGZpbGw9InVybCgjZy0xNjAwLTU4NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE2MDAiIHRvPSIxNjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE2MDAtNTg0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNjAwIiBoZWlnaHQ9IjU4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIGZpbGw9InVybCgjZy0xNjAwLTU4NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE2MDAiIHRvPSIxNjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:420px;--h-tablet:300px;--h-mobile:300px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE2MDAtNTg0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNjAwIiBoZWlnaHQ9IjU4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIGZpbGw9InVybCgjZy0xNjAwLTU4NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE2MDAiIHRvPSIxNjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE2MDAtNTg0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNjAwIiBoZWlnaHQ9IjU4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI1ODQiIGZpbGw9InVybCgjZy0xNjAwLTU4NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE2MDAiIHRvPSIxNjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTgwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg" | file_url }}" data-srcset="{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg" | file_url }} 768w,{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg" | file_url }} 1024w,{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1.jpg" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1_1024x.jpg" | file_url }}" data-srcset="{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1_1024x.jpg" | file_url }} 768w,{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1_1024x.jpg" | file_url }} 1024w,{{ "gempages_491413794182923290-9890aefe-20f2-489f-b689-5bf8c6a7c7d1_1024x.jpg" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_491413794182923290-81225fd9-a2c7-4c8c-8986-c06c35a0576c_768x.jpg" | file_url }}" data-srcset="{{ "gempages_491413794182923290-81225fd9-a2c7-4c8c-8986-c06c35a0576c_768x.jpg" | file_url }} 768w,{{ "gempages_491413794182923290-81225fd9-a2c7-4c8c-8986-c06c35a0576c_768x.jpg" | file_url }} 1024w,{{ "gempages_491413794182923290-81225fd9-a2c7-4c8c-8986-c06c35a0576c_768x.jpg" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div>  
             </div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--d-mobile:none"
      class="gogBTI2e9K gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-545040696633984061 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=545040621455279087&sectionId=545040696633984061)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
