
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584185347303277125.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584185347303277125.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584185347303277125.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584185347303277125.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584185347303277125.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584185347303277125.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584185347303277125.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584185347303277125.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584185347303277125.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584185347303277125.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584185347303277125.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584185347303277125.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584185347303277125.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584185347303277125.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584185347303277125.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584185347303277125.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584185347303277125.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584185347303277125.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584185347303277125.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584185347303277125.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584185347303277125.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584185347303277125.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584185347303277125.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584185347303277125.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584185347303277125.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584185347303277125.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584185347303277125.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584185347303277125.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584185347303277125.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584185347303277125.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584185347303277125.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584185347303277125.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584185347303277125.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584185347303277125.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584185347303277125.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584185347303277125.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584185347303277125.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584185347303277125.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584185347303277125.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584185347303277125.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584185347303277125.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584185347303277125.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584185347303277125.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584185347303277125.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584185347303277125.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584185347303277125.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584185347303277125.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584185347303277125.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584185347303277125.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584185347303277125.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584185347303277125.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584185347303277125.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584185347303277125.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584185347303277125.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584185347303277125.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584185347303277125.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584185347303277125.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584185347303277125.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584185347303277125.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584185347303277125.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584185347303277125.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584185347303277125.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584185347303277125.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584185347303277125 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-584185347303277125 .gp-relative{position:relative}.gps-584185347303277125 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584185347303277125 .gp-mb-0{margin-bottom:0}.gps-584185347303277125 .gp-inline-block{display:inline-block}.gps-584185347303277125 .gp-flex{display:flex}.gps-584185347303277125 .gp-grid{display:grid}.gps-584185347303277125 .gp-contents{display:contents}.gps-584185347303277125 .\!gp-hidden{display:none!important}.gps-584185347303277125 .gp-hidden{display:none}.gps-584185347303277125 .gp-h-auto{height:auto}.gps-584185347303277125 .gp-h-full{height:100%}.gps-584185347303277125 .gp-w-full{width:100%}.gps-584185347303277125 .gp-max-w-full{max-width:100%}.gps-584185347303277125 .gp-flex-none{flex:none}.gps-584185347303277125 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584185347303277125 .gp-flex-col{flex-direction:column}.gps-584185347303277125 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584185347303277125 .gp-duration-200{transition-duration:.2s}.gps-584185347303277125 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584185347303277125 .tablet\:\!gp-hidden{display:none!important}.gps-584185347303277125 .tablet\:gp-hidden{display:none}.gps-584185347303277125 .tablet\:gp-h-auto{height:auto}.gps-584185347303277125 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584185347303277125 .mobile\:\!gp-hidden{display:none!important}.gps-584185347303277125 .mobile\:gp-hidden{display:none}.gps-584185347303277125 .mobile\:gp-h-auto{height:auto}.gps-584185347303277125 .mobile\:gp-flex-none{flex:none}}.gps-584185347303277125 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"giiNIjqrLJ"}' data-id="giiNIjqrLJ" id="giiNIjqrLJ" data-same-height-subgrid-container class="giiNIjqrLJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gO4IGEEb9T gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0vmD5f8GU"
        class="g0vmD5f8GU"
        style="--ta:center;--mb:43px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:43px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474010"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0vmD5f8GU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_ansHgHrm"
        class="g_ansHgHrm"
        style="--ta:center;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474011"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_ansHgHrm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVQeWzAPTd"
        class="gVQeWzAPTd"
        style="--ta:center;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474012"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVQeWzAPTd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gR5Np3mnpK"
      style="--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1757733474012 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gR5Np3mnpK"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-3a530c9c-afda-4064-8ac9-73676aa6ea9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1NzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNDAtNTc2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjU3NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1NzYiIGZpbGw9InVybCgjZy0xMTQwLTU3NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNDAiIHRvPSIxMTQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_491413794182923290-3a530c9c-afda-4064-8ac9-73676aa6ea9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1NzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNDAtNTc2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjU3NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1NzYiIGZpbGw9InVybCgjZy0xMTQwLTU3NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNDAiIHRvPSIxMTQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_491413794182923290-3a530c9c-afda-4064-8ac9-73676aa6ea9c.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1NzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNDAtNTc2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjU3NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1NzYiIGZpbGw9InVybCgjZy0xMTQwLTU3NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNDAiIHRvPSIxMTQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_491413794182923290-3a530c9c-afda-4064-8ac9-73676aa6ea9c.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--objf:cover;--w:800px;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYOXpxjbjM"
        class="gYOXpxjbjM"
        style="--ta:center;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474013"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYOXpxjbjM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6OnGpQyVH"
        class="g6OnGpQyVH"
        style="--ta:center;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474014"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6OnGpQyVH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTXDdzyaS6"
        class="gTXDdzyaS6"
        style="--ta:center;--mb:9px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:9px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474015"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTXDdzyaS6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu0d0KiXFx"
        class="gu0d0KiXFx"
        style="--ta:center;--mb:20px;--pt:0px;--pl:50px;--pb:0px;--pr:0px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:50px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474016"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu0d0KiXFx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtmv6sSE3x"
        class="gtmv6sSE3x"
        style="--ta:center;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757733474017"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtmv6sSE3x_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-584185347303277125 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584185051789394520&sectionId=584185347303277125)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0vmD5f8GU_text","label":"gg0vmD5f8GU_text","default":"<p><span style=\"font-size:22px;\"><strong>Incident</strong></span></p><p>On Thu, May 22, 2025, we identified that certain software packages were compromised by a malware variant known as the Floxif worm.</p><p>&nbsp;</p><p>Our investigation indicates the virus may have been introduced during the transfer of product software from USB to our web hosting, which could have led to the XRed backdoor being installed on some Windows devices.</p><p>&nbsp;</p><p>There is no evidence linking our software to cryptocurrency theft. The malware's command-and-control servers have been offline since February 2024, and we have not received any reports from users regarding crypto-related issues.</p>"},{"type":"html","id":"gg_ansHgHrm_text","label":"gg_ansHgHrm_text","default":"<p><span style=\"font-size:22px;\"><strong>Resolution</strong></span><br>As soon as the issue was identified, we removed all software from the Procolored official website.</p><p>&nbsp;</p><p>We then carried out extensive security testing across our entire product line. This included a full malware scan and re-verification of every file within the F8, F13, F13 Pro, V6, V11 Pro, and VF13 Pro software packages using G Data*, VirusTotal, and other independent tools.</p><p>&nbsp;</p><p>All current packages were confirmed clean**, with no viruses, malware, or unauthorized code present. Only after passing these checks were the verified software packages re-uploaded to our site.&nbsp;</p>"},{"type":"html","id":"ggVQeWzAPTd_text","label":"ggVQeWzAPTd_text","default":"<p><span style=\"font-size:16px;\"><i>* G Data’s latest analysis: </i></span><a href=\"https://www.gdatasoftware.com/blog/2025/05/38200-printer-infected-software-downloads\" target=\"_blank\"><u>https://www.gdatasoftware.com/blog/2025/05/38200-printer-infected-software-downloads</u></a></p>"},{"type":"html","id":"ggYOXpxjbjM_text","label":"ggYOXpxjbjM_text","default":"<p><span style=\"font-size:16px;\">We also updated our website and notified customers through </span><a href=\"https://www.procolored.com/pages/support-resources\" target=\"_blank\"><u>https://www.procolored.com/pages/support-resources</u></a><span style=\"font-size:16px;\"> where the safe versions could be redownloaded. For users who reported issues, our engineers provided one-on-one support and solutions.</span></p>"},{"type":"html","id":"gg6OnGpQyVH_text","label":"gg6OnGpQyVH_text","default":"<p><span style=\"font-size:22px;\"><strong>Commitment</strong></span></p><p>We recognize that past methods of distributing software, including the use of USB transfers, did not provide the level of oversight our customers expect.</p><p>&nbsp;</p><p>Although the exact source of the malware is still under review, we recognize that this incident created concern and inconvenience for our community. Our customers place their trust in us, and we regret that our safeguards at the time did not meet that trust. We are committed to rebuilding that trust through stricter controls, greater transparency, and ongoing support, and we will continue to take full responsibility for resolving any issues that arise.</p>"},{"type":"html","id":"ggTXDdzyaS6_text","label":"ggTXDdzyaS6_text","default":"<p><span style=\"font-size:22px;\"><strong>Future Measures</strong></span></p><p>This incident has prompted us to strengthen internal controls for all future software releases and enhance our quality assurance processes. Our goal is to stand firmly behind product quality while prioritizing customer safety and satisfaction.</p><p>&nbsp;</p><p>Our commitments include:</p>"},{"type":"html","id":"ggu0d0KiXFx_text","label":"ggu0d0KiXFx_text","default":"<ul><li><strong>Certified Software Provider</strong> - Our software, PrintEXP.exe, is supplied by Shenzhen Hosonsoft Co., Ltd., a certified developer with ISO/IEC 27001 information security credentials. Their certification is independently verifiable online, and documents can be viewed here <a href=\"http://qian.xjyrz.com/certerp/xjyr/cert/search?CertID=19823ISF0178R0M.\" target=\"_blank\"><u>http://qian.xjyrz.com/certerp/xjyr/cert/search?CertID=19823ISF0178R0M</u></a>.</li><li><span style=\"font-size:17px;\"><strong>Official Hash Values</strong></span> - We now publish official hash values on our website so users can verify downloads have not been tampered with.</li><li><span style=\"font-size:17px;\"><strong>Open to Independent Testing</strong></span> – We welcome independent testing of our machines and software, and our team is available to provide access and support as part of our commitment to transparency.</li><li><span style=\"font-size:17px;\"><strong>After-Sales Support</strong></span> - Our global after-sales team is dedicated to resolving any software or hardware issues quickly and thoroughly.</li><li><span style=\"font-size:17px;\"><strong>U.S.-Based Support</strong></span> – In addition to our global presence, we maintain a U.S.-based warehouse, subsidiary, and local engineering team to ensure dependable support for customers in North America.</li></ul>"},{"type":"html","id":"ggtmv6sSE3x_text","label":"ggtmv6sSE3x_text","default":"<p>We remain committed to protecting our customers and their trust, and we will continue to prioritize security, transparency, and reliable support in every step forward.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  