

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-523885743110620088.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-523885743110620088.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-523885743110620088.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-523885743110620088.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-523885743110620088.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-523885743110620088.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-523885743110620088.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-523885743110620088.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-523885743110620088.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-523885743110620088.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-523885743110620088.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-523885743110620088.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-523885743110620088.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-523885743110620088.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-523885743110620088.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-523885743110620088.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-523885743110620088.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-523885743110620088.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-523885743110620088.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-523885743110620088.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-523885743110620088.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-523885743110620088.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-523885743110620088.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-523885743110620088.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-523885743110620088.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-523885743110620088.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-523885743110620088.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-523885743110620088.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-523885743110620088.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-523885743110620088.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-523885743110620088.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-523885743110620088.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-523885743110620088.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-523885743110620088.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-523885743110620088.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-523885743110620088.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-523885743110620088.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-523885743110620088.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-523885743110620088.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-523885743110620088.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-523885743110620088.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-523885743110620088.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-523885743110620088.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-523885743110620088.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-523885743110620088.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-523885743110620088.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-523885743110620088.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-523885743110620088.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-523885743110620088.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-523885743110620088.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-523885743110620088.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-523885743110620088.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-523885743110620088.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-523885743110620088.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-523885743110620088.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-523885743110620088.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-523885743110620088.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-523885743110620088.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-523885743110620088.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-523885743110620088.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-523885743110620088.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-523885743110620088.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-523885743110620088.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-523885743110620088.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-523885743110620088.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-523885743110620088.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-523885743110620088.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-523885743110620088.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-523885743110620088.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-523885743110620088.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-523885743110620088.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-523885743110620088.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-523885743110620088.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-523885743110620088.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-523885743110620088.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-523885743110620088.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-523885743110620088.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-523885743110620088.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-523885743110620088.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-523885743110620088.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-523885743110620088.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-523885743110620088.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-523885743110620088.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-523885743110620088.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-523885743110620088.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-523885743110620088.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-523885743110620088.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-523885743110620088.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-523885743110620088.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-523885743110620088.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-523885743110620088.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-523885743110620088.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-523885743110620088.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-523885743110620088.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-523885743110620088.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-523885743110620088.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-523885743110620088.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-523885743110620088.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-523885743110620088 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-523885743110620088 .gp-invisible{visibility:hidden}.gps-523885743110620088 .gp-absolute{position:absolute}.gps-523885743110620088 .gp-relative{position:relative}.gps-523885743110620088 .gp-inset-0{inset:0}.gps-523885743110620088 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-523885743110620088 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-523885743110620088 .gp-z-1{z-index:1}.gps-523885743110620088 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-523885743110620088 .gp-mb-0{margin-bottom:0}.gps-523885743110620088 .\!gp-inline{display:inline!important}.gps-523885743110620088 .gp-flex{display:flex}.gps-523885743110620088 .gp-grid{display:grid}.gps-523885743110620088 .\!gp-hidden{display:none!important}.gps-523885743110620088 .gp-hidden{display:none}.gps-523885743110620088 .gp-h-full{height:100%}.gps-523885743110620088 .gp-w-full{width:100%}.gps-523885743110620088 .gp-max-w-full{max-width:100%}.gps-523885743110620088 .gp-flex-col{flex-direction:column}.gps-523885743110620088 .gp-items-center{align-items:center}.gps-523885743110620088 .\!gp-justify-center{justify-content:center!important}.gps-523885743110620088 .gp-gap-y-0{row-gap:0}.gps-523885743110620088 .gp-overflow-hidden{overflow:hidden}.gps-523885743110620088 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-523885743110620088 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-523885743110620088 .gp-duration-200{transition-duration:.2s}.gps-523885743110620088 .gp-duration-300{transition-duration:.3s}.gps-523885743110620088 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-523885743110620088 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-523885743110620088 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-523885743110620088 .tablet\:gp-relative{position:relative}.gps-523885743110620088 .tablet\:\!gp-hidden{display:none!important}.gps-523885743110620088 .tablet\:gp-hidden{display:none}.gps-523885743110620088 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-523885743110620088 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-523885743110620088 .mobile\:gp-relative{position:relative}.gps-523885743110620088 .mobile\:\!gp-hidden{display:none!important}.gps-523885743110620088 .mobile\:gp-hidden{display:none}.gps-523885743110620088 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-523885743110620088 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-523885743110620088 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-523885743110620088 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-523885743110620088 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-523885743110620088 .\[\&_p\]\:gp-inline p{display:inline}.gps-523885743110620088 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-523885743110620088 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gM-EFBGzB-" data-id="gM-EFBGzB-"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM-EFBGzB- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg6-Q00Wls gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:400px;--h-tablet:300px;--h-mobile:400px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg","height":655,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672","storage":"FILE_CONTENT","width":1140},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg","height":655,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672","storage":"FILE_CONTENT","width":1140},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg","height":655,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672","storage":"FILE_CONTENT","width":1140},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gshyKbtShH","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="gshyKbtShH gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:400px;--h-tablet:300px;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gshyKbtShH"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:400px;--h-tablet:300px;--h-mobile:400px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c_1024x1024.jpg" | file_url }}" />
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1140/655;--aspect-tablet:1140/655;--aspect-mobile:1140/655;--d:none;--d-tablet:none;--d-mobile:none;--h:400px;--h-tablet:300px;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1140/655;--aspect-tablet:1140/655;--aspect-mobile:1140/655;--d:none;--d-tablet:none;--d-mobile:none;--h:400px;--h-tablet:300px;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 0%;--bgp-tablet:50% 0%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672" width="2237" height="1678" alt="lazy image mobile"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672" width="2237" height="1678" alt="lazy image desktop"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672" width="2237" height="1678" alt="lazy image tablet"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-13659611-c4db-44bb-9bc4-36dbd7223a3c.jpg?v=1721725672 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#B28989;--top:0;--left:0;--op:60%;--hvr-op:60%"
          > </div>
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwPNASDv2K gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gptjUmhBZu">
    <div
      parentTag="Col"
        class="gptjUmhBZu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:22px;--size-mobile:19px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggptjUmhBZu_text }}</h2>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gdjReTNa-8">
    <div
      parentTag="Col"
        class="gdjReTNa-8 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--ml:70px;--mr:70px;--ml-mobile:0px;--mr-mobile:0px;--ml-tablet:50px;--mr-tablet:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdjReTNa-8_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
       
      
    <div
      parentTag="Col" id="g1PPbl8fVV" data-id="g1PPbl8fVV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb-tablet:1px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1PPbl8fVV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJ3hlFUEFK gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gZaOuvXljf" data-id="gZaOuvXljf"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZaOuvXljf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guPeKflFep gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gqNKC_IEu7">
    <div
      parentTag="Col"
        class="gqNKC_IEu7 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pl:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqNKC_IEu7_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gqNKC_IEu7">
        .gqNKC_IEu7 {

}
.gqNKC_IEu7 p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvUg13USOO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gMZGSikayS" data-id="gMZGSikayS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMZGSikayS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvKqxx0RK3 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gYsqf12T4o">
    <div
      parentTag="Col"
        class="gYsqf12T4o "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYsqf12T4o_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYsqf12T4o">
        .gYsqf12T4o {

}
.gYsqf12T4o p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_Qu1r0Pi2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="geK2X_GhrC" data-id="geK2X_GhrC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geK2X_GhrC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQFpBStLS- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gbd0mVholL"
    role="presentation"
    class="gp-group/image gbd0mVholL"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.procolored.com%252Fa%252Fgempages%253Fpreview%253D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=zh_CN" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gbd0mVholL">
        .gbd0mVholL {

}
.gbd0mVholL > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc07xHvua7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g-6UcsBjb-"
    role="presentation"
    class="gp-group/image g-6UcsBjb-"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://x.com/intent/post?url=https%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28&text=ProcoloredAmerican+ExpressApple+PayGoogle+PayMastercardPayPalShop+PayUnion+PayVisav17.7+-+Gp.Logo" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-g-6UcsBjb-">
        .g-6UcsBjb- {

}
.g-6UcsBjb- > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLqsXJJ2PB gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gKStNYFatJ"
    role="presentation"
    class="gp-group/image gKStNYFatJ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.pinterest.com/pin/create/bookmarklet/?media=https://ucarecdn.com/a93fb8cc-83ae-436c-aa48-76c93a51ea30/-/format/auto/-/preview/3000x3000/-/quality/lighter/5510fb8eaee549d29cf4be4600975cbc_3.png&url=https://www.procolored.com/a/gempages?preview=559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28#&description=ProcoloredAmerican%20ExpressApple%20PayGoogle%20PayMastercardPayPalShop%20PayUnion%20PayVisav17.7%20-%20Gp.Logo" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gKStNYFatJ">
        .gKStNYFatJ {

}
.gKStNYFatJ > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDPGipWTQw gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gQ79oKPWkF"
    role="presentation"
    class="gp-group/image gQ79oKPWkF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2FshareArticle%3Fmini%3Dtrue%26url%3Dhttps%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gQ79oKPWkF">
        .gQ79oKPWkF {

}
.gQ79oKPWkF > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkb4PTW74M gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="ge5UR1sWsv">
    <div
      parentTag="Col"
        class="ge5UR1sWsv "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pr:20px;--pr-tablet:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gge5UR1sWsv_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ge5UR1sWsv">
        .ge5UR1sWsv {

}
.ge5UR1sWsv p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-523885743110620088 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=523774232992154552&sectionId=523885743110620088)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggptjUmhBZu_text","label":"ggptjUmhBZu_text","default":"<strong>Procolored Product Support Library</strong>"},{"type":"html","id":"ggdjReTNa-8_text","label":"ggdjReTNa-8_text","default":"<p>Electric power is not the only essential to keep a digital printer run, it also needs extra attentive maintenance.&nbsp;</p><p>To help users access to more instant and effective help, weve summarized all the product support methods in this blog.&nbsp;</p><p>Scroll down to fetch what you need!</p>"},{"type":"html","id":"ggqNKC_IEu7_text","label":"ggqNKC_IEu7_text","default":"<p>6 minutes read</p>"},{"type":"html","id":"ggYsqf12T4o_text","label":"ggYsqf12T4o_text","default":"<p>Share:</p>"},{"type":"html","id":"gge5UR1sWsv_text","label":"gge5UR1sWsv_text","default":"<p>Written by <span style=\"color:#050404;\">Procolored</span> - Published on <span style=\"color:#000000;\">July 24, 2024</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
