

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-526051044044571569.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-526051044044571569.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-526051044044571569.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-526051044044571569.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-526051044044571569.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-526051044044571569.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-526051044044571569.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-526051044044571569.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-526051044044571569.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-526051044044571569.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-526051044044571569.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-526051044044571569.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-526051044044571569.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-526051044044571569.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-526051044044571569.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-526051044044571569.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-526051044044571569.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-526051044044571569.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-526051044044571569.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-526051044044571569.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-526051044044571569.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-526051044044571569.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-526051044044571569.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-526051044044571569.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-526051044044571569.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-526051044044571569.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-526051044044571569.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-526051044044571569.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-526051044044571569.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-526051044044571569.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-526051044044571569.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-526051044044571569.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-526051044044571569.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-526051044044571569.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-526051044044571569.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-526051044044571569.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-526051044044571569.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-526051044044571569.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-526051044044571569.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-526051044044571569.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-526051044044571569.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-526051044044571569.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-526051044044571569.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-526051044044571569.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-526051044044571569.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-526051044044571569.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-526051044044571569.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-526051044044571569.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-526051044044571569.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-526051044044571569.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-526051044044571569.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-526051044044571569.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-526051044044571569.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-526051044044571569.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-526051044044571569.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-526051044044571569.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-526051044044571569.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-526051044044571569.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-526051044044571569.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-526051044044571569.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-526051044044571569.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-526051044044571569.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-526051044044571569.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-526051044044571569.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-526051044044571569.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-526051044044571569.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-526051044044571569.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-526051044044571569.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-526051044044571569.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-526051044044571569.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-526051044044571569.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-526051044044571569.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-526051044044571569.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-526051044044571569.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-526051044044571569.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-526051044044571569.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-526051044044571569.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-526051044044571569.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-526051044044571569.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-526051044044571569.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-526051044044571569.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-526051044044571569.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-526051044044571569.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-526051044044571569.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-526051044044571569.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-526051044044571569.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-526051044044571569.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-526051044044571569.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-526051044044571569.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-526051044044571569.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-526051044044571569.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-526051044044571569.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-526051044044571569.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-526051044044571569.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-526051044044571569.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-526051044044571569.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-526051044044571569.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-526051044044571569.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-526051044044571569.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-526051044044571569.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-526051044044571569.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-526051044044571569.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-526051044044571569.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-526051044044571569.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-526051044044571569.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-526051044044571569.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-526051044044571569.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-526051044044571569.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-526051044044571569.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-526051044044571569.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-526051044044571569.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-526051044044571569.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-526051044044571569.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-526051044044571569.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-526051044044571569.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-526051044044571569.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-526051044044571569.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-526051044044571569.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-526051044044571569.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-526051044044571569 .focus\:\!gp-shadow-none,.gps-526051044044571569 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-526051044044571569 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-526051044044571569 .\!gp-g-s-medium{padding:8px 24px!important}.gps-526051044044571569 .gp-invisible{visibility:hidden}.gps-526051044044571569 .gp-fixed{position:fixed}.gps-526051044044571569 .gp-absolute{position:absolute}.gps-526051044044571569 .gp-relative{position:relative}.gps-526051044044571569 .gp-inset-0{inset:0}.gps-526051044044571569 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-526051044044571569 .gp-top-\[27px\]{top:27px}.gps-526051044044571569 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-526051044044571569 .gp-z-1{z-index:1}.gps-526051044044571569 .gp-z-100{z-index:100}.gps-526051044044571569 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-526051044044571569 .gp-mb-0{margin-bottom:0}.gps-526051044044571569 .gp-block{display:block}.gps-526051044044571569 .\!gp-inline{display:inline!important}.gps-526051044044571569 .gp-flex{display:flex}.gps-526051044044571569 .gp-inline-flex{display:inline-flex}.gps-526051044044571569 .gp-grid{display:grid}.gps-526051044044571569 .\!gp-hidden{display:none!important}.gps-526051044044571569 .gp-hidden{display:none}.gps-526051044044571569 .\!gp-h-auto{height:auto!important}.gps-526051044044571569 .gp-h-full{height:100%}.gps-526051044044571569 .gp-w-full{width:100%}.gps-526051044044571569 .gp-max-w-full{max-width:100%}.gps-526051044044571569 .gp-flex-none{flex:none}.gps-526051044044571569 .gp-shrink-0{flex-shrink:0}.gps-526051044044571569 .gp-flex-col{flex-direction:column}.gps-526051044044571569 .gp-items-center{align-items:center}.gps-526051044044571569 .gp-justify-start{justify-content:flex-start}.gps-526051044044571569 .\!gp-justify-center{justify-content:center!important}.gps-526051044044571569 .gp-justify-center{justify-content:center}.gps-526051044044571569 .gp-gap-y-0{row-gap:0}.gps-526051044044571569 .gp-overflow-hidden{overflow:hidden}.gps-526051044044571569 .gp-break-words{overflow-wrap:break-word}.gps-526051044044571569 .gp-rounded{border-radius:4px}.gps-526051044044571569 .gp-rounded-none{border-radius:0}.gps-526051044044571569 .\!gp-bg-none{background-image:none!important}.gps-526051044044571569 .gp-p-\[16px\]{padding:16px}.gps-526051044044571569 .gp-text-left{text-align:left}.gps-526051044044571569 .gp-text-\[14px\]{font-size:14px}.gps-526051044044571569 .gp-leading-\[0\]{line-height:0}.gps-526051044044571569 .gp-leading-normal{line-height:1.5}.gps-526051044044571569 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-526051044044571569 .gp-no-underline{text-decoration-line:none}.gps-526051044044571569 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-526051044044571569 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-526051044044571569 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-526051044044571569 .gp-duration-200{transition-duration:.2s}.gps-526051044044571569 .gp-duration-300{transition-duration:.3s}.gps-526051044044571569 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-526051044044571569 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-526051044044571569 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-526051044044571569 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-526051044044571569 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-526051044044571569 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-526051044044571569 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-526051044044571569 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-526051044044571569 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-526051044044571569 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-526051044044571569 .tablet\:gp-relative{position:relative}.gps-526051044044571569 .tablet\:gp-block{display:block}.gps-526051044044571569 .tablet\:\!gp-hidden{display:none!important}.gps-526051044044571569 .tablet\:gp-hidden{display:none}.gps-526051044044571569 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-526051044044571569 .tablet\:\!gp-justify-center{justify-content:center!important}.gps-526051044044571569 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-526051044044571569 .mobile\:gp-relative{position:relative}.gps-526051044044571569 .mobile\:gp-block{display:block}.gps-526051044044571569 .mobile\:\!gp-hidden{display:none!important}.gps-526051044044571569 .mobile\:gp-hidden{display:none}.gps-526051044044571569 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-526051044044571569 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-526051044044571569 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-526051044044571569 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-526051044044571569 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-526051044044571569 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-526051044044571569 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-526051044044571569 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-526051044044571569 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-526051044044571569 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-526051044044571569 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-526051044044571569 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-526051044044571569 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-526051044044571569 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-526051044044571569 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-526051044044571569 .\[\&_p\]\:gp-inline p{display:inline}.gps-526051044044571569 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-526051044044571569 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-526051044044571569 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g9uTCHbL88" data-id="g9uTCHbL88"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9uTCHbL88 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gu371SKITi gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:420px;--h-tablet:280px;--h-mobile:380px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg","height":460,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466","storage":"FILE_CONTENT","width":820},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg","height":460,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466","storage":"FILE_CONTENT","width":820},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg","height":460,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466","storage":"FILE_CONTENT","width":820},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gjebRl1RQd","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="gjebRl1RQd gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:420px;--h-tablet:280px;--h-mobile:380px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gjebRl1RQd"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:420px;--h-tablet:280px;--h-mobile:380px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c_1024x1024.jpg" | file_url }}" />
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:820/460;--aspect-tablet:820/460;--aspect-mobile:820/460;--d:none;--d-tablet:none;--d-mobile:none;--h:420px;--h-tablet:280px;--h-mobile:380px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:820/460;--aspect-tablet:820/460;--aspect-mobile:820/460;--d:none;--d-tablet:none;--d-mobile:none;--h:420px;--h-tablet:280px;--h-mobile:380px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466" width="2237" height="1678" alt="lazy image mobile"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466" width="2237" height="1678" alt="lazy image desktop"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466" width="2237" height="1678" alt="lazy image tablet"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-bedd1a1a-2b28-46e6-80fc-2efdb5a97f7c.jpg?v=1723089466 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#726F6F;--top:0;--left:0;--op:72%;--hvr-op:72%"
          > </div>
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCw3XaraCu gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gG0jMk83fR">
    <div
      parentTag="Col"
        class="gG0jMk83fR "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:28px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG0jMk83fR_text }}</h2>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gg2BsJUU7g">
    <div
      parentTag="Col"
        class="gg2BsJUU7g "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ml:60px;--mr:60px;--ml-mobile:10px;--mr-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggg2BsJUU7g_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
       
      
    <div
      parentTag="Col" id="gomU0keG-0" data-id="gomU0keG-0"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gomU0keG-0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gb6umZk_Op gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gkBdA15oGx">
    <div
      parentTag="Col"
        class="gkBdA15oGx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pr:20px;--mb-mobile:-5px;--pr-mobile:0px;--pr-tablet:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkBdA15oGx_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gkBdA15oGx">
        .gkBdA15oGx {

}
.gkBdA15oGx p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gqCq2hpqIM" data-id="gqCq2hpqIM"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:-5px;--cg:8px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqCq2hpqIM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0xp_mCp74 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gno7WUS63M">
    <div
      parentTag="Col"
        class="gno7WUS63M "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggno7WUS63M_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gno7WUS63M">
        .gno7WUS63M {

}
.gno7WUS63M p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJCzkB9yEa gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gzh3dJfzMV" data-id="gzh3dJfzMV"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzh3dJfzMV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1496S49tp gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g7ur8KGP16"
    role="presentation"
    class="gp-group/image g7ur8KGP16"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.procolored.com%252Fa%252Fgempages%253Fpreview%253D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=zh_CN" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-g7ur8KGP16">
        .g7ur8KGP16 {

}
.g7ur8KGP16 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJ4H3W5xnH gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g-NOOoJu1y"
    role="presentation"
    class="gp-group/image g-NOOoJu1y"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://x.com/intent/post?url=https%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28&text=ProcoloredAmerican+ExpressApple+PayGoogle+PayMastercardPayPalShop+PayUnion+PayVisav17.7+-+Gp.Logo" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-g-NOOoJu1y">
        .g-NOOoJu1y {

}
.g-NOOoJu1y > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfCo0jIyGT gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gUffYKFfNv"
    role="presentation"
    class="gp-group/image gUffYKFfNv"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.pinterest.com/pin/create/bookmarklet/?media=https://ucarecdn.com/a93fb8cc-83ae-436c-aa48-76c93a51ea30/-/format/auto/-/preview/3000x3000/-/quality/lighter/5510fb8eaee549d29cf4be4600975cbc_3.png&url=https://www.procolored.com/a/gempages?preview=559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28#&description=ProcoloredAmerican%20ExpressApple%20PayGoogle%20PayMastercardPayPalShop%20PayUnion%20PayVisav17.7%20-%20Gp.Logo" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gUffYKFfNv">
        .gUffYKFfNv {

}
.gUffYKFfNv > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0_JM9O12z gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWpdVnniVc"
    role="presentation"
    class="gp-group/image gWpdVnniVc"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2FshareArticle%3Fmini%3Dtrue%26url%3Dhttps%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gWpdVnniVc">
        .gWpdVnniVc {

}
.gWpdVnniVc > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gfxu12Gzbw">
    <div
      parentTag="Col"
        class="gfxu12Gzbw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:20px;--mb-mobile:-5px;--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfxu12Gzbw_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gfxu12Gzbw">
        .gfxu12Gzbw {

}
.gfxu12Gzbw p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gFspf_-dCN" data-id="gFspf_-dCN"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb-tablet:1px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFspf_-dCN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMUaloh4Qf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gd3-sCw_U2" data-id="gd3-sCw_U2"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd3-sCw_U2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRSmCpYiPj gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gzSSC_RE7G">
    <div
      parentTag="Col"
        class="gzSSC_RE7G "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzSSC_RE7G_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gzSSC_RE7G">
        .gzSSC_RE7G {

}
.gzSSC_RE7G p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grjh_b_Hfs gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g672CNwUko" data-id="g672CNwUko"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g672CNwUko gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdyCVoia3B gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g-FFEXUQ9J">
    <div
      parentTag="Col"
        class="g-FFEXUQ9J "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-FFEXUQ9J_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g-FFEXUQ9J">
        .g-FFEXUQ9J {

}
.g-FFEXUQ9J p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMW4n9eRrE gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gK9mOcI8iE" data-id="gK9mOcI8iE"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gK9mOcI8iE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzI4OLUF1- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWQnDqaBIA"
    role="presentation"
    class="gp-group/image gWQnDqaBIA"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.procolored.com%252Fa%252Fgempages%253Fpreview%253D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=zh_CN" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gWQnDqaBIA">
        .gWQnDqaBIA {

}
.gWQnDqaBIA > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAjGOjRmPx gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="go2OA-vKM5"
    role="presentation"
    class="gp-group/image go2OA-vKM5"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://x.com/intent/post?url=https%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28&text=ProcoloredAmerican+ExpressApple+PayGoogle+PayMastercardPayPalShop+PayUnion+PayVisav17.7+-+Gp.Logo" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-go2OA-vKM5">
        .go2OA-vKM5 {

}
.go2OA-vKM5 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3QMEOo7I2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gxlWgtugw-"
    role="presentation"
    class="gp-group/image gxlWgtugw-"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.pinterest.com/pin/create/bookmarklet/?media=https://ucarecdn.com/a93fb8cc-83ae-436c-aa48-76c93a51ea30/-/format/auto/-/preview/3000x3000/-/quality/lighter/5510fb8eaee549d29cf4be4600975cbc_3.png&url=https://www.procolored.com/a/gempages?preview=559114191029&type=template-article&article=%2Fblogs%2Fnews%2Funtitled-nov-20-17-35-28#&description=ProcoloredAmerican%20ExpressApple%20PayGoogle%20PayMastercardPayPalShop%20PayUnion%20PayVisav17.7%20-%20Gp.Logo" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gxlWgtugw-">
        .gxlWgtugw- {

}
.gxlWgtugw- > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAw5YeFNVA gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gmZwj0GMNu"
    role="presentation"
    class="gp-group/image gmZwj0GMNu"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2FshareArticle%3Fmini%3Dtrue%26url%3Dhttps%3A%2F%2Fwww.procolored.com%2Fa%2Fgempages%3Fpreview%3D559114191029%26type%3Dtemplate-article%26article%3D%252Fblogs%252Fnews%252Funtitled-nov-20-17-35-28" target="_blank" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
      <style id="custom-css-gmZwj0GMNu">
        .gmZwj0GMNu {

}
.gmZwj0GMNu > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glh5bDu81H gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gen2lWIyI5">
    <div
      parentTag="Col"
        class="gen2lWIyI5 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pr:20px;--pr-tablet:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggen2lWIyI5_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gen2lWIyI5">
        .gen2lWIyI5 {

}
.gen2lWIyI5 p {

}
      </style>
    
    </div>
    </div>
   
    {% render 'gp-section-526051044044571569-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-526051044044571569 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=525920425499165919&sectionId=526051044044571569)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggG0jMk83fR_text","label":"ggG0jMk83fR_text","default":"<strong>Product Comparison:&nbsp;</strong><br><strong>V10 UV vs VF13 UV DTF</strong>"},{"type":"html","id":"ggg2BsJUU7g_text","label":"ggg2BsJUU7g_text","default":"<p>UV and UV DTF printing are two printing methods that people easily confuse. In this blog, well take a closer look into their similarities and differences, by focusing on one specific product of each category - V10 Pro UV printer vs VF13 Pro Panda UV DTF.</p>"},{"type":"html","id":"ggkBdA15oGx_text","label":"ggkBdA15oGx_text","default":"<p>Written by <span style=\"color:#050404;\">Procolored</span> - Published on <span style=\"color:#000000;\">Aug 8, 2024</span></p>"},{"type":"html","id":"ggno7WUS63M_text","label":"ggno7WUS63M_text","default":"<p>Share:</p>"},{"type":"html","id":"ggfxu12Gzbw_text","label":"ggfxu12Gzbw_text","default":"<p>8 minutes read</p>"},{"type":"html","id":"ggzSSC_RE7G_text","label":"ggzSSC_RE7G_text","default":"<p>8 minutes read</p>"},{"type":"html","id":"gg-FFEXUQ9J_text","label":"gg-FFEXUQ9J_text","default":"<p>Share:</p>"},{"type":"html","id":"ggen2lWIyI5_text","label":"ggen2lWIyI5_text","default":"<p>Written by <span style=\"color:#050404;\">Procolored</span> - Published on <span style=\"color:#000000;\">Aug 8, 2024</span></p>"},{"type":"html","id":"ggRtbjWGdtS_text","label":"ggRtbjWGdtS_text","default":"<p>PASSAGE SUMMARY</p>"},{"type":"html","id":"ggKrHfe6YOL_text","label":"ggKrHfe6YOL_text","default":"<p>1. &nbsp;General Review: UV vs UV DTF&nbsp;<br>2. &nbsp;V10 UV vs VF13 UV DTF: printing process&nbsp;<br>3. &nbsp;V10 UV vs VF13 UV DTF: applicable objects&nbsp;<br>4. &nbsp;V10 UV vs VF13 UV DTF: consumable &amp; equipment</p>"},{"type":"html","id":"ggf6wJgn-kP_text","label":"ggf6wJgn-kP_text","default":"<p><strong>1. General Review: UV vs UV DTF&nbsp;</strong></p>"},{"type":"html","id":"ggRzxj7UOCb_text","label":"ggRzxj7UOCb_text","default":"<p>UV and UV DTF printing are two digital printing methods that people frequently mix up. Generally, they do share things in common:</p>"},{"type":"html","id":"ggNbXtaNNma_childItem_0","label":"ggNbXtaNNma_childItem_0","default":"<p>They both apply ultraviolet lights, or UV lights as we usually say.</p>"},{"type":"html","id":"ggNbXtaNNma_childItem_1","label":"ggNbXtaNNma_childItem_1","default":"<p>They can both be applied on surfaces of rigid objects, but not suitable for fabrics.</p>"},{"type":"html","id":"ggNbXtaNNma_childItem_2","label":"ggNbXtaNNma_childItem_2","default":"<p>They both exhibit strong resistance to abrasion, scratching and water.</p>"},{"type":"html","id":"ggs7mPWyBcJ_text","label":"ggs7mPWyBcJ_text","default":"<p>Yet one thing decides their huge differences - the DTF (Direct-to-Film) technology applied in UV DTF printing, leading to their appliances in different areas:</p>"},{"type":"html","id":"ggOLozVRwsg_childItem_0","label":"ggOLozVRwsg_childItem_0","default":"<p><strong>UV printing: easy but limited</strong><br>UV printing tends to be a direct-to-object process. It performs printings directly on object surface, completing all in just one step. However, this one single step demands high requirements for the desired object - it has to be of specific material and in a specific height range; it better be flat but not cylinder or bevel.</p>"},{"type":"html","id":"ggOLozVRwsg_childItem_1","label":"ggOLozVRwsg_childItem_1","default":"<p><strong>UV DTF printing: learning curve but creative</strong><br>Ace advantage first - UV DTF printing indeed is crystal sticker as we see in most decal stores. They can be easily applied - cut out your desired part, stick it on surface, peel off protective layer, done! They can be applied on objects of a wider range - boxes, tumblers, mugs or any other objects in irregular shape.<br>However, UV DTF printing involves not only printing but also laminating function performed by an extra laminator. Compared to UV printing, its multiple steps can be quite a learning curve to newbies in the field.</p>"},{"type":"html","id":"ggBc2DTWrLF_text","label":"ggBc2DTWrLF_text","default":"<p>Sounds informative but still confused? No worries, well go on diving deep into that in the following passage, combining two specific products.</p>"},{"type":"html","id":"ggIBFi-CPng_text","label":"ggIBFi-CPng_text","default":"<p>Product</p><p>Comparison</p>"},{"type":"html","id":"ggbbAZhQ7FU_text","label":"ggbbAZhQ7FU_text","default":"<p>Printer Style#</p>"},{"type":"html","id":"gg9eVE6oKDQ_text","label":"gg9eVE6oKDQ_text","default":"<p>V10 Pro UV printer</p>"},{"type":"html","id":"gg_pQf4Lppd_text","label":"gg_pQf4Lppd_text","default":"<p>VF13 Pro Panda UV DTF printer</p>"},{"type":"html","id":"ggfMwBKbfwb_text","label":"ggfMwBKbfwb_text","default":"<p>Printable Size</p>"},{"type":"html","id":"gg-GG7JwwKl_text","label":"gg-GG7JwwKl_text","default":"<p>11.6\" 16.5\" (297420mm)</p>"},{"type":"html","id":"ggKzFlC9NSz_text","label":"ggKzFlC9NSz_text","default":"<p>11.6\" 16.5\" (297420mm)</p>"},{"type":"html","id":"ggYjCSJFktz_text","label":"ggYjCSJFktz_text","default":"<p>Printing process</p>"},{"type":"html","id":"ggxVkcyGUOT_text","label":"ggxVkcyGUOT_text","default":"<p>directly on object,&nbsp;</p><p>uv lamps cure</p>"},{"type":"html","id":"ggrCkY-_h2Y_text","label":"ggrCkY-_h2Y_text","default":"<p>directly on film,&nbsp;</p><p>uv lamps cure, laminate</p>"},{"type":"html","id":"ggLv5xzSxmi_text","label":"ggLv5xzSxmi_text","default":"<p>Applicable objects</p>"},{"type":"html","id":"ggtccSQVtU__text","label":"ggtccSQVtU__text","default":"<p>flat surface;</p><p>height limit: 0-5.51\" (0-140mm)</p>"},{"type":"html","id":"ggHBtx_vxos_text","label":"ggHBtx_vxos_text","default":"<p>(ir)regular surface;&nbsp;</p><p>no height limit</p>"},{"type":"html","id":"ggT5ahwMVB9_text","label":"ggT5ahwMVB9_text","default":"<p>Consumable needed</p>"},{"type":"html","id":"ggqjnH0kViZ_text","label":"ggqjnH0kViZ_text","default":"<p>UV inks, varnish ink(optional)</p>"},{"type":"html","id":"ggvAm6i8knZ_text","label":"ggvAm6i8knZ_text","default":"<p>UV DTF inks, varnish ink, A&amp;B films</p>"},{"type":"html","id":"ggU31zEogkn_text","label":"ggU31zEogkn_text","default":"<p><strong>2. V10 UV vs VF13 UV DTF: printing process</strong></p>"},{"type":"html","id":"ggJShja87CN_text","label":"ggJShja87CN_text","default":"<p>Known: both UV and UV DTF printing apply UV lamps (ultraviolet lamps). Now, what are UV lamps and how do they affect printings?<br>UV lamps are devices built in UV and UV DTF printers. They emit ultraviolet light to trigger the photoinitiators existing in both UV and UV DTF inks. Via this chemical reaction, the flowing liquid inks on mediums will turn solid almost instantaneously.<br>However, as weve mentioned, UV DTF also applies DTF (direct-to-film) technology in its printing. So when it comes to specific printers like V10 UV and V13 UV DTF, how do they proceed with the &nbsp;printing actually?</p>"},{"type":"html","id":"gg2SQJNYkGY_text","label":"gg2SQJNYkGY_text","default":"<p>V10 UV printer</p>"},{"type":"html","id":"gg4q9CoEbun_text","label":"gg4q9CoEbun_text","default":"<p>The printer will directly deposit inks on the desired object, at the same time UV lamps cure the inks instantly. When the printing platform finally delivers the object, the printed graphic has already been cured and solid - everythings done!</p>"},{"type":"html","id":"ggg36PQPuZv_text","label":"ggg36PQPuZv_text","default":"<p>VF13 UV DTF printer</p>"},{"type":"html","id":"ggGnwrq2Bxu_text","label":"ggGnwrq2Bxu_text","default":"<p>UV DTF directly prints on film, and the inks will also get cured by UV lamps at once. But the solid inks on film have to be laminated with another film to be endowed with viscosity. (Films involved will be discussed in <i>4. consumable &amp; equipment</i>)</p>"},{"type":"html","id":"ggms2vNAg9i_text","label":"ggms2vNAg9i_text","default":"<p><strong>3. V10 UV vs VF13 UV DTF: applicable objects</strong></p>"},{"type":"html","id":"ggnb9sHkfew_text","label":"ggnb9sHkfew_text","default":"<p>Known: both UV and UV DTF printing can be applied on most rigid materials, for instance, metal, acrylic, glass, plastic, wood and so on, but not suitable for fabrics.&nbsp;<br>However, when it comes to applicable object surface or shape, UV printing is more limited in below dimensions, taking V10 UV and VF13 UV DTF as example:</p>"},{"type":"html","id":"ggxffCHE-to_childItem_0","label":"ggxffCHE-to_childItem_0","default":"<p><strong>Height limit:&nbsp;</strong></p><p>V10 UV printer proceeds printing on a printing platform, which allows objects in height within 0-5.51\" (0-140mm) only. UV DTF stickers on the contrary, can be applied on objects of any height, only if theyre made of suitable materials.</p>"},{"type":"html","id":"ggxffCHE-to_childItem_1","label":"ggxffCHE-to_childItem_1","default":"<p><strong>Object surface limit:&nbsp;</strong></p><p>UV printing ourperforms on flat surfaces, as the print heads are designed on a horizontal plane and cannot accommodate any unevenness. And yes, UV printings on cylinder or bevel objects can also be attainable, but extra object fixtures must be needed.&nbsp;</p><p>UV DTF printing &nbsp;on the contrary, achieves printings on irregular objects, without requiring additional fixtures, in the form as stickers.</p>"},{"type":"html","id":"gg6Xm_QSsu6_text","label":"gg6Xm_QSsu6_text","default":"<p>UV DTF printiing applied as stickers</p>"},{"type":"html","id":"ggRAo2hxCDV_text","label":"ggRAo2hxCDV_text","default":"<p><strong>4. V10 UV vs VF13 UV DTF: consumable &amp; equipment</strong></p>"},{"type":"html","id":"ggRSawbmgtB_text","label":"ggRSawbmgtB_text","default":"<p>Known: UV printing is a one-step printing process; UV DTF printing involves different types of films and multiple steps to produce sticky printings. &nbsp;So with what consumable and equipment can they achieve the corresponding printing effect?</p>"},{"type":"html","id":"gg-b6zcbafi_childItem_0","label":"gg-b6zcbafi_childItem_0","default":"<p><strong>V10 UV: UV printing applies UV inks and varnish ink.&nbsp;</strong><br><strong>UV inks:</strong> V10 UV printer is configured with hard UV inks by default. Hard inks tend to exhibit harder coatings and performs best on flat surfaces.&nbsp;<br><strong>Varnish ink: </strong>Normally varnish ink deposits on top of UV color inks, creating a &nbsp;glossy surface of printings and at the same time highlighting the printing colors. Varnish ink is optional for V10 UV printer, using it or not, the printer can both create durable and striking UV printings.</p>"},{"type":"html","id":"gg-b6zcbafi_childItem_1","label":"gg-b6zcbafi_childItem_1","default":"<p><strong>VF13 UV DTF: UV DTF printing normally requires UV DTF inks, varnish ink, A film, B film and an extra laminator (except for VF13 UV DTF printer, which has already integrated printing and laminating functions together).</strong><br><strong>UV DTF inks:</strong> Unlike UV inks, UV DTF inks tend to be softer to better accommodate any contours or unevenness.&nbsp;<br><strong>Varnish ink: </strong>Varnish ink is a must option for VF13 UV DTF printer, yet user can adjust the ink level in operation software. Sprayed on top of every printing, varnish ink is essential in enhancing the whole graphic colors and protecting the soft UV DTF inks beneath.<br><strong>A film: </strong>A film is also called base film. A film is equipped with glue on it.<br><strong>B film: </strong>B film is also called backing film, it&#039;s a transparent film that will later get laminated and transferred.<br><strong>Laminator: </strong>An extra laminator is needed for all Procolored UV DTF printers but this VF13, since it has been upgraded with integration of both printing and laminating functions.<br><strong>How does VF13 UV DTF work:&nbsp;</strong></p><p>A brief procedure introduction might help you better understand the UV DTF printing workflow:</p><p>VF13 UV DTF printer directly prints on A film, and the inks will get cured by UV lamps at once. The solid inks on A film will be laminated with B film when theyre going through the heating bar, transferring the printing from A film to B film and endowing it with viscosity. Then a crystal sticker is successfully made and ready to be applied.</p>"},{"type":"html","id":"gg5xExcQ9a2_text","label":"gg5xExcQ9a2_text","default":"<p>VF13 UV DTF printer workflow</p>"},{"type":"html","id":"ggGZ3hK-91S_text","label":"ggGZ3hK-91S_text","default":"<p><i>About the Author - Joyce</i></p>"},{"type":"html","id":"ggmkIgTT35D_text","label":"ggmkIgTT35D_text","default":"<p>Joyce has worked with Procolored since the first day she joined inkjet printing career. Through continual &nbsp;training courses and years of working experiences, Joyce has formed a comprehensive understanding over Procolored products and a thorough knowledge of printing technologies.</p>"},{"type":"html","id":"gglMESNfHpu_text","label":"gglMESNfHpu_text","default":"Subscribe"},{"type":"html","id":"ggRBicZ1CFG_text","label":"ggRBicZ1CFG_text","default":"<p>To join our mailing list</p><p>and never miss our updates !</p>"},{"type":"html","id":"ggT58IIdh1y_successMessage","label":"ggT58IIdh1y_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggT58IIdh1y_errorMessage","label":"ggT58IIdh1y_errorMessage","default":"Cant send email. Please try again later."},{"type":"html","id":"gg8Zc3E8_fi_placeholder","label":"gg8Zc3E8_fi_placeholder","default":"Email"},{"type":"html","id":"ggUOeCdqD3X_label","label":"ggUOeCdqD3X_label","default":"Subscribe Now"},{"type":"html","id":"gg-h--O048g_text","label":"gg-h--O048g_text","default":"<p>Most Popular Blogs</p>"},{"type":"html","id":"ggIGuZ40S3D_text","label":"ggIGuZ40S3D_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/why-print-on-demand-business\" target=\"_blank\">Why Print on Demand Business</a></p>"},{"type":"html","id":"ggrvT1gzGjN_text","label":"ggrvT1gzGjN_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/procolored-product-support-library\" target=\"_blank\">Procolored Product Support Library</a></p>"},{"type":"html","id":"ggb7ZeKg2oA_text","label":"ggb7ZeKg2oA_text","default":"<p>Most Popular Blogs</p>"},{"type":"html","id":"ggvbu510NgK_text","label":"ggvbu510NgK_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/why-print-on-demand-business\" target=\"_blank\">Why Print on Demand Business</a></p>"},{"type":"html","id":"ggpen_4K3ee_text","label":"ggpen_4K3ee_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/procolored-product-support-library\" target=\"_blank\">Procolored Product Support Library</a></p>"},{"type":"html","id":"ggZLL7eoVfq_text","label":"ggZLL7eoVfq_text","default":"<p>More Blogs About</p>"},{"type":"html","id":"ggIE2ABrvif_text","label":"ggIE2ABrvif_text","default":"<p><a href=\"https://www.procolored.com/blogs/news/tagged/industry-trends\" target=\"_blank\">industry trends</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/maintenance\" target=\"_blank\">maintenance</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/newsroom\" target=\"_blank\">newsroom</a></p><p><a href=\"https://www.procolored.com/blogs/news/tagged/product-showroom\" target=\"_blank\">product showroom</a></p><p><a href=\"https://www.procolored.com/blogs/review\" target=\"_blank\">printer review</a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
