

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-545335519395972001.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-545335519395972001.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-545335519395972001.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-545335519395972001.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-545335519395972001.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-545335519395972001.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-545335519395972001.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-545335519395972001.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-545335519395972001.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-545335519395972001.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-545335519395972001.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-545335519395972001.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-545335519395972001.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-545335519395972001.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-545335519395972001.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-545335519395972001.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-545335519395972001.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-545335519395972001.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-545335519395972001.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-545335519395972001.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-545335519395972001.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-545335519395972001.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-545335519395972001.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-545335519395972001.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-545335519395972001.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-545335519395972001.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-545335519395972001.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-545335519395972001.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-545335519395972001.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-545335519395972001.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-545335519395972001.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-545335519395972001.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-545335519395972001.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-545335519395972001.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-545335519395972001.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-545335519395972001.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-545335519395972001.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-545335519395972001.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-545335519395972001.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-545335519395972001.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-545335519395972001.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-545335519395972001.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-545335519395972001.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-545335519395972001.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-545335519395972001.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-545335519395972001.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-545335519395972001.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-545335519395972001.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-545335519395972001.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-545335519395972001.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-545335519395972001.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-545335519395972001.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-545335519395972001.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-545335519395972001.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-545335519395972001.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-545335519395972001.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-545335519395972001.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-545335519395972001.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-545335519395972001.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-545335519395972001.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-545335519395972001.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-545335519395972001.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-545335519395972001 .gp-relative{position:relative}.gps-545335519395972001 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545335519395972001 .gp-mb-0{margin-bottom:0}.gps-545335519395972001 .gp-flex{display:flex}.gps-545335519395972001 .gp-grid{display:grid}.gps-545335519395972001 .gp-contents{display:contents}.gps-545335519395972001 .\!gp-hidden{display:none!important}.gps-545335519395972001 .gp-hidden{display:none}.gps-545335519395972001 .gp-h-full{height:100%}.gps-545335519395972001 .gp-w-full{width:100%}.gps-545335519395972001 .gp-max-w-full{max-width:100%}.gps-545335519395972001 .gp-flex-col{flex-direction:column}.gps-545335519395972001 .gp-gap-y-0{row-gap:0}.gps-545335519395972001 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-545335519395972001 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545335519395972001 .gp-duration-200{transition-duration:.2s}.gps-545335519395972001 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-545335519395972001 .tablet\:\!gp-hidden{display:none!important}.gps-545335519395972001 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545335519395972001 .mobile\:\!gp-hidden{display:none!important}.gps-545335519395972001 .mobile\:gp-hidden{display:none}}.gps-545335519395972001 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545335519395972001 .\[\&_p\]\:gp-inline p{display:inline}.gps-545335519395972001 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545335519395972001 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g5-VBRovzy" data-id="g5-VBRovzy"
        style="--blockPadding:base;--pt:50px;--pb:50px;--pt-mobile:50px;--pl-mobile:5px;--pb-mobile:50px;--pr-mobile:5px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5-VBRovzy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g51nUtyalC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gOaTFSxhlG" data-id="gOaTFSxhlG"
        style="--mb:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:20px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:90%;--w-mobile:95%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOaTFSxhlG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvng4nFjBC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAxt8L-MKa">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAxt8L-MKa "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:30px;--size-tablet:26px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAxt8L-MKa_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glhQg5kYCr">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="glhQg5kYCr "
        style="--ta:left;--mb:9px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:20px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:157%;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglhQg5kYCr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g5zIo8bN14" data-id="g5zIo8bN14"
        style="--mb:9px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:1400px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5zIo8bN14 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gwjiiqIWTs gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFyvP4bSQt">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFyvP4bSQt "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:157%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFyvP4bSQt_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gZAWFwmtgl gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gZcdRPiXjS"
    role="presentation"
    class="gp-group/image gZcdRPiXjS"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-a0f5a887-96e9-491b-9635-c456331aee3c_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzgwLTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTc4MC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03ODAiIHRvPSI3ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_491413794182923290-a0f5a887-96e9-491b-9635-c456331aee3c_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzgwLTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTc4MC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03ODAiIHRvPSI3ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzgwLTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzgwIiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTc4MC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03ODAiIHRvPSI3ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_491413794182923290-a0f5a887-96e9-491b-9635-c456331aee3c.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:250px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-545335519395972001 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=545040621455279087&sectionId=545335519395972001)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggAxt8L-MKa_text","label":"ggAxt8L-MKa_text","default":"About the Rewards"},{"type":"html","id":"gglhQg5kYCr_text","label":"gglhQg5kYCr_text","default":"<p>(Long videos have a higher chance of winning the $1,000 gift card!)</p>"},{"type":"html","id":"ggFyvP4bSQt_text","label":"ggFyvP4bSQt_text","default":"<p><strong>1.Participation Awards:</strong> A $50 gift card for all participants with qualified videos.<br><strong>2.Excellence Awards (3 winners):&nbsp;</strong></p><p>First prize: a $1,000 gift card / Second prize: a $600 gift card / Third prize: a $400 gift card.</p><p>The list of Excellence Awards will be announced on Jan 24, 2025.&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
