

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-535364546408219876.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-535364546408219876.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-535364546408219876.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-535364546408219876.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-535364546408219876.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-535364546408219876.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-535364546408219876.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-535364546408219876.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-535364546408219876.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-535364546408219876.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-535364546408219876.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-535364546408219876.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-535364546408219876.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-535364546408219876.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-535364546408219876.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-535364546408219876.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-535364546408219876.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-535364546408219876.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-535364546408219876.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-535364546408219876.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-535364546408219876.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-535364546408219876.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-535364546408219876.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-535364546408219876.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-535364546408219876.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-535364546408219876.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-535364546408219876.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-535364546408219876.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-535364546408219876.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-535364546408219876.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-535364546408219876.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-535364546408219876.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-535364546408219876.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-535364546408219876.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-535364546408219876.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-535364546408219876.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-535364546408219876.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-535364546408219876.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-535364546408219876.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-535364546408219876.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-535364546408219876.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-535364546408219876.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-535364546408219876.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-535364546408219876.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-535364546408219876.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-535364546408219876.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-535364546408219876.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-535364546408219876.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-535364546408219876.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-535364546408219876.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-535364546408219876.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-535364546408219876.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-535364546408219876.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-535364546408219876.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-535364546408219876.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-535364546408219876.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-535364546408219876.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-535364546408219876.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-535364546408219876.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-535364546408219876.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-535364546408219876.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-535364546408219876.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-535364546408219876.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-535364546408219876.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-535364546408219876.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-535364546408219876.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-535364546408219876.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-535364546408219876.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-535364546408219876.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-535364546408219876.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-535364546408219876.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-535364546408219876.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-535364546408219876.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-535364546408219876.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-535364546408219876.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-535364546408219876.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-535364546408219876.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-535364546408219876 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-535364546408219876 .gp-relative{position:relative}.gps-535364546408219876 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535364546408219876 .gp-mb-0{margin-bottom:0}.gps-535364546408219876 .\!gp-inline{display:inline!important}.gps-535364546408219876 .gp-flex{display:flex}.gps-535364546408219876 .gp-inline-flex{display:inline-flex}.gps-535364546408219876 .gp-grid{display:grid}.gps-535364546408219876 .\!gp-hidden{display:none!important}.gps-535364546408219876 .gp-hidden{display:none}.gps-535364546408219876 .gp-h-full{height:100%}.gps-535364546408219876 .gp-w-full{width:100%}.gps-535364546408219876 .gp-max-w-full{max-width:100%}.gps-535364546408219876 .gp-shrink-0{flex-shrink:0}.gps-535364546408219876 .gp-flex-col{flex-direction:column}.gps-535364546408219876 .gp-items-center{align-items:center}.gps-535364546408219876 .gp-justify-center{justify-content:center}.gps-535364546408219876 .gp-gap-y-0{row-gap:0}.gps-535364546408219876 .gp-overflow-hidden{overflow:hidden}.gps-535364546408219876 .gp-text-left{text-align:left}.gps-535364546408219876 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535364546408219876 .gp-duration-200{transition-duration:.2s}.gps-535364546408219876 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535364546408219876 .tablet\:\!gp-hidden{display:none!important}.gps-535364546408219876 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535364546408219876 .mobile\:\!gp-hidden{display:none!important}.gps-535364546408219876 .mobile\:gp-hidden{display:none}}.gps-535364546408219876 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-535364546408219876 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-535364546408219876 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-535364546408219876 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-535364546408219876 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-535364546408219876 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-535364546408219876 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535364546408219876 .\[\&_p\]\:gp-inline p{display:inline}.gps-535364546408219876 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535364546408219876 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g7vUEJ4DkQ" data-id="g7vUEJ4DkQ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:5px;--pb-mobile:0px;--pr-mobile:5px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7vUEJ4DkQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gN4jL8bz59 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gEds1vymac" data-id="gEds1vymac"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--cg:80px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1100px;--w-tablet:97%;--w-mobile:97%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEds1vymac gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grhHBbStCy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gQLgrRFzt9" data-id="gQLgrRFzt9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--ml:auto;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:97%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQLgrRFzt9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRLvqHREJ- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gvOqrJszN3" data-id="gvOqrJszN3"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:0px;--mb-mobile:20px;--pl-mobile:0px;--mb-tablet:20px;--pl-tablet:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvOqrJszN3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOCoByjkE1 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gAz5zyx4Mx">
    <div
      parentTag="Col"
        class="gAz5zyx4Mx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAz5zyx4Mx_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAz5zyx4Mx">
        .gAz5zyx4Mx {

}
.gAz5zyx4Mx p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g3OEP4zPoD">
    <div
      parentTag="Col"
        class="g3OEP4zPoD "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3OEP4zPoD_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g3OEP4zPoD">
        .g3OEP4zPoD {

}
.g3OEP4zPoD p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gGjVXPFFyY">
    <div
      parentTag="Col"
        class="gGjVXPFFyY "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGjVXPFFyY_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gGjVXPFFyY">
        .gGjVXPFFyY {

}
.gGjVXPFFyY p {

}
      </style>
    <div gp-el-wrapper  class="g-Ne-whX11 ">
      
    <gp-icon-list
      uid="g-Ne-whX11"
      data-id="g-Ne-whX11"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":22,"mobile":18,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-Ne-whX11"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602429714792">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.gg-Ne-whX11_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-Ne-whX11"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602429714792">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.gg-Ne-whX11_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-Ne-whX11"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#d63837;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602429714792">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.26,186.1,152.81,34.23h0a28.74,28.74,0,0,0-49.62,0L15.74,186.1a27.45,27.45,0,0,0,0,27.71A28.31,28.31,0,0,0,40.55,228h174.9a28.31,28.31,0,0,0,24.79-14.19A27.45,27.45,0,0,0,240.26,186.1Zm-20.8,15.7a4.46,4.46,0,0,1-4,2.2H40.55a4.46,4.46,0,0,1-4-2.2,3.56,3.56,0,0,1,0-3.73L124,46.2a4.77,4.77,0,0,1,8,0l87.44,151.87A3.56,3.56,0,0,1,219.46,201.8ZM116,136V104a12,12,0,0,1,24,0v32a12,12,0,0,1-24,0Zm28,40a16,16,0,1,1-16-16A16,16,0,0,1,144,176Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.gg-Ne-whX11_childItem_2 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gIT1ZtSFZb">
    <div
      parentTag="Col"
        class="gIT1ZtSFZb "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--mb:5px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIT1ZtSFZb_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gIT1ZtSFZb">
        .gIT1ZtSFZb {

}
.gIT1ZtSFZb p {

}
      </style>
    <div
    
     data-id="gheXVawijx"
    role="presentation"
    class="gp-group/image gheXVawijx"
    style="--mb:0px;--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-c73d4f02-c290-4cd0-8519-c71f2548cbe6_768x768.gif" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-c73d4f02-c290-4cd0-8519-c71f2548cbe6_1024x1024.gif" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-c73d4f02-c290-4cd0-8519-c71f2548cbe6.gif" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:854/480;--aspect-tablet:854/480;--aspect-mobile:854/480;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-c73d4f02-c290-4cd0-8519-c71f2548cbe6_768x768.gif" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-c73d4f02-c290-4cd0-8519-c71f2548cbe6_1024x1024.gif" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-c73d4f02-c290-4cd0-8519-c71f2548cbe6.gif" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:854/480;--aspect-tablet:854/480;--aspect-mobile:854/480;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gqHYHFpBeb">
    <div
      parentTag="Col"
        class="gqHYHFpBeb "
        style="--ta:left;--mb:45px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#CECECE;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqHYHFpBeb_text }}</div>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g2SHP99aMG">
    <div
      parentTag="Col"
        class="g2SHP99aMG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2SHP99aMG_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g2SHP99aMG">
        .g2SHP99aMG {

}
.g2SHP99aMG p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gMy6S407xp">
    <div
      parentTag="Col"
        class="gMy6S407xp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMy6S407xp_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gMy6S407xp">
        .gMy6S407xp {

}
.gMy6S407xp p {

}
      </style>
    <div
    
     data-id="ggkMlkSven"
    role="presentation"
    class="gp-group/image ggkMlkSven"
    style="--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-659b5808-8ce2-45a9-95d9-72a2c70bfc34_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-659b5808-8ce2-45a9-95d9-72a2c70bfc34_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-659b5808-8ce2-45a9-95d9-72a2c70bfc34.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:999/667;--aspect-tablet:999/667;--aspect-mobile:999/667;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-659b5808-8ce2-45a9-95d9-72a2c70bfc34_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-659b5808-8ce2-45a9-95d9-72a2c70bfc34_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-659b5808-8ce2-45a9-95d9-72a2c70bfc34.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:999/667;--aspect-tablet:999/667;--aspect-mobile:999/667;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gTXWcwxYGA">
    <div
      parentTag="Col"
        class="gTXWcwxYGA "
        style="--ta:left;--mb:45px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#CECECE;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTXWcwxYGA_text }}</div>
      </div>
    </div>
    </gp-text>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gzk-4w3w56">
    <div
      parentTag="Col"
        class="gzk-4w3w56 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzk-4w3w56_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gzk-4w3w56">
        .gzk-4w3w56 {

}
.gzk-4w3w56 p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g5szSI_eHO">
    <div
      parentTag="Col"
        class="g5szSI_eHO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5szSI_eHO_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g5szSI_eHO">
        .g5szSI_eHO {

}
.g5szSI_eHO p {

}
      </style>
    <div
    
     data-id="g2OhDVXSe8"
    role="presentation"
    class="gp-group/image g2OhDVXSe8"
    style="--mb:0px;--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-78a51d87-d9f7-4419-8465-cc74b22dce90_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-78a51d87-d9f7-4419-8465-cc74b22dce90_1024x1024.jpg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-78a51d87-d9f7-4419-8465-cc74b22dce90.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:5001/2671;--aspect-tablet:5001/2671;--aspect-mobile:5001/2671;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-78a51d87-d9f7-4419-8465-cc74b22dce90_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-78a51d87-d9f7-4419-8465-cc74b22dce90_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-78a51d87-d9f7-4419-8465-cc74b22dce90.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:5001/2671;--aspect-tablet:5001/2671;--aspect-mobile:5001/2671;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g8Re0QqecU">
    <div
      parentTag="Col"
        class="g8Re0QqecU "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#CECECE;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8Re0QqecU_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper  class="gmssm1rk82 ">
      
    <gp-icon-list
      uid="gmssm1rk82"
      data-id="gmssm1rk82"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":22,"mobile":18,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gmssm1rk82"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggmssm1rk82_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gmssm1rk82"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggmssm1rk82_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gmssm1rk82"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggmssm1rk82_childItem_2 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gmssm1rk82"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:18px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:180%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggmssm1rk82_childItem_3 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gKYHacKoi5">
    <div
      parentTag="Col"
        class="gKYHacKoi5 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:105px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKYHacKoi5_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gKYHacKoi5">
        .gKYHacKoi5 {

}
.gKYHacKoi5 p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gYQF9HA7WK gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-535364546408219876 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=535358800765388004&sectionId=535364546408219876)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggAz5zyx4Mx_text","label":"ggAz5zyx4Mx_text","default":"<p><strong>2. Upgrades in Operating System</strong></p>"},{"type":"html","id":"gg3OEP4zPoD_text","label":"gg3OEP4zPoD_text","default":"<p>2.1 Procolored Siphon Circulation</p>"},{"type":"html","id":"ggGjVXPFFyY_text","label":"ggGjVXPFFyY_text","default":"<p>Different from office printing, specialty printing like printings on fabric or metal, requires white ink as the printing base to better present other colors. And that might be a nightmare for most new beginners, since carelessly maintained white ink can easily incur printing interruptions. Why?</p>"},{"type":"html","id":"gg-Ne-whX11_childItem_0","label":"gg-Ne-whX11_childItem_0","default":"<p><strong>Easier sedimentation: </strong>White ink often contains titanium dioxide (TiO), which is a highly concentrated and dense pigment. Compared to color inks, such heavier and thicker component leads to easier ink sedimentation, greatly shortening ink longevity.</p>"},{"type":"html","id":"gg-Ne-whX11_childItem_1","label":"gg-Ne-whX11_childItem_1","default":"<p><strong>Shorter drying time: </strong>Thanks to special components, white ink gets dried quicker than other color inks. This can easily cause nozzle clogging when it&#039;s left on printhead surface.</p>"},{"type":"html","id":"gg-Ne-whX11_childItem_2","label":"gg-Ne-whX11_childItem_2","default":"<p><strong>Higher </strong>viscosity<strong>:</strong> Endowed with higher viscosity, white ink wont directly flow through nozzles. Instead, it may remain on nozzles and again cause clogging issue.</p>"},{"type":"html","id":"ggIT1ZtSFZb_text","label":"ggIT1ZtSFZb_text","default":"<p><strong>How did Procolored alleviate all these problems?&nbsp;</strong></p><p>All Procolored printers have been equipped with an automated cleaning function, which will be activated every 10 hours when a printer is turned on but stays idle. This successfully maintains the cleanness of printhead and protects it from ink buildup.<br>To further solve the white ink problems, Procolored also launched a patented ink circulation system - Procolored Siphon Circulation.<br>Procolored siphon white ink circulation system applies siphon effect to transport white ink, guaranteeing a stable ink supply for long-time printing; also, with a built-in diaphragm device that provides constant drive, white ink now undergoes continuous agitation and circulation, leading to a longer longevity of both ink and nozzles.<br>So far all Procolored DTF and UV DTF printers have been installed with this patented system.</p>"},{"type":"html","id":"ggqHYHFpBeb_text","label":"ggqHYHFpBeb_text","default":"<p>working principle of Procolored Siphon Circulation</p>"},{"type":"html","id":"gg2SHP99aMG_text","label":"gg2SHP99aMG_text","default":"<p>2.2 Procolored Printhead Safeguard System</p>"},{"type":"html","id":"ggMy6S407xp_text","label":"ggMy6S407xp_text","default":"<p>Besides ink debris, nozzle clogging can also be caused by foreign object intervention like a curved printing medium or obstacle on the printing platform.<br>Hence Procolored launched this Printhead Safeguard System, an upgraded built-in detection system to timely identify foreign object and avoid a deficient printing.<br>The system encompasses two main devices - LED light emitter and a photosensitive receiver. And it applies diffused photoelectric detection technology and triangulation method to achieve the detection - infrared light will first be emitted by LED light onto printing medium, then be reflected back to the photosensitive receiver and get converted into electrical signals. The signals reflected from foreign object will exceed the preset threshold of the receiver, triggering the protection action and executing a circuit open.<br>By now, the system has been installed on F8 Panda DTF Printer Gen-2, and very soon will be configured on F13 Panda DTF Printer too.</p>"},{"type":"html","id":"ggTXWcwxYGA_text","label":"ggTXWcwxYGA_text","default":"<p>working principle of Procolored Printhead Safeguard System</p>"},{"type":"html","id":"ggzk-4w3w56_text","label":"ggzk-4w3w56_text","default":"<p>2.3 RIP software version.2</p>"},{"type":"html","id":"gg5szSI_eHO_text","label":"gg5szSI_eHO_text","default":"<p>A raster image processor (RIP) is a component used in a printing system which produces a raster image output. RIP is needed for all Procolored printers to execute a printing task.<br>Based on the feedback from users of RIP software Version1, Procolored has upgraded the software into V2 with below main improvements:</p>"},{"type":"html","id":"gg8Re0QqecU_text","label":"gg8Re0QqecU_text","default":"<p>main features of RIP software Version 2</p>"},{"type":"html","id":"ggmssm1rk82_childItem_0","label":"ggmssm1rk82_childItem_0","default":"<p><strong>More language options: </strong>V2 provides language options including Chinese, English, French, German, Italian and so forth.</p>"},{"type":"html","id":"ggmssm1rk82_childItem_1","label":"ggmssm1rk82_childItem_1","default":"<p><strong>Adjustable print breathability :</strong> V2 provides more flexibility in air hole setting, delivering print of different qualities to meet different breathability needs.</p>"},{"type":"html","id":"ggmssm1rk82_childItem_2","label":"ggmssm1rk82_childItem_2","default":"<p><strong>Compact graphic layout: </strong>In V2, user can achieve a more compact graphic layout via help from two new functions. One is intelligent layout - by choosing this, user will get layout recommendations based on their desired graphics. The other one is adsorption setting (particularly for graphics with transparent background). By activating this function, all clear graphic background can be merged, creating a more compact arrangement.</p>"},{"type":"html","id":"ggmssm1rk82_childItem_3","label":"ggmssm1rk82_childItem_3","default":"<p><strong>Improved management center:</strong> In V1 management center, user has to right click the mouse to access more management options. In V2 we accordingly improved that - the related options now are all visible icons in the upper right corner of the management center page, providing easier access to functions like maintenance, cleaning, status checking and more.&nbsp;</p>"},{"type":"html","id":"ggKYHacKoi5_text","label":"ggKYHacKoi5_text","default":"<p>RIP software Version 2 now are compatible to all Procolored printers. <a href=\"https://www.youtube.com/watch?v=jot1uxuP9JU\" target=\"_blank\"><span style=\"background-color:rgba(239,59,59,0);color:#E0932F;\"><i><u>Click here for a detailed introduction of V2.</u></i></span></a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
