

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525195297597424428.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-525195297597424428.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525195297597424428.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525195297597424428.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525195297597424428.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525195297597424428.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525195297597424428.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525195297597424428.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525195297597424428.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525195297597424428.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525195297597424428.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525195297597424428.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525195297597424428.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525195297597424428.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525195297597424428.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525195297597424428.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525195297597424428.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525195297597424428.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-525195297597424428.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-525195297597424428.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-525195297597424428.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525195297597424428.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525195297597424428.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525195297597424428.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-525195297597424428.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525195297597424428.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525195297597424428.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-525195297597424428.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-525195297597424428.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525195297597424428.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525195297597424428.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525195297597424428.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525195297597424428.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525195297597424428.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525195297597424428.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525195297597424428.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525195297597424428.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-525195297597424428.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-525195297597424428.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525195297597424428.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-525195297597424428.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-525195297597424428.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525195297597424428.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-525195297597424428.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-525195297597424428.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-525195297597424428.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525195297597424428.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-525195297597424428.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-525195297597424428.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525195297597424428.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-525195297597424428.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-525195297597424428.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525195297597424428.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-525195297597424428.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525195297597424428.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525195297597424428.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-525195297597424428.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-525195297597424428.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-525195297597424428.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-525195297597424428.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-525195297597424428.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-525195297597424428.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525195297597424428.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-525195297597424428.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525195297597424428.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-525195297597424428.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525195297597424428.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-525195297597424428.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525195297597424428.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525195297597424428.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525195297597424428.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525195297597424428.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-525195297597424428.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-525195297597424428.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-525195297597424428.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-525195297597424428.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-525195297597424428 .gp-relative{position:relative}.gps-525195297597424428 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525195297597424428 .gp-mb-0{margin-bottom:0}.gps-525195297597424428 .gp-flex{display:flex}.gps-525195297597424428 .gp-inline-flex{display:inline-flex}.gps-525195297597424428 .gp-grid{display:grid}.gps-525195297597424428 .gp-contents{display:contents}.gps-525195297597424428 .\!gp-hidden{display:none!important}.gps-525195297597424428 .gp-hidden{display:none}.gps-525195297597424428 .gp-h-full{height:100%}.gps-525195297597424428 .gp-w-full{width:100%}.gps-525195297597424428 .gp-max-w-full{max-width:100%}.gps-525195297597424428 .gp-shrink-0{flex-shrink:0}.gps-525195297597424428 .gp-flex-col{flex-direction:column}.gps-525195297597424428 .gp-items-center{align-items:center}.gps-525195297597424428 .gp-justify-center{justify-content:center}.gps-525195297597424428 .gp-gap-y-0{row-gap:0}.gps-525195297597424428 .gp-overflow-hidden{overflow:hidden}.gps-525195297597424428 .gp-text-left{text-align:left}.gps-525195297597424428 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525195297597424428 .gp-duration-200{transition-duration:.2s}.gps-525195297597424428 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-525195297597424428 .tablet\:\!gp-hidden{display:none!important}.gps-525195297597424428 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-525195297597424428 .mobile\:\!gp-hidden{display:none!important}.gps-525195297597424428 .mobile\:gp-hidden{display:none}}.gps-525195297597424428 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-525195297597424428 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-525195297597424428 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-525195297597424428 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-525195297597424428 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-525195297597424428 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-525195297597424428 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-525195297597424428 .\[\&_p\]\:gp-inline p{display:inline}.gps-525195297597424428 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-525195297597424428 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gaIMlJG0Qq" data-id="gaIMlJG0Qq"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--mb:30px;--pt:0px;--pb:0px;--mb-tablet:75px;--pt-tablet:0px;--pb-tablet:0px;--cg:40px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaIMlJG0Qq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJ3mbTIv4D gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gX5Rfgz9iG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gX5Rfgz9iG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:22px;--size-tablet:19px;--size-mobile:19px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggX5Rfgz9iG_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gX5Rfgz9iG">
        .gX5Rfgz9iG {

}
.gX5Rfgz9iG p {

}
      </style>
    
  <gp-text data-id="guU9CxVaOG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="guU9CxVaOG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:35px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguU9CxVaOG_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-guU9CxVaOG">
        .guU9CxVaOG {

}
.guU9CxVaOG p {

}
      </style>
    
  <gp-text data-id="g5EDp8v1y6">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5EDp8v1y6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:20px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5EDp8v1y6_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g5EDp8v1y6">
        .g5EDp8v1y6 {

}
.g5EDp8v1y6 p {

}
      </style>
    <div gp-el-wrapper  class="gPliSNEgpC ">
      
    <gp-icon-list
      uid="gPliSNEgpC"
      data-id="gPliSNEgpC"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":20,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:35px;--pb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gPliSNEgpC"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggPliSNEgpC_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gPliSNEgpC"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212">
                {{ section.settings.ggPliSNEgpC_childItem_1 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-text data-id="gEQO84v_pp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gEQO84v_pp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:10px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:20px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEQO84v_pp_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEQO84v_pp">
        .gEQO84v_pp {

}
.gEQO84v_pp p {

}
      </style>
    <div
    
     data-id="g_8Qlg2ci3"
    role="presentation"
    class="gp-group/image g_8Qlg2ci3"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-3ccc5fa1-3ef2-434c-beaa-8ec58314c714_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-3ccc5fa1-3ef2-434c-beaa-8ec58314c714_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI1OTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNTkyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjU5MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI1OTIiIGZpbGw9InVybCgjZy0xMDAwLTU5MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_491413794182923290-3ccc5fa1-3ef2-434c-beaa-8ec58314c714.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:600px;--w-tablet:600px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gS-XWt3w_g">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gS-XWt3w_g "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ml:0px;--mb:5px;--ml-mobile:0px;--mb-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#C9C5C5;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggS-XWt3w_g_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="geyxU5y7rY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="geyxU5y7rY "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pb:35px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggeyxU5y7rY_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-geyxU5y7rY">
        .geyxU5y7rY {

}
.geyxU5y7rY p {

}
      </style>
    
  <gp-text data-id="goETwrVbQk">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goETwrVbQk "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:10px;--pb:0px;--mb-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:20px;--size-tablet:17px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoETwrVbQk_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-goETwrVbQk">
        .goETwrVbQk {

}
.goETwrVbQk p {

}
      </style>
    
  <gp-text data-id="gTKe6GDKoK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTKe6GDKoK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pb:160px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:17px;--size-mobile:17px;--lh:157%;--lh-tablet:157%;--lh-mobile:157%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTKe6GDKoK_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTKe6GDKoK">
        .gTKe6GDKoK {

}
.gTKe6GDKoK p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="g4VCnZx4PW gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-525195297597424428 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=525190303422874655&sectionId=525195297597424428)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggX5Rfgz9iG_text","label":"ggX5Rfgz9iG_text","default":"<p><strong>3. Why to Start a Print on Demand Business</strong></p>"},{"type":"html","id":"gguU9CxVaOG_text","label":"gguU9CxVaOG_text","default":"<p>Given the above, print on demand business has rapidly developed, greatly benefiting from innovation in printing and Internet technology, as well as preferences of consumers. However, the bigger momentum of its prosperity lies in its flexibility and dynamic, exhibiting features as below:</p>"},{"type":"html","id":"gg5EDp8v1y6_text","label":"gg5EDp8v1y6_text","default":"<p>3.1 Lower startup cost &amp; lower risk</p>"},{"type":"html","id":"ggPliSNEgpC_childItem_0","label":"ggPliSNEgpC_childItem_0","default":"<p><strong>Easy startup of print on demand stores</strong> - Printing suppliers like Printful or Gelato can be found on Internet as easily as e-commerce platforms! Print on demand business empowers entrepreneurs with great flexibility since it can be easily set up with help of online services, from material incoming to product selling, without expensive rent for office, tedious site inspection or endless negotiation.&nbsp;</p>"},{"type":"html","id":"ggPliSNEgpC_childItem_1","label":"ggPliSNEgpC_childItem_1","default":"<p><strong>No need for large stock </strong>- Generally, entrepreneurs don’t have to worry about the excess stock problem since print on demand products won’t get printed until there’s an order being placed, except that some producers prefer to keep several white label or printed products on hand as quality reference.</p>"},{"type":"html","id":"ggEQO84v_pp_text","label":"ggEQO84v_pp_text","default":"<p>3.2 Considerable profit margin</p>"},{"type":"html","id":"ggS-XWt3w_g_text","label":"ggS-XWt3w_g_text","default":"<p><i>estimated print on demand market size (2022 as base year )</i></p>"},{"type":"html","id":"ggeyxU5y7rY_text","label":"ggeyxU5y7rY_text","default":"<p>So far everything sounds good, but before venturing into this new business, &nbsp;is print on demand worth it? Let the statistics tell the truth: According to <i>Precedence Research</i>, the market size of print on demand business has reached $6.34 billion in 2022. Being placed with high hope, it's estimated to progressively soar and reach $10.17 billion in 2024.<br><a href=\"https://dropshipping.com/article/print-on-demand-statistics/\" target=\"_blank\"><i><u>Printify,</u></i></a> a leading print on demand company, also did related researches and found out that the average print on demand profit of its sellers is about 20%, some businesses can do even better, of about 30%.&nbsp;</p>"},{"type":"html","id":"ggoETwrVbQk_text","label":"ggoETwrVbQk_text","default":"<p>3.3 Global reach &amp; broader market</p>"},{"type":"html","id":"ggTKe6GDKoK_text","label":"ggTKe6GDKoK_text","default":"<p>Most online print on demand companies and e-commerce platforms have established steady cooperation relationship with global logistics carriers, that means they not only provide print on demand sellers with a complete commodity system, but also trusted shipping services and a much broader global market.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
