

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-522027494673482507.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-522027494673482507.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-522027494673482507.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-522027494673482507.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-522027494673482507.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-522027494673482507.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-522027494673482507.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-522027494673482507.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-522027494673482507.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-522027494673482507.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-522027494673482507.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-522027494673482507.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-522027494673482507.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-522027494673482507.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-522027494673482507.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-522027494673482507.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-522027494673482507.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-522027494673482507.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-522027494673482507.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-522027494673482507.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-522027494673482507.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-522027494673482507.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-522027494673482507.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-522027494673482507.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-522027494673482507.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-522027494673482507.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-522027494673482507.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-522027494673482507.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-522027494673482507.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-522027494673482507.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-522027494673482507.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-522027494673482507.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-522027494673482507.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-522027494673482507.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-522027494673482507.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-522027494673482507.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-522027494673482507.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-522027494673482507.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-522027494673482507.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-522027494673482507.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-522027494673482507.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-522027494673482507.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-522027494673482507.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-522027494673482507.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-522027494673482507.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-522027494673482507.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-522027494673482507.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-522027494673482507.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-522027494673482507.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-522027494673482507.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-522027494673482507.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-522027494673482507.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-522027494673482507.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-522027494673482507.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-522027494673482507.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-522027494673482507.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-522027494673482507.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-522027494673482507.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-522027494673482507.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-522027494673482507.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-522027494673482507.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-522027494673482507.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-522027494673482507.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-522027494673482507.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-522027494673482507.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-522027494673482507.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-522027494673482507.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-522027494673482507.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-522027494673482507.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-522027494673482507.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-522027494673482507.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-522027494673482507.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-522027494673482507.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-522027494673482507.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-522027494673482507.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-522027494673482507.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-522027494673482507.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-522027494673482507.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-522027494673482507.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-522027494673482507.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-522027494673482507.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-522027494673482507.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-522027494673482507.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-522027494673482507.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-522027494673482507.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-522027494673482507.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-522027494673482507.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-522027494673482507.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-522027494673482507 .gp-invisible{visibility:hidden}.gps-522027494673482507 .gp-absolute{position:absolute}.gps-522027494673482507 .gp-relative{position:relative}.gps-522027494673482507 .gp-inset-0{inset:0}.gps-522027494673482507 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-522027494673482507 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-522027494673482507 .gp-z-1{z-index:1}.gps-522027494673482507 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-522027494673482507 .gp-mb-0{margin-bottom:0}.gps-522027494673482507 .\!gp-inline{display:inline!important}.gps-522027494673482507 .gp-flex{display:flex}.gps-522027494673482507 .gp-grid{display:grid}.gps-522027494673482507 .\!gp-hidden{display:none!important}.gps-522027494673482507 .gp-hidden{display:none}.gps-522027494673482507 .gp-h-full{height:100%}.gps-522027494673482507 .gp-w-full{width:100%}.gps-522027494673482507 .gp-max-w-full{max-width:100%}.gps-522027494673482507 .gp-flex-col{flex-direction:column}.gps-522027494673482507 .gp-items-center{align-items:center}.gps-522027494673482507 .\!gp-justify-center{justify-content:center!important}.gps-522027494673482507 .gp-gap-y-0{row-gap:0}.gps-522027494673482507 .gp-overflow-hidden{overflow:hidden}.gps-522027494673482507 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-522027494673482507 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-522027494673482507 .gp-duration-200{transition-duration:.2s}.gps-522027494673482507 .gp-duration-300{transition-duration:.3s}.gps-522027494673482507 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-522027494673482507 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-522027494673482507 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-522027494673482507 .tablet\:gp-relative{position:relative}.gps-522027494673482507 .tablet\:\!gp-hidden{display:none!important}.gps-522027494673482507 .tablet\:gp-hidden{display:none}.gps-522027494673482507 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-522027494673482507 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-522027494673482507 .mobile\:gp-relative{position:relative}.gps-522027494673482507 .mobile\:\!gp-hidden{display:none!important}.gps-522027494673482507 .mobile\:gp-hidden{display:none}.gps-522027494673482507 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-522027494673482507 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-522027494673482507 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-522027494673482507 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-522027494673482507 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-522027494673482507 .\[\&_p\]\:gp-inline p{display:inline}.gps-522027494673482507 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-522027494673482507 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gATj8hPSsL" data-id="gATj8hPSsL"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gATj8hPSsL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLVlWZdaoZ gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:6px;--mb-tablet:6px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg","height":2217,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843","storage":"FILE_CONTENT","width":3941},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg","height":2217,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843","storage":"FILE_CONTENT","width":3941},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg","height":2217,"src":"https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843","storage":"FILE_CONTENT","width":3941},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"g-R2r0QSgz","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="g-R2r0QSgz gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt-tablet:0px;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="g-R2r0QSgz"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788_768x768.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788_1024x1024.jpg" | file_url }}" />
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3941/2217;--aspect-tablet:3941/2217;--aspect-mobile:3941/2217;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788_1024x1024.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3941/2217;--aspect-tablet:3941/2217;--aspect-mobile:3941/2217;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843" width="2237" height="1678" alt="lazy image mobile"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843" width="2237" height="1678" alt="lazy image desktop"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843" width="2237" height="1678" alt="lazy image tablet"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843" data-srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 768w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 1024w,https://cdn.shopify.com/s/files/1/0509/3454/6613/files/gempages_491413794182923290-7746c901-b0da-422b-865a-8cf2e1f7a788.jpg?v=1720685843 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#9E7373;--top:0;--left:0;--op:60%;--hvr-op:60%"
          > </div>
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:140px;--pb:140px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:90px;--pb-tablet:90px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gdColSQEJ1 gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gase5oc95S">
    <div
      parentTag="Col"
        class="gase5oc95S "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ml:50px;--pr:50px;--ml-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggase5oc95S_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
       
      
    <div
      parentTag="Col" id="gHg1USvZ6Y" data-id="gHg1USvZ6Y"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHg1USvZ6Y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNjynKKkQa gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gxlKkVoudx">
    <div
      parentTag="Col"
        class="gxlKkVoudx "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:6px;--pr:20px;--mb-mobile:-8px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxlKkVoudx_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gxlKkVoudx">
        .gxlKkVoudx {

}
.gxlKkVoudx p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gVT15CQegE" data-id="gVT15CQegE"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:6px;--mb-mobile:-8px;--cg:8px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVT15CQegE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goTyix1aTh gp-relative gp-flex gp-flex-col"
    >
      
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="glnMop-ppK">
    <div
      parentTag="Col"
        class="glnMop-ppK "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglnMop-ppK_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-glnMop-ppK">
        .glnMop-ppK {

}
.glnMop-ppK p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfHNNcFLKs gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gPXU_AjjKG" data-id="gPXU_AjjKG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPXU_AjjKG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdoUpQdfjV gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gmlWxtXTc2"
    role="presentation"
    class="gp-group/image gmlWxtXTc2"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:76/76;--aspect-tablet:76/76;--aspect-mobile:76/76;--objf:cover;--w:22px;--w-tablet:19px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-db827fb2-44c1-45f9-9962-79ae4bf9986f.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:76/76;--aspect-tablet:76/76;--aspect-mobile:76/76;--objf:cover;--w:22px;--w-tablet:19px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSHk1ZRuQB gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghFrSYT3ed"
    role="presentation"
    class="gp-group/image ghFrSYT3ed"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:82/82;--aspect-tablet:82/82;--aspect-mobile:82/82;--objf:cover;--w:23px;--w-tablet:22px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-15d06647-04bb-487f-8f4f-2eab8513b705.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:82/82;--aspect-tablet:82/82;--aspect-mobile:82/82;--objf:cover;--w:23px;--w-tablet:22px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggOkJXHxSI gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gR8waho8QM"
    role="presentation"
    class="gp-group/image gR8waho8QM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:66/66;--aspect-tablet:66/66;--aspect-mobile:66/66;--objf:cover;--w:22px;--w-tablet:21px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-fc237550-24e1-4385-91c7-591b5faadc32.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:66/66;--aspect-tablet:66/66;--aspect-mobile:66/66;--objf:cover;--w:22px;--w-tablet:21px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goFr683xFF gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gYiWP0oOya"
    role="presentation"
    class="gp-group/image gYiWP0oOya"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:23px;--w-tablet:22px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_491413794182923290-58c4022d-f732-46ef-8bc7-12ce71c93fdd.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:23px;--w-tablet:22px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gwo8enASqE">
    <div
      parentTag="Col"
        class="gwo8enASqE "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:6px;--pl:20px;--mb-mobile:0px;--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwo8enASqE_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gwo8enASqE">
        .gwo8enASqE {

}
.gwo8enASqE p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-522027494673482507 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/procolored/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=522027494556041995&sectionId=522027494673482507)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggase5oc95S_text","label":"ggase5oc95S_text","default":"<p><strong>“We brought our top DTF products here,&nbsp;</strong></p><p><strong>ready to partner with the buoyant printing market in America”,&nbsp;</strong></p><p><strong>said Fiona Fu, the Sales Manager of Procolored.</strong></p>"},{"type":"html","id":"ggxlKkVoudx_text","label":"ggxlKkVoudx_text","default":"<p>Written by <span style=\"color:#000000;\">Procolored</span> - Published on <span style=\"color:#0C0C0C;\">July 11, 2024</span></p>"},{"type":"html","id":"gglnMop-ppK_text","label":"gglnMop-ppK_text","default":"<p>Share :</p>"},{"type":"html","id":"ggwo8enASqE_text","label":"ggwo8enASqE_text","default":"<p>9 minutes read</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
