<style>
      html,
      body {
        margin: 0;
        padding: 0;
      }

      section,
      div,
      span {
        box-sizing: border-box;
      }

      .index-brand-endorsement-wrapper {
        background: linear-gradient(183deg, #FFF7EA 6.78%, #FFF 93.52%);
        position: relative;
      }
  .index-brand-endorsement-bg-icon{
      position: absolute;
      width:444px;
      height: 161px;
      right: 2.395vw;
      top: 0;
  }
      .index-brand-endorsement-container {

        position: relative;

        padding-top: 100px;
        padding-bottom: 20px;
        margin-left: 8.33vw;
          margin-right: 8.33vw;
      }

      .index-brand-endorsement-content {
        margin-bottom: 60px;
      }

      .index-brand-endorsement-content-title {

        text-align: left;
        color: #000;
        font-size: 40px;
        font-weight: 800;
        line-height: 1.22;
        /* 122% */
      }

      .index-brand-endorsement-content-title-svg {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        width: 212px;
        height: 67px;

      }

      .index-brand-endorsement-swiper-container-{{ section.id }} {
        position: relative;
        overflow: hidden;
      }


    .index-brand-endorsement-swiper-container-content{
        display: flex;
        flex-wrap: wrap;
        column-gap: 120px;
        row-gap: 40px;
    }
      .index-brand-endorsement-swiper-slide-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .index-brand-endorsement-swiper-slide-content-subtitle {
        color: #6d6d6d;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.38;
        text-align: left;
        /* 138% */
      }

      .index-brand-endorsement-swiper-slide-content-title {
        color: #000;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.12;
        text-align: left;
        width: max-content;
        /* 130% */
      }

      @media screen and (max-width: 1600px){
          .index-brand-endorsement-swiper-container-content{
              display: flex;
              flex-wrap: wrap;
              column-gap: 60px;
              row-gap: 40px;
          }
      }
      @media screen and (max-width: 1441px){
          .index-brand-endorsement-swiper-container-content{
              display: flex;
              flex-wrap: wrap;
              column-gap: 40px;
              row-gap: 40px;
          }
      }

      @media screen and (max-width: 768px) {
        .index-brand-endorsement-container {
          padding-top: 50px;
          padding-bottom: 0px;
          margin-left: 24px;
          margin-right: 24px;
        }
        .index-brand-endorsement-bg-icon{
            position: absolute;
            width:100%;
            height: 115px;
            right: 0;
            top: 0;
            padding:0 24px;
        }

        .index-brand-endorsement-content {
          margin-bottom: 24px;
        }
        .index-brand-endorsement-content-title {
          font-size: 24px;
          line-height: 1.3;
          text-align: left;
          display: flex;
          flex-direction: column;
          gap: 2px;
      }

        .index-brand-endorsement-content-title-svg {
          width: 106px;
          height: 30px;
          margin-left: 2px;
          margin-bottom: 8px;
        }

        .index-brand-endorsement-swiper-container-{{ section.id }} {
          position: relative;
          overflow: hidden;
          padding: 0 ;
        }
        .index-brand-endorsement-swiper-container-content{
          display: flex;
                  flex-wrap: wrap;

                  justify-content: space-between;
                  column-gap: 0px;
                  row-gap: 40px;
      }
        .index-brand-endorsement-swiper-slide-content {
          gap: 4px;
          width: 50%;
          align-items: center;
        }

        .index-brand-endorsement-swiper-slide-content-subtitle {
          font-size: 14px;
          line-height: 1.4;
          font-weight: 400;
          text-align: center;
          /* 138% */
        }

        .index-brand-endorsement-swiper-slide-content-title {
          font-size: 22px;
          line-height: 1.45;
          font-weight: 700;
          text-align: center;
          /* 130% */
        }
      }
</style>
<!-- index-brand-endorsement 品牌背书 -->
<section id="index-brand-endorsement">
  <div class="index-brand-endorsement-wrapper">
    <div class="index-brand-endorsement-bg-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 444 161" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.294922 0C34.1643 93.5829 120.592 160.097 221.819 160.097C323.046 160.097 409.474 93.5829 443.343 0H364.543C335.785 51.1832 282.616 85.5182 221.743 85.5182C160.946 85.5182 107.777 51.1832 78.942 0H0.294922Z" fill="url(#paint0_linear_5584_31288)"/>
        <defs>
          <linearGradient id="paint0_linear_5584_31288" x1="221.819" y1="0" x2="221.819" y2="160.097" gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.1"/>
            <stop offset="1" stop-color="white" stop-opacity="0.79"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="index-brand-endorsement-container">
      <div class="index-brand-endorsement-content">
        <div class="index-brand-endorsement-content-title">
          {{ section.settings.title }}
          {% comment %}
            <span>
              Global<span class="index-brand-endorsement-content-title-svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 212 67" fill="none">
                  <path d="M17.0157 63.8183C17.0963 63.2882 18.8818 60.7746 27.3105 59.8693C30.6843 59.506 35.2495 60.6138 41 63.1929C38.6114 64.8844 35.6347 66.028 32.0727 66.6296C22.7901 68.1931 17.589 64.3305 17.0605 63.86L17.0157 63.8183ZM5.87303 46.1998C5.89991 46.0122 10.5905 44.3057 19.0311 48.5346C22.0915 50.0654 25.2265 52.8707 28.4361 56.9508C24.2501 57.5404 20.4941 57.2515 17.165 56.0871C10.1665 53.6361 5.83422 46.4857 5.87303 46.1998ZM0.0329707 27.9499C0.280785 27.804 8.50942 29.1591 13.3941 34.7519C15.7169 37.4144 17.3919 40.8005 18.416 44.9162C13.4448 43.4599 9.67982 41.5956 7.11808 39.3204C0.0508865 33.0485 -0.131244 28.0423 0.0329707 27.9499ZM3.95322 13.6104C4.207 13.5121 10.8204 16.8267 14.7167 22.5804C16.5679 25.3203 17.4725 28.7243 17.4248 32.8013C13.0238 29.8142 10.0948 27.4854 8.63184 25.8206C3.30532 19.7453 3.789 13.6759 3.95322 13.6104ZM15.0989 0.000417418C15.8991 0.158257 19.9387 5.51289 20.506 12.1302C20.7748 15.2751 20.2015 18.4081 18.7863 21.5262C15.702 17.1007 13.9464 13.0296 13.5165 9.307C12.6596 1.8528 14.9257 -0.0323418 15.0989 0.000417418Z" fill="#DA291C"/>
                  <path d="M133.138 46.3295H117.805V44.3306C117.805 43.6213 118.696 43.041 119.786 43.041H131.169C132.259 43.041 133.151 43.6213 133.151 44.3306V46.3295H133.138Z" fill="#DA291C"/>
                  <path d="M134.129 47.1279C136.269 47.1279 138.004 48.8629 138.004 51.0029V62.6543C138.004 64.7943 136.269 66.5293 134.129 66.5293H104.609C102.47 66.5291 100.735 64.7941 100.734 62.6543V51.0029C100.735 48.863 102.469 47.1281 104.609 47.1279H109.089V55.2051C109.089 56.8039 110.281 58.3338 112.025 58.334H126.718C128.444 58.3337 129.654 56.8098 129.654 55.2051V47.1279H134.129ZM127.254 55.2051C127.254 55.4397 127.167 55.6352 127.051 55.7637C126.936 55.891 126.815 55.9344 126.718 55.9346H112.025C111.844 55.9343 111.49 55.7293 111.489 55.2051V47.1279H127.254V55.2051Z" fill="#DA291C"/>
                  <rect x="103.869" y="60.7354" width="6.57694" height="3.75825" rx="1.29331" fill="#DA291C"/>
                  <rect x="128.295" y="60.2661" width="6.57694" height="4.69781" rx="1.29331" fill="#DA291C"/>
                  <path d="M145.08 24.1719L137.365 27.5241V15.4304L148.615 8.43359H156V66.3342H145.08V24.1719Z" fill="#DA291C"/>
                  <path d="M56 8.43359V66.3342H65.7025V31.623L78.295 66.3342H87.965V8.43359H78.295L78.446 40.6654L66.536 8.43359H56Z" fill="#DA291C"/>
                  <path d="M110.717 67L110.648 66.999H110.798C110.771 66.9992 110.744 67 110.717 67ZM111.129 8.43848C119.759 8.65759 126.689 15.723 126.689 24.4062V37.7158H117.07V24.4062C117.07 20.8976 114.225 18.0533 110.717 18.0527C107.208 18.0527 104.363 20.8973 104.363 24.4062V45.7031H102.959C100.628 45.7032 98.7385 47.607 98.7383 49.9561V61.5918C96.3373 58.8719 94.8476 55.3289 94.749 51.4395L94.7441 51.0273V24.4062C94.7441 15.5848 101.895 8.43359 110.717 8.43359L111.129 8.43848Z" fill="#DA291C"/>
                  <path d="M194.984 63.8183C194.904 63.2882 193.118 60.7746 184.69 59.8693C181.316 59.506 176.75 60.6138 171 63.1929C173.389 64.8844 176.365 66.028 179.927 66.6296C189.21 68.1931 194.411 64.3305 194.939 63.86L194.984 63.8183ZM206.127 46.1998C206.1 46.0122 201.41 44.3057 192.969 48.5346C189.909 50.0654 186.774 52.8707 183.564 56.9508C187.75 57.5404 191.506 57.2515 194.835 56.0871C201.834 53.6361 206.166 46.4857 206.127 46.1998ZM211.967 27.9499C211.719 27.804 203.491 29.1591 198.606 34.7519C196.283 37.4144 194.608 40.8005 193.584 44.9162C198.555 43.4599 202.32 41.5956 204.882 39.3204C211.949 33.0485 212.131 28.0423 211.967 27.9499ZM208.047 13.6104C207.793 13.5121 201.18 16.8267 197.283 22.5804C195.432 25.3203 194.527 28.7243 194.575 32.8013C198.976 29.8142 201.905 27.4854 203.368 25.8206C208.695 19.7453 208.211 13.6759 208.047 13.6104ZM196.901 0.000417418C196.101 0.158257 192.061 5.51289 191.494 12.1302C191.225 15.2751 191.799 18.4081 193.214 21.5262C196.298 17.1007 198.054 13.0296 198.484 9.307C199.34 1.8528 197.074 -0.0323418 196.901 0.000417418Z" fill="#DA291C"/>
                </svg>
              </span>
            </span>
            <span> Desktop DTF Printer Brand</span>
          {% endcomment %}
        </div>
      </div>
      <div class="index-brand-endorsement-swiper-container-{{ section.id }}">
        <div class="index-brand-endorsement-swiper-container-content">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="index-brand-endorsement-swiper-slide-content">
                  <div class="index-brand-endorsement-swiper-slide-content-title">{{ block.settings.heading }}</div>
                  <div class="index-brand-endorsement-swiper-slide-content-subtitle">
                    {{ block.settings.subheading }}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %}
  <script>
    // 修复 .excellent-work-display-swiper-container 无缝轮播在轮播完后会停一下的问题
    // 方案：设置autoplay.delay为0，freeMode为true，speed为合适的较大值，并确保loop和linear过渡
    // 另外，需确保swiper-wrapper的transition-timing-function为linear
    // 下面是推荐的初始化方式

    let IndexBrandEndorsementSwiper = null;
    function initExcellentWorkSwiper() {
      if (IndexBrandEndorsementSwiper) {
        IndexBrandEndorsementSwiper.destroy(true, true);
      }
      IndexBrandEndorsementSwiper = new Swiper('.index-brand-endorsement-swiper-container-{{ section.id }}', {
        loop: true,
        slidesPerView: 'auto', // 宽度自适应
        loopedSlides: 10,
        spaceBetween: 80, // slide间隔80px
        observer: true,
        observeParents: true,
        freeMode: true,
        speed: 12000, // 速度越大，滚动越慢
        allowTouchMove: false,
        autoplay: {
          delay: 0, // 关键：设置为0实现无缝连续滚动
          disableOnInteraction: false,
          stopOnLastSlide: false,
          waitForTransition: true, // 关键：设置为false，防止每次loop时等待过渡
        },
        on: {
          // 关键：每次loopFix时强制autoplay继续，防止停顿
          loopFix: function () {
            if (this.autoplay && this.autoplay.running) {
              this.autoplay.start();
            }
          },
        },
        breakpoints: {
          768: {
            spaceBetween: 34, // 移动端slide间隔24px
          },
        },
      });

      // 强制swiper-wrapper为linear过渡，防止因样式被覆盖导致非线性
      $('.index-brand-endorsement-swiper-container-{{ section.id }} .swiper-wrapper').css(
        'transition-timing-function',
        'linear'
      );
    }

    // 页面初次加载时初始化
    initExcellentWorkSwiper();
  </script>
{% endcomment %}
{% schema %}
{
  "name": "index-brand-endorsement-2",

  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "大标题"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "文案",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "副标题"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "标题"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "index-brand-endorsement-2",
      "settings": {
        "title": "<span>\nGlobal<span class=\"index-brand-endorsement-content-title-svg\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewbox=\"0 0 212 67\" fill=\"none\">\n                <path d=\"M17.0157 63.8183C17.0963 63.2882 18.8818 60.7746 27.3105 59.8693C30.6843 59.506 35.2495 60.6138 41 63.1929C38.6114 64.8844 35.6347 66.028 32.0727 66.6296C22.7901 68.1931 17.589 64.3305 17.0605 63.86L17.0157 63.8183ZM5.87303 46.1998C5.89991 46.0122 10.5905 44.3057 19.0311 48.5346C22.0915 50.0654 25.2265 52.8707 28.4361 56.9508C24.2501 57.5404 20.4941 57.2515 17.165 56.0871C10.1665 53.6361 5.83422 46.4857 5.87303 46.1998ZM0.0329707 27.9499C0.280785 27.804 8.50942 29.1591 13.3941 34.7519C15.7169 37.4144 17.3919 40.8005 18.416 44.9162C13.4448 43.4599 9.67982 41.5956 7.11808 39.3204C0.0508865 33.0485 -0.131244 28.0423 0.0329707 27.9499ZM3.95322 13.6104C4.207 13.5121 10.8204 16.8267 14.7167 22.5804C16.5679 25.3203 17.4725 28.7243 17.4248 32.8013C13.0238 29.8142 10.0948 27.4854 8.63184 25.8206C3.30532 19.7453 3.789 13.6759 3.95322 13.6104ZM15.0989 0.000417418C15.8991 0.158257 19.9387 5.51289 20.506 12.1302C20.7748 15.2751 20.2015 18.4081 18.7863 21.5262C15.702 17.1007 13.9464 13.0296 13.5165 9.307C12.6596 1.8528 14.9257 -0.0323418 15.0989 0.000417418Z\" fill=\"#DA291C\"></path>\n                <path d=\"M133.138 46.3295H117.805V44.3306C117.805 43.6213 118.696 43.041 119.786 43.041H131.169C132.259 43.041 133.151 43.6213 133.151 44.3306V46.3295H133.138Z\" fill=\"#DA291C\"></path>\n                <path d=\"M134.129 47.1279C136.269 47.1279 138.004 48.8629 138.004 51.0029V62.6543C138.004 64.7943 136.269 66.5293 134.129 66.5293H104.609C102.47 66.5291 100.735 64.7941 100.734 62.6543V51.0029C100.735 48.863 102.469 47.1281 104.609 47.1279H109.089V55.2051C109.089 56.8039 110.281 58.3338 112.025 58.334H126.718C128.444 58.3337 129.654 56.8098 129.654 55.2051V47.1279H134.129ZM127.254 55.2051C127.254 55.4397 127.167 55.6352 127.051 55.7637C126.936 55.891 126.815 55.9344 126.718 55.9346H112.025C111.844 55.9343 111.49 55.7293 111.489 55.2051V47.1279H127.254V55.2051Z\" fill=\"#DA291C\"></path>\n                <rect x=\"103.869\" y=\"60.7354\" width=\"6.57694\" height=\"3.75825\" rx=\"1.29331\" fill=\"#DA291C\"></rect>\n                <rect x=\"128.295\" y=\"60.2661\" width=\"6.57694\" height=\"4.69781\" rx=\"1.29331\" fill=\"#DA291C\"></rect>\n                <path d=\"M145.08 24.1719L137.365 27.5241V15.4304L148.615 8.43359H156V66.3342H145.08V24.1719Z\" fill=\"#DA291C\"></path>\n                <path d=\"M56 8.43359V66.3342H65.7025V31.623L78.295 66.3342H87.965V8.43359H78.295L78.446 40.6654L66.536 8.43359H56Z\" fill=\"#DA291C\"></path>\n                <path d=\"M110.717 67L110.648 66.999H110.798C110.771 66.9992 110.744 67 110.717 67ZM111.129 8.43848C119.759 8.65759 126.689 15.723 126.689 24.4062V37.7158H117.07V24.4062C117.07 20.8976 114.225 18.0533 110.717 18.0527C107.208 18.0527 104.363 20.8973 104.363 24.4062V45.7031H102.959C100.628 45.7032 98.7385 47.607 98.7383 49.9561V61.5918C96.3373 58.8719 94.8476 55.3289 94.749 51.4395L94.7441 51.0273V24.4062C94.7441 15.5848 101.895 8.43359 110.717 8.43359L111.129 8.43848Z\" fill=\"#DA291C\"></path>\n                <path d=\"M194.984 63.8183C194.904 63.2882 193.118 60.7746 184.69 59.8693C181.316 59.506 176.75 60.6138 171 63.1929C173.389 64.8844 176.365 66.028 179.927 66.6296C189.21 68.1931 194.411 64.3305 194.939 63.86L194.984 63.8183ZM206.127 46.1998C206.1 46.0122 201.41 44.3057 192.969 48.5346C189.909 50.0654 186.774 52.8707 183.564 56.9508C187.75 57.5404 191.506 57.2515 194.835 56.0871C201.834 53.6361 206.166 46.4857 206.127 46.1998ZM211.967 27.9499C211.719 27.804 203.491 29.1591 198.606 34.7519C196.283 37.4144 194.608 40.8005 193.584 44.9162C198.555 43.4599 202.32 41.5956 204.882 39.3204C211.949 33.0485 212.131 28.0423 211.967 27.9499ZM208.047 13.6104C207.793 13.5121 201.18 16.8267 197.283 22.5804C195.432 25.3203 194.527 28.7243 194.575 32.8013C198.976 29.8142 201.905 27.4854 203.368 25.8206C208.695 19.7453 208.211 13.6759 208.047 13.6104ZM196.901 0.000417418C196.101 0.158257 192.061 5.51289 191.494 12.1302C191.225 15.2751 191.799 18.4081 193.214 21.5262C196.298 17.1007 198.054 13.0296 198.484 9.307C199.34 1.8528 197.074 -0.0323418 196.901 0.000417418Z\" fill=\"#DA291C\"></path>\n</svg>\n</span>\n</span>\n<span> Desktop DTF Printer Brand</span>"
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "subheading": "Global Reach",
            "heading": "140+"
          }
        },
        {
          "type": "text",
          "settings": {
            "subheading": "Customer Base",
            "heading": "30K+"
          }
        },
        {
          "type": "text",
          "settings": {
            "subheading": "Service Centers",
            "heading": "50+"
          }
        },
        {
          "type": "text",
          "settings": {
            "subheading": "R&D Personnel",
            "heading": "45%"
          }
        },
        {
          "type": "text",
          "settings": {
            "subheading": "Authorized Patents",
            "heading": "300+"
          }
        },
        {
          "type": "text",
          "settings": {
            "subheading": "Worldwide Logistics",
            "heading": "10+"
          }
        }
      ]
    }
  ]
}
{% endschema %}
