{% liquid
  if section.settings.row == 2
  assign row = 'lg:grid-cols-2'
  endif
  if section.settings.row == 3
    assign row = 'lg:grid-cols-3'
  endif

  if section.settings.row == 4
    assign row = 'lg:grid-cols-4'
  endif

  if section.settings.row == 5
    assign row = 'lg:grid-cols-5'
  endif
%}

<div
  class="member-benefits-wrap-{{ section.id }}"
  data-section-type="member-benefits"
  style="background-color: {{ section.settings.bg_color }};"
>
  <div class="member-benefits-container-{{ section.id }} swiper">
    <h2 class="heading  m-0  {{ section.settings.heading_font_family }}">{{ section.settings.headding }}</h2>
    {% if section.settings.descriptiton != blank %}
    <p>{{ section.settings.descriptiton }}</p>
    {% endif %}

    <div class="member-benefits-content w-full   inline-grid md:grid-cols-2  {{ row }} swiper-wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'member' -%}
            <div class="swiper-slide">
              {% render 'member-benefits', type: 'member', block: block %}
            </div>
          {%- else -%}
            <div class="swiper-slide">
              {% render 'member-benefits', type: 'item', block: block %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
    {% if section.settings.button_text != empty %}
      < {%- if customer -%}div{%- else -%}modal-login client:idle{%- endif %}  class="member-benefits-wrap-{{ section.id }}__footer">
        
        <a
          data-login
          class="member-benefits-wrap-{{ section.id }}_footer_button"
          href="{%- if customer -%}
          {{ section.settings.button_link | default: '#' }}
        {%- else -%}
         /account
        {% endif %}"
        >
          {{ section.settings.button_text }}
        </a>
      </{%- if customer -%}div{%- else -%}modal-login{%- endif -%}>
    {% endif %}

    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  var swiper = new Swiper(".member-benefits-container-{{ section.id }}", {
    slidesPerView: 4,
    spaceBetween: 16,
    slidesOffsetAfter: 0,
    slidesOffsetBefore: 0,
    allowTouchMove: false,
    pagination: {
      el: ".member-benefits-container-{{ section.id }} .swiper-pagination",
      clickable: true,
    },
    breakpoints: {
      768: {
        slidesPerView: 1.2,
        spaceBetween: 16,
        slidesOffsetAfter: 24,
        slidesOffsetBefore: 24,
        allowTouchMove: true,
      },
    },
  });
</script>
<style>
      .member-benefits-wrap-{{ section.id }}{
        padding-top:{{section.settings.padding_top}}px;
        padding-bottom:{{section.settings.padding_bottom}}px;

      }
      .member-benefits-container-{{ section.id }}{
        {% if section.settings.section_max_width != 'none' %}
          max-width: {{ section.settings.section_max_width }}px;
          margin: 0 auto;
        {% endif %}
  
        width: 100%;
       
      }

      .member-benefits-container-{{ section.id }} .swiper-slide {
        height: auto;
        display: flex;
      }


      .member-benefits-container-{{ section.id }} .swiper-pagination {
        position: static;
        display: none;
      }

      .member-benefits-container-{{ section.id }} .swiper-pagination-bullet-active {
        background: #FF8F1C;
      }

    .member-benefits-container-{{ section.id }}  .heading{
      color:{{section.settings.heading_color}};
      font-size: {{section.settings.headding_size}}px;
      line-height: 1;
      margin-bottom: {{section.settings.title_margin_bottom}}px;
      text-align: {{section.settings.title_alignment}};
      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content{
        gap:{{ section.settings.item_gap }}px;
        display: flex;
        align-items: stretch;
      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item{
        padding:{{section.settings.item_padding_top}}px {{section.settings.item_padding_right}}px {{section.settings.item_padding_bottom}}px {{section.settings.item_padding_left}}px;
        border-radius: {{section.settings.item_border_radius}}px;
        justify-content: start;
        min-height: {{section.settings.bg_image_min_height}}px;
        align-items: {{section.settings.icon_alignment}};

      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .label-wrap{
        width: 100%;
        display: flex;
        justify-content: flex-end;

      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .label-container{
        display: flex;
        gap:4px;
        align-items: baseline;
        justify-content: center;
        padding: 5px 12px;
        border-radius: 100px;
        border: 0.15px solid #FFF;
        background: #313237;
      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .label-icon{
        width: 11px;
        height:13px;
        color: {{section.settings.title_color}};
      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .label-text{
        color:{{section.settings.title_color}};
        font-size: 12px;
        line-height: 1;
      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item .img-wrap{
        padding:{{section.settings.image_padding_top}}px {{section.settings.image_padding_right}}px {{section.settings.image_padding_bottom}}px {{section.settings.image_padding_left}}px;
      }

      .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .img-wrap img{
        width: 100%;
        height: 100%;
      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item h3{
        color:{{section.settings.title_color}};
        width: 100%;
        font-size: {{section.settings.title_size}}px;
        margin-top: {{section.settings.headding_margin_top}}px;
        margin-bottom: {{section.settings.headding_margin_bottom}}px;
        line-height: 1.2;
        text-align: {{section.settings.content_alignment}};

      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .description{
        color:{{section.settings.desc_color}};
        width: 100%;
        font-size: {{section.settings.desc_size}}px;
        line-height: 1.3;
        text-align: {{section.settings.content_alignment}};
      }
      .member-benefits-container-{{ section.id }}  .member-benefits-content .item .buttom-wrap{
        display: flex;
        margin-top: 16px;

    }
    .member-benefits-container-{{ section.id }}  .member-benefits-content .item .buttom-wrap a{
      display: flex;
      padding: 14px 28px;
      justify-content: center;
      align-items: center;
      border-radius: 75px;
      font-weight: 700;
      background: {{section.settings.button_bg_color}};
      font-size: 14px;
      line-height: 1;
      color: {{section.settings.button_font_color}};
      min-width: 146px;
    }
    .member-benefits-wrap-{{ section.id }}__footer{
      display: flex;
      margin-top: 40px;
      justify-content: center;
    }
  .member-benefits-wrap-{{ section.id }}_footer_button{
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    color: {{section.settings.button_font_color}};
    border-radius: 40px;
    background: {{section.settings.button_bg_color}};
  }
        [data-section-type='member-benefits'] .placeholder_svg_tag {
          width: 56px;
          height: 56px;
        }
        .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .mobileShow{
          display: none;
        }
        .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .desktopShow{
          display: block;
          {% if section.settings.show_icon_max_height %}
            max-height: {{section.settings.icon_max_height}}px;
          {% endif %}
        }
      /* 移动设备 */
      @media screen and (min-width: 320px) and (max-width: 480px){
        .member-benefits-wrap-{{ section.id }}{
          padding-top:{{section.settings.padding_top_mobile}}px;
          padding-bottom:{{section.settings.padding_bottom_mobile}}px;
          padding-left: 0;
          padding-right: 0;
          overflow: hidden;
        }

        .member-benefits-container-{{ section.id }} .swiper-pagination {
          position: static;
          display: block;
        }

        .member-benefits-container-{{ section.id }}  .heading{
          font-size: {{section.settings.headding_size_mobile}}px;
          margin-bottom: {{section.settings.title_margin_bottom_mobile}}px;
          text-align: {{section.settings.title_alignment_mobile}};
          padding: 0 16px;
          }
          .member-benefits-container-{{ section.id }}  .member-benefits-content{
            gap:{{ section.settings.item_gap_mobile }}px;
          }
          .member-benefits-container-{{ section.id }}  .member-benefits-content .item{
            padding:{{section.settings.item_padding_top_mobile}}px {{section.settings.item_padding_right_mobile}}px {{section.settings.item_padding_bottom_mobile}}px {{section.settings.item_padding_left_mobile}}px;
            min-height: {{section.settings.bg_image_min_height_mobile}}px;
            border-radius: {{section.settings.item_border_radius_mobile}}px;
            min-height: unset;
            height: 100%;
            display: flex;
            flex-direction: column;
          }
          .member-benefits-container-{{ section.id }}  .member-benefits-content .item .img-wrap{
            padding:{{section.settings.image_padding_top_mobile}}px {{section.settings.image_padding_right_mobile}}px {{section.settings.image_padding_bottom_mobile}}px {{section.settings.image_padding_left_mobile}}px;
          }
          .member-benefits-container-{{ section.id }}  .member-benefits-content .item .headding-wrap{
            display: flex;
            align-items: center;
            column-gap: 16px;
              
            margin-top: {{section.settings.headding_margin_top_mobile}}px;
            margin-bottom: {{section.settings.headding_margin_bottom_mobile}}px;
          }
          .member-benefits-container-{{ section.id }}  .member-benefits-content .item h3{
           
            width: 100%;
            font-size: {{section.settings.title_size_mobile}}px;
            {% unless section.settings.show_icon_in_headding %}
              margin-top: {{section.settings.headding_margin_top_mobile}}px;
              margin-bottom: {{section.settings.headding_margin_bottom_mobile}}px;
            {% else %}
              margin-top: 0;
              margin-bottom: 0;
            {% endunless %}
            line-height: 1.2;

          }
          .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .description{
            font-size: {{section.settings.desc_size_mobile}}px;

          }
          .member-benefits-container-{{ section.id }}  .member-benefits-content .item .buttom-wrap{
            display: flex;
            margin-top: 14px;

        }
          .member-benefits-container-{{ section.id }}  .member-benefits-content .item .buttom-wrap a{

            padding: 12px 28px;
            min-width: 108px;

            font-size: 12px;

          }
          .member-benefits-wrap-{{ section.id }}__footer{

            margin-top: 20px;
          }
        .member-benefits-wrap-{{ section.id }}_footer_button{

          padding: 20px 48px;

        }
        .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .mobileShow{
          display: block;
          {% if section.settings.show_icon_max_height %}
            {% if section.settings.show_icon_in_headding %}
              width: 20%;
              max-height: max-content;
            {% else %}
              max-height: {{section.settings.icon_max_height_mobile}}px;
            {% endif %}
          {% endif %}
        }
        .member-benefits-container-{{ section.id }}  .member-benefits-content .item  .desktopShow{
          display: none;
        }
      }
</style>

{% schema %}
{
  "name": "Instructor multicolumn",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "配置项"
    },
    {
      "type": "select",
      "id": "section_max_width",
      "label": "模块最大宽度",
      "options": [
        {
          "value": "none",
          "label": "全屏"
        },
        {
          "value": "1400",
          "label": "1400px"
        },
        {
          "value": "1200",
          "label": "1200px"
        },
        {
          "value": "980",
          "label": "980px"
        },
     
      ],
      "default": "1200"
    },
    {
      "type": "checkbox",
      "id": "show_label",
      "label": "显示标签",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_icon_max_height",
      "label": "开启图标最大高度",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_icon_in_headding",
      "label": "开启图标在主标题内部",  
      "default": false,
      "info": "目前仅支持移动端，开启后，图标会显示在主标题内部，而不是在主标题外部"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "背景颜色",
      "default": "#f5f5f5"
    },
    {
      "type": "range",
      "id": "item_border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片边框圆角大小",
      "default": 20
    
    },
    {
      "type": "range",
      "id": "item_border_radius_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片边框圆角大小（移动端）",
      "default": 20
    
    },
    {
      "type": "range",
      "id": "icon_max_height",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "图标最大高度",
      "default": 44,
      "info": "仅当开启图标最大高度时生效"
    },
    {
      "type": "range",
      "id": "icon_max_height_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "图标最大高度(移动端)",
      "default": 22,
      "info": "仅当开启图标最大高度时生效"
    },
    {
      "type": "range",
      "id": "bg_image_min_height",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "背景图片最小高度",
      "default": 340
    },
    {
      "type": "range",
      "id": "bg_image_min_height_mobile",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "背景图片最小高度（移动端）",
      "default": 268
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "大小标题对齐方式",
      "options": [
        {
          "value": "start",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中对齐"
        },

        {
          "value": "end",
          "label": "右对齐"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "title_alignment_mobile",
      "label": "大小标题对齐方式(移动端)",
      "options": [
        {
          "value": "start",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中对齐"
        },

        {
          "value": "end",
          "label": "右对齐"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "内容对齐方式",
      "options": [
        {
          "value": "start",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中对齐"
        },

        {
          "value": "end",
          "label": "右对齐"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "icon_alignment",
      "label": "图标对齐方式",
      "options": [
        {
          "value": "start",
          "label": "左对齐"
        },
        {
          "value": "center",
          "label": "居中对齐"
        },

        {
          "value": "end",
          "label": "右对齐"
        }
      ],
      "default": "center"
    },
    {
      "type": "html",
      "id": "headding",
      "label": "大标题",
      "default": "Member Benefits"
    },
    {
      "type": "html",
      "id": "descriptiton",
      "label": "描述"
    },
    {
      "type": "html",
      "id": "button_text",
      "label": "按钮文本",
      "default": "Redeem Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "链接地址",
      "info": "/account?view=point-store"
    },
    {
      "type": "range",
      "id": "headding_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "大标题字体大小",
      "default": 44
    },
    {
      "type": "range",
      "id": "headding_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "大标题字体大小（移动端）",
      "default": 24
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "主标题字体大小",
      "default": 30
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "主标题字体大小（移动端）",
      "default": 20
    },
    {
      "type": "range",
      "id": "desc_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "描述字体大小",
      "default": 16
    },
    {
      "type": "range",
      "id": "desc_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "描述字体大小（移动端）",
      "default": 15
    },
    {
      "type": "select",
      "id": "heading_font_family",
      "label": "大标题字体系列",
      "options": [
        {
          "value": "custom-font-extraBold",
          "label": "ExtraBold"
        },
        {
          "value": "custom-font-bold",
          "label": "Bold"
        },
        {
          "value": "custom-font-regular",
          "label": "Regular"
        }
      ],
      "default": "custom-font-bold"
    },
    {
      "type": "select",
      "id": "title_font_family",
      "label": "主标题字体系列",
      "options": [
        {
          "value": "custom-font-extraBold",
          "label": "ExtraBold"
        },
        {
          "value": "custom-font-bold",
          "label": "Bold"
        },
        {
          "value": "custom-font-regular",
          "label": "Regular"
        }
      ],
      "default": "custom-font-bold"
    },
    {
      "type": "select",
      "id": "desc_font_family",
      "label": "描述字体系列",
      "options": [
        {
          "value": "custom-font-extraBold",
          "label": "ExtraBold"
        },
        {
          "value": "custom-font-bold",
          "label": "Bold"
        },
        {
          "value": "custom-font-regular",
          "label": "Regular"
        }
      ],
      "default": "custom-font-regular"
    },

    {
      "type": "header",
      "content": "颜色"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "大标题字体颜色",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "主标题字体颜色",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "desc_color",
      "label": "描述字体颜色",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_font_color",
      "label": "按钮字体颜色",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "按钮背景色",
      "default": "#DA291C"
    },
    {
      "type": "color",
      "id": "item_bg_color",
      "label": "卡片容器背景色",
      "default": "#101010"
    },
    {
      "type": "header",
      "content": "配置项",
      "info": "配置卡片"
    },
    {
      "type": "range",
      "id": "row",
      "label": "一行显示n个",
      "min": 2,
      "max": 5,
      "step": 1,
      "unit": "N",
      "default": 4
    },
    {
      "type": "range",
      "id": "item_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片间距",
      "default": 16
    
    },
    {
      "type": "range",
      "id": "item_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片间距(移动端)",
      "default": 16
    
    },
    {
      "type": "range",
      "id": "title_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "大标题底部边距",
      "default": 60
    },
    {
      "type": "range",
      "id": "title_margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "大标题底部边距(移动端)",
      "default": 20
    },
    {
      "type": "range",
      "id": "headding_margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "主标题顶部边距",
      "default": 0
    },
    {
      "type": "range",
      "id": "headding_margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "主标题顶部边距(移动端)",
      "default": 0
    },
    {
      "type": "range",
      "id": "headding_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "主标题底部边距",
      "default": 16
    },
    {
      "type": "range",
      "id": "headding_margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "主标题底部边距(移动端)",
      "default": 10
    },
    {
      "type": "range",
      "id": "item_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器顶部边距",
      "default": 34
    },
    {
      "type": "range",
      "id": "item_padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器顶部边距(移动端)",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器底部边距",
      "default": 34
    },
    {
      "type": "range",
      "id": "item_padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器底部边距(移动端)",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器左部边距",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器左部边距(移动端)",
      "default": 18
    },
    {
      "type": "range",
      "id": "item_padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器右部边距",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "卡片容器右部边距(移动端)",
      "default": 18
    },
    {
      "type": "range",
      "id": "image_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标顶部边距",
      "default": 34
    },
    {
      "type": "range",
      "id": "image_padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标顶部边距(移动端)",
      "default": 24
    },
    {
      "type": "range",
      "id": "image_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标底部边距",
      "default": 34
    },
    {
      "type": "range",
      "id": "image_padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标底部边距(移动端)",
      "default": 24
    },
    {
      "type": "range",
      "id": "image_padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标左部边距",
      "default": 24
    },
    {
      "type": "range",
      "id": "image_padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标左部边距(移动端)",
      "default": 18
    },
    {
      "type": "range",
      "id": "image_padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标右部边距",
      "default": 24
    },
    {
      "type": "range",
      "id": "image_padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "图标右部边距(移动端)",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充",
      "default": 60
    },

    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充(移动端)",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充(移动端)",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "会员福利",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "图标"
        },
        {
          "type": "html",
          "id": "svg_icon",
          "label": "图标SVG"
        },
        {
          "type": "range",
          "id": "svg_icon_width_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "图标SVG宽度（移动端）",
          "default": 40
        },
        {
          "type": "range",
          "id": "svg_icon_height_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "图标SVG高度（移动端）",
          "default": 32
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "图标(移动端)"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "背景图标"
        },
        {
          "type": "image_picker",
          "id": "bg_image_mobile",
          "label": "背景图标(移动端)"
        },
        {
          "type": "html",
          "id": "headding",
          "label": "标题"
        },
        {
          "type": "html",
          "id": "description",
          "label": "描述"
        },
        {
          "type": "html",
          "id": "label_text",
          "label": "标签"
        },
        {
          "type": "url",
          "id": "link",
          "label": "链接地址"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "按钮文案",
          "default": "Join Now"
        }
      ]
    },
    {
      "type": "member",
      "name": "获取积分方式",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "图标"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "图标(移动端)"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "背景图标"
        },
        {
          "type": "image_picker",
          "id": "bg_image_mobile",
          "label": "背景图标(移动端)"
        },
        {
          "type": "html",
          "id": "headding",
          "label": "标题"
        },
        {
          "type": "html",
          "id": "description",
          "label": "描述"
        },
        {
          "type": "html",
          "id": "label_text",
          "label": "标签"
        },
        {
          "type": "header",
          "content": "未登录配置"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "按钮文案",
          "default": "Join Now"
        },
        {
          "type": "header",
          "content": "登录之后配置"
        },
        {
          "type": "url",
          "id": "logged_link",
          "label": "链接地址",
          "info": "eg: /account?view=earn-point"
        },
        {
          "type": "text",
          "id": "logged_btn_text",
          "label": "按钮文案",
          "default": "Fllow Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instructor multicolumn",
    }
  ]
}
{% endschema %}
