<member-account class="block lg:py-24" client:idle>
  <div class="lg:container">
    <div class="grid gap-4 lg:grid-cols-4">
      <div class="hidden lg:col-span-1 lg:bg-white lg:rounded-2xl lg:px-6 lg:py-8 lg:block">
        {% comment %} 标题 {% endcomment %}
        <a href="/account" class="items-center hidden gap-x-4 lg:inline-flex">
          {% render 'member-icons', icon: 'account', class: 'w-4 h-4' %}
          <span class="text-lg font-normal">Account Overview</span>
        </a>

        {% comment %} 用户信息 {% endcomment %}
        <div class="flex items-center gap-4 p-6 bg-white lg:hidden">
          {%- assign image = 'avatar.png' -%}
          <div class="relative w-12 h-12 bg-gray-100 rounded-full aspect-square">
            <img
              data-src="{{ image | asset_img_url }}"
              class="lazyload object-cover object-center {% unless settings.lazy_loading %} no-blur{% endunless %}"
              width="96"
              height="96"
              alt="{{ customer.name }}"
            >
          </div>
          <div class="flex flex-col">
            <h3 class="m-0 text-base font-bold">{{ customer.name }}</h3>
            <p class="m-0 text-sm">{{ customer.email }}</p>
          </div>
        </div>

        <hr
          class="m-0 border-gray-200 lg:hidden"
        >

        {% comment %} 我的资产 {% endcomment %}
        <div class="flex flex-col gap-4 px-6 py-4 bg-white lg:hidden">
          <h3 class="m-0 text-base">My Assets</h3>
          <div class="flex gap-4">
            <a class="flex flex-col gap-1 pr-4" href="">
              <span class="text-lg font-bold">900</span>
              <div class="flex items-center gap-1">
                {% render 'member-icons', icon: 'jb' %}
                <span
                  class="text-sm"
                  >Points</span
                >
              </div>
              <span class="text-sm text-accent hover:text-accent-hover">Get &gt;</span>
            </a>

            <a class="flex flex-col gap-1 pr-4" href="">
              <span class="text-lg font-bold">0</span>
              <div class="flex items-center gap-1">
                {% render 'member-icons', icon: 'lw2' %}
                <span
                  class="text-sm"
                  >Gift Cards</span
                >
              </div>
              <span class="text-sm text-accent hover:text-accent-hover">Check &gt;</span>
            </a>

            <a class="flex flex-col gap-1 pr-4" href="">
              <span class="text-lg font-bold">2</span>
              <div class="flex items-center gap-1">
                {% render 'member-icons', icon: 'qq' %}
                <span
                  class="text-sm"
                  >Coupons</span
                >
              </div>
              <span class="text-sm text-accent hover:text-accent-hover">Check &gt;</span>
            </a>
          </div>
        </div>

        {% comment %} 菜单 {% endcomment %}
        <div class="flex flex-col px-6 mt-6 bg-white lg:px-0 lg:mt-8 lg:gap-3">
          <h3 class="hidden mb-2 text-xl lg:block text-heading">My Account</h3>
          <a href="/account/addresses" class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              {% render 'member-icons', icon: 'address' %}
              <span class="text-sm font-normal lg:text-base">My Address</span>
            </div>

            <di class="flex items-center justify-end w-12 h-12 lg:hidden">
              {% render 'svg-icons', svg-icons: 'right-arrow' %}
            </di>
          </a>
          <hr
            class="m-0 border-gray-200 lg:hidden"
          >
          <a href="/account?view=order-all" class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              {% render 'member-icons', icon: 'order' %}
              <span class="text-sm font-normal lg:text-base">My Order</span>
            </div>

            <di class="flex items-center justify-end w-12 h-12 lg:hidden">
              {% render 'svg-icons', svg-icons: 'right-arrow' %}
            </di>
          </a>
        </div>

        <div class="flex flex-col px-6 mt-6 bg-white lg:px-0 lg:mt-8 lg:gap-3">
          <h3 class="hidden mb-2 text-xl lg:block">My Assets</h3>
          <a href="/account?view=rewards" class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              {% render 'member-icons', icon: 'star' %}
              <span class="text-sm font-normal lg:text-base">My Rewards</span>
            </div>

            <di class="flex items-center justify-end w-12 h-12 lg:hidden">
              {% render 'svg-icons', svg-icons: 'right-arrow' %}
            </di>
          </a>
          <hr
            class="m-0 border-gray-200 lg:hidden"
          >
          <a href="/account?view=gift-card" class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              {% render 'member-icons', icon: 'lw' %}
              <span class="text-sm font-normal lg:text-base">My Gift Card</span>
            </div>

            <di class="flex items-center justify-end w-12 h-12 lg:hidden">
              {% render 'svg-icons', svg-icons: 'right-arrow' %}
            </di>
          </a>
          <hr
            class="m-0 border-gray-200 lg:hidden"
          >
          <a href="/account?view=coupon" class="flex items-center justify-between text-accent-hover">
            <div class="flex items-center gap-2">
              {% render 'member-icons', icon: 'coupon' %}
              <span class="text-sm font-normal lg:text-base">My Coupon</span>
            </div>

            <di class="flex items-center justify-end w-12 h-12 lg:hidden">
              {% render 'svg-icons', svg-icons: 'right-arrow' %}
            </di>
          </a>
        </div>
      </div>
      <div class="col-span-3 px-4 py-8 bg-white lg:rounded-2xl md:px-6">
        <div class="flex flex-col flex-wrap lg:flex-row lg:justify-between gap-y-4 lg:items-center">
          <a class="flex items-center gap-x-2 lg:hidden" href="/account">
            {% render 'member-icons', icon: 'left-arrow' %}
            <span class="text-xl font-bold">My Coupon</span>
          </a>
          <h3 class="hidden m-0 text-xl font-bold text-heading lg:block">My Coupon</h3>
        </div>

        {% comment %}
          <div class="relative grid gap-4 mt-6 md:grid-cols-2">
            {%- for block in section.blocks -%}
              <div
                class="p-4 transition-all border border-t-8 border-solid rounded-lg isolate border-gray-50 bg-yellow-50 border-t-accent lg:hover:shadow-lg lg:hover:scale-105"
                {{ block.shopify_attributes }}
              >
                <div class="flex items-center justify-between mb-2">
                  <div>
                    <h2 class="m-0 text-xl font-bold text-accent ">{{ block.settings.title }}</h2>
                    <p class="m-0 text-accent">{{ block.settings.subtitle }}</p>
                  </div>
                  <copy-button>
                    <button
                      class="px-3 py-1 text-white transition-all rounded-full shadow-sm bg-accent hover:bg-accent-hover disabled:cursor-not-allowed disabled:bg-gray-400 focus:outline-none"
                      data-copy="{{ block.settings.coupon }}"
                    >
                      Copy
                    </button>
                  </copy-button>
                </div>
                <div class="mb-4">
                  <p class="m-0 text-sm font-semibold text-gray-700">
                    CODE: <span class="text-black uppercase">{{ block.settings.coupon }}</span>
                  </p>
                </div>
                <hr class="mb-4 border-gray-200">
                <div class="text-gray-600">
                  <p class="m-0 text-sm">{{ block.settings.description }}</p>
                </div>
              </div>
            {%- endfor -%}
          </div>
        {% endcomment %}

        {% comment %} 积分详情 {% endcomment %}
        <member-coupon class="relative grid gap-4 mt-6 md:grid-cols-2" client:idle>
          {%- for block in section.blocks -%}
            <div
              class="p-4 transition-all border border-t-8 border-solid rounded-lg isolate border-gray-50 bg-yellow-50 border-t-accent lg:hover:shadow-lg lg:hover:scale-105"
              {{ block.shopify_attributes }}
              data-local-coupon
            >
              <div class="flex items-center justify-between mb-2">
                <div>
                  <h2 class="m-0 text-xl font-bold text-accent ">{{ block.settings.title }}</h2>
                  <p class="m-0 text-accent">{{ block.settings.subtitle }}</p>
                </div>
                <copy-button>
                  <button
                    class="px-3 py-1 text-white transition-all rounded-full shadow-sm bg-accent hover:bg-accent-hover disabled:cursor-not-allowed disabled:bg-gray-400 focus:outline-none"
                    data-copy="{{ block.settings.coupon }}"
                  >
                    Copy
                  </button>
                </copy-button>
              </div>
              <div class="mb-4">
                <p class="m-0 text-sm font-semibold text-gray-700">
                  CODE: <span class="text-black uppercase">{{ block.settings.coupon }}</span>
                </p>
              </div>
              <hr class="mb-4 border-gray-200">
              <div class="text-gray-600">
                <p class="m-0 text-sm">{{ block.settings.description }}</p>
              </div>
            </div>
          {%- endfor -%}
          {%- if request.design_mode -%}
            {% comment %}
              <div class="flex items-center justify-center w-full px-4 py-6 border border-solid shadow md:col-span-2 min-h-28 rounded-2xl border-gray-50">
                <div class="text-center">
                  <p class="text-red-500">编辑状态不加载数据，如果看正式数据请点击测试</p>
                  <button
                    class="w-auto px-8 py-2 text-sm font-semibold text-center text-white transition-colors rounded-full lg:text-base lg:px-20 lg:py-4 bg-accent hover:bg-accent-hover hover:text-white active:text-white"
                    data-load
                  >
                    加载数据
                  </button>
                </div>
              </div>
            {% endcomment %}
          {%- else -%}
            {%- for item in (0..1) -%}
              <div
                class="p-4 border border-t-8 border-gray-200 border-solid rounded-lg shadow-none border-t-accent lg:hover:shadow-lg animate-pulse"
                data-loading-el
              >
                <div class="flex items-center justify-between gap-4 mb-2">
                  <div class="flex flex-col gap-2">
                    <div class="w-auto h-3 rounded bg-slate-200"></div>
                    <div class="w-full h-2 rounded bg-slate-200"></div>
                  </div>
                  <div class="w-16 rounded h-7 bg-slate-200"></div>
                </div>

                <div class="h-3 mb-4 rounded bg-slate-200"></div>
                <hr class="mb-4 border-gray-200">
                <div class="h-3 rounded bg-slate-200"></div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </member-coupon>
      </div>
    </div>
  </div>
</member-account>

{% schema %}
{
  "name": "我的折扣码",
  "settings": [],
  "blocks": [
    {
      "type": "coupon",
      "name": "会员折扣码",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "副标题"
        },
        {
          "type": "text",
          "id": "coupon",
          "label": "折扣码"
        },
        {
          "type": "liquid",
          "id": "description",
          "label": "描述"
        }
      ]
    }
  ]
}
{% endschema %}
