<style>
      .questionnaire-survey-{{ section.id }} .questionnaire-survey-wrap {
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 500px;
        {% comment %} aspect-ratio: 640/361; {% endcomment %}
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        background-image: url('https://cdn.shopify.com/s/files/1/0509/3454/6613/files/2_1_28c978b5-a396-49a9-b529-1e0a76c7c9fb.png?v=1770167651');
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-container {
        position: relative;
        max-width: 1234px;
        margin: 0 auto;
        padding-top: 146px;
        padding-bottom: 213px;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-left-icon {
        position: absolute;
        left: 0;
        top: 80px;
        width: 281px;
        height: 211px;
        aspect-ratio: 281/211;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-left-icon img {
        width: 100%;
        max-width: 100%;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-left-icon img {
        width: 100%;
        max-width: 100%;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-title-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-title-icon {
        display: flex;
        flex-shrink: 0;

        width: 86px;
        height: 86px;
        aspect-ratio: 1/1;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-title-icon img {
        width: 100%;
        max-width: 100%;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-title {
        color: #000;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        line-height: 1.22;
        margin-bottom: 16px;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-subtitle {
        color: rgba(0, 0, 0, 0.9);
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.33;
        margin-bottom: 68px;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-content {
        display: flex;
        width: 860px;

        {% comment %} aspect-ratio: 617/277; {% endcomment %}
        /* 清除点击的默认背景色 */
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        margin: 0 auto;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-content-img {
        position:relative;
        width: 100%;
        cursor: pointer;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-content-img img {
        width: 100%;
        max-width: 100%;
      }
      .questionnaire-survey-{{ section.id }}  .questionnaire-survey-content-img-left-icon,.questionnaire-survey-{{ section.id }}  .questionnaire-survey-content-img-right-icon{
        position: absolute;
    }
    .questionnaire-survey-{{ section.id }}  .questionnaire-survey-content-img-left-icon{
      left: -138px;
      bottom: 75px;
      width: 170px;
      height: 140px;
    }
    .questionnaire-survey-{{ section.id }}  .questionnaire-survey-content-img-right-icon{
      right: -150px;
      bottom: -42px;
      width: 190px;
      height: 180px;
    }
    .questionnaire-survey-content-img-left-icon img,.questionnaire-survey-content-img-right-icon img{
        width: 100%;
        max-width: 100%;
    }
      .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group {
        position: absolute;
        left: 49.7%;
        bottom: 28%;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span {
        display: block;
        width: 8px;
        height: 8px;
        margin: 4px auto;
        border-right: 1px solid #8a0022;
        border-bottom: 1px solid #8a0022;
        transform: rotate(45deg);
        animation: fadeMove 1.5s infinite;
        opacity: 0;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span:nth-child(1) {
        animation-delay: 0s;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span:nth-child(2) {
        animation-delay: 0.2s;
      }

      .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span:nth-child(3) {
        animation-delay: 0.4s;
      }

      @keyframes fadeMove {
        0% {
          opacity: 0;
          transform: rotate(45deg) translateY(0);
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
          transform: rotate(45deg) translateY(0);
        }
      }

      @media screen and (max-width: 768px) {
        .questionnaire-survey-{{ section.id }} .questionnaire-survey-wrap {
          aspect-ratio: 75/134;
          background-image: url('https://cdn.shopify.com/s/files/1/0509/3454/6613/files/2_1_1.png?v=1770167844');
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-container {
          max-width: 100%;
          padding-top: 128px;
          padding-bottom: 0;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-left-icon {
          position: absolute;
          left: 10px;
          top: 32px;
          width: 107px;
          height: 80px;
          aspect-ratio: 107/80;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-title-wrap {
          padding: 0 16px;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-title-icon {
          width: 42px;
          height: 42px;
          aspect-ratio: 1/1;
          margin-bottom: 8px;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-title {
          font-size: 24px;
          line-height: 1.33;
          margin-bottom: 10px;
          max-width: 328px;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-subtitle {
          color: rgba(0, 0, 0, 0.8);
          font-size: 14px;
          line-height: 1.4;
          margin-bottom: 31px;
          max-width: 280px;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-content {
          aspect-ratio: 375/217;
          width: 100%;
        }
        .questionnaire-survey-{{ section.id }} .questionnaire-survey-content-img-left-icon,.questionnaire-survey-{{ section.id }} .questionnaire-survey-content-img-right-icon{
            display: none;
  }
        .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group {
          position: absolute;
          left: 48.7%;
          top: auto;
          bottom: 8%;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span {
          display: block;
          width: 8px;
          height: 8px;
          margin: 4px auto;
          border-right: 1px solid #8a0022;
          border-bottom: 1px solid #8a0022;
          transform: rotate(45deg);
          animation: fadeMove 1.5s infinite;
          opacity: 0;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span:nth-child(1) {
          animation-delay: 0s;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span:nth-child(2) {
          animation-delay: 0.2s;
        }

        .questionnaire-survey-{{ section.id }} .questionnaire-survey-arrow-group span:nth-child(3) {
          animation-delay: 0.4s;
        }

      }
</style>

<section
  id="{%- if section.settings.nav_id != empty %}custom-nav-{{- section.settings.nav_id -}}{% endif -%}"
  class="questionnaire-survey-{{ section.id }}"
>
  <div class="questionnaire-survey-wrap">
    <div class="questionnaire-survey-container">
      <div class="questionnaire-survey-left-icon">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/image_280.png?v=1770167651"
          alt=""
        >
      </div>
      <div class="questionnaire-survey-title-wrap">
        <div class="questionnaire-survey-title-icon">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/1_4c43918d-679a-46fd-8046-640ad4fe7ebf.png?v=1770168550"
            alt=""
          >
        </div>
        <div class="questionnaire-survey-title">Find Your Dream Printer Quiz</div>
        <div class="questionnaire-survey-subtitle">Answer quick questions to find your match & enter to win $50.</div>
      </div>
      <div class="questionnaire-survey-content" id="openSurvey">
        <div class="questionnaire-survey-content-img">
          <div class="questionnaire-survey-content-img-left-icon">
            <img
              class="lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/left.png?v=1770685483"
              alt=""
            >
          </div>
          <div class="questionnaire-survey-content-img-right-icon">
            <img
              class="lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/right.png?v=1770685484"
              alt=""
            >
          </div>
          <picture>
            <source
              srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_2056264350.png?v=1770168521"
              media="(max-width: 768px)"
              type="image/png"
            >
            <source
              srcset="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/us.png?v=1770685484"
              media="(min-width: 769px)"
              type="image/png"
            >
            <img
              class="lazyload"
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/us.png?v=1770685484"
              alt=""
            >
          </picture>
        </div>

        <div class="questionnaire-survey-arrow-group">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <style>
    .questionnaire-survey-{{ section.id }} .modal-mask {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      display: none;

      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .questionnaire-survey-{{ section.id }} .modal-mask.show {
      display: flex;
    }

    .questionnaire-survey-{{ section.id }} .modal {
      width: 800px;
      height: 74vh;
      max-height:800px;
      padding: 28px;
      border-radius: 10px;
      background: #fcc6d3;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #fc6f94 #fcc6d3;
    }
    .questionnaire-survey-{{ section.id }} .modal::-webkit-scrollbar {
      width: 4px;
      background: #fcc6d3;
    }
    .questionnaire-survey-{{ section.id }} .modal::-webkit-scrollbar-thumb {
      background: #fc6f94;
      border-radius: 6px;
    }
    .questionnaire-survey-{{ section.id }} .modal::-webkit-scrollbar-track {
      background: #fcc6d3;
      border-radius: 6px;
    }

    .questionnaire-survey-{{ section.id }} .modal-container {
      background-color: #fff;

      position: relative;
      padding: 94px 2.447vw 2.083vw 2.447vw;
      {% comment %} min-height: 794px; {% endcomment %}
    }

    .questionnaire-survey-{{ section.id }} .modal-left-top-icon {
      position: absolute;
      left: -18px;
      top: -20px;
      width: 103px;
      height: 103px;
    }

    .questionnaire-survey-{{ section.id }} .modal-right-top-icon {
      position: absolute;
      right: -18px;
      top: -20px;

      width: 103px;
      height: 103px;
    }

    .questionnaire-survey-{{ section.id }} .modal-left-top-icon img,
    .questionnaire-survey-{{ section.id }} .modal-right-top-icon img {
      display: flex;
      width: 100%;
      max-width: 100%;
    }

    .questionnaire-survey-{{ section.id }} .modal-left-bottom-icon {
      width: 44px;
      height: 44px;
      flex-shrink: 0;
      position: absolute;
      left: -1px;
      bottom: -1px;
    }

    .questionnaire-survey-{{ section.id }} .modal-right-bottom-icon {
      width: 44px;
      height: 44px;
      flex-shrink: 0;
      position: absolute;
      right: 0;
      bottom: -1px;
    }

    .questionnaire-survey-{{ section.id }} .modal-header-title {
      color: #000;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.38;
      /* 138% */
    }

    .questionnaire-survey-{{ section.id }} .option {
      padding: 10px 30px;
      border-radius: 10px;
      margin-bottom: 16px;
      cursor: pointer;
      background: #f9f9f9;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      /* 清除点击的默认背景色 */
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }

    .questionnaire-survey-{{ section.id }} .option.selected {
      color: #b64c58;
      background: #fff6f7;
    }

    .questionnaire-survey-{{ section.id }} #optionalInput {
      display: flex;
      width: 100%;
      padding: 10px 30px;
      align-items: center;
      gap: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #d1d1d1;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 24.84px;
    }

    .questionnaire-survey-{{ section.id }} #optionalInput::placeholder,.questionnaire-survey-{{ section.id }} #emailInput::placeholder {
      color: #6d6d6d;
      /* 修改placeholder字体颜色，可按需调整 */
      opacity: 1;
      font-size: 16px;
    }

    .questionnaire-survey-{{ section.id }} .footer {
      gap: 36px;
      margin-top: 70px;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .questionnaire-survey-{{ section.id }} .footer button {
      font-size: 16px;
      font-weight: 700;
      padding: 10px 30px;
      border-radius: 10px;
      border: none;
      background: linear-gradient(90deg, #fc6f94 0%, #ea64be 100%);
      color: #fff;
      cursor: pointer;
      min-width: 228px;
      min-height: 50px;
      /* 清除点击的默认背景色 */
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }

    .questionnaire-survey-{{ section.id }} .modal-header {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 18px;
      justify-content: space-between;
    }

    .questionnaire-survey-{{ section.id }} .progress-bar {
      flex: 1;
      height: 10px;

      overflow: hidden;
      border-radius: 99px;
      background: #eee;
    }

    .questionnaire-survey-{{ section.id }} .question-title {
      color: #000;

      font-size: 20px;

      font-weight: 400;
      line-height: 1.33;
      /* 133% */
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .questionnaire-survey-{{ section.id }} .progress-inner {
      height: 100%;
      width: 0%;
      background: linear-gradient(90deg, #fa6e99 0%, #eb65bc 100%);
      transition: width 0.3s;
    }

    .questionnaire-survey-{{ section.id }} .close-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      width: 15px;
      height: 15px;
      display: flex;
      flex-shrink: 0;
      /* 清除点击的默认背景色 */
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }
    .questionnaire-survey-{{ section.id }} .close-btn-final {
      position: absolute;
      top: 50px;
      right: 50px;
    }

    /* 确认关闭弹窗 */
    .questionnaire-survey-{{ section.id }} .confirm-mask {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10000;
    }

    .questionnaire-survey-{{ section.id }} .confirm-box {
      border-radius: 12px;
      background: #fff;
      border-radius: 12px;
      text-align: center;
      display: flex;
      width: 528px;
      padding: 24px 20px;
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }

    .questionnaire-survey-{{ section.id }} .confirm-box .confirm-box-title-wrap {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .questionnaire-survey-{{ section.id }} .confirm-box-title-icon {
      display: flex;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      aspect-ratio: 1/1;
    }

    .questionnaire-survey-{{ section.id }} .confirm-box-title {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
    }

    .questionnaire-survey-{{ section.id }} .confirm-box-desc {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      text-align: left;
    }

    .questionnaire-survey-{{ section.id }} .confirm-actions {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      align-items: center;
      gap: 12px;
    }

    .questionnaire-survey-{{ section.id }} .confirm-actions button {
      display: flex;
      min-width: 116px;
      min-height: 36px;
      padding: 8px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      cursor: pointer;
      color: #000;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.4;
      border-radius: 99px;
      /* 清除点击的默认背景色 */
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }

    .questionnaire-survey-{{ section.id }} .confirm-actions .confirm-cancel {
      border: 1px solid var(---, #e7e7e7);
      background: #f9f9f9;
    }

    .questionnaire-survey-{{ section.id }} .confirm-actions .confirm-confirm {
      border-radius: 99px;
      background: #000;
      color: #fff;
    }

    .questionnaire-survey-{{ section.id }} #backBtn {
      color: #000;

      border-radius: 10px;
      border: 1px solid #000;
      background: #fff;
    }

    .questionnaire-survey-{{ section.id }} #backBtn:disabled {
      border: 1px solid #eee;
      background: #eee;
      opacity: 0.5;
      cursor: not-allowed;
    }

    /* ===== Result Page ===== */

    .questionnaire-survey-{{ section.id }} .result-title {
      margin-bottom: 12px;
      color: #a73032;
      text-align: center;
      font-size: 40px;
      font-weight: 800;
      line-height: 1.22;
      padding: 0 72px;
      margin-top: -50px;
    }

    .questionnaire-survey-{{ section.id }} .result-subtitle {
      color: #000;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.38;
      padding: 0 72px;
      text-align: center;
      margin-bottom: 8px;
    }

    .questionnaire-survey-{{ section.id }} .result-desc {
      color: #000;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.38;
      padding: 0 72px;
      text-align: center;
      margin-bottom: 20px;
    }

    .questionnaire-survey-{{ section.id }} .result-desc span {
      color: #a73032;
      font-weight: 700;
    }

    .questionnaire-survey-{{ section.id }} .result-product-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
      border-radius: 10px;
      margin: 0 72px;
      text-align: center;
      background: #fff6f8;
    }

    .questionnaire-survey-{{ section.id }} .result-product-img {
      display: flex;
      width: 170px;
      height: 170px;
      aspect-ratio: 1/1;
      margin-bottom: 0;
    }

    .questionnaire-survey-{{ section.id }} .result-product-img img {
      width: 100%;
      max-width: 100%;
    }

    .questionnaire-survey-{{ section.id }} .result-product-title {
      color: #000;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 12px;
    }

    .questionnaire-survey-{{ section.id }} .result-product-button-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0 72px;
      text-align: center;
    }

    .questionnaire-survey-{{ section.id }} .result-product-button-group > .result-product-button-learn-more {
      display: flex;
      min-width: 178px;
      min-height: 40px;
      max-height: 40px;
      padding: 10px 26px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      cursor: pointer;
    }
    .questionnaire-survey-{{ section.id }} .result-product-button-group > .result-product-button-buy-now product-card{
      display: flex;
      min-width: 178px;
      min-height: 40px;
      padding: 10px 26px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      color: #fff;
      background: linear-gradient(90deg, #fc6f94 0%, #ea64be 100%);
      cursor: pointer;
    }
    .questionnaire-survey-{{ section.id }} .result-product-button-group > .result-product-button-learn-more {
      border: 1px solid #000;
      background: #fff;
      color: #000;
    }


    .questionnaire-survey-{{ section.id }} .result-product-button-buy-now .button.accent, input[type=submit].accent {
        background: none;
        color: #fff;
        height: auto;
        min-height: auto;
        padding: 0;
        font-size: inherit;
        font-weight: 700;
        line-height: 1.4;
        margin: 0;
    }

    .questionnaire-survey-{{ section.id }} .coupon-box {
      display: flex;
      height: 44px;
      padding: 0 8px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      border-radius: 10px;
      border: 1px solid #e7e7e7;
      background: #f9f9f9;
      margin-left: 72px;
      margin-right: 72px;
      margin-top: 20px;
    }

    .questionnaire-survey-{{ section.id }} .coupon-code {
      display: flex;
      align-items: center;
      color: #3d3d3d;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.77;
    }

    .questionnaire-survey-{{ section.id }} .copy-btn {
      display: flex;
      width: max-content;
      height: 28px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #fff;
      font-size: 14px;

      font-weight: 700;
      line-height: 1;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      background: #000;
    }

    .questionnaire-survey-{{ section.id }} .notes-container {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: #3d3d3d;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      margin-left: 72px;
      margin-right: 72px;
      margin-bottom: 30px;
    }


    .questionnaire-survey-{{ section.id }} .email-tips {
      color: #000;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.22;
      /* 122.5% */
      margin-bottom: 20px;
      margin-left: 72px;
      margin-right: 72px;
    }

    .questionnaire-survey-{{ section.id }} .email-box {
      display: flex;
      border-radius: 10px;
      border: 1px solid #e7e7e7;
      background: #f9f9f9;
      overflow: hidden;
      margin-left: 72px;
      margin-right: 72px;
    }

    .questionnaire-survey-{{ section.id }} .email-box input {
      flex: 1;
      padding: 8px;
      border-radius: 10px;
      border: none;
      outline: none;
      margin:0;
      height: auto;
      min-height: 50px;
    }

    .questionnaire-survey-{{ section.id }} .email-box input:focus,
    .questionnaire-survey-{{ section.id }} .email-box input:hover {
      border: none;
      outline: none;
    }

    .questionnaire-survey-{{ section.id }} .email-box button {
      background: #000;
      color: #fff;
      border-radius: 0 10px 10px 0;
      background: #000;
      color: #fff;
      padding: 14px 55px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      cursor: pointer;
      outline: none;
      border: none;
    }

    /* 图片选项容器 */
    .questionnaire-survey-{{ section.id }} .pic-option-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 0 95px;
    }

    /* 单个图片选项 */
    .questionnaire-survey-{{ section.id }} .pic-option {
      cursor: pointer;
      /* 清除点击的默认背景色 */
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }

    .questionnaire-survey-{{ section.id }} .pic-wrapper {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      /* border: 2px solid transparent; */
      width: 100%;

      margin: 0 auto;
      /* 清除点击的默认背景色 */
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }

    .questionnaire-survey-{{ section.id }} .pic-wrapper img {
      width: 100%;
      max-width: 100%;
      display: block;
      aspect-ratio: 4/3;
    }

    /* 勾选框 */
    .questionnaire-survey-{{ section.id }} .check-mark {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 18px;
      height: 18px;

    }

    .questionnaire-survey-{{ section.id }} .check-mark svg {
      opacity: 0;
    }

    .questionnaire-survey-{{ section.id }} .pic-option.selected .check-mark {
      display: flex;
      border-color: #000;
      width: 18px;
      height: 18px;
    }

    .questionnaire-survey-{{ section.id }} .pic-option.selected .check-mark svg {
      opacity: 1;
    }

    /* 文字 */
    .questionnaire-survey-{{ section.id }} .pic-text {
      color: #000;
      text-align: center;

      font-size: 16px;

      font-weight: 400;
      line-height: 1.25;
      margin-top: 8px;
    }

    /* 选中态 */
    .questionnaire-survey-{{ section.id }} .pic-option.selected .pic-wrapper {
      border-color: #a73032;
    }

    .questionnaire-survey-{{ section.id }} .quiz-toast {
      position: fixed;
      left: 50%;
      top: 80px;
      transform: translateX(-50%) translateY(10px);
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px 16px;
      border-radius: 24px;
      font-size: 12px;
      color: #fff;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      z-index: 9999;
    }

    .questionnaire-survey-{{ section.id }} .quiz-toast.show {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }

    /* 成功态 */
    .questionnaire-survey-{{ section.id }} .quiz-toast.success {
      background: rgba(46, 125, 50, 0.95);
    }

    /* 失败态 */
    .questionnaire-survey-{{ section.id }} .quiz-toast.error {
      background: rgba(211, 47, 47, 0.95);
    }

    /* icon */
    .questionnaire-survey-{{ section.id }} .toast-icon {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: bold;
    }

    .questionnaire-survey-{{ section.id }} .toast-text {
      white-space: nowrap;
    }

    /* =========================
       Mobile Adaptation
       ========================= */
    @media (max-width: 768px) {
        .questionnaire-survey-{{ section.id }} .modal-mask {
        padding: 0 24px;
      }

      .questionnaire-survey-{{ section.id }} .modal {
        width: 100%;
        padding: 16px 12px;
        overflow-y: auto;
        max-height: 600px;
        height: auto;
      }

      .questionnaire-survey-{{ section.id }} .modal-container {
        padding: 32px 12px 32px 12px;
        min-height: 490px;
      }

      .questionnaire-survey-{{ section.id }} .modal-left-top-icon {
        position: absolute;
        left: -10px;
        top: -10px;
        width: 50px;
        height: 50px;
      }

      .questionnaire-survey-{{ section.id }} .modal-right-top-icon {
        position: absolute;
        right: -10px;
        top: -10px;

        width: 50px;
        height: 50px;
      }

      .questionnaire-survey-{{ section.id }} .modal-left-bottom-icon {
        width: 20px;
        height: 20px;
      }

      .questionnaire-survey-{{ section.id }} .modal-right-bottom-icon {
        width: 20px;
        height: 20px;
      }

      .questionnaire-survey-{{ section.id }} .modal-header-title {
        font-size: 16px;
        line-height: 1.4;
      }

      .questionnaire-survey-{{ section.id }} .option {
        font-size: 12px;
        line-height: 2;
        padding: 10px 12px;
        border-radius: 8px;
        margin-bottom: 12px;
      }

      .questionnaire-survey-{{ section.id }} #optionalInput {
        padding: 10px 12px;
        font-size: 12px;
        line-height: 1.25;
      }

      .questionnaire-survey-{{ section.id }} #optionalInput::placeholder,.questionnaire-survey-{{ section.id }} #emailInput::placeholder {
        font-size: 12px;
      }

      .questionnaire-survey-{{ section.id }} .footer {
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 20px;
      }

      .questionnaire-survey-{{ section.id }} .footer button {
        font-size: 14px;
        padding: 10px;
        border-radius: 8px;
        border: none;
        min-width: calc(100% / 2 - 4px);
        min-height: 40px;
      }

      .questionnaire-survey-{{ section.id }} .modal-header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 18px;
        justify-content: space-between;
      }

      .questionnaire-survey-{{ section.id }} .progress-bar {
        height: 8px;
      }

      .questionnaire-survey-{{ section.id }} .question-title {
        font-size: 12px;
        line-height: 1.4;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .questionnaire-survey-{{ section.id }} .progress-inner {
        height: 100%;
        width: 0%;
        background: linear-gradient(90deg, #fa6e99 0%, #eb65bc 100%);
        transition: width 0.3s;
      }

      .questionnaire-survey-{{ section.id }} .close-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 15px;
        height: 15px;
        display: flex;
        flex-shrink: 0;
      }
      .questionnaire-survey-{{ section.id }} .close-btn-final {
        position: absolute;
        top: 50px;
        right: 50px;
        top: 30px;
        right: 15px;
      }

      /* 确认关闭弹窗 */
      .questionnaire-survey-{{ section.id }} .confirm-mask {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
      }

      .questionnaire-survey-{{ section.id }} .confirm-box {
        border-radius: 8px;
        width: 85%;
        padding: 16px 12px;
        gap: 10px;
      }

      .questionnaire-survey-{{ section.id }} .confirm-box .confirm-box-title-wrap {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .questionnaire-survey-{{ section.id }} .confirm-box-title-icon {
        display: flex;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        aspect-ratio: 1/1;
      }

      .questionnaire-survey-{{ section.id }} .confirm-box-title {
        font-size: 18px;
      }

      .questionnaire-survey-{{ section.id }} .confirm-box-desc {
        font-size: 14px;
      }

      .confirm-actions {
        gap: 12px;
      }

      .questionnaire-survey-{{ section.id }} .confirm-actions button {
        min-width: 90px;
        min-height: 30px;
        padding: 8px 10px;
        font-size: 12px;
        line-height: 1;
      }

      .questionnaire-survey-{{ section.id }} .confirm-actions .confirm-cancel {
        border: 1px solid var(---, #e7e7e7);
        background: #f9f9f9;
      }

      .questionnaire-survey-{{ section.id }} .confirm-actions .confirm-confirm {
        border-radius: 99px;
        background: #000;
        color: #fff;
      }

      .questionnaire-survey-{{ section.id }} #backBtn {
        color: #000;

        border-radius: 10px;
        border: 1px solid #000;
        background: #fff;
      }

      .questionnaire-survey-{{ section.id }} #backBtn:disabled {
        border: 1px solid #eee;
        background: #eee;
        opacity: 0.5;
        cursor: not-allowed;
      }

      /* ===== Result Page ===== */

      .questionnaire-survey-{{ section.id }} .result-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        padding: 0;
        margin-top: 0;
      }

      .questionnaire-survey-{{ section.id }} .result-subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        padding: 0;
      }

      .questionnaire-survey-{{ section.id }} .result-desc {
        font-size: 14px;
        line-height: 1.4;
        padding: 0;
        margin-bottom: 12px;
      }

      .questionnaire-survey-{{ section.id }} .result-desc span {
        font-weight: 400;
      }

      .questionnaire-survey-{{ section.id }} .result-product-container {
        padding: 16px 12px;
        border-radius: 8px;
        margin: 0;
      }

      .questionnaire-survey-{{ section.id }} .result-product-img {
        width: 110px;
        height: 110px;
        margin-bottom: 0;
      }

      .questionnaire-survey-{{ section.id }} .result-product-title {
        font-size: 12px;
        line-height: 1.6;
        margin-bottom: 18px;
      }

      .questionnaire-survey-{{ section.id }} .result-product-button-group {
        gap: 8px;
        padding: 0;
        width: 100%;
      }

      .questionnaire-survey-{{ section.id }} .result-product-button-group > .result-product-button-learn-more {
        display: flex;
        flex-wrap: wrap;
        min-width: calc(100% / 2 - 4px);
        min-height: 30px;
        max-height: 30px;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.4;
      }
      .questionnaire-survey-{{ section.id }} .result-product-button-group > .result-product-button-buy-now {

        min-width: calc(100% / 2 - 4px);

      }
      .questionnaire-survey-{{ section.id }} .result-product-button-group > .result-product-button-buy-now product-card{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 100%;
        min-height: 30px;
        max-height: 30px;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.4;
        background: linear-gradient(90deg, #fc6f94 0%, #ea64be 100%);
        cursor: pointer;
      }
      .questionnaire-survey-{{ section.id }} .coupon-box {
        display: flex;
        min-height: 44px;
        padding: 4px 8px;
        margin-bottom: 12px;
        border-radius: 8px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 12px;
      }

      .questionnaire-survey-{{ section.id }} .coupon-code {
        font-size: 12px;
      }

      .questionnaire-survey-{{ section.id }} .copy-btn {
        width: max-content;
        min-height: 28px;
        padding: 6px 10px;
        font-size: 12px;
      }

      .questionnaire-survey-{{ section.id }} .notes-container {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.4;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
      }



      .questionnaire-survey-{{ section.id }} .email-tips {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 18px;
        margin-left: 0;
        margin-right: 0;
      }

      .questionnaire-survey-{{ section.id }} .email-box {
        border-radius: 5px;

        margin-left: 0;
        margin-right: 0;
      }

      .questionnaire-survey-{{ section.id }} .email-box input {
        flex: 1;
        padding: 8px;
        border-radius: 5px;
        min-height: 40px;
      }

      .questionnaire-survey-{{ section.id }} .email-box button {
        border-radius: 0 5px 5px 0;
        padding: 10px 22px;
        font-size: 12px;
      }

      /* 图片选项容器 */
      .questionnaire-survey-{{ section.id }} .pic-option-list {
        gap: 8px;
        padding: 0;
      }

      /* 单个图片选项 */
      .questionnaire-survey-{{ section.id }} .pic-option {
        cursor: pointer;
      }

      .questionnaire-survey-{{ section.id }} .pic-wrapper {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
      }

      .questionnaire-survey-{{ section.id }} .pic-wrapper img {
        width: 100%;
        max-width: 100%;
        display: block;
        aspect-ratio: 4/3;
      }

      /* 勾选框 */
      .questionnaire-survey-{{ section.id }} .check-mark {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 18px;
        height: 18px;

      }

      .questionnaire-survey-{{ section.id }} .check-mark svg {
        opacity: 0;
      }

      .questionnaire-survey-{{ section.id }} .pic-option.selected .check-mark {
        display: flex;
        border-color: #000;
        width: 18px;
        height: 18px;
      }

      .questionnaire-survey-{{ section.id }} .pic-option.selected .check-mark svg {
        opacity: 1;
      }

      /* 文字 */
      .questionnaire-survey-{{ section.id }} .pic-text {
        font-size: 12px;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .questionnaire-survey-{{ section.id }} .quiz-toast {
        position: fixed;
        left: 50%;
        top: 80px;
        transform: translateX(-50%) translateY(10px);
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 16px;
        border-radius: 24px;
        font-size: 12px;
        color: #fff;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 9999;
      }

      .questionnaire-survey-{{ section.id }} .quiz-toast.show {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
      }

      /* 成功态 */
      .questionnaire-survey-{{ section.id }} .quiz-toast.success {
        background: rgba(46, 125, 50, 0.95);
      }

      /* 失败态 */
      .questionnaire-survey-{{ section.id }} .quiz-toast.error {
        background: rgba(211, 47, 47, 0.95);
      }

      /* icon */
      .questionnaire-survey-{{ section.id }} .toast-icon {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
      }

      .questionnaire-survey-{{ section.id }} .toast-text {
        white-space: nowrap;
      }
    }
  </style>
  <div class="modal-mask" id="mask">
    <div class="modal">
      <div class="modal-container">
        <div class="modal-left-top-icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_2056264382.png?v=1770198364"
            alt=""
          >
        </div>
        <div class="modal-right-top-icon">
          <img
            src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_2056264383.png?v=1770198364"
            alt=""
          >
        </div>
        <div class="modal-left-bottom-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 44 44"
            fill="none"
          >
            <path d="M0 43.5H44L0 0V43.5Z" fill="#FCC6D3" />
          </svg>
        </div>
        <div class="modal-right-bottom-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 44 44"
            fill="none"
          >
            <path d="M44 43.5H0L44 0V43.5Z" fill="#FCC6D3" />
          </svg>
        </div>

        <!-- 问卷内容 -->
        <div id="quizContainer"></div>

        <!-- 底部 -->
        <div class="footer">
          <button id="backBtn" disabled>Back</button>
          <button id="nextBtn">Next</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // ======= DOM 元素获取 =======
      const openBtn = document.getElementById('openSurvey');
      const mask = document.getElementById('mask');
      const quizContainer = document.getElementById('quizContainer');
      const nextBtn = document.getElementById('nextBtn');
      const backBtn = document.getElementById('backBtn');
      let closeBtn = null; // 关闭按钮引用
      let progressInner = null; // 进度条内部元素

      // ======= API 常量 =======
      const saveUserAnswersApi = '/procolored/quizQuestion/saveUserAnswers';
      const submitEmailApi = '/procolored/quizQuestion/submitEmail';
      const questionsWithOptionsApi = '/procolored/quizQuestion/getQuestionsWithOptions';
      let origin = 'Shopify_US';
      const activityCode = 'valentines_day';
      // ======= 状态管理 =======
      let questions = []; // 题目数组
      let currentIndex = 0; // 当前题号
      let answers = {}; // 用户回答
      let isResultPage = false; // 是否在结果页
      let quizSessionId = ''; // 提交结果的 SessionId
      let productHandle = ''; 
      let productTitle = ''; 
      let productUrl = ''; 
      let productImg = '';
      let productId='';
      const us = [
        {
            "handle": 'procolored-k13-lite-dtf-printer-13-a3-pink',
            'id': '51557601149109',
            "url": "/products/procolored-k13-lite-dtf-printer-13-a3-pink",
            "img": 'https://www.procolored.com/cdn/shop/files/K13_lite_pink_10.png?v=1767585182&width=750'
        },
        {
            "handle": 'procolored-p13-dtf-printer',
            'id': '51708750528693',
            "url": "/products/procolored-p13-dtf-printer?variant=51708750528693",
            "img": 'https://www.procolored.com/cdn/shop/files/DTF_Printer_Main_4.png?v=1765787950&width=750'
        },
        {
            "handle": 'products-13-dual-heads-dtf-pro-a3-dtf-printer-direct-to-film-printer-upgrade',
            'id': '43687012925621',
            "url": "/products/products-13-dual-heads-dtf-pro-a3-dtf-printer-direct-to-film-printer-upgrade",
            "img": 'https://www.procolored.com/cdn/shop/files/F13_Pro_0479da75-8ab0-4338-bffa-583a1c04aa8c.png?v=1765786510'
        },
        {
            "handle": '13-single-head-dtf-printer-roll',
            'id': '41436916154549',
            "url": "/products/13-single-head-dtf-printer-roll",
            "img": 'https://cdn.shopify.com/s/files/1/0509/3454/6613/files/20260209-153506.png?v=1770622838'
        },
    ];
    
    const eu = [
        {
            "handle": 'procolored-k13-lite-dtf-printer-13-a3-pink',
            'id': '50973655925019',
            "url": "/products/procolored-k13-lite-dtf-printer-13-a3-pink",
            "img": 'https://www.procolored.com/cdn/shop/files/K13_lite_pink_10.png?v=1767585182&width=750'
        },
        {
            "handle": 'procolored-p13-dtf-printer',
            'id': '50435919380763',
            "url": "/products/procolored-p13-dtf-printer",
            "img": 'https://www.procolored.com/cdn/shop/files/DTF_Printer_Main_4.png?v=1765787950&width=750'
        },
        {
            "handle": '13-dual-heads-dtf-pro-a3-dtf-printer-direct-to-film-printer-upgrade',
            'id': '49396040302875',
            "url": "/products/13-dual-heads-dtf-pro-a3-dtf-printer-direct-to-film-printer-upgrade",
            "img": 'https://www.procolored.com/cdn/shop/files/F13_Pro_0479da75-8ab0-4338-bffa-583a1c04aa8c.png?v=1765786510'
        },
        {
            "handle": '13-single-head-dtf-printer-roll',
            'id': '49392716448027',
            "url": "/products/13-single-head-dtf-printer-roll",
            "img": 'https://cdn.shopify.com/s/files/1/0509/3454/6613/files/20260209-153506.png?v=1770622838'
        },
    ];
    
    const fr = [
        {
            "handle": 'imprimante-dtf-k13-lite-13-a3-rose',
            'id': '9145801638111',
            "url": "/products/imprimante-dtf-k13-lite-13-a3-rose",
            "img": 'https://www.procolored.com/cdn/shop/files/K13_lite_pink_10.png?v=1767585182&width=750'
        },
        {
            "handle": 'procolored-p13-dtf-printer',
            'id': '9090873065695',
            "url": "/products/procolored-p13-dtf-printer",
            "img": 'https://www.procolored.com/cdn/shop/files/DTF_Printer_Main_4.png?v=1765787950&width=750'
        },
        {
            "handle": '13-dual-heads-dtf-pro-a3-dtf-printer-direct-to-film-printer-upgrade',
            'id': '9090872148191',
            "url": "/products/13-dual-heads-dtf-pro-a3-dtf-printer-direct-to-film-printer-upgrade",
            "img": 'https://www.procolored.com/cdn/shop/files/F13_Pro_0479da75-8ab0-4338-bffa-583a1c04aa8c.png?v=1765786510'
        },
        {
            "handle": '13-single-head-dtf-printer-roll',
            'id': '9090872279263',
            "url": "/products/13-single-head-dtf-printer-roll",
            "img": 'https://cdn.shopify.com/s/files/1/0509/3454/6613/files/20260209-153506.png?v=1770622838'
        },
    ];
    
    // 根据域名设置 productList
    let productList = [];
    const hostname = window?.location?.hostname || '';
    
    if (hostname.endsWith('procolored.eu')) {
        productList = eu;
    } else if (hostname === 'procolored.com' || hostname === 'www.procolored.com' ) {
        productList = us;
    } else if (hostname.startsWith('fr.')) {
        productList = fr;
    } else {
        // 默认
        productList = us;
    }     

      // ======= 初始化：默认弹窗打开 =======
      {% comment %} openBtn.click(); {% endcomment %}
      loadQuestions();
      // ======= 弹窗打开入口 =======
      openBtn.addEventListener('click', async () => {
        TriplePixel('custom', 'quiz_start_click', {
            'value': 1 
            });
        resetQuiz();
        mask.classList.add('show');
        await renderQuestion();
        await updateProgress();
      });

      // ======= 禁止 Esc 关闭弹窗 =======
      document.addEventListener('keydown', (e) => {
        if (e.key === 'Escape') e.preventDefault();
      });

      // ======= 添加关闭按钮监听（每次渲染后都需重新绑定）=======
      function addCloseBtnListener() {
        closeBtn = document.getElementById('closeBtn66');
       
        if (closeBtn) {
          closeBtn.onclick = null;
          closeBtn.addEventListener('click', () => {
           
            isResultPage ? closeQuizDirectly() : showConfirm();
          });
        }
      }

      // ======= 直接关闭问卷弹窗并重置 =======
      function closeQuizDirectly() {
        resetQuiz();
        mask.classList.remove('show');
      }

      // ======= 拉取题目数据 =======
      async function loadQuestions() {
        boosterFetch(
          questionsWithOptionsApi,
          {
            origin: origin,
            activityCode: activityCode,
          },
          { method: 'GET' }
        )
          .then((data) => {
            // 这里可以根据实际需求处理返回的数据
            console.log('查询结果:', data);
            if (data.code === 200) {
              questions = data.result || [];
              console.log('questions:', questions);
            } else {
              showToast('Failed to load questions', 'error');
            }
          })
          .catch((error) => {
            showToast('Failed to load questions', 'error');
          });
      }

      // ======= 兼容旧版的题目渲染逻辑（一般无需使用）=======
      function renderQuestionLegacy() {
        const q = questions[currentIndex];
        quizContainer.innerHTML = `
                            <div class="modal-header">
                                <div class="modal-header-title">Question ${q.questionNo}/${questions.length}</div>
                                <button class="close-btn" id="closeBtn66">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                        <path d="M0.818226 13.6485L13.6485 0.818187M0.818226 0.818187L13.6485 13.6485" stroke="black" stroke-width="1.63636" stroke-linecap="round"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-inner" id="progressInner"></div>
                            </div>
                            <p>${q.questionTitle}</p>
                            ${q.options
                              .map(
                                (o) => `
                                <div class="option ${answers[q.id]?.includes(o.id) ? 'selected' : ''}" data-id="${
                                  o.id
                                }">
                                    ${o.optionText}
                                </div>
                            `
                              )
                              .join('')}
                        `;
        progressInner = document.getElementById('progressInner');
        addCloseBtnListener();
        bindOptions(q);
        backBtn.disabled = currentIndex === 0;
      }

      // ======= 渲染可选项输入框（如有）=======
      function renderOptionalInput(q) {
        const opt = q.options.find((o) => o.optional === 1);
        if (!opt) return '';
        const show = answers[q.id]?.optionIds?.includes(opt.id);
        return `
                            <div class="optional-input" style="display:${show ? 'flex' : 'none'}">
                                <input id="optionalInput" placeholder="（Optional）" value="${
                                  answers[q.id]?.optionalContent || ''
                                }">
                            </div>
                        `;
      }

      // ======= 题目选项绑定（仅供 renderQuestionLegacy 用）=======
      function bindOptions(question) {
        document.querySelectorAll('.option').forEach((el) => {
          el.onclick = () => {
            const optionId = Number(el.dataset.id);
            if (question.questionType === 'single') {
              document.querySelectorAll('.option').forEach((o) => o.classList.remove('selected'));
              el.classList.add('selected');
              answers[question.id] = [optionId];
            }
            if (question.questionType === 'multi') {
              let selected = answers[question.id] || [];
              if (el.classList.contains('selected')) {
                el.classList.remove('selected');
                selected = selected.filter((id) => id !== optionId);
              } else {
                if (selected.length >= question.maxSelect) return;
                el.classList.add('selected');
                selected.push(optionId);
              }
              answers[question.id] = selected;
            }
          };
        });
      }

      // ======= 下一题/提交 or 上一题 =======
      nextBtn.onclick = async () => {
        const q = questions[currentIndex];
        // 必填校验
        if (
          q.required &&
          (!answers[q.id] ||
            (Array.isArray(answers[q.id]) && answers[q.id].length === 0) ||
            (Array.isArray(answers[q.id]?.optionIds) && answers[q.id]?.optionIds?.length === 0))
        ) {
          showToast('Please select at least one option', 'error');
          return;
        }
        if (currentIndex < questions.length - 1) {
          currentIndex++;
          renderQuestion();
          updateProgress();
        } else {
          await submitAnswers();
          {% comment %} renderResult(); {% endcomment %}
        }
      };

      backBtn.onclick = () => {
        if (currentIndex > 0) {
          currentIndex--;
          renderQuestion();
          updateProgress();
        }
      };

      // ======= 提交全部答案，提交后拿到sessionId =======
      async function submitAnswers() {
        // 构造提交结构
        const list = [];
        Object.keys(answers).forEach((qId) => {
          let current = answers[qId];
          // 兼容新版和旧版结构
          let optionIds = current?.optionIds || current;
          if (!Array.isArray(optionIds)) return;
          optionIds.forEach((oId) => {
            const item = {
              questionId: +qId,
              optionId: oId,
            };
            if (current?.optionalContent) item.optionalContent = current.optionalContent;
            list.push(item);
          });
        });
        boosterFetch(
          saveUserAnswersApi,
          {
            quizSubmitAnswerDTOList: list,
            origin: origin,
          },
          { method: "POST" }
        )
          .then((data) => {
            // 这里可以根据实际需求处理返回的数据
            console.log('提交答案返回查询结果:', data);
            if (data.code === 200) {
                quizSessionId = data.result?.sessionId || '';
                productHandle = data.result?.handle || '';
                // 根据 productHandle 从 productList 中获取对应的产品对象
                let productObj = null;
                if (productList && productHandle) {
                  productObj = productList.find(p => p.handle === productHandle);
                }
                console.log('productList==', productList);
                console.log('productHandle==', productHandle);
                console.log('productObj', productObj);
                productTitle= data.result?.recommendedProduct || '';
                productUrl = productObj.url
                productImg = productObj.img
                productId = productObj.id
                renderResult();
                  // 隐藏 .questionnaire-survey-{{ section.id }} 下的 .footer
            const surveyFooter = document.querySelector('.questionnaire-survey-{{ section.id }} .footer');
            if (surveyFooter) {
              surveyFooter.style.display = 'none';
            }
            } else {
                showToast('Failed to submit answers', 'error');
            }
          })
          .catch((error) => {
            showToast('Failed to submit answers', 'error');
          });

      }

      // ======= 进度条更新 =======
      async function updateProgress() {
        progressInner = document.getElementById('progressInner');
        if (progressInner && questions.length) {
          progressInner.style.width = ((currentIndex + 1) / questions.length) * 100 + '%';
        }
      }

      // ======= 渲染结果页面 =======
      function renderResult() {
        isResultPage = true;
        console.log('渲染结果productHandle==',productHandle);
     
        quizContainer.innerHTML = `
     
                               <div class="result-title">Congratulations!</div>
                        <div class="result-subtitle">You've unlocked your dream printer!</div>
                        <div class="result-desc">
                            Get exclusive savings of <span>$50</span> with your discount code below.
                        </div>
                        <div class="result-product-container">
                            <div class="result-product-img">
                                <img src="${productImg}" alt="">
                            </div>
                            <div class="result-product-title">${productTitle}</div>
                            <div class="result-product-button-group">
                                <div class="result-product-button-learn-more" onclick="window.open('${productUrl}', '_blank')">Learn More</div>
                                <div class="result-product-button-buy-now">

                                <product-card>
                            <div class="
                                product-btn external-add-to-cart-button product-card--add-to-cart-button product-card--add-to-cart-button-simple button accent  " data-product-id="${productId}" tabindex="-1">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="spinner-path" fill="none" stroke-width="6" cx="33" cy="33" r="30" stroke="var(--color-body)"></circle>
    </svg>
                              <span class="product-card--add-to-cart-text">Buy Now
</span>
                            </div>
                          </product-card>


                                </div>
                            </div>
                        </div>
                        <div class="coupon-box">
                            <div class="coupon-code">
                                $50 Discount Code: <div id="couponText">dreamprinter</div>
                            </div>
                            <button class="copy-btn" id="copyBtn">COPY</button>
                        </div>
                        <div class="notes-container">
                            <div class="notes-title">Notes</div>
                            <div class="notes-desc">1.One discount code per email.</div>
                            <div class="notes-desc">2.Discount Code valid from 2/9 to 2/28 (PT).</div>
                            <div class="notes-desc">3.Applies to all printers and consumables (minimum $350 purchase).</div>
                            <div class="notes-desc">4.This discount code cannot be combined with other discount codes.</div>
                        </div>
                        <div class="email-tips">
                            Enter your email to receive the $50 discount and more offers！
                        </div>
                        <div class="email-box">
                            <input type="email" id="emailInput" placeholder="Enter your email" />
                            <button id="emailSubmitBtn">Submit</button>
                        </div>
                        <button class="close-btn close-btn-final" id="closeBtn66">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 15 15" fill="none">
                                <path d="M0.818226 13.6485L13.6485 0.818187M0.818226 0.818187L13.6485 13.6485" stroke="black" stroke-width="1.63636" stroke-linecap="round"/>
                            </svg>
                        </button>
                        `;
        nextBtn.style.display = 'none';
        backBtn.style.display = 'none';
        // 复制优惠码按钮
        document.getElementById('copyBtn').onclick = () => {
          navigator.clipboard.writeText('dreamprinter');
          showToast('Copied', 'success');
        };
        // 邮箱提交按钮绑定
        document.getElementById('emailSubmitBtn').onclick = submitEmail;
        // 关闭按钮绑定
        addCloseBtnListener();
        progressInner = null;
      }

      // ======= 关闭确认弹窗 =======
      function showConfirm() {
        const maskDiv = document.createElement('div');
        maskDiv.className = 'confirm-mask';
        maskDiv.innerHTML = `
                            <div class="confirm-box">
                                <div class="confirm-box-title-wrap">
                                    <div class="confirm-box-title-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none">
                                            <path d="M12 22C14.7614 22 17.2614 20.8807 19.0711 19.0711C20.8807 17.2614 22 14.7614 22 12C22 9.2386 20.8807 6.7386 19.0711 4.92893C17.2614 3.11929 14.7614 2 12 2C9.2386 2 6.7386 3.11929 4.92893 4.92893C3.11929 6.7386 2 9.2386 2 12C2 14.7614 3.11929 17.2614 4.92893 19.0711C6.7386 20.8807 9.2386 22 12 22Z" fill="#E72410" stroke="#E72410" stroke-width="2" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 5.5C12.6904 5.5 13.25 6.05965 13.25 6.75C13.25 7.44035 12.6904 8 12 8C11.3097 8 10.75 7.44035 10.75 6.75C10.75 6.05965 11.3097 5.5 12 5.5Z" fill="white" />
                                            <path d="M12.25 17V10H11.75H11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M10.5 17H14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="confirm-box-title">Close the quiz</div>
                                </div>
                                <div class="confirm-box-desc">
                                    <div>Are you sure you want to leave the quiz?</div>
                                    <div>Your progress will be lost.</div>
                                </div>
                                <div class="confirm-actions">
                                    <button class="confirm-cancel">Continue</button>
                                    <button class="confirm-confirm">Leave</button>
                                </div>
                            </div>
                        `;
        document.querySelector('.questionnaire-survey-{{ section.id }}').appendChild(maskDiv);
        console.log('maskDiv', maskDiv);
        maskDiv.querySelector('.confirm-cancel').onclick = () => maskDiv.remove();
        maskDiv.querySelector('.confirm-confirm').onclick = () => {
          maskDiv.remove();
          closeQuizDirectly();
        };
      }

      // ======= 问卷重置，显示第一题 =======
      function resetQuiz() {
        currentIndex = 0;
        answers = {};
        isResultPage = false;
        nextBtn.style.display = 'inline-block';
        backBtn.style.display = 'inline-block';
        backBtn.disabled = true;
        progressInner = document.getElementById('progressInner');
        if (progressInner) progressInner.style.width = '0%';
        const surveyFooter = document.querySelector('.questionnaire-survey-{{ section.id }} .footer');
        if (surveyFooter) {
          surveyFooter.style.display = 'flex';
        }
      }

      // ======= 题目渲染（主）=======
      async  function renderQuestion() {
        const q = questions[currentIndex];
        console.log('questions===', questions);
        // 渲染图片选项或普通选项
        const optionHTML =
          q.questionWithPic === 1
            ? `<div class="pic-option-list">
                                ${q.options
                                  .map(
                                    (o) => `
                                    <div class="pic-option ${isSelected(q.id, o.id) ? 'selected' : ''}" data-id="${
                                      o.id
                                    }">
                                        <div class="pic-wrapper">
                                            <img src="${o.optionPic || ''}">
                                            <span class="check-mark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fill="none">
                                                    <path d="M14 0C16.2091 0 18 1.79086 18 4V14C18 16.2091 16.2091 18 14 18H4C1.79086 18 1.61066e-08 16.2091 0 14V4C0 1.79086 1.79086 1.61064e-08 4 0H14ZM14.3477 5.49609C13.9711 5.11994 13.3598 5.11971 12.9834 5.49609L7.99414 10.4854L5.01562 7.50684L4.90723 7.41309C4.52977 7.13337 3.99357 7.16469 3.65137 7.50684C3.27508 7.88321 3.27545 8.49352 3.65137 8.87012L7.28516 12.5049L7.39355 12.5977C7.64769 12.7862 7.9734 12.8328 8.26367 12.7393C8.43176 12.6994 8.59154 12.6155 8.72266 12.4844L14.3477 6.86035L14.4404 6.75195C14.7204 6.37446 14.69 5.8384 14.3477 5.49609Z" fill="black"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="pic-text">${o.optionText}</div>
                                    </div>
                                `
                                  )
                                  .join('')}
                            </div>`
            : q.options
                .map(
                  (o) => `
                                <div class="option ${isSelected(q.id, o.id) ? 'selected' : ''}" data-id="${o.id}">
                                    ${o.optionText}
                                </div>
                            `
                )
                .join('');

        quizContainer.innerHTML = `
                            <div class="modal-header">
                                <div class="modal-header-title">Question ${q.questionNo}/${questions.length}</div>
                                <button class="close-btn" id="closeBtn66">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                        <path d="M0.818226 13.6485L13.6485 0.818187M0.818226 0.818187L13.6485 13.6485" stroke="black" stroke-width="1.63636" stroke-linecap="round"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-inner" id="progressInner"></div>
                            </div>
                            <div class="question-title">${q.questionTitle}</div>
                            ${optionHTML}
                            ${renderOptionalInput(q)}
                        `;
        progressInner = document.getElementById('progressInner');
        addCloseBtnListener();
        bindOptionsNew(q);
        backBtn.disabled = currentIndex === 0;
      }

      // ======= 判断该选项是否被选中（新版结构）=======
      function isSelected(qId, oId) {
        return answers[qId]?.optionIds?.includes(oId);
      }

      // ======= 绑定题目选项事件（新版、含图/普通）=======
      function bindOptionsNew(question) {
        const selector = question.questionWithPic === 1 ? '.pic-option' : '.option';
        document.querySelectorAll(selector).forEach((el) => {
          el.onclick = () => {
            const optionId = Number(el.dataset.id);
            const isOptional = question.options.find((o) => o.id === optionId)?.optional === 1;
            if (question.questionType === 'single') {
              document.querySelectorAll(selector).forEach((o) => o.classList.remove('selected'));
              el.classList.add('selected');
              answers[question.id] = {
                optionIds: [optionId],
                optionalContent: isOptional ? answers[question.id]?.optionalContent || '' : '',
              };
            }
            if (question.questionType === 'multi') {
              let data = answers[question.id] || { optionIds: [], optionalContent: '' };
              if (el.classList.contains('selected')) {
                el.classList.remove('selected');
                data.optionIds = data.optionIds.filter((id) => id !== optionId);
              } else {
                if (data.optionIds.length >= question.maxSelect) return;
                el.classList.add('selected');
                data.optionIds.push(optionId);
              }
              answers[question.id] = data;
            }
            // 切换显示附加输入框
            toggleOptionalInput(question);
          };
        });
        bindOptionalInput(question);
      }

      // ======= 可选项的输入框显示或隐藏（如有）=======
      function toggleOptionalInput(question) {
        const optionalOption = question.options.find((o) => o.optional === 1);
        if (!optionalOption) return;
        const inputBox = document.querySelector('.optional-input');
        if (!inputBox) return;
        const selected = answers[question.id]?.optionIds?.includes(optionalOption.id);
        inputBox.style.display = selected ? 'block' : 'none';
      }

      // ======= 可选项输入绑定输入事件 =========
      function bindOptionalInput(question) {
        const input = document.getElementById('optionalInput');
        if (!input) return;
        input.oninput = (e) => {
          if (!answers[question.id]) return;
          answers[question.id].optionalContent = e.target.value;
        };
      }

      // ======= 构造提交数据（新版备选，未用到）======
      function buildSubmitData() {
        const list = [];
        Object.keys(answers).forEach((qId) => {
          const item = answers[qId];
          if (!item?.optionIds) return;
          item.optionIds.forEach((optId) => {
            const dto = {
              questionId: Number(qId),
              optionId: optId,
            };
            if (item.optionalContent) {
              dto.optionalContent = item.optionalContent;
            }
            list.push(dto);
          });
        });
        return {
          quizSubmitAnswerDTOList: list,
        };
      }

      // ======= 提交邮箱 =======
      function submitEmail() {
        const emailInput = document.getElementById('emailInput');
        const submitBtn = document.getElementById('emailSubmitBtn');
        const email = emailInput.value.trim();
        const reg = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!reg.test(email)) {
          showToast('Please enter a valid email address', 'error');
          return;
        }
        if (!quizSessionId) {
          showToast('Session expired, please retry', 'error');
          return;
        }
        submitBtn.disabled = true;
        submitBtn.classList.add('loading');
        submitBtn.innerText = 'Submitting...';

        boosterFetch(
            submitEmailApi,
            {
                sessionId: quizSessionId,
                email,
                origin: origin,
            },
            { method: "POST" }
          )
            .then((data) => {
              // 这里可以根据实际需求处理返回的数据
              console.log('查询结果:', data);
              if (data.code === 200) {
                showToast('Email submitted successfully 🎉', 'success');
                submitBtn.innerText = 'Submitted';
                submitBtn.disabled = true;
                emailInput.disabled = true;
              } else {
                submitBtn.disabled = false;
                submitBtn.innerText = 'Submit';
                showToast(res.msg || 'Submit failed', 'error');
              }
            })
            .catch((error) => {
                showToast('Network error, please retry', 'error');
            })
            .finally(() => {
                submitBtn.disabled = submitBtn.innerText.startsWith('Submitted');
                submitBtn.classList.remove('loading');
                if (!submitBtn.disabled) submitBtn.innerText = 'Submit';
              });
        {% comment %} fetch(API_EMAIL, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            sessionId: quizSessionId,
            email,
            origin: origin,
          }),
        })
          .then((res) => res.json())
          .then((res) => {
            if (res.code === 200) {
              showToast('Email submitted successfully 🎉', 'success');
              submitBtn.innerText = 'Submitted';
              submitBtn.disabled = true;
              emailInput.disabled = true;
            } else {
              submitBtn.disabled = false;
              submitBtn.innerText = 'Submit';
              showToast(res.msg || 'Submit failed', 'error');
            }
          })
          .catch(() => {
            showToast('Network error, please retry', 'error');
          })
          .finally(() => {
            submitBtn.disabled = submitBtn.innerText.startsWith('Submitted');
            submitBtn.classList.remove('loading');
            if (!submitBtn.disabled) submitBtn.innerText = 'Submit';
          }); {% endcomment %}
      }

      // ======= Toast 弹出提示（自动消失）=======
      function showToast(text, type = 'success') {
        let toast = document.getElementById('quizToast');
        if (!toast) {
          toast = document.createElement('div');
          toast.id = 'quizToast';
          const modalContainer = document.querySelector('.modal-container');
          if (modalContainer) {
            modalContainer.appendChild(toast);
          } else {
            document.body.appendChild(toast);
          }
        }
        toast.innerHTML = `
                            <span class="toast-icon">${type === 'success' ? '✓' : '✕'}</span>
                            <span class="toast-text">${text}</span>
                        `;
        toast.className = `quiz-toast show ${type}`;
        clearTimeout(toast.timer);
        toast.timer = setTimeout(() => {
          toast.className = 'quiz-toast';
        }, 2500);
      }
    });
  </script>
</section>

{% schema %}
{
  "name": "questionnaire survey",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "nav_id",
      "label": "模块锚点ID",
      "default": "star-products",
      "info": "模块锚点ID，用于在页面中定位，例如：锚点定位，锚点跳转，锚点高亮等，方便用户快速定位到该模块。(锚点ID必须为英文字母,全局唯一)"
    }
  ],
  "blocks": [],

  "presets": [
    {
      "name": "questionnaire survey",
      "blocks": []
    }
  ]
}
{% endschema %}
