<div class="s-tab">
  <div class="title-box">
    <div class="tab-title">
      {% for block in section.blocks %}
        <div class="title-item">{{ block.settings.products_tab_t }}</div>
      {% endfor %}
    </div>
    <div class="select-tab p-select-tab">
      <div class="select-box">
        <div class="dropbtn p-drop">DTF</div>
        <div class="drop-svg">
          <img
            class="bottom-svg"
            src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/support_bottomSVG.svg"
          >
        </div>
        <div class="dropdown-content pdc">
          <ul>
            {% for block in section.blocks %}
              <li>{{ block.settings.products_tab_t }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-title-span"></div>
  </div>
  <div class="content-box">
    {% for block in section.blocks %}
      <div class="mod-box">
        <div class="tab-mod">
          {% if block.settings.img_t_1 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_1 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_1 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_1 }}</div>
              </div>
            </a>
          {% endif %}
          {% if block.settings.img_t_2 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_2 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_2 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_2 }}</div>
              </div>
            </a>
          {% endif %}
          {% if block.settings.img_t_3 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_3 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_3 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_3 }}</div>
              </div>
            </a>
          {% endif %}
          {% if block.settings.img_t_4 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_4 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_4 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_4 }}</div>
              </div>
            </a>
          {% endif %}
          {% if block.settings.img_t_5 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_5 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_5 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_5 }}</div>
              </div>
            </a>
          {% endif %}
          {% if block.settings.img_t_6 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_6 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_6 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_6 }}</div>
              </div>
            </a>
          {% endif %}
          {% if block.settings.img_t_7 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_7 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_7 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_7 }}</div>
              </div>
            </a>
          {% endif %}
          {% if block.settings.img_t_8 != blank %}
            <a class="item-link" href="{{ block.settings.img_u_8 }}">
              <div class="mod-item">
                <div class="item-img"><img src="{{ block.settings.img_8 | image_url }}"></div>
                <div class="item-text">{{ block.settings.img_t_8 }}</div>
              </div>
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script>
  function throttle(func, limit) {
    let inThrottle;
    return function () {
      const context = this;
      const args = arguments;
      if (!inThrottle) {
        func.apply(context, args);
        inThrottle = true;
        setTimeout(() => (inThrottle = false), limit); // 设置时间间隔后，允许函数再次执行
      }
    };
  }
  $(document).ready(function () {
    $('.tab-title .title-item:first').addClass('active');
    var pBtnInit = $('.pdc ul li:first').text();
    $('.p-drop').text(pBtnInit);
    $('.content-box .mod-box:first').show();
    $('.tab-title .title-item').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      $('.content-box .mod-box')
        .eq($('.tab-title .title-item').index(this))
        .show()
        .siblings('.content-box .mod-box')
        .hide();
    });
    $('.pdc li').click(function () {
      // 获取选中的选项的值
      var pSO = $(this).text();
      // 显示选中的选项在按钮上
      $('.p-drop').text(pSO);
      // 隐藏下拉内容
      $('.pdc').slideUp();
      //显示对应下标的内容区，隐藏其他内容区
      $('.content-box .mod-box').eq($('.pdc li').index(this)).show().siblings('.content-box .mod-box').hide();
    });
    // 使用节流函数，当用户点击下拉按钮时，显示下拉内容
    $('.p-drop').on(
      'click',
      throttle(function () {
        $('.pdc').slideToggle();
      }, 500)
    );
  });
</script>
{% schema %}
{
  "name": "Support0416 Products",
  "blocks": [
    {
      "name": "Products-Tab",
      "type": "products_tab",
      "settings": [
        {
          "type": "paragraph",
          "content": "以下为产品卡位的相关配置，每个Tab栏最多可配置8个产品卡位，每个产品卡位需要设置对应的图片，文案，链接；文案是控制该卡位是否显示的重要字段，如果不想让该产品卡位显示，请留空"
        },
        {
          "type": "text",
          "label": "Tab标题",
          "id": "products_tab_t",
          "default": "DTF"
        },
        {
          "type": "paragraph",
          "content": "注意：选取的图片最好是透明（或白底），尺寸180*180（或等比例翻倍）的图，以达到最佳效果"
        },
        {
          "type": "image_picker",
          "id": "img_1",
          "label": "图1"
        },
        {
          "type": "text",
          "id": "img_t_1",
          "label": "文1"
        },
        {
          "type": "url",
          "id": "img_u_1",
          "label": "链接1"
        },
        {
          "type": "image_picker",
          "id": "img_2",
          "label": "图2"
        },
        {
          "type": "text",
          "id": "img_t_2",
          "label": "文2"
        },
        {
          "type": "url",
          "id": "img_u_2",
          "label": "链接2"
        },
        {
          "type": "image_picker",
          "id": "img_3",
          "label": "图3"
        },
        {
          "type": "text",
          "id": "img_t_3",
          "label": "文3"
        },
        {
          "type": "url",
          "id": "img_u_3",
          "label": "链接3"
        },
        {
          "type": "image_picker",
          "id": "img_4",
          "label": "图4"
        },
        {
          "type": "text",
          "id": "img_t_4",
          "label": "文4"
        },
        {
          "type": "url",
          "id": "img_u_4",
          "label": "链接4"
        },
        {
          "type": "image_picker",
          "id": "img_5",
          "label": "图5"
        },
        {
          "type": "text",
          "id": "img_t_5",
          "label": "文5"
        },
        {
          "type": "url",
          "id": "img_u_5",
          "label": "链接5"
        },
        {
          "type": "image_picker",
          "id": "img_6",
          "label": "图6"
        },
        {
          "type": "text",
          "id": "img_t_6",
          "label": "文6"
        },
        {
          "type": "url",
          "id": "img_u_6",
          "label": "链接6"
        },
        {
          "type": "image_picker",
          "id": "img_7",
          "label": "图7"
        },
        {
          "type": "text",
          "id": "img_t_7",
          "label": "文7"
        },
        {
          "type": "url",
          "id": "img_u_7",
          "label": "链接7"
        },
        {
          "type": "image_picker",
          "id": "img_8",
          "label": "图8"
        },
        {
          "type": "text",
          "id": "img_t_8",
          "label": "文8"
        },
        {
          "type": "url",
          "id": "img_u_8",
          "label": "链接8"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products-Tab",
      "blocks": [
        {
          "type": "products_tab",
          "settings": {
            "products_tab_t": "DTF"
          }
        },
        {
          "type": "products_tab",
          "settings": {
            "products_tab_t": "UV DTF"
          }
        },
        {
          "type": "products_tab",
          "settings": {
            "products_tab_t": "UV"
          }
        }
      ]
    }
  ]
}
{% endschema %}
