<div class="support-0416">
  <div class="s-banner">
    <h3>Printers and Machines Guidence</h3>
    <span class="bottom"></span>
    <span class="top"></span>
  </div>
  <div class="s-tab">
    <div class="title-box">
      <div class="tab-title">
        <div class="title-item active">DTF</div>
        <div class="title-item">UV DTF</div>
        <div class="title-item">UV</div>
        <div class="title-item">DTG</div>
        <div class="title-item">SOFTWARE</div>
      </div>
      <div class="tab-title-span">DTF</div>
    </div>
    <div class="content-box">
      <div class="mod-box">
        <div class="tab-mod">
          <div class="mod-item">
            <div class="item-img">{{ 'image' | placeholder_svg_tag }}</div>
            <div class="item-text">DTF A4</div>
          </div>
          <div class="mod-item">
            <div class="item-img">{{ 'image' | placeholder_svg_tag }}</div>
            <div class="item-text">DTF A4</div>
          </div>
          <div class="mod-item">
            <div class="item-img">{{ 'image' | placeholder_svg_tag }}</div>
            <div class="item-text">DTF A4</div>
          </div>
          <div class="mod-item">
            <div class="item-img">{{ 'image' | placeholder_svg_tag }}</div>
            <div class="item-text">DTF A4</div>
          </div>
          <div class="mod-item">
            <div class="item-img">{{ 'image' | placeholder_svg_tag }}</div>
            <div class="item-text">DTF A4</div>
          </div>
          <div class="mod-item">
            <div class="item-img">{{ 'image' | placeholder_svg_tag }}</div>
            <div class="item-text">DTF A4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-faqs">
    <div class="faqs-title">
      <h3 class="title">Frequently Asked Questions</h3>
      <div class="spec">
        <p>Please take a look at the sections below to find the answers you’re looking for.</p>
        <p>
          If you can’t find what you’re looking for or have additional questions, please don’t hesitate to contact us.
        </p>
        <p>We’re always here to help!</p>
      </div>
    </div>
    <div class="faqs-box">
      <div class="faqs">
        <div class="faqs-tab">
          <ul class="tab-ul">
            <li class="li-item li-active">General Questions</li>
            <li class="li-item">Product Questions</li>
            <li class="li-item">Warranty Questions</li>
            <li class="li-item">Technical Questions</li>
            <li class="li-item">Support Questions</li>
          </ul>
        </div>
        <div class="faqs-content">
          <div class="faqs-mod">
            <div class="faq-item">
              <div class="faq-q">How long will it take to receive the order from the purchase date?</div>
              <div class="faq-a">
                The lead time is about 3-5 days, the transit time is about 5-7 days, so you will receive the printer in
                7-10 days.
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-q">How long will it take to receive the order from the purchase date?</div>
              <div class="faq-a">
                The lead time is about 3-5 days, the transit time is about 5-7 days, so you will receive the printer in
                7-10 days.
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-q">How long will it take to receive the order from the purchase date?</div>
              <div class="faq-a">
                The lead time is about 3-5 days, the transit time is about 5-7 days, so you will receive the printer in
                7-10 days.
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-q">How long will it take to receive the order from the purchase date?</div>
              <div class="faq-a">
                The lead time is about 3-5 days, the transit time is about 5-7 days, so you will receive the printer in
                7-10 days.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-online">
    <div class="online-title">
      <h3 class="title">Procolored Online Tech Support</h3>
      <div class="spec">
        <p>Procolored tech staff usually use WhatsApp to communicate with customers and troubleshoot printer issues.</p>
        <p>
          If you need tech staff to remotely connect to your computer, please
          <span>install Team Viewer and share the ID and Password to tech staff.</span>
        </p>
      </div>
    </div>
    <div class="s-time-table">
      <table class="time-table">
        <tbody>
          <tr>
            <td>Pacific Standard Time(PST)</td>
            <td>9:00 AM-5:00 PM</td>
            <td>5:00 PM-5:00 AM</td>
          </tr>
          <tr>
            <td>Tech staff working hours</td>
            <td>US Support available time Monday to Friday</td>
            <td>China Support available time Monday to Saturday</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="s-info">
      <div class="info-item">
        <p class="info-t">US support contact information</p>
        <div class="info-spec">
          <p>Tel: <span>+1 6463622251</span></p>
          <p>Email:<span>afterservice.us1@procolored.com</span></p>
          <p>Whatsapp: <span>+15625660518</span></p>
          <p>Address: <span>Diamond Bar,CA,USA</span></p>
        </div>
      </div>
      <div class="info-item">
        <p class="info-t">China support contact information</p>
        <div class="info-spec">
          <p>Tel: <span>+1 562 566 0518</span></p>
          <p>Email: <span>support@procolored.com</span></p>
          <p>Whatsapp: <span>+15625660518</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>