{{- 'slideshow.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign desktop_height = section.settings.desktop_height
  assign mobile_height = section.settings.mobile_height
  assign full_width = section.settings.full_width
  assign controls = section.settings.controls
  assign transition = section.settings.transition
  assign autoplay = section.settings.autoplay
  assign disable_top_spacing = section.settings.disable_top_spacing
  assign disable_bottom_spacing = section.settings.disable_bottom_spacing

  assign enable_controls = true
  if section.blocks.size < 2
    assign enable_controls = false
  endif

  if autoplay
    assign autoplay = section.settings.autoplay_length | times: 1000
  endif

  case mobile_height
    when 'mobile-height-400'
      assign mobile_image_height = 400
    when 'mobile-height-450'
      assign mobile_image_height = 450
    when 'mobile-height-500'
      assign mobile_image_height = 500
    else
      assign mobile_image_height = 500
  endcase

  assign fade = true
  if transition == 'slide'
    assign fade = false
  endif

  assign dots = false
  if controls == 'dots'
    assign dots = true
  endif

  assign preload = false

  if section.index == 1
    assign preload = true
  endif
-%}
<style>
     #slideshow-container-{{ section.id }} .slideshow-control {
       width: 50px;
       height: 50px;
       background: rgba(0, 0, 0, 0.3);
     }
     #slideshow-container-{{ section.id }} .slideshow-control:hover {
       background: rgba(0, 0, 0, 0.1);
     }
     #slideshow-container-{{ section.id }} .slideshow-control svg {
       width: 16px;
       height: 16px;
     }
     #slideshow-container-{{ section.id }} .slideshow-prev {
       left: 3.75vw;
     }
     #slideshow-container-{{ section.id }} .slideshow-next {
       right: 3.75vw;
     }
     #slideshow-container-{{ section.id }}  .product-flash-sale-countdown{
       position: absolute;
       top: 62%;
       left: 18.75vw;
     }

     #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap{
      position: absolute;
      top: 62%;
      left: 18.75vw;
      display: flex;
      align-items: center;
      gap: 20px;
    }
    #slideshow-container-{{ section.id }}  .slideshow-custom-banner-content-wrap{
      position: absolute;
      top: 20%;
      left: 18.75vw;
    }
    #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap .slideshow-custom-button{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 22px;
      color: #FFF;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;

    }
     #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box {
      margin-bottom: 0;
      padding: 0;
      border: none;
      font-size: 20px;
      height: auto;

  }
  #slideshow-container-{{ section.id }}  .product-flash-sale-countdown  .finish-countdown-tips{
    font-size: 20px;

  }

  #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box > div {
    display: flex;

    justify-content: space-between;
    align-items: center;
    min-width: 210px;


    }






  #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box  .time-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 44px;
      position: relative;
    }

    #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box .time-block:not(:last-child)::after {
      content: ":";
      position: absolute;
      right: -7px;
      top: 4px;
      {% comment %} transform: translate(-50%,-50%); {% endcomment %}
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      line-height:1;
    }

    #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box  .time-value {
      background-color: #FF8F1C;
      color: #fff;
      padding: 6px;
      border-radius: 8px;
       min-height: 36px;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 4px;
        display: flex;
    align-items: center;
    justify-content: center;
    }

    #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box  .time-label {
      font-size: 12px;
      color: #fff;
      line-height: 1;
    }
    @media only screen and (max-width: 1442px){
      #slideshow-container-{{ section.id }}  .product-flash-sale-countdown{

        left: 15.75vw;

      }
      #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap{

        left: 15.75vw;

      }
      #slideshow-container-{{ section.id }}  .slideshow-custom-banner-content-wrap{
        left: 15.75vw;
      }
    }
    @media only screen and (max-width: 768px){
      #slideshow-container-{{ section.id }}  .product-flash-sale-countdown{
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translateX(-50%);
      }
      #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap{

        left: 50%;
        transform: translateX(-50%);
        gap: 10px;
      }
      #slideshow-container-{{ section.id }}  .slideshow-custom-banner-content-wrap{

        left: 50%;
        transform: translateX(-50%);

      }
      #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap .slideshow-custom-button{

        padding: 10px;


      }
      #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box {
       margin-bottom: 0;
       padding: 0;
       border: none;
       font-size: 20px;
       height: auto;

   }
   #slideshow-container-{{ section.id }}  .product-flash-sale-countdown  .finish-countdown-tips{
     font-size: 20px;

   }

   #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box > div {
     display: flex;

     justify-content: space-between;
     align-items: center;
     min-width: 210px;


     }






   #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box  .time-block {
       display: flex;
       flex-direction: column;
       align-items: center;
       min-width: 44px;
       position: relative;
     }

     #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box .time-block:not(:last-child)::after {
       content: ":";
       position: absolute;
       right: -8px;
       top: 4px;
       {% comment %} transform: translate(-50%,-50%); {% endcomment %}
       font-size: 24px;
       font-weight: bold;
       color: #fff;
       line-height:1;
     }

     #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box  .time-value {
       background-color: #FF8F1C;
       color: #fff;
       padding: 6px;
       border-radius: 8px;
        min-height: 36px;
       font-size: 20px;
       line-height: 1;
       margin-bottom: 4px;
         display: flex;
     align-items: center;
     justify-content: center;
     }

     #slideshow-container-{{ section.id }}  .product-flash-sale-countdown .countdown-box  .time-label {
       font-size: 12px;
       color: #fff;
       line-height: 1;
     }
    }
</style>
<div
  id="slideshow-container-{{ section.id }}"
  class="row{% if full_width %} full-width-row{% endif %} slideshow-container-{{ section.id }}"
>
  <div class="small-12 columns">
    <slide-show
      class="slideshow main-slideshow slideshow--full-width-{{ full_width }} carousel {{ mobile_height }} {{ desktop_height }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %} transition--{{ transition }}"
      data-dots="{{ dots }}"
      data-autoplay="{{ autoplay }}"
      data-fade="{{ fade }}"
      data-transition="{{ transition }}"
      style="--dot-speed: {{ autoplay | divided_by: 1000 | append: 's' }};--color-text: #fff;"
    >
      {%- if autoplay -%}
        {%- assign first_color = section.blocks[0].settings.color_text -%}
        <div class="slideshow--autoplay-progress" style="--color-body: {{ first_color }}">
          {%- render 'svg-icons' with 'thb-slideshow-progress' -%}
        </div>
      {%- endif -%}
      <div class="flickity-prev slideshow-prev">
        <div class="slideshow-control">{% render 'svg-icons' with 'thb-mobile-menu-back' %}</div>
      </div>
      <div class="flickity-next slideshow-next">
        <div class="slideshow-control">{% render 'svg-icons' with 'thb-mobile-menu-forward' %}</div>
      </div>
      {%- for block in section.blocks -%}
        {%- liquid
          assign content_position = block.settings.content_position
          assign text_alignment = block.settings.text_alignment
          assign content_size = block.settings.content_size
          assign color_text = block.settings.color_text

          assign color_slidebg = block.settings.color_slidebg
          assign color_slidebg_opacity = block.settings.color_slidebg_opacity
          assign color_slidebg_blur = block.settings.color_slidebg_blur

          assign overlay_color = block.settings.overlay_color
          assign overlay_opacity = block.settings.overlay_opacity

          assign has_visible_bg = false
          if color_slidebg_blur > 0 or color_slidebg != 'rgba(0,0,0,0)'
            assign has_visible_bg = true
          endif

          if color_slidebg == 'rgba(0,0,0,0)'
            assign color_slidebg_opacity = 0
          endif

          assign priority = false

          if forloop.index == 1 and preload
            assign priority = 'high'
          endif
        -%}
        <div
          class="slideshow__slide carousel__slide {{ mobile_height }} {{ desktop_height }} text-{{ text_alignment }} content-size-{{ content_size }}"
          style="--color-text: {{ color_text }}; --overlay-color-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}; --color-slidebg-rgb: {{ color_slidebg.rgb | replace: ' ' , ',' }}; --color-slidebg-opacity: {{ color_slidebg_opacity | divided_by: 100.0 }}; --bg-blur: {{ color_slidebg_blur | append: 'px' }} "
          {{ block.shopify_attributes }}
        >
          {%- if desktop_height == 'desktop-height-image' or mobile_height == 'mobile-height-image' -%}
            <div class="slideshow__slide-adapt-to-image">
              {%- if block.settings.image -%}
                {%- liquid
                  assign image = block.settings.image
                  assign master_width = image.src.width | append: 'x' | append: image.src.height
                  assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width

                  assign class = ''
                  if block.settings.mobile_image
                    assign class = 'slideshow-image--desktop'
                  endif
                -%}
                <img
                  data-src="{{ image | image_url }}"
                  class="lazyload {{ class }}{% unless settings.lazy_loading %} no-blur{% endunless %}"
                  width="{{ image.src.width }}"
                  height="{{ image.src.height }}"
                  alt="{{ image.alt }}"
                >
              {%- else -%}
                {%- assign index = forloop.index | modulo: 2 | plus: 1 -%}
                {{ 'lifestyle-' | append: index | placeholder_svg_tag: 'placeholder_svg_tag' }}
              {%- endif -%}
              {%- if block.settings.mobile_image -%}
                {%- liquid
                  assign image = block.settings.mobile_image
                  assign master_width = image.src.width | append: 'x' | append: image.src.height
                  assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
                -%}
                <img
                  data-src="{{ image | image_url }}"
                  class="lazyload slideshow-image--mobile{% unless settings.lazy_loading %} no-blur{% endunless %}"
                  width="{{ image.src.width }}"
                  height="{{ image.src.height }}"
                  alt="{{ image.alt }}"
                >
              {%- endif -%}
            </div>
          {%- endif -%}
          <div class="slideshow__slide-bg">
            {%- if block.settings.image -%}
              {%- liquid
                assign image = block.settings.image
                assign master_width = image.src.width | append: 'x' | append: image.src.height
                assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
                assign class = null

                if block.settings.mobile_image != blank
                  assign class = 'slideshow-image--desktop'
                endif
              -%}
              {%- render 'responsive-image', image: image, sizes: width, class: class, priority: priority -%}
            {%- else -%}
              {%- assign index = forloop.index | modulo: 2 | plus: 1 -%}
              {{ 'lifestyle-' | append: index | placeholder_svg_tag: 'placeholder_svg_tag' }}
            {%- endif -%}
            {%- if block.settings.mobile_image != blank -%}
              {%- liquid
                assign image = block.settings.mobile_image
                assign master_width = image.src.width | append: 'x' | append: image.src.height
                assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
              -%}
              {%- render 'responsive-image',
                image: image,
                sizes: width,
                class: 'slideshow-image--mobile',
                priority: priority
              -%}
            {%- endif -%}
            {%- unless block.settings.custom_banner_content == empty -%}
              <style>
                #slideshow-container-{{ section.id }}  .slideshow-custom-banner-content-wrap-{{ block.id }}{
                  width: {{block.settings.custom_banner_content_width_pc}}%;
                  top: {{block.settings.custom_banner_content_position_pc}}%;

                }
                {%- unless block.settings.custom_banner_content == empty-%}
                  .slideshow__slide-inner {
                    display: none;

                }
                {%- endunless -%}
                @media only screen and (max-width: 768px){
                  #slideshow-container-{{ section.id }}  .slideshow-custom-banner-content-wrap-{{ block.id }}{
                    width: 100%;
                    top: {{block.settings.custom_banner_content_position_mb}}%;

                  }

                  {%- unless block.settings.custom_banner_content == empty -%}
                    .slideshow__slide-inner {
                      display: none;

                  }
                  {%- endunless -%}
                }
              </style>
              <div
                class="slideshow-custom-banner-content-wrap-{{ block.id }} slideshow-custom-banner-content-wrap"
              >
                {{ block.settings.custom_banner_content }}
              </div>
            {%- endunless -%}
            {%- if block.settings.flash_sale_countdown != blank or block.settings.flash_sale_countdown_end != blank -%}
              <style>
                #slideshow-container-{{ section.id }}  .product-flash-sale-countdown-{{ block.id }} .countdown-box .time-block:not(:last-child)::after {


                  color: {{block.settings.flash_sale_countdown_text_color}};

                }
                #slideshow-container-{{ section.id }}  .product-flash-sale-countdown-{{ block.id }} .countdown-box  .time-value {
                  background-color: {{block.settings.flash_sale_countdown_bg_color}};
                  color: {{block.settings.flash_sale_countdown_text_color}};

                }
                #slideshow-container-{{ section.id }}  .product-flash-sale-countdown-{{ block.id }} .countdown-box  .time-label {

                  color: {{block.settings.flash_sale_countdown_text_color}};

                }
                #slideshow-container-{{ section.id }}  .product-flash-sale-countdown-{{ block.id }}{

                  top: {{block.settings.flash_sale_countdown_position_pc}}%;

                }
                @media only screen and (max-width: 768px){
                  #slideshow-container-{{ section.id }}  .product-flash-sale-countdown-{{ block.id }}{

                    top: {{block.settings.flash_sale_countdown_position_mb}}%;

                  }
                }
              </style>
              <div
                class="product-flash-sale-countdown product-flash-sale-countdown-{{ block.id }}"
              >
                {%- render 'flash-sale-countdown',
                  countdown_style: 2,
                  flash_sale_countdown_date: block.settings.flash_sale_countdown,
                  flash_sale_countdown_end_date: block.settings.flash_sale_countdown_end
                -%}
              </div>
            {%- endif -%}
            {%- if block.settings.custom_button_text_1 != blank or block.settings.custom_button_text_2 != blank -%}
              <style>
                #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap-{{ block.id }} .slideshow-custom-button-{{ block.id }} {

                  border-radius: {{block.settings.custom_button_border_radius}}px;
                  line-height: 1;
                  height: 50px;
                  min-width:158px;
                  position: relative;
                  z-index: 9999;

                }
                #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap-{{ block.id }} .slideshow-custom-button-{{ block.id }}.slideshow-custom-button-1{
                  background-color: {{block.settings.custom_button_bg_color_1}};
                  color: {{block.settings.custom_button_text_color_1}};
                }
                #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap-{{ block.id }} .slideshow-custom-button-{{ block.id }}.slideshow-custom-button-2{
                  background-color: {{block.settings.custom_button_bg_color_2}};
                  color: {{block.settings.custom_button_text_color_2}};
                }

                #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap-{{ block.id }}{

                  top: {{block.settings.custom_button_position_pc}}%;

                }
                {%- if block.settings.custom_button_url_1 or block.settings.custom_button_url_1 -%}
                  .slideshow__slide-inner {
                    display: none;

                }
                {%- endif -%}
                @media only screen and (max-width: 768px){
                  #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap-{{ block.id }}{

                    top: {{block.settings.custom_button_position_mb}}%;

                  }
                  #slideshow-container-{{ section.id }}  .slideshow-custom-button-wrap-{{ block.id }} .slideshow-custom-button-{{ block.id }} {
                    background-color: {{block.settings.custom_button_bg_color}};
                    color: {{block.settings.custom_button_text_color}};
                    border-radius: {{block.settings.custom_button_border_radius}}px;
                    line-height: 1;
                    height: 30px;
                    font-size: 12px;
                    min-width:98px;

                  }
                  {%- if block.settings.custom_button_url_1 or block.settings.custom_button_url_1 -%}
                    .slideshow__slide-inner {
                      display: none;

                  }
                  {%- endif -%}
                }
              </style>
              <div
                class="slideshow-custom-button-wrap-{{ block.id }} slideshow-custom-button-wrap"
              >
                {%- if block.settings.custom_button_text_1 != blank -%}
                  <div
                    class="slideshow-custom-button-{{ block.id }} slideshow-custom-button  slideshow-custom-button-1"
                    {%- if block.settings.custom_button_url_1 -%}
                      onclick=" window.open('{{ block.settings.custom_button_url_1 }}', '_blank');"
                    {%- endif -%}
                  >
                    {{ block.settings.custom_button_text_1 }}
                  </div>
                {%- endif -%}
                {%- if block.settings.custom_button_text_2 != blank -%}
                  <div
                    class="slideshow-custom-button-{{ block.id }} slideshow-custom-button slideshow-custom-button-2"
                    {%- if block.settings.custom_button_url_2 -%}
                      onclick="window.open('{{ block.settings.custom_button_url_2 }}', '_blank');"
                    {%- endif -%}
                  >
                    {{ block.settings.custom_button_text_2 }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
          {%- if block.settings.video_background -%}
            {%- liquid
              assign video = block.settings.video_hosted
              assign autoplay = false
              if forloop.index == 1
                assign autoplay = true
              endif
            -%}
            <div class="slideshow__slide-video-bg" data-provider="hosted" data-video-id="{{ video.id }}">
              {{ video | video_tag: autoplay: autoplay, loop: true, controls: false, muted: true }}
            </div>
          {%- endif -%}
          {% if block.settings.slide_link != blank %}
            <a
              href="{{ block.settings.slide_link }}"
              class="slideshow__slide-content-link"
              target="_blank"
              tabindex="-1"
            >
              <div class="slideshow__slide-overlay" style="background: {{ block.settings.overlay_gradient }}"></div>
            </a>
          {% endif %}
          <div class="slideshow__slide-inner content-{{ content_position }} content-has-bg--{{ has_visible_bg }}">
            <div class="slideshow__slide-content" data-url="{{ block.settings.slide_link }}">
              {% if block.settings.badge_text != blank %}
                <div>
                  <span
                    class="inline-badge"
                    style="--badge-bg: {{ block.settings.color_badge_bg }};--badge-text: {{ block.settings.color_badge_text }}"
                  >
                    {{- block.settings.badge_text -}}
                  </span>
                </div>
              {% endif %}
              {% if block.settings.subheading != blank %}
                <p class="subheading">{{ block.settings.subheading }}</p>
              {% endif %}
              {% if block.settings.heading != blank %}
                <h1 class="split-text slideshow__slide-heading {{ block.settings.heading_size }}">
                  {{ block.settings.heading | newline_to_br }}
                </h1>
              {% endif %}
              {% if block.settings.content != blank %}
                <p class="split-text description-size--{{ block.settings.description_size }}">
                  {{ block.settings.content | newline_to_br }}
                </p>
              {% endif %}
              {% if block.settings.button_1_text != blank %}
                <div class="button-overflow-container">
                  {% if block.settings.use_text_button_1 %}
                    {% render 'text-button',
                      url: block.settings.button_1_link,
                      title: block.settings.button_1_text,
                      class: block.settings.button_1_color
                    %}
                  {% else %}
                    <a
                      class="button {{ block.settings.button_1_color }}"
                      href="{{ block.settings.button_1_link }}"
                      role="button"
                      title="{{ block.settings.button_1_text | escape }}"
                    >
                      {{- block.settings.button_1_text -}}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
              {% if block.settings.button_2_text != blank %}
                <div class="button-overflow-container">
                  {% if block.settings.use_text_button_2 %}
                    {% render 'text-button',
                      url: block.settings.button_2_link,
                      title: block.settings.button_2_text,
                      class: block.settings.button_2_color
                    %}
                  {% else %}
                    <a
                      class="button {{ block.settings.button_2_color }}"
                      href="{{ block.settings.button_2_link }}"
                      role="button"
                      title="{{ block.settings.button_2_text | escape }}"
                    >
                      {{- block.settings.button_2_text -}}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
              {% if block.settings.slide_link != blank %}
                <a
                  href="{{ block.settings.slide_link }}"
                  class="slideshow__slide-content-link"
                  target="_blank"
                  tabindex="-1"
                ></a>
              {% endif %}
            </div>
          </div>
        </div>
      {%- endfor -%}
      {%- if enable_controls -%}
        {%- if controls == 'arrows-with-numbers' -%}
          <div class="flickity-custom-navigation-wrapper">
            <div class="flickity-custom-navigation">
              <div class="flickity-nav flickity-prev" tabindex="0">{%- render 'svg-icons' with 'carousel-prev' -%}</div>
              <div class="flickity-custom-navigation--dots">
                <span class="flickity-custom-navigation--current">1</span>
                <span class="flickity-custom-navigation--seperator">/</span>
                <span class="flickity-custom-navigation--total">{{ section.blocks.size }}</span>
              </div>
              <div class="flickity-nav flickity-next" tabindex="0">{%- render 'svg-icons' with 'carousel-next' -%}</div>
            </div>
          </div>
        {%- elsif controls == 'arrows' -%}
          <div class="flickity-custom-navigation-wrapper">
            <div class="flickity-static-arrows">
              <div class="flickity-nav flickity-prev" tabindex="0">{%- render 'svg-icons' with 'carousel-prev' -%}</div>
              <div class="flickity-nav flickity-next" tabindex="0">{%- render 'svg-icons' with 'carousel-next' -%}</div>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    </slide-show>
  </div>
</div>
<!-- 倒计时格式化时间 兼容ios时间格式 -->
<script>
  function formatUtcTime(v) {
    let date = new Date(v);
    return (
      date.getFullYear() +
      '/' +
      (date.getMonth() + 1) +
      '/' +
      (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) +
      ' ' +
      (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) +
      ':' +
      (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) +
      ':' +
      (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
    );
  }

  // var tt = '2023-05-30T07:00:00Z';
  // var eee = formatUtcTime(tt);
  //console.log(eee);
  $(function () {
    // 产品秒杀倒计时

      $('#slideshow-container-{{ section.id }} [data-countdown]').each(function () {

          {% comment %} const flash_sale_countdown_on_price_top = {{ section.settings.flash_sale_countdown_on_price_top }};
          const show_discount_info = {{section.settings.show_discount_info }} {% endcomment %}
          const $this = $(this),
          UTCDate = $(this).data('countdown'), // 活动开始倒计时
          UTCDate_end = $(this).data('countdown-end'); // 活动截止倒计时

          {% comment %} if(show_section_flash_sale_countdown){
             // 开启模块倒计时时，隐藏产品内部倒计时
             console.log('开启模块倒计时时，隐藏产品内部倒计时');
            $(this).parents('.has-countdown-wrap').find('.countdown-box').css('visibility', 'visible');
            $(this).parents('.has-countdown-wrap').siblings('#grid-{{ section.id }}').find('.countdown-box').css({
              'visibility': 'hidden',
              'padding': '0',
              'height': '0',
              'border': 'none',

            });
            $(this).parents('.has-countdown-wrap').siblings('#Slider-{{ section.id }}').find('.countdown-box').css({
              'visibility': 'hidden',
              'padding': '0',
              'height': '0',
              'border': 'none',

            });

          }else{
            $(this).parents('.countdown-box').css('visibility', 'visible');
          } {% endcomment %}

          console.log('UTCDate-活动开始倒计时：', UTCDate);
          console.log('UTCDate_end-活动截止倒计时：', UTCDate_end);
          finalDate = formatUtcTime(UTCDate);
          finalDate_end = formatUtcTime(UTCDate_end);
          const finalDate1 = finalDate;
          const finalDate2 = finalDate_end ? finalDate_end : null;
          const timestamp = new Date(finalDate1).getTime();
          const timestamp_end = finalDate2 ? new Date(finalDate2).getTime() : null;
          const currentTimestamp = new Date().getTime();
          console.log('活动开始本地时间==', finalDate);
          console.log('活动截止本地时间==', finalDate_end);
          let format;
          let style = $(this).data('countdown-style');


        if (timestamp > currentTimestamp) {

          // 活动开始倒计时
          $('.product-flash-sale-countdown').show();




        }

        $this
          .countdown(finalDate)
          .on('update.countdown', function (event) {
            if (style == 1) {
              format = '<span>%D</span>:<span>%H</span>:<span>%M</span>:<span>%S</span>';
            } else if (style == 2) {
              format = '<div class="time-block">' +
                '<div class="time-value">%D</div>' +
                '<div class="time-label">Days</div>' +
              '</div>' +
              '<div class="time-block">' +
                '<div class="time-value">%H</div>' +
                '<div class="time-label">Hours</div>' +
              '</div>' +
              '<div class="time-block">' +
                '<div class="time-value">%M</div>' +
                '<div class="time-label">Minutes</div>' +
              '</div>' +
              '<div class="time-block">' +
                '<div class="time-value">%S</div>' +
                '<div class="time-label">Seconds</div>' +
              '</div>';
            }

            $(this).html(event.strftime(format));
          })
          .on('finish.countdown', function (event) {
            if (timestamp_end && timestamp_end > currentTimestamp) {
              // 如果存在活动截止倒计时，则切换到活动截止倒计时
              console.log('活动准备开始');


              console.log('存在活动截止倒计时');

              $(this)
                .countdown(finalDate2)
                .on('update.countdown', function (event) {
                  if (style == 1) {
                    format = '<span>%D</span>:<span>%H</span>:<span>%M</span>:<span>%S</span>';
                  } else if (style == 2) {
                    format = '<div class="time-block">' +
                      '<div class="time-value">%D</div>' +
                      '<div class="time-label">Days</div>' +
                    '</div>' +
                    '<div class="time-block">' +
                      '<div class="time-value">%H</div>' +
                      '<div class="time-label">Hours</div>' +
                    '</div>' +
                    '<div class="time-block">' +
                      '<div class="time-value">%M</div>' +
                      '<div class="time-label">Minutes</div>' +
                    '</div>' +
                    '<div class="time-block">' +
                      '<div class="time-value">%S</div>' +
                      '<div class="time-label">Seconds</div>' +
                    '</div>';
                  }

                  $(this).html(event.strftime(format));
                })
                .on('finish.countdown', function (event) {




                  const parentsEl = $(this).parents('.product-flash-sale-countdown');
                  const custom_automatic_discount_reminderEl = $(this).parents('.grid-item-content').children('custom-automatic-discount-reminder');
                  if (parentsEl) {
                    $(this)
                      .parents('.Countdown')
                      .html('<span class="finish-countdown-tips">The offer has been expired.</span>');
                    parentsEl.hide();
                  }
                  if(custom_automatic_discount_reminderEl && show_discount_info){
                    custom_automatic_discount_reminderEl.hide();

                  }
                });
            } else {
              if(timestamp_end && timestamp_end < currentTimestamp){
                console.log('活动已结束');






                  const parentsEl = $(this).parents('.product-flash-sale-countdown');
                  const custom_automatic_discount_reminderEl = $(this).parents('.grid-item-content').children('custom-automatic-discount-reminder');
                  if (parentsEl) {
                    $(this)
                      .parents('.Countdown')
                      .html('<span class="finish-countdown-tips">The offer has been expired.</span>');
                    parentsEl.hide();
                  }
                  if(custom_automatic_discount_reminderEl && show_discount_info){
                    custom_automatic_discount_reminderEl.hide();

                  }


              }else{
                console.log('活动准备开始');


                const parentsEl = $(this).parents('.product-flash-sale-countdown');
                const custom_automatic_discount_reminderEl = $(this).parents('.grid-item-content').children('custom-automatic-discount-reminder');
                if (parentsEl) {

                  parentsEl.hide();
                }

              }

            }




          });
      });

  });
</script>
{% schema %}
{
  "name": "Slideshow",
  "class": "section-slideshow",
  "settings": [
    {
      "type": "select",
      "id": "desktop_height",
      "label": "Desktop height",
      "options": [
        {
          "value": "desktop-height-image",
          "label": "Adapt to image"
        },
        {
          "value": "desktop-height-auto",
          "label": "Adapt to content"
        },
        {
          "value": "desktop-height-450",
          "label": "450px"
        },
        {
          "value": "desktop-height-550",
          "label": "550px"
        },
        {
          "value": "desktop-height-650",
          "label": "650px"
        },
        {
          "value": "desktop-height-750",
          "label": "750px"
        },
        {
          "value": "desktop-height-full",
          "label": "Full screen"
        }
      ],
      "default": "desktop-height-650"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Mobile height",
      "options": [
        {
          "value": "mobile-height-image",
          "label": "Adapt to image"
        },
        {
          "value": "mobile-height-auto",
          "label": "Adapt to content"
        },
        {
          "value": "mobile-height-400",
          "label": "400px"
        },
        {
          "value": "mobile-height-450",
          "label": "450px"
        },
        {
          "value": "mobile-height-500",
          "label": "500px"
        },
        {
          "value": "mobile-height-full",
          "label": "Full screen"
        }
      ],
      "default": "mobile-height-500"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto-rotate slides",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_length",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "select",
      "id": "transition",
      "label": "Transition",
      "options": [
        {
          "value": "zoom",
          "label": "Zoom"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "zoom"
    },
    {
      "type": "select",
      "id": "controls",
      "label": "Controls",
      "options": [
        {
          "value": "arrows-with-numbers",
          "label": "Arrows with numbers"
        },
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "dots",
          "label": "Dots"
        }
      ],
      "default": "arrows-with-numbers"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2800 x 1000 .jpg recommended for full screen layouts."
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image (optional)"
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge"
        },
        {
          "id": "slide_link",
          "type": "url",
          "label": "Slide link",
          "info": "Adds a link to slide image"
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "checkbox",
          "id": "video_background",
          "label": "Use video as a background",
          "default": false
        },
        {
          "type": "video",
          "id": "video_hosted",
          "label": "Shopify-hosted video",
          "info": "Overrides the Video URL setting."
        },
        {
          "type": "header",
          "content": "Content"
        },

        {
          "type": "text",
          "id": "flash_sale_countdown",
          "label": "倒计时（开始时间）"
        },

        {
          "type": "text",
          "id": "flash_sale_countdown_end",
          "label": "倒计时（结束时间）"
        },
        {
          "type": "color",
          "id": "flash_sale_countdown_text_color",
          "label": "倒计时文案颜色",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "flash_sale_countdown_bg_color",
          "label": "倒计时背景颜色",
          "default": "#FF8F1C"
        },
        {
          "type": "range",
          "id": "flash_sale_countdown_position_pc",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "倒计时垂直方向位置（PC端）",
          "default": 62
        },
        {
          "type": "range",
          "id": "flash_sale_countdown_position_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "倒计时垂直方向位置（移动端）",
          "default": 43
        },
        {
          "type": "text",
          "id": "custom_button_text_1",
          "label": "自定义按钮文案 1"
        },
        {
          "type": "url",
          "id": "custom_button_url_1",
          "label": "自定义按钮链接 1"
        },
        {
          "type": "text",
          "id": "custom_button_text_2",
          "label": "自定义按钮文案 2"
        },
        {
          "type": "url",
          "id": "custom_button_url_2",
          "label": "自定义按钮链接 2"
        },
        {
          "type": "range",
          "id": "custom_button_position_pc",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "自定义按钮垂直方向位置（PC端）",
          "default": 55
        },
        {
          "type": "range",
          "id": "custom_button_position_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "自定义按钮垂直方向位置（移动端）",
          "default": 40
        },
        {
          "type": "range",
          "id": "custom_button_border_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "自定义按钮圆角大小",
          "default": 50
        },
        {
          "type": "color",
          "id": "custom_button_text_color_1",
          "label": "自定义按钮文案1颜色",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "custom_button_text_color_2",
          "label": "自定义按钮文案2颜色",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "custom_button_bg_color_1",
          "label": "自定义按钮1背景颜色",
          "default": "#FF8F1C"
        },
        {
          "type": "color",
          "id": "custom_button_bg_color_2",
          "label": "自定义按钮2背景颜色",
          "default": "#FF8F1C"
        },
        {
          "type": "liquid",
          "id": "custom_banner_content",
          "label": "自定义banner文案"
        },
        {
          "type": "range",
          "id": "custom_banner_content_width_pc",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "自定义banner文案内容宽度（PC端）",
          "default": 50
        },
        {
          "type": "range",
          "id": "custom_banner_content_position_pc",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "自定义banner文案垂直方向位置（PC端）",
          "default": 20
        },
        {
          "type": "range",
          "id": "custom_banner_content_position_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "自定义banner文案垂直方向位置（移动端）",
          "default": 10
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Add a tagline"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "Slide Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h3",
              "label": "Small"
            }
          ],
          "default": "h1"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Description",
          "default": "Add descriptive text for your slide here."
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "Description size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            { "value": "top-left", "label": "Top left" },
            { "value": "top-center", "label": "Top center" },
            { "value": "top-right", "label": "Top right" },
            { "value": "middle-left", "label": "Middle left" },
            { "value": "middle-center", "label": "Middle center" },
            { "value": "middle-right", "label": "Middle right" },
            { "value": "bottom-left", "label": "Bottom left" },
            { "value": "bottom-center", "label": "Bottom center" },
            { "value": "bottom-right", "label": "Bottom right" }
          ],
          "default": "middle-center"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Content alignment"
        },
        {
          "type": "select",
          "id": "content_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Content width"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color_slidebg",
          "label": "Background",
          "default": "transparent"
        },
        {
          "type": "range",
          "id": "color_slidebg_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Background opacity",
          "default": 0
        },
        {
          "type": "range",
          "id": "color_slidebg_blur",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Background blur",
          "default": 20
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#2c2d2e"
        },
        {
          "type": "color",
          "id": "color_badge_bg",
          "label": "Badge background",
          "default": "#3f72e5"
        },
        {
          "type": "color",
          "id": "color_badge_text",
          "label": "Badge text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Overlay opacity",
          "default": 70
        },
        {
          "type": "color_background",
          "id": "overlay_gradient",
          "label": "Overlay gradient",
          "default": "linear-gradient(180deg, rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.4) 100%)"
        },
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "id": "button_1_text",
          "type": "text",
          "label": "Label",
          "default": "Shop Now",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "select",
          "id": "button_1_color",
          "label": "Color",
          "options": [
            {
              "value": "regular",
              "label": "Regular"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "white",
              "label": "White"
            }
          ],
          "default": "accent"
        },
        {
          "id": "button_1_link",
          "type": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "use_text_button_1",
          "label": "Use text button",
          "default": false
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "id": "button_2_text",
          "type": "text",
          "label": "Label",
          "default": "Shop Now",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "select",
          "id": "button_2_color",
          "label": "Color",
          "options": [
            {
              "value": "regular",
              "label": "Regular"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "white",
              "label": "White"
            }
          ],
          "default": "white"
        },
        {
          "id": "button_2_link",
          "type": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "use_text_button_2",
          "label": "Use text button",
          "default": false
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
