<style>
  .x-one-brand-endorsement-{{ section.id }}{
    background: #000;
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement {
    background: #000;
    position: relative;

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 700px;
    max-width: 1920px;
    min-height: 400px;
    object-fit: contain;
    margin: 0 auto;
    transform: translateX(-50%);

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-img.pc {
    display: flex;

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-img.mb {
    display: none;

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    max-width: 1200px;
    gap: 24px;
    padding-top: 116px;


  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-title {
    max-width: 722px;
    color: #FF8F1C;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-desc {
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;


  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-desc-text {

    color: #898A8E;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;


  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-desc-text span {
    color: #FFf;
    font-weight: 700;
    line-height: 150%;
  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2,
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3 {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 32px;
    margin-top: 105px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(24, 24, 24, 0.80);

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3 {
    flex-direction: row-reverse;
    margin-top: 48px;
  }
  .x-one-brand-endorsement-{{ section.id }}  .x-one-brand-endorsement-content2-content-box,.x-one-brand-endorsement-{{ section.id }}  .x-one-brand-endorsement-content3-content-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    width: 100%;

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title{
    display: flex;
    align-items: center;
    gap: 24px;
    padding-right: 10px;


  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title{
    padding-left: 32px;
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-icon{
    width: 189px;
    flex-shrink: 0;

  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-icon img{
    width: 100%;
    max-width: 100%;
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-text,.x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text{
    display: flex;
    flex-direction: column;
    gap: 8px;

  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-text-logo,.x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-logo{
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%; /* 60px */
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-text-tips,.x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-tips{
    color: #FFF;
    font-size: 21px;
    font-weight: 700;
    line-height: 150%; /* 31.5px */
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-tips{
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-tips-img{
    width: 150px;

  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-tips-img img{
    width: 100%;
    max-width: 100%;
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img,
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img {
    width: 50.833%;
  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img img,
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img img {
    width: 100%;
    max-width: 100%;


  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img.pc,
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img.pc {
    display: flex;
    overflow: hidden;

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img.mb,
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img.mb {
    display: none;

  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-desc,
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-desc {
    flex: 1;
    color: #898A8E;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-desc{
    padding-right: 32px;
  }
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-desc{
    padding-left: 32px;
  }

  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-desc span,
  .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-desc span {
    color: #fff;
    font-weight: 700;
    line-height: 150%;

  }
    @media screen and (max-width: 768px) {
      .x-one-brand-endorsement-{{ section.id }}{
        padding-top:{{ section.settings.padding_top_mobile }}px;
        padding-bottom:{{ section.settings.padding_bottom_mobile }}px;
      }
      .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement {
        position: relative;

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 664px;
        max-width: 100%;
        min-height: auto;
        object-fit: cover;
        margin: 0 auto;
        transform: translateX(0);

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-img.pc {
        display: none;

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-img.mb {
        display: flex;

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content {
        max-width: 100%;
        gap: 12px;
        padding-top: 0px;
        padding-left: 24px;
        padding-right: 24px;


    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-title {
        max-width: 100%;
        font-size: 26px;
        font-weight: 800;
        line-height: 130%;
    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-desc {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;


    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-desc-text {


        font-size: 14px;
        font-weight: 400;
        line-height: 130%;


    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content-desc-text span {
        font-size: 14px;
        font-weight: 700;
        line-height: 130%;
    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2,
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        gap: 12px;
        margin-top: 58.666vw;
        padding: 0 0 20px 0;
        border-radius: 10px;
        margin-left: 24px;
        margin-right: 24px;

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3 {
        margin-top: 24px;
    }
    .x-one-brand-endorsement-{{ section.id }}  .x-one-brand-endorsement-content2-content-box,.x-one-brand-endorsement-{{ section.id }}  .x-one-brand-endorsement-content3-content-box{
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex: 1;
      width: 100%;

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title{
      display: flex;
      align-items: center;
      gap: 12px;
      padding-right: 14px;
      padding-left: 14px;


    }
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title{
      padding-left: 26px;
      padding-right: 26px;
    }
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-icon{
      width: 99px;


    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-text,.x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text{

      gap: 4px;

    }
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-text-logo,.x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-logo{
      font-size: 26px;

    }
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-title-text-tips{
      color: #FFF;
      font-size: 12px;
      font-weight: 700;
      line-height: 150%; /* 31.5px */
    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-tips{
      display: flex;
      align-items: center;
      gap: 24px;
      color: #FFF;
      font-size: 14px;
      font-weight: 700;
      line-height: 150%; /* 21px */
      justify-content: space-between;
    }
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-title-text-tips-img{
      width: 96px;

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img,
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img {
        width: 100%;
    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img img,
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img img {
        width: 100%;
        max-width: 100%;


    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img.pc,
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img.pc {
        display: none;



    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-img.mb,
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-img.mb {
        display: flex;

    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-desc,
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-desc {
        flex: none;
        color: #898A8E;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;

    }
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-desc,.x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-desc{
      padding-right: 16px;
      padding-left:  16px;
    }

    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content2-desc span,
    .x-one-brand-endorsement-{{ section.id }} .x-one-brand-endorsement-content3-desc span {
        font-size: 14px;
        font-weight: 700;
        line-height: 130%;

    }
    }
</style>

<div
  id="{% if section.settings.nav_id != empty %}custom-nav-{{ section.settings.nav_id }}{% endif %}"
  class="x-one-brand-endorsement-{{ section.id }}"
>
  <div class="x-one-brand-endorsement">
    <img
      class="pc lazyload x-one-brand-endorsement-img"
      data-src="https://cdn.shopify.com/s/files/1/0601/7820/2737/files/Why_Choose_Procolored.jpg?v=1770976983"
      alt=""
    >
    <img
      class="mb lazyload x-one-brand-endorsement-img"
      data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_2121235832.jpg?v=1772173030"
      alt=""
    >
    <div class="x-one-brand-endorsement-content">
      <div class="x-one-brand-endorsement-content-title">Why Choose Procolored!</div>
      <div class="x-one-brand-endorsement-content-desc">
        <div class="x-one-brand-endorsement-content-desc-text">
          <span>With deep-rooted expertise since 2018</span>
          , Procolored drives the future of customization with industry-leading DTF, UV, and UV-DTF solutions. We have
          spent years mastering UV printing technology to empower creators to transform fabric, acrylic, wood, metal,
          and ceramics into vibrant, professional-grade prints.
        </div>
        <div class="x-one-brand-endorsement-content-desc-text">
          Certified with the <span>G7 Master Facility Qualification</span>, the
          <span>Gold Standard for global color precision</span>, we guarantee that what you see on screen is exactly
          what you get in production, ensuring unrivaled quality in every project.
        </div>
      </div>
    </div>
    <div class="x-one-brand-endorsement-content2">
      <div class="x-one-brand-endorsement-content2-img pc">
        <img
          class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_2121235844.jpg?v=1772172943"
          alt=""
        >
      </div>
      <div class="x-one-brand-endorsement-content2-img mb">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_2121235845.jpg?v=1772173030"
          alt=""
        >
      </div>
      <div class="x-one-brand-endorsement-content2-content-box">
        <div class="x-one-brand-endorsement-content2-title">
          <div class="x-one-brand-endorsement-content2-title-icon">
            <img
              class="lazyload "
              data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_54922.png?v=1772163634"
              alt=""
            >
          </div>
          <div class="x-one-brand-endorsement-content2-title-text">
            <div class="x-one-brand-endorsement-content2-title-text-logo">Global No.1</div>
            <div class="x-one-brand-endorsement-content2-title-text-tips">Desktop Direct-to-Object Printer</div>
          </div>
        </div>
        <div class="x-one-brand-endorsement-content2-desc">
          Recognized as a leading brand in the desktop Direct-to-Object Printer, our growth is powered by the trust of
          <span>150,000+</span> users worldwide. Customers choose Procolored for printers that are built to last and
          easy to use. By bringing industrial-grade precision into a desktop format, we empower creators to produce
          high-quality custom products — without the complexity of industrial systems.
        </div>
      </div>
    </div>
    <div class="x-one-brand-endorsement-content3">
      <div class="x-one-brand-endorsement-content3-img pc">
        <img
          class="lazyload "
          data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/323123123123.jpg?v=1772172948"
          alt=""
        >
      </div>
      <div class="x-one-brand-endorsement-content3-img mb">
        <img
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Frame_212123584555.jpg?v=1772173030"
          alt=""
        >
      </div>
      <div class="x-one-brand-endorsement-content3-content-box">
        <div class="x-one-brand-endorsement-content3-title">
          <div class="x-one-brand-endorsement-content3-title-text">
            <div class="x-one-brand-endorsement-content3-title-text-logo">$1,800,000</div>
            <div class="x-one-brand-endorsement-content3-title-text-tips">
              <div class="x-one-brand-endorsement-content3-title-text-tips-text">729 Backers</div>
              <div class="x-one-brand-endorsement-content3-title-text-tips-img">
                <img
                  class="lazyload "
                  data-src="https://cdn.shopify.com/s/files/1/0509/3454/6613/files/Kickstarter-Logo_1_9c13bb4a-b7ab-4abc-9df2-8b7f344c5827.png?v=1772164814"
                  alt=""
                >
              </div>
            </div>
          </div>
        </div>
        <div class="x-one-brand-endorsement-content3-desc">
          Procolored's previous generation — the K Series DTF printer — was a standout success on Kickstarter,
          <span>raising nearly $1.8M </span>and <span>attracting hundreds of backers.</span> This milestone not only
          validated Procolored’s product design and user experience but also helped build global momentum for our next
          generation of production-grade systems.
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "X one brand endorsement",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "nav_id",
      "label": "模块锚点ID",
      "default": "brand-endorsement",
      "info": "模块锚点ID，用于在页面中定位，例如：锚点定位，锚点跳转，锚点高亮等，方便用户快速定位到该模块。(锚点ID必须为英文字母,全局唯一)"
    },
    {
      "type": "html",
      "id": "title",
      "label": "大标题"
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "小标题"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "顶部填充(移动端)",
      "default": 40
    },

    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "底部填充(移动端)",
      "default": 40
    }
  ],
  "blocks": [],
  "max_blocks": 20,
  "presets": [
    {
      "name": "X one brand endorsement"
    }
  ]
}
{% endschema %}
