{{ 'page.affiliate.css' | asset_url | stylesheet_tag }}
<div class="affiliates">
  <div class="affiliates-banner mobile" style="background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/c609fea0be7916519e583ea393339ac5.png)">
    <div class="text">
      <div class="title">Become a Procolored Affiliate</div>
      <div class="subtitle">Join the Procolored Affiliate Program and start earning commissions for every purchase by your                                      
      referrals</div>
    </div>
  </div>
  <div class="affiliates-banner pc" style="background-image: url(https://cdn.shopify.com/s/files/1/0509/3454/6613/files/e9154a90cda4a24ff0cb3c0fb83795e5.png)">
    <div class="text">
      <div class="title">Become a Procolored Affiliate</div>
      <div class="subtitle">Join the Procolored Affiliate Program and start earning commissions for every purchase by your                                      
      referrals</div>
    </div>
    <div class="apply-button pc" data-anchor="join-section">
      Apply Now
    </div>
  </div>
  <div class="apply-button mobile" data-anchor="join-section">
    Apply Now
  </div>
  <div class="sections">
    <div class="section-headers">
      <div class="section-header-1">Why join the affiliate program?</div>
    </div>
    <section class="why">
      <div class="section-cards">
        <div class="section-card">
          <div class="section-card-inner">
            <div class="section-card-icon">
              <img src="{{ 'affiliate-why-3.svg' |  asset_url }}" />
            </div>
            <div class="section-card-title">Up to 10% Commission</div>
            <div class="section-card-content">Our top partners can earn over $20,000 per month</div>
          </div>
        </div>
        <div class="section-card">
          <div class="section-card-inner">
            <div class="section-card-icon">
              <img src="{{ 'affiliate-why-2.svg' | asset_url }}" />
            </div>
            <div class="section-card-title">30-Day Cookie Window</div>
            <div class="section-card-content">Maximize your earnings with your generous cookie window</div>
          </div>
        </div>
        <div class="section-card">
          <div class="section-card-inner">
            <div class="section-card-icon">
              <img src="{{ 'affiliate-why-1.svg' |  asset_url }}" />
            </div>
            <div class="section-card-title">Extra Bonus</div>
            <div class="section-card-content">We will provide extra bonuses for top performing partners each month</div>
          </div>
        </div>
        <div class="section-card">
          <div class="section-card-inner">
            <div class="section-card-icon">
              <img src="{{ 'affiliate-why-4.svg' |  asset_url }}" />
            </div>
            <div class="section-card-title">Make Marketing Easy</div>
            <div class="section-card-content">We provide a variety of pre-designed, high-converting promoting materials                                      
              and update every month</div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-to">
      <div class="left" style="background-image: url({{  'affiliate-how-to.png' | asset_url }});"></div>
      <div class="right">
        <h1>How To Get Started</h1>
        <p>
          <strong>Step 1: Sign Up (for Free!)</strong><br/>
          Choose one of our affiliate platforms to sign up. We'll review your application and contact you within 2-3                                      
          business days.
        </p>
        <p>
          <strong>Step 2: Share & Earn</strong><br/>
          Once your application is approved, you can share your unique affiliate link on your site or social media. You                                      
          will get paid if customers purchase our products though your link.
        </p>
      </div>
    </section>
    <div class="section-headers">
      <div class="section-header-1">Join Us</div>
      <div class="section-header-2">Choose from one of our affiliate program partners below, then click to sign up.</div>
    </div>
    <section class="join" id="join-section">
      <div class="left">
        <div class="image-section">
          <img src="{{ 'affiliate-join-1.svg' |  asset_url }}" />
        </div>
        <div class="signup-button-section">
          <button class="signup-button" data-href="https://www.shareasale.com/shareasale.cfm?merchantID=130764">Sign Up</button>
        </div>
      </div>
      <div class="right">
        <div class="image-section">
          <img src="{{ 'affiliate-join-2.svg' |  asset_url }}" />
        </div>
        <div class="signup-button-section">
          <button class="signup-button" data-href="https://procolored.goaffpro.com/create-account">Sign Up</button>
        </div>
      </div>
    </section>
    <div class="section-headers">
      <div class="section-header-1">Frequently Asked Questions</div>
      <div class="section-header-2" style="color: #b0b0b0;">Have questions? We are here to help</div>
    </div>
    <section class="faq">
      <div class="faq-obj">
        <div class="faq-obj-head">What is the Procolored Affiliate Program?<div class="spacer"></div>
          {% render 'full-menu-chevron-bottom' %}
        </div>
        <div class="faq-obj-content">The Procolored Program invites review sites, online communities, bloggers, influencers and other content website ownersto promote products and services on their sites and earn commission on the sales they refer to procolored.com.</div>
      </div>
      <div class="faq-obj">
        <div class="faq-obj-head">How is the Commission Calculated?<div class="spacer"></div>
          {% render 'full-menu-chevron-bottom' %}</div>
        <div class="faq-obj-content">A standard commission of up to 10% is given on consumables products, 5% on replacement parts and accessories, and 3% on printers.</div>
      </div>
      <div class="faq-obj">
        <div class="faq-obj-head">How long does the approval process take until I become a Procolored affiliate?<div class="spacer"></div>
          {% render 'full-menu-chevron-bottom' %}</div>
        <div class="faq-obj-content">Once you fill out the forms, we will review your application within two working days.</div>
      </div>
      <div class="faq-obj">
        <div class="faq-obj-head">Where should I NOT promote my affiliate link?<div class="spacer"></div>
          {% render 'full-menu-chevron-bottom' %}</div>
        <div class="faq-obj-content">You can promote the affiliate link through several channels, except for the ones listed here below: <br>-Google Adwords <br>-Facebook Ads</div>
      </div>
      <div class="faq-obj">
        <div class="faq-obj-head">How and When will I get paid?<div class="spacer"></div>
          {% render 'full-menu-chevron-bottom' %}</div>
        <div class="faq-obj-content">For Goaffpro you need to provide a PayPal account. For ShareAsale you can choose from ACH, direct deposit, and physical check.
          <br><br>The Transaction of commission will be processed from 15th to 30th of next month (if it is a Sunday or a holiday, it will be postponed to the next working day)
          <br><br>Note: We will pay the commission for the orders that shipped already. Unshipped, canceled, refunded, or fraudulent orders will not calculate commissions. We reserve the right to deduct commissions for any refunded or disputed orders.</div>
      </div>
      <div class="faq-obj">
        <div class="faq-obj-head">How to connect with us if you have a question?<div class="spacer"></div>
          {% render 'full-menu-chevron-bottom' %}</div>
        <div class="faq-obj-content">If you have any questions about the Procolored Affiliate Program, please feel free to contact our affiliate customer service at admin@procolored.com. We will get back to you within 1 working day.</div>
      </div>
    </section>
  </div>
</div>
{{ 'data-href-support.js' | asset_url | script_tag }}
<script>
  document.querySelectorAll('.faq-obj-head').forEach(el => {
    el.addEventListener('click', () => {
      if (el.parentElement.classList.contains('active')) {
        el.parentElement.classList.remove('active');
      } else {
        el.parentElement.classList.add('active')
      }
    })
  })
</script>